.stakeholder-layout,
#capital-provider-page,
#policymaker-page {
}

.stakeholder-layout {
  @include media-breakpoint-down(md) {
    [class^="col-"] {
      &.border-left {
        border-left: 0 !important;
      }
    }
  }
}

.sector,
.solution-group {
  margin: 1.5rem auto;
  label {
    position: absolute;
    margin-left: -1rem;
    font-size: 0.75rem;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  .row {
    position: relative;
    align-items: center;
    border-left: 5px solid transparent;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 100%;
      position: absolute;
      left: 15px;
      top: 0;
      background-color: transparent;
    }
    &.row-prevention {
      &::before {
        background-color: $prevention;
      }
    }
    &.row-rescue {
      &::before {
        background-color: $rescue;
      }
    }
    &.row-recycle {
      &::before {
        background-color: $recycle;
      }
    }

    h4 {
      font-size: 1.2rem;
      @include media-breakpoint-up(xl) {
        font-size: 1.4rem;
      }
    }
    .icon-img-sm {
      @include media-breakpoint-down(md) {
        width: 40px;
      }
    }
    small {
      @include media-breakpoint-down(xl) {
        font-size: 70%;
      }
    }
  }

  .stat-text {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
  .collapse-trigger {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $dark;
    color: $white;
    font-size: 0.85rem;
    padding: 1rem;
    margin: 1rem -2rem 2rem 2rem;
    line-height: 1.2;
    span {
      margin-right: 0.75rem;
    }
    br {
      display: none;
    }
    @include media-breakpoint-up(xl) {
      flex-direction: column;
      margin: 0 0 0.5rem;
      span {
        margin-right: 0;
        &:nth-of-type(1) {
          margin-bottom: 5px;
        }
      }
      br {
        display: block;
      }
    }
  }
}
