---
wireframes-categories:
  - cat-1: Manufacturing
  - cat-2: Transportation
  - cat-3: On Site Processing Solutions
  - cat-4: Another Category
wireframes-solutions:
  - name: "Donation Storage & Handling"
    overview: Expanding temperature-controlled food distribution infrastructure (e.g. refrigeration, warehouses) and labor availability to handle (e.g. process, package) additional food donation volume
    cta:
        label: Learn more within the ReFED Insights Engine
        color: secondary
        url: "#"
    taxonomy:
      - name: Food Recovery heirarchy
        label: Prevention
        color: primary
      - name: Sector
        label: Manufacturing
        color: warning
    categories:
      - cat-1
      - cat-2
  - name: Standardized Date Labeling
    overview: Standardizing food label dates, including eliminating visible “sell by” dates, to reduce consumer confusion.
    cta:
        label: Learn more within the ReFED Insights Engine
        color: primary
        url: "#"
    taxonomy:
      - name: Food Recovery heirarchy
        label: Recovery
        color: secondary
      - name: Sector
        label: Manufacturing
        color: warning
    categories:
      - cat-3
      - cat-2
  - name: "Donation Storage & Handling"
    overview: Expanding temperature-controlled food distribution infrastructure (e.g. refrigeration, warehouses) and labor availability to handle (e.g. process, package) additional food donation volume
    cta:
        label: Learn more within the ReFED Insights Engine
        color: secondary
        url: "#"
    taxonomy:
      - name: Food Recovery heirarchy
        label: Prevention
        color: primary
      - name: Sector
        label: Manufacturing
        color: warning
    categories:
      - cat-1
      - cat-2
  - name: Standardized Date Labeling
    overview: Standardizing food label dates, including eliminating visible “sell by” dates, to reduce consumer confusion.
    cta:
        label: Learn more within the ReFED Insights Engine
        color: primary
        url: "#"
    taxonomy:
      - name: Food Recovery heirarchy
        label: Recovery
        color: secondary
      - name: Sector
        label: Manufacturing
        color: warning
    categories:
      - cat-3
      - cat-2
---

<section class="featured-solutions bg-light text-center">
  <a name="featured-solutions"></a>
  <div class="container ">
    <h2>Featured Solutions</h2>
    <p>ReFED has identified over 40 of the best opportunities to reduce food waste through a detailed economic analysis, which can be explored in the ReFED Insights Engine.</p>

    <div class="list-with-filter">
        
        <div class="btn-group dropdown mb-4 filter-case-studies">
            <label class="preheader mr-3" for="filter">View: </label>

            <button type="button" name="filter" class="dropdown-select preheader dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View:
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" data-value="all">All</a>
                {% for cat_arr in page.wireframes-categories %}  
                {% for cat in cat_arr %}            
                <a class="dropdown-item" href="#" data-value="{{ cat[0] }}">{{ cat[1] }}</a>
                {% endfor %} 
                {% endfor %} 
            </div>
        </div>

        <div class="row">  
            <div class="col-12 carousel-refed filterable-list text-left">   
            
            {% for solutions in page.wireframes-solutions %}     
                <div class="filterable-list-item card solution-{{ forloop.index }} col-lg-6 {% for cat in solutions.categories %}{{ cat }} {% endfor %}"  >
                    <div class="card-body p-4 bg-white">
                        <h3 class="card-title mb-3" style="font-weight:600">{{ solutions.name }}</h3>

                        <div class="taxonomies mb-3">
                            <ul class="row list-group list-group-horizontal list-unstyled">
                            {% for tax in solutions.taxonomy %}  
                                <li class="col-6">
                                    <label class="h4">{{ tax.name }}</label>
                                    <div class="">
                                        <div class="circle-icon rounded-circle bg-{{ tax.color }} d-inline-block mr-2" style="width:27px;height:27px;"></div>
                                        <span class="text-{{ tax.color }} font-serif " style="font-size:25px;">{{ tax.label }}</span>
                                    </div>
                                </li>
                            {% endfor %}  
                            </ul> 
                        </div>

                        <div class="categories mb-3">
                            <label class="h4 my-2">Categories</label>
                            <ul class="list-group list-group-horizontal list-unstyled">
                            {% for cat in solutions.categories %}  
                                {% for cat_arr in page.wireframes-categories %}{% for cat2 in cat_arr %} 
                                    {% if cat2[0] == cat %}
                                    <li class="p-0 pr-2 list-group-item border-0 bg-transparent"><span class="badge badge-secondary badge-pill font-weight-light case-study-filter" data-filter='{{ cat2[0] }}'>{{ cat2[1] }}</span></li>
                                    {% endif %}
                                {% endfor %}{% endfor %} 
                            {% endfor %} 
                            </ul>
                        </div>

                        <div class="card-text">{{ solutions.overview }}</div>

                    </div>
                    <div class="cta ">
                        <a href="{{ solutions.cta.url }}" class="d-block w-100 btn btn-{{ solutions.cta.color }}">{{ solutions.cta.label }}</a>
                    </div>
                </div>       
            {% endfor %} 
            </div>    
        </div>

    </div>
  </div>
</section>