



.food-waste-consumes{
  .media{
      .media-body{
          font-size:1.4375rem;
          line-height: 1.1;
          .stat{
            font-size:3.75rem;
          }
      }
  }
}

/* RESOURCES AND GUIDES  PAGE */