.about-us{}

.about-us--icons{
  .row > div{
    .icon{
      max-width:em(205);
      height:em(205);
    }
    &:nth-child(1) .icon{
      background-color: $primary-500;
    }
    &:nth-child(2) .icon{
      background-color: $primary-400;
    }
    &:nth-child(3) .icon{
      background-color: $neutral-100;
    }
  }
}

.about-us--roadmap{}

.about-us--visoin{}