#date-label-header {
  padding-top: 15px;
  h4 {
    margin: 0;
  }
}

.map-datelabel {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  @include transition(1s);
  &.active {
    display: block;
  }
}
