.mapnav {
  @include transition(0.5s);
  .content {
    padding: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    position: relative;
    padding: 7px 30px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    a {
      color: #ffffff;
      &:hover, &:focus, &:active {
        color: #ffffff;
      }
    }
    .caret {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }
  p {
    padding: 0 30px;
    line-height: 1em;
    font-size: 13px;
  }
  ul {
    padding: 0;
    padding-right: 30px;
    margin: 10px 0;
    list-style: none;
    li  { 
      padding-left: 30px;
      margin-bottom: 15px;
      &.checkbox.small {
        padding-top: 8px;
      }
      a {
        color: $gray;
        &:hover, &:focus, &:active {
          color: $gray-darker;
        }
      }
      .btn {
        color: $text-color;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        padding-left: 23px;
      }
      >ul {
        padding-right: 0;
        font-size: 12px;
      }
    }
    &.flush {
      li {
        padding-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  label {
    font-weight: 300;
  }
  small {
    display: block;
    line-height: 1.2;
    margin: 2px 0;
  }
  button.toggle {
    border: none;
    background-color: transparent;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
    font-style: italic;
  }
  .date-label-button {
    font-weight: 300;
    margin: 7px 25px;
    font-size: 13px;
    width: auto;
  }
  .case-studies-filter {
    margin: 0 30px;
    font-style: italic;
    border-bottom: 1px solid $cream;
    padding: 15px 0;
    img {
      width: 18px;
      margin-top: -2px;
    }
  }
  .filters {
    padding: 20px 0;
  }
  .toc-entry {
    padding-left: 0;
  }
}

//mobilenav styles
.mobilenav {
  display: none;
  .button {
    width: 100%;
    margin: 15px 0;
    font-weight: 500;
    font-size: 16px;
  }
  .panel {
    padding: 0 20px;
  }
  h3 {
    img {
      display: inline-block;
      width: 25px;
      margin-top: -5px;
    }
  }
  .sub-trigger {
    display: block;
    padding: 20px 0;
    font-size: 22px;
    font-style: italic;
    i {
      display: inline-block;
      font-size: 18px;
      width: auto;
      height: auto;
      margin-left: 10px;
      transform: rotate(180deg);
      transition: all .5s ease;
    }
    img {
      width: 30px;
      margin-top: -5px;
      margin-right: 5px;
    }
  }
  .sub-trigger[aria-expanded="true"] {
    i {
      transform: rotate(0);
    }
  }
}

// Template modifications
body.date-labels {
  #policy-tool {
    padding-right: 0;
  }
  #policynav {
    display: none;
  }
  #tool-header {
    .fineprint { display: none; }
  }
}


@media all and (max-width: $screen-xs-max) {
  .mapnav {
  
  }
}

@media all and (max-width: $screen-sm-max) {
  .mapnav {

  }
  .mobilenav {
    display: block;
  }
}

@media all and (max-width: $screen-md-max) {
  .mapnav {
    
  }
}