{% assign tab = true %}
{% if page.path contains 'index' %}
  {% assign tab = false %}
{% endif %}
<div class="menu">
  <ul>
    <li>
      <a {% if tab %}data-toggle="tab" role="tab"{% endif %}
          href="/tools/spotlight-on-date-labeling-regulations/spotlight#quiz">Quiz</a>
    </li>
    <li>
      <a {% if tab %}data-toggle="tab" role="tab"{% endif %}
          href="/tools/spotlight-on-date-labeling-regulations/spotlight#carousel">Policy Issues</a>
    </li>
    <li>
      <a {% if tab %}data-toggle="tab" role="tab"{% endif %}
          href="/tools/spotlight-on-date-labeling-regulations/spotlight#federal-solutions">Federal Solutions</a>
    </li>
    <li class="next hide">
      <a href="/tools/policy/state-policy">U.S. Food Waste<br>Policy Finder &gt;</a>
    </li>
    <li class="update hide">
      Have an update for us?<br>
      <a href="mailto:info@refed.com">Submit it here &gt;</a>
    </li>
  </ul>
</div>