<div class="menu">
  <ul>
    <li>
      <a href="/tools/food-waste-policy-finder/spotlight-on-date-labeling/quiz"
      {% if page.url =='/tools/spotlight-on-date-labeling-regulations/quiz' %}class="active"{% endif %}>
      Quiz</a>
    </li>
    <li>
      <a href="/tools/food-waste-policy-finder/spotlight-on-date-labeling/carousel"
      {% if page.url =='/tools/spotlight-on-date-labeling-regulations/carousel' %}class="active"{% endif %}>
        Policy Issues</a>
    </li>
    <li>
      <a href="/tools/food-waste-policy-finder/spotlight-on-date-labeling/federal-solutions"
      {% if page.url =='/tools/spotlight-on-date-labeling-regulations/federal-solutions' %}class="active"{% endif %}>
        Federal Solutions</a>
    </li>
  </ul>
  <ul class="drawer">
    <li>
      <button class="button inverse share"><i class="icon icon-share"></i> Share</button>
    </li>
    <li>
      <a href="/tools/food-waste-policy-finder/" title="Food Waste Policy Finder" class="button cream">Food Waste Policy Finder &gt;</a>
    </li>
  </ul>
</div>