@import "_chartist-settings";

// Grid styles
$ct-grid-color: rgba(0, 0, 0, 0.2);
$ct-grid-dasharray: 0;
$ct-grid-width: 0.5px;

// Series names and colors. This can be extended or customized as desired. Just add more series and colors.
$ct-series-names: (a, b, c, d, e, f);
$ct-series-colors: (
  $link-color,
  $button-color,
  $recycle-color,
  $prevention-color,
  $recovery-color,
  $red,
  orange,
);




// .ct-series-a,
// .ct-series-b,
// .ct-series-c,
// .ct-series-d,
// .ct-series-e,
// .ct-series-f {
//   overflow: hidden;
//   .ct-bar {
//     stroke: $button-color;
//     stroke-width: 25px;
//   }
// }

@media all and (max-width: $screen-md-max) {
}

@media all and (max-width: $screen-sm-max) {
}

@media all and (max-width: $screen-xs-max) {
}

@import "chartist";