/*doc
---
title: Cost Curve
name: cost_curve
category: styleguide
---

The cost curve appears in a few places in the site and has also been made available fo rembed as an iFrame

TODO - Enter example

*/
#cost-curve {
  position: relative;
  .tabs {
    .profitability {
      display: none;
    }
    .scalability {
      display: none;
    }
  }
  .message {
    display: none;
  }
  #chart {
    position: relative;
    &.vertical {
      display:table;
      table-layout: fixed;
      width:100%;
      // max-width:700px;
      height:400px;
      margin:0 auto;
      padding: 0;
      padding-top: 20px;
      
      background-image:linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
      background-size: 100% 65px;
      background-position: left bottom;

      li{
        position:relative;
        display:table-cell;
        vertical-align:bottom;
        height:100%;
      }
      .title {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 400px;
        height: 28px;
        line-height: 28px;
        font-size: 15px;
        font-family: $font-family-condensed;
        text-transform: uppercase;
        // background-color: rgba(0,0,0,0.1);
        transform-origin: 11px 8px;
        transform: rotate(-90deg);
      }
      .progress {
        margin:0 4px;
        display: block;
        background: rgba($button-color, .75);
        border-radius: 0;
        @include transition(1s);
        // &:before{
        //   position:absolute;
        //   left:0;right:0;top:100%;
        //   padding:5px 1em 0;
        //   display:block;
        //   text-align:center;
        //   content:attr(title);
        //   word-wrap: break-word;
        // }
        
      }
    }

    &.horizontal {
      display: block;
      list-style: none;
      padding: 0;
      width: 100%;
      li {
        display: block;
        position: relative;
        margin: 4px 0;
        width: 100%;
        height: 28px;
        line-height: 28px;
        background-color: darken($cream-light, 2%);
        .title {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 10px;
          line-height: 28px;
          width: 100%;
          font-family: $font-family-condensed;
          text-transform: uppercase;
        } 
        .progress {
          display: block;
          background-color: rgba($button-color, .75);
          height: 100% !important;
          width: 40px;
          animation: draw 1s ease-in-out;
          @include transition(1s);
        }
      }
    }
    &.active {
      li {
        cursor: pointer;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .axis {
    font-size: 14px;
    font-family: $font-family-condensed;
    text-transform: uppercase;
    margin: 0;
  }
}

#chartnav {
  .select {
    display: none;
  }
  .message {
    display: none;
  }
  &.stick {
    p {
      display: none;
    }
  }
}

// TODO - Locate and confirm that these styles are necessary
.impact-summary {
  margin-top: 30px;
}
#impact-title {
  display: none;
  border-top: 1px solid rgba($cream, 0.75);
  border-bottom: 1px solid rgba($cream, 0.75);
  &:after {
    content: "\e917";
    display: block;
    position: absolute;
    right: 15px;
    top: 22px;
    font-family: 'refed' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 9px;
    color: $gray-light;
    transform: rotate(180deg);
    @include transition();
    pointer-events: none;
  }
}
// END TODO

@media all and (max-width: $screen-xs-max) {
  #cost-curve {
    .message {
      display: block;
      &.footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: $gray;
        color: $cream-light;
        text-align: center;
      }
    }

    .impact-summary {
      display: none;
    }
    .impact-tabs {
      display:none;
    }
  }
  
  #chartnav {
    margin-bottom: 10px;

    &.stick {
      width: 100% !important;
      left: 0 !important;
      margin: 0;
      padding: 15px 25px;
      background-color: $button-color;
      color: #ffffff;
      @include transition();
      p {
        display: block;
      }
    }
    .select {
      display: block;
    }

  }

  #impact-title {
    display: block;
  }
}
@media all and (max-width: $screen-sm-max) {
  #cost-curve {
    #chart.vertical {
      .title {
        line-height: 18px;
        height: 18px;
        margin-bottom: 7px;
        font-size: 12px;
      }
    }
  }
}
@media all and (max-width: $screen-md-max) {
  #cost-curve {
    
  }
}