.reduction_chart {
  position: relative;
  padding-left: 0;
  #reduction-goal {
    .ct-chart-donut .ct-series-a .ct-slice-donut {
      stroke: #49A69B;
    }
    .ct-chart-donut .ct-series-b .ct-slice-donut {
      stroke: #8EC4B9;
      opacity: 1;
    }
    .ct-chart-donut .ct-series-c .ct-slice-donut {
      stroke: $cream;
      opacity: 1;
    }
    .ct-chart-donut .ct-fill-donut .ct-slice-donut{
      stroke: $cream;
      opacity: 1;
    }
    .ct-fill-donut-label h3{
      font-weight: bolder;
      &.series-a { color: #49A69B; }
      &.series-b { color: #8EC4B9; }
    }
    .ct-fill-donut-label .small {
        font-size: 0.6em;
    }
    .ct-fill-donut-label i { 
        font-size: 1.5em;
        color: rgba(0,0,0,.4);
    }
  }
  #reduction-timeline {
    position: absolute;
    margin: auto;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    .ct-chart-donut .ct-series-a .ct-slice-donut {
        stroke: #49A69B;
    }
    .ct-chart-donut .ct-series-b .ct-slice-donut {
        stroke: #8EC4B9;
        opacity: 1;
    }
  }
}

// includes/components/charts/chart_reduction_donut_02.html
#reduction-legend {
  position: relative;
  tr {
    &.active {
      background: rgba(0,0,0,0.05);
    }
  }
}
#reduction-detail-message {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  @include transition(1s);
  h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 0.8em;
  }
  p {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 100;
    &.lead {
      font-size: 20px;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  a {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
  &.active {
    display: block;
    opacity: 1;
  }
}
#center-message {
  position: absolute;
  width: 420px;
  height: 420px;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -60px;
  pointer-events: none;
  h3 {
    line-height: 35px;
    margin: 0;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
  }
  p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 17px;
    font-family: $font-family-condensed;
    font-size: 17px;
    font-weight: 100;
    color: $gray;
  }
}
@media all and (max-width: $screen-md-max) {

}

@media all and (max-width: $screen-sm-max) {

}

@media all and (max-width: $screen-xs-max) {
  .reduction_chart {
    display: none;
    #reduction-timeline {
      margin-left: -100px;
    }
  }
}