.innovatorDatabase_about {
  .icon-list, .icon-national, .icon-analysis {
    background-color: $button-color;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    &:hover {
      background-color: darken($button-color, 15%);
    }
  }
  [data-toggle="collapse"]{
    .caret {
      @include transition(.5s);
    }
    &.active {
      .caret {
        transform: rotate(-180deg);
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  .innovatorDatabase_about  {

  }
}

@media all and (max-width: $screen-sm-max) {
  .innovatorDatabase_about  {
    
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_about {

  }
}