.innovatorDatabase_menu {
  position: fixed;
  top: 157px;
  width: 100%;
  z-index: 99;
  &:before, &:after {
    display: table;
    content: " ";
  }
  section {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    min-height: 110px;
    width: 100%;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    @include transition(1s);
    // &.active {
    //   opacity: 1;
    //   pointer-events: all;
    // }
  }
  &[data-menu="sort"] .activeTab_innovatorMap {
    .innovatorDatabase_sortMenu {

    }
  }
  &[data-menu="filter"] {
    .innovatorDatabase_filtersMenu {
      opacity: 1;
      pointer-events: all;
    }
  }
  &[data-menu="analysis"] {
    .innovatorDatabase_analysisMenu {
      opacity: 1;
      pointer-events: all;
    }
  }
  &[data-menu="search"] {
    // Uncomment if we decide to limit height on search state
    // height: 80px;
    // overflow: hidden;
    section {
      opacity: 0;
      pointer-events: none;
    }
    .innovatorDatabase_searchMenu {
      opacity: 1;
      pointer-events: all;
      z-index: 999;
    }
  }
}

// Set menu visibliity based on active tab class
.activeTab_innovatorMap,
.activeTab_innovatorList {
  .innovatorDatabase_filtersMenu {
    opacity: 1;
    pointer-events: all;
  }
  .mixitup-page-stats { margin: 0 20px; }
}

.activeTab_innovatorAnalysis {
  .innovatorDatabase_analysisMenu {
    opacity: 1;
    pointer-events: all;
  }
  .mixitup-page-stats { display: none; }
}




.innovatorDatabase_sortMenu {
  display: none !important;
}

.innovatorDatabase_searchMenu {
  height: 100%;
  margin-bottom: 0;
  .search-group {
    margin: 10px;
    margin-right: 20px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


.innovatorDatabase_filtersMenu {
  padding: 10px 0;
  @include transition();
  .row {
    margin: 0;
    [class*="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  h4 {
    font-size: 14px;
  }
  input, select {
    height: 32px;
    line-height: 32px;
  }
  .select {
    &:after {
      top: 0;
      right: 0;
      height: 32px;
      width: 32px;
      text-align: center;
      line-height: 32px;
      background: #fff;
      background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%);
    }
  }
  .button {
    height: 32px;
  }

  .locationSearch {
    position: relative;
    i {
      position: absolute;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: $gray-dark;
      color: #fff;
      font-size: 14px;
      right: 0;
    }
  }

  .tooltip-inner {
      min-width: 200px;
      padding: 8px;
  }

  .filterToggle {
    display: none;
  }
}

.innovatorDatabase_analysisMenu {
  h3 {
    margin-top: 0;
  }
  .button {
    font-size: 14px;
    &.active {
      background-color: $button-color !important;
      color: #fff;
    }
  }
}

// Mixitup details... these should probably go somewhere else?
.mixitup-page-list {
  button {
    padding: 0 10px;
  }
}


body.condensed-header {
  .innovatorDatabase_menu {
    section,
    section.innovatorDatabase_filtersMenu,
    section.innovatorDatabase_analysisMenu {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media all and (max-width: $screen-md-max) {

  .innovatorDatabase_analysisMenu {
    h3 {
      font-size: 18px;
    }
  }
}

@media all and (max-width: $screen-sm-max) {
  .icon-help {
    display: none;
  }
  .innovatorDatabase_menu {
    top: 120px;
    section {
      min-height: 0;
      .container {
        width: 100%;
      }
    }
  }
  .innovatorDatabase_filtersMenu {
    h4 {
      margin-left: 15px;
      margin-right: 15px;
    }
    .row {
      margin: 0;
      [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .locationSearch {
      margin: 0 15px;
    }
  }

}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_menu {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 74px;
    z-index: 99;
    &:before, &:after {
      display: table;
      content: " ";
    }
  }
  .innovatorDatabase_filtersMenu {
    height: auto;
    z-index: 99;
    .container {
      width: 100%;
    }
    .filterToggle {
      display: block;
      i {
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 23px;
        font-size: 12px;
        margin-right: 5px;
        transform: rotate(180deg);
      }
    }
    &.open {
      .hidden-xs {
        display: block !important;
      }
      .filterToggle {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }
  .innovatorDatabase_analysisMenu {
    .button {
      margin-top: 0;
    }
  }

  .activeTab_innovatorMap,
  .activeTab_innovatorList {
    .innovatorDatabase_filtersMenu {
      position: relative;
      opacity: 1 !important;
      pointer-events: all !important;
    }
    .innovatorDatabase_analysisMenu {
      position: absolute;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  .activeTab_innovatorAnalysis {
    .innovatorDatabase_analysisMenu {
      position: relative;
      opacity: 1 !important;
      pointer-events: all !important;
    }
    .innovatorDatabase_filtersMenu {
      position: absolute;
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
}