<div class="row reduction-solutions-chart mt-5 mx-1">
  {% for category in site.action_area_categories %}
    <div class="{{ category.uid }} group col-{{category.areas.size}}of7">
    <label>{{ category.label }}</label>
    <div class="solutions">
      {% for area in category.areas %}
        <div class="solution">
          <a href="/action-areas/{{ area.slug }}" class="text-dark">
            <i class="icon icon-sm icon-{{area.uid}} mx-auto my-2"></i>
            <h5>{{ area.label }}</h5>
          </a>
        </div>
      {% endfor %}
    </div>
    </div>
  {% endfor %}
</div>