{% assign num_items = include.items | size %}
<!-- test for number of items, instantiate carousel if over 3 items -->
<div class="{% if num_items > 3%}carousel-refed{% else %}row{% endif %}">   
  {% for item in include.items %}
    <div class="card {% if include.numcols == 2 %}col-lg-6{% else %}col-lg-4{% endif %}">
      {% if item.featured_image %}
        {% if item.link or item.url %}
          <a href="{{ item.link | default: item.url }}" class="bg-image aspect-4x3" style="background-image: url({{ item.featured_image | default: site.placeholder_image }})">
          </a>        
        {% else %}
          <div class="bg-image aspect-4x3" style="background-image: url({{ item.featured_image | default: site.placeholder_image }})">
          </div>
        {% endif %}
      {% endif %}
      {% if item.title or item.text or item.description_html %}
        <div class="card-body">
          <h3 class="card-title">{{ item.title }}</h3>
          {% if item.item_date or item.date %}
            {{ item.item_date | date: '%B %-d, %Y' | default: item.date | date: '%B %-d, %Y' }}
          {% endif %}
          <div class="card-text">
            {% if item.text or item.content %}
              {{ item.text | default: item.content | truncatewords: 20 }}
            {% elsif item.description_html %}
              {{ item.description_html }}
            {% endif %}
          </div>
          {% if item.link or item.url %}
            <p class="mt-3">
              <a href="{{ item.link | default: item.url }}" class="card-link">{{ item.link_label | default: 'Read More'}}</a>
            </p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %} 
</div>
