{% assign num_items = include.items | size %}
<section class="carousel-testimonials-section bg-dark text-white darken-bkg-image" style="background-image:url(https://picsum.photos/id/155/1000/333);">
  <div 
    class="{% if num_items > 1 %}carousel-refed-dots{% endif %} carousel-testimonials">
    {% for testimonial in include.items %}
    <div 
      class="testimonial-slide w-100 cms-editor-link">
      <div 
        class="container"
        data-cms-editor-link="cloudcannon:{{ include.editor-link }}"
        data-cms-editor-link-style="modal">
        <div class="row">
          <div class="col-12 text-center">
            <blockquote>
              "{{ testimonial.text }}"
              <footer class="text-serif">
                <div class='cite'>{{ testimonial.author }}</div>
                <div class='credentials font-italic'>{{ testimonial.cite }}</div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>