{% assign num_slides = include.items | size %}
{% if num_slides == 1 %}
{% assign hero = include.items.first %}
<div class="position-relative">
  <div class="hero bg-image w-100" style="background-image:url({{ hero.image | default: site.placeholder_image }});">
    <div class="hero-content">
      <div class="container py-5 text-white">
        <div class="row">
          <div class="col-12">
            {% if hero.subtitle %}
              <div class="preheader">{{ hero.subtitle }}</div>
            {% endif %}
            {% if hero.title %}
              <h1>{{ hero.title }}</h1>
            {% endif %}
            <div class="max-out-text-width">
              {{ hero.description_html | default: hero.content | truncatewords: 30 }}
            </div>
            {% if hero.link != nil %}
              <p><a class="text-link text-rescue block mr-3" href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a></p>
            {% endif %}
            {% if hero.buttons.first.link %}
              <div class="hero-buttons mt-3">
                {% for button in hero.buttons %}
                  <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-social">
    <a href="{{ site.linkedin_url }}" class="linkedin" target="_blank" rel="noopener">
      <i class="ri-linkedin-fill"></i>
    </a>
    <a href="{{ site.twitter_url }}" class="twitter" target="_blank" rel="noopener">
      <i class="ri-twitter-fill"></i>
    </a>
  </div>
</div>

{% endif %}
{% if num_slides > 1 %}
  <div class="position-relative">
    <div id="carousel-hero" class="carousel-refed text-white">
      {% for hero in include.items %}
        <div class="hero bg-image w-100" style="background-image:url({{ hero.image | default: hero.featured_image }});">
          <div class="hero-content">
            <div class="container py-5 text-white">
              <div class="row">
                <div class="col-lg-8">
                  {% if hero.subtitle %}
                    <div class="preheader">{{ hero.subtitle }}</div>
                  {% endif %}
                  {% if hero.title %}
                  <h1>{{ hero.title }}</h1>
                  {% endif %}
                  {{ hero.description_html | default: hero.content | truncatewords: 20 }}
                  {% if hero.link != nil %}
                    <a class="text-link text-rescue-400 block mr-3" href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a>
                  {% endif %}
                  {% if hero.buttons.link %}
                    <div class="hero-buttons mt-3">
                      {% for button in hero.buttons %}
                        <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hero-social">
      <a href="{{ site.linkedin_url }}" class="linkedin" target="_blank" rel="noopener">
        <i class="ri-linkedin-fill"></i>
      </a>
      <a href="{{ site.twitter_url }}" class="twitter" target="_blank" rel="noopener">
        <i class="ri-twitter-fill"></i>
      </a>
    </div>
  </div>
{% endif %}