{% assign num_slides = page.hero | size %}
{% if num_slides == 1 %}
{% assign hero = page.hero.first %}
<div class="hero bg-image" style="background-image:url({{ hero.image | default: site.placeholder_image }});">
  <div class="hero-content">
    <div class="container py-5 text-white">
      <div class="row">
        <div class="col-lg-8">
          {% if hero.subtitle %}
            <div class="preheader">{{ hero.subtitle }}</div>
          {% endif %}
          {% if hero.title %}
          <h1>{{ hero.title }}</h1>
          {% endif %}
          {% if hero.description_html %}
            {{ hero.description_html }}
          {% endif %}
          {% if hero.link %}
            <a class="card-link block mr-3" href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a>
          {% endif %}
          {% if hero.buttons.link %}
            <div class="hero-buttons mt-3">
              {% for button in hero.buttons %}
                <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="hero-social">
        <a href="{{ site.linkedin_url }}" class="linkedin" target="_blank" rel="noopener">
          <i class="ri-linkedin-fill"></i>
        </a>
        <a href="{{ site.twitter_url }}" class="twitter" target="_blank" rel="noopener">
          <i class="ri-twitter-fill"></i>
        </a>              
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if num_slides > 1 %}
  <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      {% for hero in page.hero %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="hero bg-image" style="background-image:url({{ hero.image | default: site.placeholder_image }});">
          <div class="hero-content">
            <div class="container py-5 text-white">
              <div class="row">
                <div class="col-lg-8">
                  {% if hero.subtitle %}
                    <div class="preheader">{{ hero.subtitle }}</div>
                  {% endif %}
                  {% if hero.title %}
                  <h1>{{ hero.title }}</h1>
                  {% endif %}
                  {% if hero.description_html %}
                    {{ hero.description_html }}
                  {% endif %}
                  {% if hero.link %}
                    <a class="card-link block mr-3" href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a>
                  {% endif %}
                  {% if hero.buttons.link %}
                    <div class="hero-buttons mt-3">
                      {% for button in hero.buttons %}
                        <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="hero-social">
      <a href="{{ site.linkedin_url }}" class="linkedin" target="_blank" rel="noopener">
        <i class="ri-linkedin-fill"></i>
      </a>
      <a href="{{ site.twitter_url }}" class="twitter" target="_blank" rel="noopener">
        <i class="ri-twitter-fill"></i>
      </a>              
    </div>
  </div>
{% endif %}