---
layout: page
title: Resources and Guides
meta:
  title:
  description:
  image:
hero:
  - title: Resources & Guides
    label:
    description_html:
    image: /uploads/resources-and-guides.png
    links:
_assets:
  - image:
    document:
    label: Download Roadmap 2030
    alt:
food_waste_tools:
  - title: Food Waste Monitor
    id: food-waste-tracker
    icon_image: /img/icons/food_waste/refedtools_foodwastetracker.svg
    description_html: >-
      <p>A centralized repository of information built with data from more than
      50 public and proprietary datasets and providing granular estimates of how
      much food goes<br />uneaten in the U.S., why it's happening, and where it
      goes.</p>
    link_label: Learn More
    link: '#'
  - title: Solutions Database
    id: solutions-database
    icon_image: /img/icons/food_waste/refedtools_solutionsdatabase.svg
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute</p>
    link_label: Learn More
    link: '#'
  - title: Solution Provider Database
    id: solutions-provider-database
    icon_image: /img/icons/food_waste/refedtools_solutionproviderdatabase.svg
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute</p>
    link_label: Learn More
    link: '#'
  - title: Impact Calculator
    id: impact-calculator
    icon_image: /img/icons/food_waste/refedtools_impactcalculator.svg
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute</p>
    link_label: Learn More
    link: '#'
  - title: Investment Tracker
    id: investment-tracker
    icon_image: /img/icons/food_waste/refedtools_investmenttracker.svg
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    link_label: Learn More
    link: /investment-tracker
  - title: Policy Tracker
    id: policy-tracker
    icon_image: /img/icons/food_waste/refedtools_policytracker.svg
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    link_label: Learn More
    link: '#'
  - title:
    id:
    icon_image:
    description_html:
    link_label:
    link:
downloads:
  - the-roadmap-to-reduce-u-s--food-waste
  - the-2019-annual-report
  - >-
    scaling-food-recovery-and-hunger-relief-learnings-from-refeds-nonprofit-food-recovery-accelerator
  - >-
    accelerator-expert-network-knowledge-series-jessica-grace-torres-city-harvest
  - accelerator-expert-network-knowledge-series-jasmine-crowe-goodr
  - accelerator-expert-network-knowledge-series-hannah-koski-blue-apron
  - accelerator-expert-network-knowledge-series-leah-lizarondo412-food-rescue
  - accelerator-expert-network-knowledge-series-rebeckah-piotrowski-city-harvest
  - accelerator-expert-network-knowledge-series-nicole-flewell-taylor-farms
  - accelerator-expert-network-knowledge-series-robert-egger-la-kitchen
  - >-
    accelerator-expert-network-knowledge-series-thomas-mcquillan-baldor-specialty-foods
  - accelerator-expert-network-knowledge-series-kari-armbruster-the-kroger-co
  - >-
    accelerator-expert-network-knowledge-series-eric-davis-and-justin-block-feeding-america
  - accelerator-expert-network-knowledge-series-nell-fry-sodexo
  - accelerator-expert-network-knowledge-series-doug-rauch-daily-table
  - >-
    accelerator-expert-network-knowledge-series-bill-reighard-food-donation-connection
  - 2018-u-s--food-waste-investment-report
  - retail-food-waste-action-guide
  - foundation-action-guide
  - restaurant-food-waste-action-guide
  - foodservice-food-waste-action-guide
partner_resources:
  - title: Save the Food
    description_html: >-
      <p>Save the Food is a national public service campaign to combat food
      waste developed in partnership between the Ad Council &amp; the Natural
      Resources Defense Council (NRDC).</p>
    link: 'https://savethefood.com/'
    link_label:
  - title: 'Last Week Tonight with John Oliver: Food Waste'
    description_html: >-
      <p>A fun and easy to understand 20-minute segment describing the causes
      and problems of food waste.</p>
    link: 'https://www.youtube.com/watch?v=i8xwLWb0lLY'
    link_label:
  - title: >-
      Wasted: How America is losing up to 40 percent of its food from farm to
      fork to landfill
    description_html: >-
      <p>An overview report on the causes of food waste in the United
      States.</p>
    link: 'https://www.nrdc.org/sites/default/files/wasted-food-IP.pdf'
    link_label:
  - title: Food Loss and Waste Protocol
    description_html: >-
      <p>The Food Loss &amp; Waste Protocol (FLW Protocol) is a
      multi-stakeholder effort to develop the global accounting and reporting
      standard for quantifying food loss and waste.</p>
    link: 'https://www.wri.org/our-work/project/food-loss-waste-protocol'
    link_label:
  - title: Food Waste Reduction Alliance
    description_html: >-
      <p>The Food Waste Reduction Alliance (FWRA) is a collaborative effort of
      the Grocery Manufacturers Association, the Food Marketing Institute, and
      the National Restaurant Association. The FWRA&rsquo;s mission is to reduce
      the volume of food waste sent to landfill by addressing the root causes of
      waste and by securing pathways to donate or recycle unavoidable food
      waste.</p>
    link: 'http://www.foodwastealliance.org/'
    link_label:
  - title: EPA Food Recovery Challenge
    description_html: >-
      <p>Organizations that take part in EPA&rsquo;s Food Recovery Challenge
      pledge to improve their sustainable food management practices and report
      their results.</p>
    link: >-
      https://www.epa.gov/sustainable-management-food/learn-about-food-recovery-challenge-frc
    link_label:
  - title: BioCycle
    description_html: >-
      <p>Published since 1960, BioCycle is the go-to magazine and website on
      composting, organics recycling, anaerobic digestion, and renewable
      energy.</p>
    link: 'https://www.biocycle.net/'
    link_label:
  - title: Recyclingworks Massachusetts
    description_html: >-
      <p>Comprehensive source prevention, recovery, and recycling assistance for
      businesses and institutions. The information is specific to Massachusetts,
      but much of it is applicable to other states and regions.</p>
    link: 'https://recyclingworksma.com/how-to/materials-guidance/'
    link_label:
  - title: 'SAVE FOOD: Global Initiative on Food Loss and Waste Reduction'
    description_html: >-
      <p>The FAO is collaborating with donors, bi- and multi-lateral agencies,
      and financial institutions and private sector partners (the food packaging
      industry and others) to develop and implement a program on food loss and
      waste reduction.</p>
    link: 'http://www.fao.org/save-food/en/'
    link_label:
cta_insights_engine:
  label: Powered by the
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:
  link:
    label: Launch ReFED Insights Engine
    url: 'https://www.insights-engine-fpo.com/'
    alt:
---

<section id="overview">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="bg-image aspect-5x7 mb-3 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h3 class="editable">
          Identifying the Issue at Hand
        </h3>
        <div class="editable">
          <h2>Roadmap to 2030</h2>
          <p>Food waste is a systemwide problem, and solving it will require a systemwide response. Our&nbsp;<em>Roadmap to 2030: Reducing U.S. Food Waste</em>&nbsp;looks at the entire food supply chain and identifies seven key action areas to help guide the food system&rsquo;s efforts over the next ten years. In line with the Target-Measure-Act framework for food waste reduction that&rsquo;s been adopted around the world, the&nbsp;<em>Roadmap to 2030</em>&nbsp;is a critical blueprint to move the food system to action.</p>
        </div>
        <a href="{{ page._assets[0].document }}" data-cms-editor-link="cloudcannon:#_assets[0].document" class="btn btn-secondary btn-lg mt-4 cms-editor-link" data-cms-editor-link-style="modal">
          {{ page._assets[0].label }}
        </a>
      </div>
    </div>
  </div>
</section>

{% include components/cta_insights_engine.html item=page.cta_insights_engine %}

<section>
  <div class="container">
    <h3 class="editable mb-5">
      Our Food Waste Tools:
    </h3>
    {% for tool in page.food_waste_tools %}
    <div id="{{ tool.id }}" class="row align-items-center mb-5 cms-editor-link" data-cms-editor-link="cloudcannon:#food_waste_tools" data-cms-editor-link-style="modal">
      <div class="col-12 col-md-auto">
        <img src="{{ tool.icon_image }}" class="img-fluid icon-img-xl mb-3 mb-md-0 mr-md-3" alt="{{ tool.title }} icon" />
      </div>
      <div class="col">
        <h4>{{ tool.title }}:</h4>
        <div class="mb-0">
          {{ tool.description_html }}
        </div>
        <a class="btn btn-link" href="{{ tool.link }}">{{ tool.link_label | default: 'Learn More' }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="bg-light" id="reports-and-guides">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="editable">
          Reports &amp; Action Guides
        </h2>
        <div class="bg-placeholder aspect-auto">
          <div class="bg-fill">
            Filter bar
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="roadmap-2030">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="bg-image aspect-5x7 mb-3 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[0].image }}')">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h2 class="editable">
          Roadmap 2030
        </h2>
        <div class="editable">
          <p>Food waste is a systemwide problem, and solving it will require a systemwide response. Our&nbsp;<em>Roadmap to 2030: Reducing U.S. Food Waste</em>&nbsp;looks at the entire food supply chain and identifies seven key action areas to help guide the food system&rsquo;s efforts over the next ten years. In line with the Target-Measure-Act framework for food waste reduction that&rsquo;s been adopted around the world, the&nbsp;<em>Roadmap to 2030</em>&nbsp;is a critical blueprint to move the food system to action.</p>
        </div>
        <a href="{{ page._assets[0].document }}" class="btn btn-secondary btn-lg mt-4 cms-editor-link" data-cms-editor-link-style="modal" data-cms-editor-link="cloudcannon:#_assets[0].document">{{ page._assets[0].label }}</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for object in page.downloads %}
        {% assign download = site.downloads | where: 'slug', object | first %}
        <div data-cms-editor-link="cloudcannon:collections/_downloads" data-cms-editor-link-style="modal" class="col mb-5 cms-editor-link">
          <div class="card">
            <div class="card-img-top bg-image aspect-4x3 bg-top-left bg-transparent" style="background-image: url({{ download.featured_image }})" alt="{{ download.title }} image"></div>
            <div class="card-body">
              <h4 class="card-title">{{ download.title }}</h4>
              {% if download.description_html %}
                {{ download.description_html }}
              {% endif %}
              {% for item in download.documents %}
                <a href="{{ item.document }}" class="btn btn-link download-link d-inline-block mb-2" target="_blank">{{ item.label | default: 'Download' }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  
</section>

<section class="bg-dark" id="partner-resources">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Partner Resources
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include sections/accordion.html items=page.partner_resources editor-link="#partner_resources" %}
      </div>
    </div>
  </div>
</section>
