---
layout: page
title: Food Waste Challenge
meta:
  title:
  description:
  image:
hero:
  - title: 'In the US, 36% of all food produced goes uneaten.'
    label:
    description_html:
    image: /img/food_waste_challenge/food_waste_challenge_header_image.png
    links:
_stat:
  static_image:
  label: 92.8M
  caption: tons of food
split_section_good_news:
  label: The good news?
  title: Food waste is a solvable problem – here's how to do it.
  summary: >-
    ReFED’s new Roadmap to 2030: Reducing U.S. Food Waste outlines seven key
    action areas where the food system must focus its efforts over the next ten
    years to achieve our national and international food waste reduction goals.
    Powered by the ReFED Insights Engine – an online data and solutions hub
    detailing more than 40 food waste reduction solutions, a granular analysis
    of food waste by sector, state, food type, cause, and impact; and much more
    – the Roadmap to 2030 is an indispensable blueprint for taking action.
  featured_image: /img/food_waste_challenge/foodwaste_image_01.jpg
  link_label: See the Roadmap to 2030
  url: /food-waste-solutions
split_section_what_is_food_waste:
  label: What is Food Waste?
  title:
  summary: >-
    <p>Various organizations define food waste in different ways. ReFED has
    conducted our analysis using surplus food – defined as all food that goes
    unsold or unused by a business or that goes uneaten at home – including food
    and inedible parts (e.g., peels, pits, bones) that are donated, fed to
    animals, repurposed to produce other products, composted, or anaerobically
    digested. Because this includes donated food, we have subtracted these
    donations to generate our estimates of uneaten food. We use the term food
    waste as a subset of uneaten food to describe food that goes unused and ends
    up being landfilled, incinerated, disposed down the sewer, dumped, or spread
    onto land. The U.S. Government has set a 50% landfill diversion goal, that
    aims to cut the amount of food that goes to landfills and incineration in
    half. International goals, such as United Nations Sustainable Development
    Goal 12.3 or the European Union’s goals, aim to cut in half the amount of
    food going to eight destinations, including composting and anaerobic
    digestion, in addition to landfill.  [Visit our glossary for more
    information.].</p>
  featured_image: /img/food_waste_challenge/foodwaste_image_02.jpg
split_section_what_is_the_impact:
  label: What is the Impact of Food Waste?
  title:
  summary: >-
    Food that is produced but never eaten still requires enormous resources to
    grow, harvest, transport, cool, cook or otherwise prepare – even when it’s
    disposed of. It’s an imprudent use of our food supply chain, and it has
    enormous impacts across our climate and natural resources, food insecurity,
    and the economy.
  featured_image: 'https://via.placeholder.com/650x650'
split_section_policy_overview:
  title: Policy Overview
  summary: >-
    Public policy at the federal, state, and municipal levels can offer
    opportunities to accelerate large-scale food waste reduction. The Food Waste
    Policy Finder – developed by ReFED and the Harvard Law School Food Law and
    Policy Clinic to provide an overview of current federal and state policies
    related to food waste – depicts the existing policy landscape, while
    highlighting best-practice legislation in order to inform the continued
    development and implementation of sound food waste policy.
  featured_image: /img/food_waste_challenge/foodwaste_policyoverview_image.jpg
  link:
    label: View Policy Tracker
    url: /policy-tracker
    alt:
barriers_to_solutions_implementation:
  - title: Misalignment of Costs and Benefits
    description_html: >-
      There is limited reason for businesses to implement a new technology or
      process if another part of the supply chain receives the benefit.
  - title: Lack Of Social License
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Information Gaps
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Organizational Silo
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Liability Concerns
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Fragmented Regulation
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: 'Handling, Transportation, And Storage'
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Financial Viability
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Cost Of Disposal
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Material Supply Assurance
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: High Transportation And Logistics Costs
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Access To Financing
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Packaging And Contamination
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: Permitting And Siting
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
  - title: End-market Development
    description_html: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
cta:
  title:
  label:
  description_html: >-
    ReFED offers a range of solutions for organizations to advance their own
    food waste initiatives. Our interactive tools, reports and strategic
    solutions can help your team get started.
  link:
    label: See Our Solutions
    url: /food-waste-solutions
    alt:
  theme:
  add_divider: right
cta_insights_engine:
  label: Our Newest Innovation
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:
  link:
    label: Launch ReFED Insights Engine
    url: 'https://www.insights-engine-fpo.com/'
    alt:
_assets:
  - image: /img/food_waste_challenge/foodwaste-climate.png
  - image: /img/food_waste_challenge/foodwaste-foodscarcity.png
  - image: /img/food_waste_challenge/foodwaste-economic.png
  - image: /img/food_waste_challenge/foodwaste-where.png
  - image: /img/food_waste_challenge/foodwaste-whichfoods.png
  - image: /img/food_waste_challenge/foodwaste_causes_image_01.jpg
  - image: /img/food_waste_challenge/foodwaste_causes_image_02.jpg
  - image: /img/food_waste_challenge/foodwaste_causes_image_03.jpg
  - image: /img/food_waste_challenge/foodwaste_causes_image_04.jpg
  - image: /img/food_waste_challenge/foodwaste_causes_image_05.jpg
_subnav:
  - label: What is food waste?
    _slug: what_is_food_waste
  - label: What is the impact?
    _slug: what_is_the_impact
  - label: Where does food waste occur?
    _slug: where_does_food_waste_occur
  - label: Which foods get wasted?
    _slug: which_foods_get_wasted
  - label: What causes food waste?
    _slug: what_causes_food_waste
---

<section>
  <div class="container" id="overview">
    <div class="row align-items-center">
      <div class="col-lg-4">
        {% include charts/donut.html
          item=page._stat
          editor-link="#_stat"
        %}
      </div>
      <div class="col-lg-8">
        <div>
          <p class="editable lead">
            Each year, <strong>92.8</strong> million tons of food in the U.S. &ndash; more than <strong>567</strong> pounds for each person &ndash; are never eaten. In fact, food is the number one product entering landfills today.&nbsp;
          </p>
          <div class="editable">
            <p>The impacts on our climate and environmental resources are enormous, and it&rsquo;s a huge waste of nutrition as well &ndash; much of that food could have gone to people struggling with food insecurity, a number that has grown due to the ongoing economic downturn caused by the coronavirus pandemic. Around the world, wasted food is considered to be an urgent issue &ndash; the United Nations, U.S. Government, European Parliament, global business coalitions such as the Consumer Goods Forum, and more have all set goals to cut food loss and waste in half by 2025 or 2030.</p>
          </div>
      </div>
    </div>
  </div>
</div></section>

{% include sections/split_section.html
  id='good-news'
  section_background_color='dark'
  image_width='33%'
  image_alignment='right'
  image_to_edge=true
  text_to_edge=true
  button_class='btn-secondary'
  section_class='py-0'
  item=page.split_section_good_news
  editor-link="#split_section_good_news"
%}

{% include nav/subnav.html items=page._subnav label="Explore this issue" %}

{% include sections/split_section.html
  id='what_is_food_waste'
  section_background_color='light'
  image_width='33%'
  image_alignment='left'
  image_to_edge=true
  text_to_edge=true
  section_class='py-0'
  item=page.split_section_what_is_food_waste
  editor-link="#split_section_what_is_food_waste"
%}

{% include sections/split_section.html
  id='what_is_the_impact'
  section_background_color='white'
  image_width='33%'
  image_alignment='right'
  image_to_edge=false
  text_to_edge=false
  section_class='pb-0'
  item=page.split_section_what_is_the_impact
  editor-link="#split_section_what_is_the_impact"
%}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_workenvironment.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Environment icon" />
      </div>
      <div class="col">
        <h4 class="editable">
          Climate and Natural Resources
        </h4>
        <p class="editable">
          When food goes uneaten, the resources used to produce it go to waste as well. If all of our country&rsquo;s uneaten food was grown in one place, this &ldquo;mega-farm&rdquo; would cover roughly 80 million acres, over three-quarters of the entire state of California &ndash; all for food that is never eaten.
        </p>
        <h4 class="text-serif my-5 editable ">
          Uneaten Food Consumes:
        </h4>
        <img src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" class="img-fluid cms-editor-link" alt="Stats graphic" />
        <!-- we can remove this if this section is not going to be editable -->
        <!-- <div id="food-waste-consumes">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 text-blue mb-4 mb-lg-5">
              <div class="row">
                <div class="col-auto">
                  <div class="rounded-circle bg-blue m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">21%</div> of all Fresh Water
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-orange mb-4 mb-lg-5">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="rounded-circle bg-orange m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">19%</div> of all Fertilizer
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 text-teal mb-4 mb-lg-5">
              <div class="row">
                <div class="col-auto">
                  <div class="rounded-circle bg-teal m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">18%</div> of all Cropland
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-indigo mb-4 mb-lg-5">
              <div class="row">
                <div class="col-auto">
                  <div class="rounded-circle bg-indigo m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col stat font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">21%</div> of Landfill Volume
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 text-recycle mb-4 mb-lg-5">
              <div class="row">
                <div class="col-auto">
                  <div class="rounded-circle bg-recycle m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">XX%</div> of Something
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-yellow mb-4 mb-lg-5">
              <div class="row">
                <div class="col-auto">
                  <div class="rounded-circle bg-yellow m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
                </div>
                <div class="col font-weight-bold pl-0">
                  <div class="display-4 font-weight-light">XX%</div> of Something
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_medicalbenefits.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <h4 class="editable">
          Food Insecurity
        </h4>
        <p class="editable">
          One in six Americans &ndash; many of them children &ndash; are food insecure, meaning they lack reliable access to sufficient, affordable, nutritious, and culturally appropriate food. And because of the impact of COVID-19, the number of people struggling with food insecurity grew in 2020 to more than 50 million, according to <a target="_blank" rel="noopener" href="https://www.feedingamerica.org/sites/default/files/2020-10/Brief_Local%20Impact_10.2020_0.pdf">Feeding America</a>. A huge portion of surplus food is perfectly edible and could go to help those in need.
        </p>
        <div class="my-5">
          <img src="{{ page._assets[1].image }}" alt="1 in 7 Americans are food insecure" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal" class="img-fluid cms-editor-link" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_economicvalue.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Economy icon" />
      </div>
      <div class="col">
        <h4 class="editable">
          Economy
        </h4>
        <p class="editable">
          Each year, the country lets food worth nearly $400 billion a year go uneaten. The financial cost of this is greatest for consumers, since they pay retail prices for food while consumer-facing and other businesses pay lower wholesale rates. But the food industry is responsible for approximately $240 billion each year, with foodservice businesses shouldering the greatest burden.
        </p>
        <div class="my-5">
          <img src="{{ page._assets[2].image }}" alt="Financial Cost of Food Waste" data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal" class="img-fluid cms-editor-link" />
        </div>
    </div>
  </div>
</div></section>

<section id="where_does_food_waste_occur" class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Where does food waste occur?
        </h3>
        <p class="editable">
          Addressable food waste can be found throughout the supply chain, which can be simplified into four segments: farms, food manufacturers, consumer-facing businesses (including distributors, retail grocers, restaurants, foodservice providers, and institutions), and homes (including all types of dwellings).
        </p>
        <p class="editable lead text-center my-5">
          <span class="text-serif">85%</span> of food waste occurring downstream at consumer-facing businesses and homes
        </p>
        <img src="{{ page._assets[3].image }}" alt="Where does food waste occur?" data-cms-editor-link="cloudcannon:#_assets[3].image" data-cms-editor-link-style="modal" class="img-fluid cms-editor-link" />
      </div>
    </div>
  </div>
</section>

<section id="which_foods_get_wasted" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="{{ page._assets[4].image }}" alt="Which foods get wasted" data-cms-editor-link="cloudcannon:#_assets[4].image" data-cms-editor-link-style="modal" class="img-fluid cms-editor-link" />
      </div>
      <div class="col-lg-6">
        <h3 class="editable">
          Which foods get wasted
        </h3>
        <div class="editable">
          <p>Nearly 80% of food waste comes from perishable foods, which include fruits and vegetables, meats, prepared fresh deli items,seafood, milk and dairy, and some grain products such as bread and bakery items. In contrast, non-perishable foods &mdash; pastas, canned goods, and highly processed, shelf-stable products &mdash; are generally wasted less because they don&rsquo;t spoil as easily. Perishables often get discarded because they are inexpensive and quickly go bad. Pound per pound, fruits and vegetables are among the least expensive and fastest spoiling foods, constituting over 40% of total food waste. Conversely, seafood and meats are the two least wasted and most expensive food types.</p>
        </div>
        <a class="btn btn-link editable" href="#">Dive Deeper into the Data in the Insights Engine</a>
      </div>
    </div>
  </div>
</section>

<section id="what_causes_food_waste">
  <div class="container">
    <h3 class="editable">
      What causes food waste?
    </h3>
    <p class="editable">
      The reasons for food waste are numerous and complex across the food value chain. Here are some examples of why it occurs:
    </p>
    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_producers.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Producers icon" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-3 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">
              Farms
            </h3>
            <div class="editable my-2">
              <p>Food loss starts at the production level. Low market prices and high labor costs often make it uneconomical for farmers to harvest all that they produce. Strict cosmetic standards result in insufficient demand for imperfect-looking produce. (i.e. oversized zucchinis or bent carrots). Despite gleaning and farm-to-food-bank efforts to recover this unharvested food, the vast majority is left in the fields to be tilled under.</p>
            </div>
            <a class="editable mt-2 btn btn-link" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10  col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[5].image }}')"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_manufacturing.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Manufacturing icon" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable">
              Manufacturers
            </h3>
            <div class="editable">
              <p>While current recycling levels are highest among food processors and manufacturers, customer demand for a wide variety of products continues to cause inefficiencies. Each time a production line is changed, it must be emptied and cleaned. Products can require trimming for use in end products, leading to edible parts going unused.</p>
            </div>
            <a class="editable mt-2 btn btn-link" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10  col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[6].image }}')">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_retail.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Retail icon" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">
              Retail Businesses
            </h3>
            <div class="editable">
              <p>(Grocery Retailers, Restaurants, Institutions &amp; Foodservice): Customers demand a variety and consistency of food availability that strains inventory management and food purchasing. Businesses are reluctant to change stocking practices or product sizes if those practices are intricately tied to their brand identities. Also, high customer standards for freshness lead businesses to dispose of safe, edible food when it is perceived to be past its prime.</p>
            </div>
            <a class="btn btn-link editable" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[7].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[7].image }}')">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/refed_homes.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Homes icon" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">
              Homes
            </h3>
            <div class="editable my-2">
              <p>The demand for variety and abundance of food creates waste at home. For example, consumers may want a different kind of cuisine each night but lack the knowledge of how to repurpose ingredients and store food properly. As much as 55% of food purchases are unplanned, which leads to over-purchasing and food spoilage. Many families are tempted into bulk purchases of food that they will never consume to get a good deal on per-unit costs.</p>
            </div>
            <a class="editable mt-2 btn-link" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[8].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[8].image }}')">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_foodservice.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Foodservice icon" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">
              Restaurants
            </h3>
            <div class="editable my-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <a class="editable mt-2 btn-link" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1 cms-editor-link" data-cms-editor-link="cloudcannon:#_assets[9].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[9].image }}')">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/barriers/barriers.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Barriers icon" />
      </div>
      <div class="col">
        <h2 class="editable">
          Barriers To Solutions Implementation
        </h2>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    {% include sections/accordion.html items=page.barriers_to_solutions_implementation editor-link="#barriers_to_solutions_implementation" %}
  </div>
</section>

{% include components/split.html
  id='policy-overview'
  theme='white'
  item=page.split_section_policy_overview
  reverse="true"
  editor-link="#split_section_policy_overview"
%}

{% include components/cta_insights_engine.html item=page.cta_insights_engine editor-link="#cta_insights_engine" %}

{% include components/cta.html item=page.cta editor-link="#cta" %}
