---
review: true
layout: page
title: Food Waste Solutions
hero:
  - title: Food waste is a solvable problem – here’s how to do it.
    label:
    description_html:
    image: /img/solutions/solutions_header_image.jpg
    links:

levers:
  - title: Policy
    description_html: >-
      <ul><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
      dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
      dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li></ul>
    icon_image: /img/icons/levers/levers_policy.svg
  - title: Innovation
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
    icon_image: /img/icons/levers/levers_innovation.svg
  - title: Financing
    description_html: >-
      <ul><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
      dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li><li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
      rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
      dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna.</li></ul>
    icon_image: /img/icons/levers/levers_financing.svg
  - title: Communications
    description_html: >-
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
    icon_image: /img/icons/levers/levers_communication.svg
cta:
  title:
  label:
  description_html: >-
    <p>ReFED offers a range of solutions for organizations to advance their own
    food waste initiatives. Our interactive tools, reports and strategic
    solutions can help your team get started.</p>
  link:
    label: See all Resources
    url: /resources-guides
    alt:
  theme:  'lighter'
  add_divider:

cta_insights_engine:
  label: Our Newest Innovation
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:
  link:
    label: Launch ReFED Insights Engine
    url: 'https://www.insights-engine-fpo.com/'
    alt:

powered_by_insights_engine:
  label: Powered by
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:

_subnav:
  - label: 'Priority Action Areas'
  - label: 'Solutions'
  - label: 'Levers'
  - label: 'Stakeholder Recommendations'

_assets:
  highlight_insights_engine_image:
  size_of_the_prize_graphic_image: /img/solutions-sizeoftheprize.png

---

<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          <p>A range of solutions to reduce food waste already exist – some are breakthrough, some are basic, and importantly, many have a strong potential for investment returns. ReFED estimates that an investment of $YY over the next ten years will reduce food waste by XX tons, which will then avoid ZZ tons of GHGs, provide the ability to rescue AA meals, create BB jobs, and deliver CC in economic value to the country. And many businesses, cities, nonprofits, and others are already making a substantial impact to address the problem.</p>
        </div>
        <h3 class="editable">But much more needs to be done.</h3>
        <div
          data-cms-editor-link="cloudcannon:#_assets.size_of_the_prize_graphic_image"
          data-cms-editor-link-style="modal"
          class="mt-5 cms-editor-link">
          {% if page._assets.size_of_the_prize_graphic_image %}
            <img src="{{ page._assets.size_of_the_prize_graphic_image }}" alt="{{ page.title }} Insights Engine" class="img-fluid d-block mx-auto" />
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <div class="overflow-hidden">
          <div class="text-center">
            <h3 class="editable">The Path Forward</h3>
            <h2 class="editable">Roadmap to 2030: Reducing US Food Waste by 50%</h2>
          </div>
          <div class="mt-4 p-5 bg-dark">
            <div class="lead editable">
              <p>ReFED’s Roadmap 2030 and the ReFED Insights Engine was specifically developed to provide food system players with
              everything they need to move from awareness about the problem to action.</p>
              <p>Building on our landmark 2016 Roadmap to Reduce US Food Waste by 20%, this new action plan provides details on more than 40 solutions to reduce food waste.</p>
            </div>
          </div>
          <div class="pl-3 bg-light">
            {% include components/cta_insights_engine.html
              item=page.powered_by_insights_engine
              theme="light"
            %}
          </div>
        </div>
        <div class="py-5 bg-white text-center">
          <h3 class="editable">Key Action Areas</h3>
          <p class="lead editable">Our Roadmap to 2030: Reducing U.S. Food Waste looks at the entire food supply chain and outlines seven key action areas where the food system must focus its food waste reduction efforts over the next ten years.</p>
          <a href="#" class="btn btn-link">Learn More</a>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="p-4 border-bottom">
              {% include components/solution_taxonomy.html %}
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-md-6">
            <div class="p-4 text-center border">
              <h3 class="editable">Solutions</h3>
              <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati dolorum quod debitis? Dolorem doloremque sapiente.
              </p>
              <a href="#" class="btn btn-link editable">Learn More</a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="p-4 text-center border">
              <h3 class="editable">Levers</h3>
              <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati dolorum quod debitis? Dolorem doloremque sapiente.
              </p>
              <a href="#" class="btn btn-link editable">Learn More</a>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <div class="p-4 text-center border">
              <h3 class="editable">Stakeholder Recommendations</h3>
              <p class="w-75 mx-auto editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati dolorum quod debitis? Dolorem doloremque sapiente.
              </p>
              <a href="#" class="btn btn-link editable">Learn More</a>
              {% include_relative _partials/stakeholder_icon_grid.html %}
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <div class="p-4 text-center border">
              <h3 class="editable">The end result?</h3>
              <p class="lead w-75 mx-auto editable">We’re committed to generating the awareness and action needed to achieve a 50% reduction in food waste by the year 2030 in accordance with national and international goals – and to creating a sustainable, inclusive, and resilient food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.</p>
              <a href="#" class="btn btn-secondary btn-lg text-serif my-4 editable">Download the Roadmap Executive Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- START: page sub navigation -->
{% include nav/subnav.html items=page._subnav label="Explore Solution Areas" %}

<section id="priority-action-areas">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div class="editable">
          <h2>Priority Action Areas</h2>
          <p>Within each priority action area, we analyzed a range of potential solutions based on their impact
            potential (amount of food waste diverted, GHG emissions reduced, meals recovered, jobs created, and net
            economic benefit), effort required, feasibility, and potential barriers.</p>
        </div>
      </div>
    </div>
    {% for category in site.action_area_categories %}
      {% for area in category.areas %}
        {% assign active_area = site.action_areas | where: 'slug', area.slug | first %}
      <div class="row my-5 py-lg-5">
        <div class="col-md-auto">
          <i class="icon icon-md icon-{{area.uid}} my-2"></i>
        </div>

        <div
          data-cms-editor-link="cloudcannon:#description_html"
          data-cms-editor-link-style="modal"
          class="col cms-editor-link">
          <h3>{{ active_area.title }}</h3>
          {{ active_area.description_html }}
          <a href="{{ active_area.url }}" class="mt-3 btn btn-primary">Learn More</a>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section id="solutions" class="bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="editable">
          <h2>Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <h5 class="text-uppercase editable font-weight-bold">Modeled Solutions</h5>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <h5 class="text-uppercase editable font-weight-bold">New &amp; Emerging Solutions</h5>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <h5 class="text-uppercase editable font-weight-bold">Best Practices</h5>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-5">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="h1 editable">2.68% of U.S. food waste or 2.28 million tons could be avoided annually</h2>
          <div class="lead editable">
            <p>if <em>All Stakeholders</em> implemented these solutions to reduce waste in <em>All Stakeholders</em> in all states</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div
          data-cms-editor-link="cloudcannon:#_assets.highlight_insights_engine_image"
          data-cms-editor-link-style="modal"
          class="cms-editor-link">
          {% if _assets.highlight_insights_engine_image %}
          <img src="{{ _assets.highlight_insights_engine_image }}" alt="{{ page.title }} Insights Engine" class="img-fluid" />
          {% else %}
          <div class="bg-placeholder aspect-2x1 bg-black text-white">
            <div class="bg-fill">
              <h4 class="text-uppercase">Top 5 solutions for <span class="text-primary">All Stakeholders</span></h4>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <div class="text-center">
          <a href="#" class="btn btn-primary editable">See Full Chart on ReFED Insights Engine</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="levers">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="editable">Levers</h2>
        <h3 class="editable">Everyone has a role to play in reducing food waste – even if you’re not directly connected
          to the food industry – and these key “levers” can be used to facilitate implementation of the solutions:</h3>
      </div>
    </div>
    {% for lever in page.levers %}
    <div class="row mb-5">
      <div class="col-12 col-md-auto">
        <!-- TODO: Refactor to use icon classes and background images -->
        <img src="{{ lever.icon_image }}" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="{{ lever.title }} icon" />
      </div>
      <div
        data-cms-editor-link="cloudcannon:#levers[{{forloop.index0}}]"
        data-cms-editor-link-style="modal"
        class="col cms-editor-link">
        <h4>{{ lever.title }}</h4>
        {{ lever.description_html }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="stakeholder-recommendations" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center editable">Stakeholder Recommendations</h3>
        <h2 class="text-center editable">What Can I Do To Solve Food Waste?</h2>
      </div>
    </div>
    {% include components/stakeholder_grid.html %}
  </div>
</section>
<!-- END: page sub navigation -->

{% include components/cta_insights_engine.html item=page.cta_insights_engine %}

{% include components/cta.html item=page.cta editor-link="#cta" %}