<div class="card {{ solution.type | slugify }}-card"
  data-economic-value-per-ton="{{ solution.impact.economic-value-per-ton }}"
  data-diversion-potential="{{ solution.impact.diversion-potential }}"
  data-meals-saved="{{ solution.impact.meals-saved }}"
  data-emissions-reduced="{{ solution.impact.emissions-reduced }}"
  data-water-conservation="{{ solution.impact.water-conservation }}"
  data-jobs-created="{{ solution.impact.jobs-created }}"
>
  <header>
    <a href="{{ solution.url }}">
      <div class="rated">
        {% for top in solution.top-rated %}
        <i class="icon icon-{{ top }}"></i>
        {% endfor %}
        <p>
          <small>Top Rated Solution:</small><br>
          {% for tab in site.data.tabs %}
            {% if solution.top-rated contains tab.slug %}
              {{ tab.label }}<br>
            {% endif %}
          {% endfor %}
        </p>
      </div>
      <img src="{% asset_path 'solutions/{{ solution.slug }}-card.jpg' %}">
    </a>
  </header>
  <div class="content">
    <h4 class="title">{{ solution.title }}</h4>
    <p>{{ solution.definition }}</p>
  </div>
  <footer>
    <p class="stat economic-value-per-ton" style="display:block;">
      $<strong>{{ solution.impact.economic-value-per-ton | add_commas }}</strong> <small>/ton</small><br>
      <span>in financial benefit</span>
    </p>
    <p class="stat diversion-potential">
      <strong>{{ solution.impact.diversion-potential | add_commas }} K </strong> <small>tons/yr</small><br>
      <span>in diversion potential</span>
    </p>
    <p class="stat meals-saved">
      <strong>{{ solution.impact.meals-saved | add_commas }} M </strong><small>meals/yr</small><br>
      <span>meals saved</span>
    </p>
    <p class="stat emissions-reduced">
      <strong>{{ solution.impact.emissions-reduced | add_commas }} K </strong><small>tons/yr</small><br>
      <span>in GHGs emission reduction</span>
    </p>
    <p class="stat water-conservation">
      <strong>{{ solution.impact.water-conservation | add_commas }} B </strong> <small>gal/yr</small><br>
      <span>in water conservation</span>
    </p>
    <p class="stat jobs-created">
      <strong>{{ solution.impact.jobs-created | add_commas }}</strong><br>
      <span>jobs created</span>
    </p>
    <a href="{{ solution.url | prepend: site.baseurl }}">Learn How &gt;</a>
  </footer>
</div>