{% assign tabs = site.data.impact %}
{% assign solutions = site.solutions | sort:"order" %}
<section id="cost-curve">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>27 SOLUTIONS TO FOOD WASTE</h2>
          <p>The benefits of each of these solutions outweigh the costs.</p>
          <p><em class="script">Choose a filter button or bar to see the impacts of each solution.</em></p>
          {% include tabs.html %}
          <ul id="chart" class="vertical">
            {% for solution in solutions %}
            <li class="solution" 
                data-url="{{ solution.url | prepend: site.baseurl }}"
                data-class="{{ solution.type }}"
                data-summary="{{ solution.definition | truncatewords: 10 }}"
                data-economic-value-per-ton="{{ solution.impact.economic-value-per-ton }}"
                data-diversion-potential="{{ solution.impact.diversion-potential }}"
                data-meals-recovered="{{ solution.impact.meals-recovered }}"
                data-emissions-reduced="{{ solution.impact.emissions-reduced }}"
                data-water-conservation="{{ solution.impact.water-conservation }}"
                data-jobs-created="{{ solution.impact.jobs-created }}"
                data-title="{{ solution.title }}">
              <span class="title">{{ solution.title }}</span>
              <span class="progress" title="{{ solution.title }}"></span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var mq = window.matchMedia("screen and (max-width: 849px)");

    function drawChart() {
      $('#chart').hide();
      if(mq.matches) {
        $('#chart').attr('class', 'horizontal');
      } else {
        $('#chart').attr('class', 'vertical');
      }
      $('#chart').show();

      if(urlParams["sort"]) {
        var key = urlParams["sort"]
        $('[data-sort="'+key+'"]').trigger('click');
      } else {
        $('.sort').first().trigger('click');
      }
    }

    var solution_data = {
      sort: [
        {% for tab in tabs %}{
          title: "{{ tab.title }}",
          label: "{{ tab.label }}",
          slug: "{{ tab.slug }}",
          summary: "{{ tab.summary }}",
          description: "{{ tab.description }}"
        }{% unless forloop.last %}, {% endunless %}{% endfor %}
      ],
      solutions: [
        {% for solution in solutions %}{
          title: "{{ solution.title }}",
          slug: "{{ solution.slug }}",
          summary: "{{ solution.summary }}",
          type: "{{ solution.type }}",
          featured_image: "{{ solution.featured-image }}",
          stakeholders: [{% for stakeholder in solution.stakeholders %}"{{ stakeholder }}"{% unless forloop.last %}, {% endunless %}{% endfor %}],
          connected_solutions: [{% for s in solution.connected-solutions %}"{{ s }}"{% unless forloop.last %}, {% endunless %}{% endfor %}],
          data: {
            {% for i in solution.impact %}{{ i[0] | replace: '-', '_' }}: {{ i[1] }}{% unless forloop.last %}, {% endunless %}{% endfor %}
          },
          percentages: {
            {% for i in solution.impact %}{{ i[0] | replace: '-', '_' }}: {{ i[1] }}{% unless forloop.last %}, {% endunless %}{% endfor %}
          }
        }{% unless forloop.last %}, {% endunless %}{% endfor %}
      ]
    }
    function getLabels(data) {
      return data.solutions.map(function(solution) {
        return solution.title
      })
    };
    function getSeries(data, key) {
      var k = key.replaceAll('-','_');
      return data.solutions.map(function(solution) {
        return solution.data[k]
      })
    };
    function getData(key) {
      return {
        labels: getLabels(solution_data),
        series: [
          getSeries(solution_data, key)
        ]
      }
    };

    function getPercentages(key) {
      var series = getSeries(solution_data, key),
          max = Math.max.apply(0, series);
      return series.map(function(value) {
        var v = value / max * 100;
        return Math.round(v*100)/100;
      });
    }

    function updateCostCurve(key) {
      var p = [];
      p = getPercentages(key);
      $('#cost-curve ul').each(function() {
        var orientation = $(this).attr('class');
        $(this).find('.progress').each(function(index) {
          if(orientation == 'vertical') {
            $(this).css('height', p[index]+'%');
          } else {
            $(this).css('width', p[index]+'%');
          }
        });
      });
    }

    $('#cost-curve .sort').on('click', function() {
      $("#impact-summary").text($(this).attr('data-description'));
      $("#impact-title").text($(this).attr('data-title'));

      updateCostCurve($(this).attr('data-sort'));

      $(this).addClass('active').siblings().removeClass('active');
    });


    $(function() {
      drawChart();
      // $("#cost-curve").outerHeight(window.innerHeight);
    });

    $(window).smartresize(function(){
      drawChart();
      // code that takes it easy...
      // $("#cost-curve").outerHeight(window.innerHeight);
    });



    // POPOVERS

    {% include tooltip.js %}

    $('#cost-curve .solution').on('click', function() {
      $('#cost-curve .solution').not(this).popover('hide');
    });
    $('#chart').on('mouseover', function() {
      $(this).addClass('active');
    });
    $('#chart').on('mouseout', function() {
      $(this).removeClass('active');
      // $('#cost-curve .solution').popover('hide');
    });

    $('#cost-curve .solution').popover({
        placement: 'auto right',
        container: '#cost-curve',
        trigger: 'click',
        template: t
    });

    $('#cost-curve .solution').on('inserted.bs.popover', function () {
      var $el = $(this);
      // replace all the stats
      $("#cost-curve .popover").each(function() {
        $(this).find('.button').attr('href', $el.attr('data-url')).addClass($el.attr('data-class'));
        $(this).find('.summary').text($el.attr('data-summary'));
        $(this).find('.title').text($el.attr('data-title'));
      });
    })

  </script>
</section>