<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="content">
          <div id="d3-donut"></div>
          <div id="center-message">
            <p>Reduce</p>
            <h3>
              <span class="amount">13.2M</span><br>
              <span>Tons</span>
            </h3>
            <p>of food waste</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="content">
          <h2 class="break-80">How to reduce food waste by 20%</h2>
          <p class="break-80">
            <em>Click on a segment to see how each solution contributes to reducing U.S. food waste.</em>
          </p>
          <div id="reduction-legend" class="legend">
            <h3 class="title">Reduce <span class="amount">13.2 M</span> Tons</h3>
            <table>
              <tbody>
                <tr class="prevention-details">
                  <td><i class="prevention"></i></td>
                  <td>Prevention</td>
                  <td>2.6 M Tons</td>
                </tr>
                <tr class="recovery-details">
                  <td><i class="recovery"></i></td>
                  <td>Recovery</td>
                  <td>1.1 M Tons</td>
                </tr>
                <tr class="recycle-details">
                  <td><i class="recycle"></i></td>
                  <td>Recycle</td>
                  <td>8.8 M Tons</td>
                </tr>
              </tbody>
            </table>
            <div id="reduction-detail-message">
              <h3><span class="amount">584</span>K Tons</h3>
              <p>will be reduced with:</p>
              <p class="lead name">Consumer Eduction Campaign</p>
              <a href="#" class="button"><span>Learn More &nbsp;&gt;</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    circle,
    path {
      cursor: pointer;
    }

    circle {
      fill: none;
      pointer-events: all;
    }

    path {
      stroke: #fff;
    }
  </style>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script>



    var margin = {top: 210, right: 210, bottom: 210, left: 210},
        radius = Math.min(margin.top, margin.right, margin.bottom, margin.left);

    // var hue = d3.scale.category10();
    var hue = d3.scale.ordinal()
      .domain(["prevention", "recovery", "recycle"])
      .range(["#225577", "#88A65B", "#2A8175"]);

    var luminance = d3.scale.sqrt()
        .domain([0, 1e6])
        .clamp(true)
        .range([90, 10]);



    var svg = d3.select("#d3-donut").append("svg")
        .attr("width", margin.left + margin.right)
        .attr("height", margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var partition = d3.layout.partition()
        .sort(function(a, b) { return d3.ascending(a.name, b.name); })
        .size([2 * Math.PI, radius]);

    var arc = d3.svg.arc()
        .startAngle(function(d) { return d.x; })
        .endAngle(function(d) { return d.x + d.dx; })
        .innerRadius(function(d) { return radius / 2.75 * d.depth; })
        .outerRadius(function(d) { return radius / 4.4 * (d.depth + 2); });


    d3.json("{{ '/data/reduction.json' | prepend: site.baseurl }}", function(error, root) {
      // Compute the initial layout on the entire tree to sum sizes.
      // Also compute the full name and fill color for each node.
      partition
          .value(function(d) { return d.size; })
          .nodes(root)
          .forEach(function(d) { d.sum = d.value; d.key = key(d); d.fill = fill(d); });

      // Now redefine the value function to use the previously-computed sum.
      partition
          .children(function(d, depth) { return depth < 2 ? d.children : null; })
          .value(function(d) { return d.sum; });

      var center = svg.append("circle")
          .attr("r", radius / 1.8)
          .on("click", zoomOut);

      center.append("title")
          .text("zoom out");

      var path = svg.selectAll("path")
          .data(partition.nodes(root).slice(1))
        .enter().append("path")
          .attr("d", arc)
          .style("fill", function(d) { return d.fill; })
          .each(function(d) { this._current = updateArc(d); })
          .on("click", zoomIn)
          .on("mouseover", message)
          .on("mouseout", hideMessage);

      function zoomIn(p) {
        if (p.depth > 1) p = p.parent;
        if (!p.children) return;
        zoom(p, p);
      }

      function zoomOut(p) {
        if (!p.parent) return;
        zoom(p.parent, p);
      }

      // Zoom to the specified new root.
      function zoom(root, p) {
        updateLegend(root);
        if (document.documentElement.__transition__) return;

        // Stash the original root dimensions for transitions.
        var angle1 = d3.scale.linear()
            .domain([0, 2 * Math.PI])
            .range([root.x, root.x + root.dx]);

        function insideArc(d) {
          return p.key > d.key
              ? {depth: d.depth - 1, x: 0, dx: 0} : p.key < d.key
              ? {depth: d.depth - 1, x: 2 * Math.PI, dx: 0}
              : {depth: 0, x: 0, dx: 2 * Math.PI};
        }

        function outsideArc(d) {
          return {depth: d.depth + 1, x: angle1(d.x), dx: angle1(d.x + d.dx) - angle1(d.x)};
        }

        // When zooming in, arcs enter from the outside and exit to the inside.
        // When zooming out, arcs enter from the inside and exit to the outside.
        var enterArc = root === p ? outsideArc : insideArc,
            exitArc = root === p ? insideArc : outsideArc;

        center.datum(root);

        d3.transition().duration(750).each(function() {
          path = path.data(partition.nodes(root).slice(1), function(d) { return d.key; });

          path.transition()
              .attrTween("d", function(d) { return arcTween.call(this, updateArc(d)); });

          path.enter().append("path")
              .style("fill-opacity", 0)
              .style("fill", function(d) { return d.fill; })
              .on("click", zoomIn)
              .each(function(d) { this._current = enterArc(d); })
            .transition()
              .style("fill-opacity", 1)
              .attrTween("d", function(d) { return arcTween.call(this, updateArc(d)); });

          path.exit().transition()
              .style("fill-opacity", 0)
              .attrTween("d", function(d) { return arcTween.call(this, exitArc(d)); })
              .remove();
        });
      }

      function message(p) {
        if (!p.children) {
          $('#reduction-detail-message').attr('class', p.parent.key);
          $('#reduction-detail-message .amount').text(commaSeparateNumber(p.sum));
          $('#reduction-detail-message .name').text(p.name);
          $('#reduction-detail-message a').attr('href', p.url);
          showMessage();
        } else {
          var rowClass = "."+p.slug+"-details";
          $("#reduction-legend tr").removeClass('active');
          $(rowClass).addClass('active');
        }
        // $('#reduction-detail-message h3').text(p.message);
      }
    });

    function updateLegend(root) {
      // window.console.log("ROOT: ", root);
      // window.console.log("P: ", p);
      // window.console.log("NEW Message: ", p.message);
      $('#reduction-legend .amount').text(root.message);
      $('#center-message .amount').text(root.message);
    }
    function showMessage(p) {
      $('#reduction-detail-message').addClass('active');
      // window.console.log("SHOWING MESSAGE: ", p.message);
    }
    function hideMessage(p) {
      $('#reduction-detail-message').removeClass('active');
      // window.console.log("HIDING MESSAGE: ");
    }
    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    }

    function key(d) {
      var k = [], p = d;
      while (p.depth) k.push(p.slug), p = p.parent;
      return k.reverse().join(".");
    }

    function fill(d) {
      // window.console.log("D: ", d);
      var p = d;
      while (p.depth > 1) p = p.parent;
      var c = d3.lab(hue(p.name));
      // c.l = luminance(d.sum);

      return c;
    }

    function arcTween(b) {
      var i = d3.interpolate(this._current, b);
      this._current = i(0);
      return function(t) {
        return arc(i(t));
      };
    }

    function updateArc(d) {
      return {depth: d.depth, x: d.x, dx: d.dx};
    }

    d3.select(self.frameElement).style("height", margin.top + margin.bottom + "px");

  </script>
</section>
