<section id="cost-curve" class="alternate">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>27 SOLUTIONS TO FOOD WASTE</h2>
        <p>The benefits of each of these solutions outweigh the costs.</p>
        <div class="chart">
          <p><em class="script">Choose a filter button or bar to see the impacts of each solution.</em></p>
          <ul id="cost-curve-filters" class="sort tabs"></ul>
          <!-- <div id="cost-curve-chart" class="ct-chart ct-golden-section"></div> -->
          <div class="bar-chart-vertical">
            <ul>
              {% for solution in site.solutions %}
              <li>
                <span class="progress" title="{{ solution.title }}"></span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).on('ready', function() {

  });
</script>