{% assign solutions = site.solutions | sort:"order" %}
<section class="alternate">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>Explore the Solutions</h2>
        <p>All 27 solutions have positive or near-breakeven Economic Value, with societal benefits outweighing the costs.</p>
        <div class="chart">
          <p><em class="script">Choose a filter button or bar to see the impacts of each solution.</em></p>
          <ul class="tabs">
            <li class="tab">Cost Effectiveness</li>
            <li class="tab">Waste Diverted</li>
            <li class="tab">Meals Saved</li>
            <li class="tab">Emissions Reduced</li>
            <li class="tab">Water Saved</li>
            <li class="tab">Jobs Created</li>
          </ul>
          <div id="cost-curve" class="ct-chart ct-golden-section"></div>
          <!-- <img src="http://placehold.it/2000x800/565759/DED8C6?text=Cost+Curve" class="responsive"> -->
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // var options = {
  //   // Options for X-Axis
  //   axisX: {
  //     // The offset of the chart drawing area to the border of the container
  //     offset: 0,
  //     // Position where labels are placed. Can be set to `start` or `end` where `start` is equivalent to left or top on vertical axis and `end` is equivalent to right or bottom on horizontal axis.
  //     position: 'end',
  //     // Allows you to correct label positioning on this axis by positive or negative x and y offset.
  //     labelOffset: {
  //       x: 0,
  //       y: 0
  //     },
  //     // If labels should be shown or not
  //     showLabel: true,
  //     // If the axis grid should be drawn or not
  //     showGrid: false,
  //     // Interpolation function that allows you to intercept the value from the axis label
  //     labelInterpolationFnc: Chartist.noop,
  //     // This value specifies the minimum width in pixel of the scale steps
  //     scaleMinSpace: 30,
  //     // Use only integer values (whole numbers) for the scale steps
  //     onlyInteger: false
  //   },
  //   // Options for Y-Axis
  //   axisY: {
  //     // The offset of the chart drawing area to the border of the container
  //     // offset: 0,
  //     // Position where labels are placed. Can be set to `start` or `end` where `start` is equivalent to left or top on vertical axis and `end` is equivalent to right or bottom on horizontal axis.
  //     // position: 'start',
  //     // Allows you to correct label positioning on this axis by positive or negative x and y offset.
  //     // labelOffset: {
  //     //   x: 0,
  //     //   y: 0
  //     // },
  //     // If labels should be shown or not
  //     showLabel: false,
  //     // If the axis grid should be drawn or not
  //     showGrid: true,
  //     // Interpolation function that allows you to intercept the value from the axis label
  //     labelInterpolationFnc: Chartist.noop,
  //     // This value specifies the minimum height in pixel of the scale steps
  //     scaleMinSpace: 50,
  //     // Use only integer values (whole numbers) for the scale steps
  //     onlyInteger: false
  //   },
  //   // Specify a fixed width for the chart as a string (i.e. '100px' or '50%')
  //   width: undefined,
  //   // Specify a fixed height for the chart as a string (i.e. '100px' or '50%')
  //   // height: '200px',
  //   // Overriding the natural high of the chart allows you to zoom in or limit the charts highest displayed value
  //   high: undefined,
  //   // Overriding the natural low of the chart allows you to zoom in or limit the charts lowest displayed value
  //   low: undefined,
  //   // Use only integer values (whole numbers) for the scale steps
  //   onlyInteger: false,
  //   // Padding of the chart drawing area to the container element and labels as a number or padding object {top: 5, right: 5, bottom: 5, left: 5}
  //   chartPadding: {
  //     top: 15,
  //     right: 0,
  //     bottom: 5,
  //     left: 0
  //   },
  //   // Specify the distance in pixel of bars in a group
  //   seriesBarDistance: 15,
  //   // If set to true this property will cause the series bars to be stacked. Check the `stackMode` option for further stacking options.
  //   stackBars: false,
  //   // If set to 'overlap' this property will force the stacked bars to draw from the zero line.
  //   // If set to 'accumulate' this property will form a total for each series point. This will also influence the y-axis and the overall bounds of the chart. In stacked mode the seriesBarDistance property will have no effect.
  //   stackMode: 'overlap',
  //   // Inverts the axes of the bar chart in order to draw a horizontal bar chart. Be aware that you also need to invert your axis settings as the Y Axis will now display the labels and the X Axis the values.
  //   horizontalBars: false,
  //   // If set to true then each bar will represent a series and the data array is expected to be a one dimensional array of data values rather than a series array of series. This is useful if the bar chart should represent a profile rather than some data over time.
  //   distributeSeries: false,
  //   // If true the whole data is reversed including labels, the series order as well as the whole series data arrays.
  //   reverseData: false,
  //   // Override the class names that get used to generate the SVG structure of the chart
  //   classNames: {
  //     chart: 'ct-chart-bar',
  //     horizontalBars: 'ct-horizontal-bars',
  //     label: 'ct-label',
  //     labelGroup: 'ct-labels',
  //     series: 'ct-series',
  //     bar: 'ct-bar',
  //     grid: 'ct-grid',
  //     gridGroup: 'ct-grids',
  //     vertical: 'ct-vertical',
  //     horizontal: 'ct-horizontal',
  //     start: 'ct-start',
  //     end: 'ct-end'
  //   }
  // };
  var options = {
    axisX: {
      showGrid: false
    },
    axisY: {
      showLabel: false
    },
    chartPadding: {
      top: 0,
      right: 0,
      bottom: 0,
      left: -30
    }
  }
  var data = {
    // A labels array that can contain any sort of values
    labels: [{% for solution in solutions %}"{{ solution.title }}"{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Our series array that contains series objects or in this case series data arrays
    series: [
      // Cost Effectiveness
      [{% for solution in solutions %}{{ solution.impact.financial-benefit }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
    ],
    ticksY: ['hello']
  };

  var series = [
    // Cost Effectiveness
    [{% for solution in solutions %}{{ solution.impact.financial-benefit }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Waste Diverted
    [{% for solution in solutions %}{{ solution.impact.waste-diverted }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Meals Saved
    [{% for solution in solutions %}{{ solution.impact.meals-saved }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Emissions Reduced
    [{% for solution in solutions %}{{ solution.impact.emissions-reduced }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Water Saved
    [{% for solution in solutions %}{{ solution.impact.water-saved }}{% unless forloop.last %}, {% endunless %}{% endfor %}],
    // Jobs Created
    [{% for solution in solutions %}{{ solution.impact.jobs-created }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
  ]


  var chart = new Chartist.Bar('#cost-curve', data, options);

  chart.on('draw', (ctx) => {
    if (ctx.type === 'label') {
      // adjust label position for rotation
      const dY = ctx.width;
      // const dX = ctx.width / 2 + (100 - ctx.width)
      // ctx.element.attr({ x: ctx.element.attr('x') - dX })
      ctx.element.attr({ y: ctx.element.attr('y') - dY });
    }
  });
  $('.tab').on('click', function() {
    $(this).addClass('active').siblings().removeClass('active');
    var n = $('.tab').index($(this));
    data.series = [series[n]];
    chart.update(data);
    // chr = '.ct-series-'+String.fromCharCode(97 + n);
  });
</script>