<section id="cost-curve" class="alternate">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>Explore the Solutions</h2>
        <p>All 27 solutions have positive or near-breakeven Economic Value, with societal benefits outweighing the costs.</p>
        <div class="chart">
          <p><em class="script">Choose a filter button or bar to see the impacts of each solution.</em></p>
          <ul id="cost-curve-filters" class="sort tabs"></ul>
          <div id="cost-curve-chart" class="ct-chart"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // $(window).smartresize(function(){
  //   // code that takes it easy...
  //   $("#cost-curve").outerHeight(window.innerHeight);
  // });

  // $("#cost-curve").outerHeight(window.innerHeight);


  var options = {
    axisX: {
      showGrid: false
    },
    axisY: {
      showLabel: false
    },
    seriesBarDistance: 12,
    chartPadding: {
      top: 0,
      right: 0,
      bottom: 0,
      left: -30
    }
  }

  var overrides = [
    // // Options override for media > 400px
    // ['screen and (min-width: 400px)', {
    //   reverseData: true,
    //   horizontalBars: true,
    //   axisX: {
    //     labelInterpolationFnc: Chartist.noop
    //   },
    //   axisY: {
    //     offset: 60
    //   }
    // }],
    // // Options override for media > 800px
    // ['screen and (min-width: 800px)', {
    //   stackBars: false,
    //   seriesBarDistance: 10
    // }],
    // // Options override for media > 1000px
    // ['screen and (min-width: 1000px)', {
    //   reverseData: false,
    //   horizontalBars: false,
    //   seriesBarDistance: 15
    // }]
  ]



  // var chart = new Chartist.Bar('#cost-curve-chart', getData(''), options, overrides);


  // chart.on('draw', (ctx) => {
  //   if (ctx.type === 'label') {
  //     // adjust label position for rotation
  //     const dY = ctx.width;
  //     // const dX = ctx.width / 2 + (100 - ctx.width)
  //     // ctx.element.attr({ x: ctx.element.attr('x') - dX })
  //     ctx.element.attr({ y: ctx.element.attr('y') - dY });
  //   }
  // });


</script>