<div class="modal fade" id="downloadDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </header>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <img src="{{ site.baseurl }}/img/logo-tagline.svg">
            <div class="content">
              <p>ReFED is a collaboration of over 30 business, nonprofit, government leaders committed to reducing U.S. food waste by 50% by 2030.</p>
              <p>We invite you to use this interactive website as a tool for implementing solutions to reduce food waste -- sort by different stakeholders or issue areas to create customizable information</p>
              <button class="start-tour button"><span>Take the site tour &nbsp;&gt;</span></button>
              <a href="#" data-dismiss="modal" aria-label="Close">&lt; back to the website</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="dialog-callout">
              <div class="content">
                <h4><em>A Roadmap to Reduce U.S. Food Waste by 20%</em></h4>
                <p>The Roadmap is is a data-driven guide for businesses, government, funders and nonprofits to collectively reduce food waste at scale.</p>
              </div>
              <a href="{{ '/download' | prepend: site.baseurl }}" class="content button">
                <h4><small>Download the</small><br>Roadmap<br><i class="icon icon-download"></i></h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>