<footer id="pageFooter">
  <div class="logo-band bg-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a class="footer-brand" href="/" title="{{ site.title }}">
            <img src="/img/refed_logo.svg" alt="ReFED logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mega-footer bg-dark position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-light bg-dark footer-links-column">
          <ul class="footer-links navbar-nav ml-auto">
            {% for link in site.data.navigation.footer_navigation.links %}
              <li class="nav-item"><a class="nav-link text-light font-weight-light" href="{{ link.url }} ">{{ link.label }} </a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-5 text-light bg-primary stay-connected-column">
          <h4 class="mb-0">Stay Connected with ReFED</h4>
          {% include nav/socialnav.html %}
          <p class="editable">
            Sign up for our newsletter and other updates.
          </p>
          <a href="#" class="newsletter-signup-cta toggle-newsletter-modal btn btn-dark btn-lg text-serif">Subscribe</a>    
        </div>
      </div>
    </div>
  </div>
</footer>  
          
