<div class="container">
  <a class="brand" href="/" title="ReFED: Rethinking Food Waste">
    {% img 'logo-wordmark.svg' %}
  </a>
  <button class="menu-toggle">
    <span class="sr">Toggle navigation</span>
    <i class="icon-menu"></i>
  </button>
</div>
<div id="topnav">
  <div class="container">
    <nav>
      <ul>
        <li>
          <form id="search-form">
            <i class="icon-search"></i>
            <label class="sr">Search</label>
            <input class="keyterms" type="text" placeholder="Enter Keyterms">
            <input type="submit" value="Search" disabled>
          </form>
        </li>
        <li class="follow">
          <a href="#">Follow</a>
          <ul>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#" class="newsletter-signup">Newsletter Signup</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li class="download"><button title="Download the Report" data-toggle="modal" data-target="#downloadDialog"><small>Download the</small><br>Report<br><i class="icon-download"></i></button></li>
      </ul>
    </nav>
  </div>
</div>
<div id="mainnav">
  <div class="container">
    <nav>
      <ul>
        <li><a href="/" title="Food Waste">Food Waste</a></li>
        <li><a href="/analysis" title="Analysis">Analysis</a></li>
        <li><a href="/solution" title="Solutions">Solutions</a></li>
        <li><a href="/stakeholder" title="Stakeholders">Stakeholders</a></li>
        <li><a href="/action" title="Action">Action</a></li>
      </ul>
      <ul class="drawer">
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a title="Download the Report" data-toggle="modal" data-target="#downloadDialog">Download the Report <i class="icon-download"></i></a></li>
      </ul>
    </nav>
  </div>
</div>