<div id="topnav">
  <div class="container">
    <nav>
      <ul>
        <li>
          <form id="search-form">
            <i class="icon-search"></i>
            <label class="sr">Search</label>
            <input class="keyterms" type="text" placeholder="Enter Keyterms">
            <input type="submit" value="Search" disabled>
          </form>
        </li>
        <li><a href="#">Follow</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="/download" title="Download the Report" class="download"><small>Download the</small><br>Report<br><i class="icon-download"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
<div id="mainnav">
  <div class="container">
    <a class="brand" href="/" title="ReFED: Rethinking Food Waste">
      {% img 'global/logo-wordmark.svg' %}
    </a>
    <nav>
      <ul>
        <li><a href="/" title="Food Waste">Food Waste</a></li>
        <li><a href="/analysis" title="Analysis">Analysis</a></li>
        <li><a href="/solutions" title="Solutions">Solutions</a></li>
        <li><a href="/stakeholders" title="Stakeholders">Stakeholders</a></li>
        <li><a href="/action" title="Action">Action</a></li>
      </ul>
    </nav>
  </div>
</div>