<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} : {{ site.title }}</title>
  <meta name="description" content="{% if page.summary %}{{ page.summary | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.baseurl }}/img/logo-meta.jpg" />

  <!-- FONTS -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/b6599149-00f3-45ff-9c12-4018c4c156b5.css"/>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--   
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
 -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/vendor/animate.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/libs/bootstrap-tour.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/libs/chartist.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/vendor/flexboxgrid.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  {% if page.layout == 'tool' or page.url contains 'content-hub' %}
    <!-- ver 3.0 -->
    <script src="{{ site.baseurl }}/js/vendor/mixitup.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/mixitup-pagination.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/mixitup-multifilter.min.js"></script>
  {% else %}
    <!-- TODO - Refactor for ver3.0 -->
    <script src="{{ site.baseurl }}/libs/jquery.mixitup.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/jquery.mixitup-pagination.min.js"></script>
  {% endif %}


  {% include scripts.html %}

</head>