{% if page.collection == 'solutions' %}
<section class="hero" style="background-image: url({% asset_path '{{ page.collection }}/{{ page.slug }}-header.jpg' %});">
  <div class="hero-content">
    <div clas="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if page.hero %}
  {% if page.hero.image %}
  <section class="hero" style="background-image: url({% asset_path '{{ page.hero.image }}' %});">
  {% else %}
   <section class="hero" style="background-image: url('http://placehold.it/2500x800/565759/DED8C6?text=+');">
  {% endif %}
  <div class="hero-content">
    <div clas="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content">
            <h1>{{ page.hero.title }}</h1>
            {% if page.hero.summary %}
            <p class="lead">{{ page.hero.summary }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav id="tournav">
    <div class="container">
      <ul>
        <li class="start-tour">Site Tour</li>
      </ul>
    </div>
  </nav>
</section>
{% endif %}