<!-- JS Dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script>

<!-- Flickity Carousel Slider https://flickity.metafizzy.co/ -->
<!-- SEE head.html for the css include -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- moment js-->
{% if page.layout == 'event' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script src="/js/vendor/ics.js"></script>
{% endif %}

<!-- main js file-->
<script src="{{ '/js/main.js' | prepend: site.baseurl }}" defer></script>