<!-- Scripts -->
<!-- TODO - Optimize by compiling and minimizing. Less requests! -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-multiselect.js"></script>
<script src="{{ site.baseurl }}/libs/bootstrap-tour.min.js"></script>

<script src="{{ site.baseurl }}/libs/chartist.min.js"></script>
<script src="{{ site.baseurl }}/libs/chartist-plugin-fill-donut.min.js"></script>

<script src="{{ site.baseurl }}/libs/behaviors.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.cookie.js"></script>
<script src="{{ site.baseurl }}/libs/jquery.form.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.stickit.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.scrollTo.js"></script>
<script src="{{ site.baseurl }}/libs/jquery.localScroll.js"></script>

<script src="{{ site.baseurl }}/libs/lunr.min.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.mixitup.min.js"></script>

<script src="{{ site.baseurl }}/libs/jquery.waypoints.min.js"></script>
<script src="{{ site.baseurl }}/libs/inview.min.js"></script>

<!-- TODO - Replace with a bower managed solution -->
<script src="{{ site.baseurl }}/js/vendor/jquery.mixitup-pagination.min.js"></script>





<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<script src="/js/plugins.js"></script>
<script src="/js/charts.js"></script>

<script src="/js/tour.js"></script>
<script src="/js/share.js"></script>

<script src="/js/scroll.js"></script>

<!-- Behaviors -->
<script src="/js/pageState.js"></script>
<script src="/js/disabled.js"></script>
<script src="/js/tabs.js"></script>
<!-- <script src="/js/subnav.js"></script> -->
<script src="/js/quicknav.js"></script>
<script src="/js/mapnav.js"></script>
<script src="/js/sticky.js"></script>
<script src="/js/video.js"></script>
<script src="/js/quiz.js"></script>
<script src="/js/map.js"></script>
<script src="/js/menuToggle.js"></script>


<!-- Components -->
<script src="/js/components/charts/reduction_chart.js"></script>
<script src="/js/components/solutionCards.js"></script>
<script src="/js/components/supplyChain.js"></script>
<script src="/js/components/siteSearch.js"></script>
<script src="/js/components/pageHelp.js"></script>
<script src="/js/components/articles.js"></script>


<script src="/js/main.js"></script>
