<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

{% if page.layout == 'tool' or page.url contains 'content-hub' or page.url == '/news' %}
  <!-- ver 3.0 -->
  <script src="{{ site.baseurl }}/js/vendor/mixitup.min.js"></script>
  <script src="{{ site.baseurl }}/js/vendor/mixitup-pagination.min.js"></script>
  <script src="{{ site.baseurl }}/js/vendor/mixitup-multifilter.min.js"></script>
{% else %}
  <!-- TODO - Refactor for ver3.0 -->
  <script src="{{ site.baseurl }}/js/vendor/jquery.mixitup.min.js"></script>
  <script src="{{ site.baseurl }}/js/vendor/jquery.mixitup-pagination.min.js"></script>
{% endif %}
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNUfXSzS2DIWfUsYhhbIM22xUtNJ4DtM&libraries=places,geometry"
        async defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>

<script src="/js/main.js"></script>

