<div id="solution-cards" class="grid row">
  {% for solution in site.solutions %}
    {% include card.html %}
  {% endfor %}
</div>
<script type="text/javascript">

  function sortCards(impact) {
    window.console.log("sortCards triggered");
    var l = window.location.pathname + "?sort="+impact;
    window.history.pushState('', '{{ site.title }}: Solutions', l);

    $('.card .stat').hide().filter("."+impact).show();

    $('#solution-cards').mixItUp('multiMix', {
      sort: impact+":dsc"
    });
  }


  $(document).on('ready', function() {
    $('#solution-cards').mixItUp({
      controls: {
        enable: false 
        // as we are interacting via the API, we can disable default controls to increase performance
      },
      callbacks: {
        onMixLoad: function() {
          // $active_tab.trigger('click');
        }
      },
      load: {
        // sort: sort_by+":dsc"
      },
      selectors: {
        target: '.card',
        filter: '.filter',
        sort: '.sort'
      },
      pagination: {
        limit: {{ include.limit }}
      }
    });
    if(urlParams["sort"]) {
      sortCards(urlParams["sort"])
    }
  });


  // search functionality
  $(function() {

    var inputText;
    var $matching = $();

    // Delay function
    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    $("#terms").keyup(function(){
      // Delay function invoked to make sure user stopped typing
      delay(function(){
        inputText = $("#terms").val().toLowerCase();
        // Check to see if input field is empty
        if ((inputText.length) > 0) {
          $( '.card').each(function() {
            $this = $("this");
             // add item to be filtered out if input text matches items inside the title   
             if($(this).find('.title').text().toLowerCase().match(inputText)) {
              $matching = $matching.add(this);
            }
            else {
              // removes any previously matched item
              $matching = $matching.not(this);
            }
          });
          $("#solution-cards").mixItUp('filter', $matching);
        }

        else {
          // resets the filter to show all item if input is empty
          $("#solution-cards").mixItUp('filter', 'all');
        }
      }, 200 );
    });
  })
</script>