<div class="card {{ solution.type | slugify }}-card">
  <header>
    <i class="icon icon-prevent">{{ solution.type }}</i>
    <img src="http://placehold.it/500x300/BFB9A1/BFB9A1?text=placeholder">
  </header>
  <div class="content">
    <h4>{{ solution.title }}</h4>
    <p>{{ solution.summary }}</p>
  </div>
  <footer>
    {% for i in solution.impact %}
    <p class="stat hide">
      $4,553 <small>/ton</small><br>
      <span>in financial benefit</span>
    </p>
    {% endfor %}
    <a href="{{ solution.url }}">Learn How &gt;</a>
  </footer>
</div>