{% unless include.inline %}
<div id="solution-cards" class="grid row start-xs">
  {% for solution in site.solutions %}
    {% include card.html %}
  {% endfor %}
</div>
{% endunless %}
<script type="text/javascript">

  function hideCards(impact) {
    var $matching = [];
    $( '.card').each(function() {
      $this = $("this");
       // add item to be filtered out if input text matches items inside the title   
      if($this.attr('data-'+impact) == "0") {
        // $matching = $matching.add(this);
        window.console.log("MATCH", $this);
      } else {
        // removes any previously matched item
        // $matching = $matching.not(this);
      }
    });
    window.console.log($matching);
    // $("#solution-cards").mixItUp('filter', $matching);
  }

  function sortCards(impact) {
    var l = window.location.pathname + "?sort="+impact;
    window.history.pushState('', '{{ site.title }}: Solutions', l);

    $('.card .stat').hide().filter("."+impact).show();

    $('#solution-cards').mixItUp('multiMix', {
      sort: impact+":dsc"
    }, true, hideCards(impact) );
  }


  $(document).on('ready', function() {
    $('#solution-cards').mixItUp({
      controls: {
        enable: false 
        // as we are interacting via the API, we can disable default controls to increase performance
      },
      load: {
        // sort: sort_by+":dsc"
      },
      callbacks: {
        onMixEnd: function(state){
          // window.console.log(state);
        }
      },
      selectors: {
        target: '.card',
        filter: '.filter',
        sort: '.sort'
      },
      pagination: {
        limit: {{ include.limit }}
      }
    });

    $('.sort').on('click', function() {
      $("#impact-summary").text($(this).attr('data-description'));

      sortCards($(this).attr('data-sort'));
      $(this).addClass('active').siblings().removeClass('active');
    });

    if(urlParams["sort"]) {
      var key = urlParams["sort"]
      $('[data-sort="'+key+'"]').trigger('click');
    } else {
      $('.sort').first().trigger('click');
    }
  });


  // search functionality
  $(function() {

    var inputText;
    var $matching = $();

    // Delay function
    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    $("#terms").keyup(function(){
      // Delay function invoked to make sure user stopped typing
      delay(function(){
        inputText = $("#terms").val().toLowerCase();
        // Check to see if input field is empty
        if ((inputText.length) > 0) {
          $( '.card').each(function() {
            $this = $("this");
             // add item to be filtered out if input text matches items inside the title   
             if($(this).find('.title').text().toLowerCase().match(inputText)) {
              $matching = $matching.add(this);
            }
            else {
              // removes any previously matched item
              $matching = $matching.not(this);
            }
          });
          $("#solution-cards").mixItUp('filter', $matching);
        }

        else {
          // resets the filter to show all item if input is empty
          $("#solution-cards").mixItUp('filter', 'all');
        }
      }, 200 );
    });
  })

  // $('.sort').on('mouseover', function() {
  //   window.console.log('Sort button active');
  //   $("#impact-summary").text($(this).attr('data-description'));
  // });
  // $('.sort').on('mouseout', function() {
  //   window.console.log('Sort button inactive');
  //   $("#impact-summary").text($('.sort.active').attr('data-summary'));
  // });

</script>