<!-- <h3 id="impact-title" data-toggle="collapse" data-target="#impact-tabs"></h3> -->
<div id="impact-tabs">
  <ul class="tabs">
    {% for tab in site.data.tabs %}
    <li class="tab sort {{ tab.slug }}" 
        data-sort="{{ tab.slug }}"
        data-title="{{ tab.title }}"
        data-label="{{ tab.label }}"
        data-summary="{{ tab.summary }}"
        data-description="{{ tab.description }}">
        {{ tab.title }}
    </li>
    {% endfor %}
  </ul>
</div>
<p id="impact-summary">{{ site.data.tabs.first.description }}</p>