<div class="modal fade in" id="videoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </header>
      <div class="modal-body">
        <iframe width="870" height="490" src="" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>