#date-label-header {
  padding-top: 15px;
  h4 {
    margin: 0;
  }
}

#next-prev-nav {
  a {
    width: 50%;
    display: block;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: $gray-dark;
    text-transform: uppercase;
    &.previous {
      background-color: $gray-light;
    }
    &.next {
      background-color: $gray;
    }
  }
}

// TODO - Move to another stylesheet
.nav-tabs {
  position: relative;
  top: 20px;
  border-bottom: 0;
  li {
    &.active {
      border: none;
      a {
        background-color: $cream-light;
        border-color: $cream-light;
      }
    }
    a {
      border: none;
      background: darken($cream-light, 10%);
      color: $gray;
      padding: 10px 30px;
      margin-right: 10px;
      &:hover {
        border: none;
        background: darken($cream-light, 15%);
      }
    }
  }
}

.quiz {
  li {
    text-transform: uppercase;
  }
  .checkbox {
    padding: 7px;
    margin: 10px 0;
    background: $gray-lighter;
    font-weight: 300;
  }
  ul {
    li {
      label {
        font-weight: 300;
      }
    }
  }
  .answer {
    display: none;
  }
  .panel {
    padding: 20px;
    h4 {
      margin-top: 0;
      font-style: italic;
      font-weight: 400;
    }
    p {
      font-size: 13px;
      text-transform: none;
      font-weight: 300;
    }
  }
  .correct {
    background-color: $green;
    color: $gray-dark;
  }
  .incorrect {
    background-color: $red;
    color: $gray-dark;
  }
}

//tab specific

//date label policy tab
#date-label-policy-issues {
  .panel-body {
    padding: 30px;
    h2, h3 {
      height: 120px;
      font-weight: 400;
      margin: 0;
    }
    h3 {
      position: relative;
      padding-left: 40px;
      font-size: 20px;
    }
    p {
      font-size: 13px;
      height: 110px;
      margin-bottom: 6px;
    }
    .explore {
      h2 {
        height: 40px;
      }
      ul {
        height: 190px;
        margin-bottom: 6px;
        li {
          position: relative;
          padding-left: 40px;
          line-height: 1;
          .box {
            top: 0;
          }
        }
      }
    }
  }
  .icon-next, .icon-prev {
    font-size: 20px;
    color: $gray;
  }
}

.box {
  display: block;
  width: 25px;
  height: 25px;
  background-color: $gray;
  position: absolute;
  top: 5px;
  left: 0;
}

.progress-bar {
  background-color: $gray;
}