header.tool-header {
  // TODO - Refactor color palette
  background-color: #b8b8b8;
  .message {
    width: 100%;
    background-color: $gray;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 0;
    height: 60px;
    margin-bottom: 10px;
    a {
      color: #ffffff;
      &:hover, &:focus {
        color: #ffffff;
      }
    }
    .updated_at {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 60px;
      padding: 0 20px;
      padding-top: 17px;
      font-size: 13px;
      line-height: 13px;
      text-align: left;
      color: $gray-light;
      background-color: rgba(255,255,255,0.1);
      em {
        font-family: $font-family-base;
        font-style: italic;
        font-weight: 200;
        font-size: 14px;
      }
    }
  }
  .nav-tabs {
    position: relative;
    // top: 20px;
    border-bottom-color: #b8b8b8;
    li {

      &.active {
        border: none;
        a {
          background-color: $cream-light;
          border: none;
          &:hover, &:focus, &:active {
            border: none;
            background-color: $cream-light;
            cursor: default;
            // box-shadow: 0 -2px 2px rgba(0,0,0,0.03);
          }
        }
      }
      a {
        max-width: 185px;
        border: none;
        background: darken($cream-light, 10%);
        color: $gray;
        padding: 10px 30px;
        margin-right: 10px;
        &:hover {
          border: none;
          background: darken($cream-light, 15%);
        }
      }
    }
  }
}