// Layout adjustments
body.state_layout {
  h1 { font-size: 36px;}
  h2 { font-size: 30px; font-weight: 500; }
  h3 { margin-bottom: 5px; margin-top: 20px; }
  section {
    &:nth-child(even) {@include palette($section-alt-color, $text-color);}
    &:nth-child(odd) {background-color: transparent;}
  }
  .button {
    width: 50%;
  }
  
  #tournav { display: none; }
  #page-footer {
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
  }
}
body.policy_tool_layout {
  #tournav { display: none; }
}


section {
  &.prevention-policy {
    border-left: 30px solid $prevention-color;
  }

  &.recovery-policy {
    border-left: 30px solid $recovery-color;
  }

  &.recycling-policy {
    border-left: 30px solid $recycle-color;
  }
}


.policy-tool {
  .select {
    &:after {
      right: 0;
      top: 4px;
      color: $recovery-color;
      background-color: #9bcac0;
      width: 50px;
      height: 47px;
      line-height: 47px;
      text-align: center;
      font-size: 13px;
    }
    select {
      font-style: italic;
    }
  }
}

.policy-header {
  width: 100%;
  background-color: $gray;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
  height: 60px;
}

.map-tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  box-shadow: 1px 2px 3px rgba(0,0,0,.4);
}

#map {
  height: 650px;
  svg {
    margin-top: 60px;
  }
}

#map-instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-color: rgba(255,255,255, .3);
  .content {
    font-size: 14px;
    padding: 25px 40px;
    background: #fff;
    max-width: 60%;
    h4 {
      font-weight: 400;
    }
    p {
      font-size: 14px;
    }
  }
}

#federal-state-nav {
  position: absolute;
  top: 20px;
  left: 25%;
  width: auto;
  z-index: 10;
  .button {
    display: inline-block;
    width: 150px;
    margin: 7px;
    height: auto;
    padding: 12px 0;
    font-weight: 400;
    background-color: $cream;
    color: $gray;
    opacity: .5;
    &.active {
      background-color: $gray;
      color: #fff;
      opacity: 1;
    }
  }
}

#map-nav {
  position: absolute;
  top: 60px;
  right: 0;
  width: 325px;
  height: 650px;
  z-index: 50;
  overflow: auto;
  h4 {
    padding: 7px 30px;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }
  p {
    padding: 0 30px;
    line-height: 1em;
    font-size: 13px;
  }
  ul {
    padding: 0;
    padding-right: 30px;
    margin: 10px 0;
    li  { 
      padding-left: 30px;
      margin-bottom: 15px;
      .btn {
        color: $text-color;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        padding-left: 23px;
      }
      >ul {
        display: none;
        padding-right: 0;
        font-size: 12px;
      }
    }
    
  }

  label {
    font-weight: 300;
  }
  small {
    display: block;
    line-height: 1.2;
    margin: 2px 0;
  }
  .button {
    font-weight: 300;
    margin: 7px 0 7px 25px;
    font-size: 13px;
    width: auto;
  }
}  

#explore {
  padding: 20px 0;
}

#policynav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 2px;
  // height: 100%;
  width: 275px;
  background-color: $section-alt-color;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  transition: all 1s ease;
  ul {
    li {
      margin: 0;
      a {
        display: block;
        width: 100%;
        padding: 10px 20px;
        color: $gray;
        font-size: 14px;
        &.heading {
          text-transform: uppercase;
          font-weight: 500;
          color: $cream;
          font-size: 18px;
        }
      }
    }
  }
}

#spotlight {
  h2 {
    margin-top: 0;
  }
  .button {
    width: 100%;
  }
}

.state-header {
  border-left: 30px solid $cream;
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-between;
  .flex-table-item {
    width: calc(15% - 10px);
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    &.column-heading {
      background-color: transparent;
      font-size: 16px;
    }
    &.item-large {
      width: calc(55% - 10px);
    }
  }
}

.dl-policy {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  font-size: 16px;
  dt, dd {
    padding: 10px;
    background: #fff;
  }
  dt {
    width: 20%;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: none;
  }
  dd {
    width: calc(80% - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
