#map {
  position: relative;
  .states {
    fill: rgb(42,129,117);
    stroke: #fff;
    stroke-width:0.5px;
    opacity: 0.1;
    &.level-1 { opacity: 0.2; }
    &.level-2 { opacity: 0.4; }
    &.level-3 { opacity: 0.6; }
    &.level-4 { opacity: 0.8; }
    &.level-5 { opacity: 1; }
  }
  // .states:hover {
  //   opacity: 0.9;
  //   cursor: pointer;
  // }

  .cities {
    fill: red;
    opacity:0.7;
    cursor: pointer;
  }
}
#tooltip {
  display: none;
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: yellow;
  z-index: 9;
  .active {
    display: block;
  }
}
