.map-legend {
  position: absolute;
  bottom: -60px;
  right: 0;
  text-align: left;
  width: 400px;
  .legend-key {
    display: none;
    position: relative;
    &.icon-key {
      svg, .box, .circle {
        position: absolute;
        top: 4px;
        left: -45px;
      }
      &.organic-waste-bans-waste-recycling-laws-key {
        .box, .circle {
          left: 0;
        }
      }
      .box, .circle {
        width: 30px;
        height: 30px;
      }
      .circle {
        border-radius: 50%;
        position: absolute;
        background-color: #bdcca1;
      } 
      h5 {}
    }
    &.gradient-key {
      padding: 0 20px;
      border-left: 1px solid $cream;
    }

    small {
      font-size: 11px;
      color: $text-color;
      a {
        text-transform: uppercase;
      }
    }
    h5 {
      font-weight: 400;
      color: $text-color;
    }
    ul {
      li {
        position: relative;
        display: block;
        float: left;
        padding: 5px 40px 5px 50px;
        h5 {
          margin-top: 5px;
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  .map-legend {
    right: auto;
    left: 25%;
    .legend-key {
      &.icon-key {
        border-left: none;
      }
    }
  }
}