.map-legend {
  position: absolute;
  top: 90%;
  left: 55%;
  text-align: left;
  width: 34%;
  .legend-key {
    display: none;
    position: relative;
    &.icon-key {
      padding-left: 45px;
      svg, .box, .circle {
        position: absolute;
        top: 4px;
        left: 0;
      }
      &.organic-waste-bans-waste-recycling-laws-key {
        .box, .circle {
          left: 0;
        }
      }
      .box, .circle {
        width: 30px;
        height: 30px;
      }
      .circle {
        border-radius: 50%;
        position: absolute;
        background-color: #bdcca1;
      } 
      h5 {}
    }
    &.gradient-key {
      padding: 0;
      padding-left: 20px;
      border-left: 1px solid $cream;
    }

    small {
      font-size: 11px;
      color: $text-color;
      a {
        text-transform: uppercase;
      }
    }
    h5 {
      font-weight: 400;
      color: $text-color;
    }
    ul {
      li {
        position: relative;
        display: block;
        float: left;
        padding: 5px 40px 5px 50px;
        h5 {
          margin-top: 5px;
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  .map-legend {
    right: auto;
    left: 0;
    width: 100%;
    top: 100%;
    .legend-key {
      &.icon-key {
        border-left: none;
      }
      &.gradient-key {
        border: none;
      }
    }
  }
}