.mobilenav {
  display: none;
  .button {
    margin: 15px 0;
    font-weight: 500;
    font-size: 16px;
  }
  .panel {
    padding: 0 20px;
  }
  .sub-trigger {
    display: block;
    padding: 20px 0;
    font-size: 27px;
    font-style: italic;
    i {
      display: inline-block;
      font-size: 20px;
      width: auto;
      height: auto;
      margin-left: 10px;
      transform: rotate(180deg);
      transition: all .5s ease;
    }
  }
  .sub-trigger[aria-expanded="true"] {
    i {
      transform: rotate(0);
    }
  }
}

@media(max-width: 992px) {
  .mobilenav {
    display: block;
  }
}