#policy-tool {
  position: relative;
  padding-right: 325px;
  padding-bottom: 0;
  &:before, &:after {
    clear: both;
    content: " ";
    display: table;
  }
  &.active {
    #map-instructions {
      display: none;
    }
  }
  .container-fluid {
    .row {
      margin: 0 auto;
    }
  }
  .select {
    &:after {
      right: 0;
      top: 4px;
      color: $recovery-color;
      background-color: #9bcac0;
      width: 50px;
      height: 48px;
      line-height: 47px;
      text-align: center;
      font-size: 13px;
    }
    select {
      font-style: italic;
    }
  }
  ul {
    padding-left: 1em;
    list-style: disc;
  }
}


// TODO - Refactor Below
// fix for cards heights, may want to look at this globally when we have time
.policy_tool_layout, .state-policy {
  #connected-solutions {
    .card {
      min-height: 450px;
      padding-bottom:50px;
    }
  }
  ol {
    li {
      font-weight: 300;
    }
  }
}


@media(max-width: 992px) {
  #policy-tool {
    padding-right: 0;
    min-height: auto;
  }
  .map-section, .map-legend, #map-instructions {
    display: none;
  }
}