.statenav {
  padding: 10px 0;
  .statenav-message {
    h1,h2,h3,h4,h5 { margin: 0; }
    .content {
      float: right;
    }
  }
  .statenav-select {}
}

@media(max-width: 1024px) {
  .statenav {
    .statenav-message {
      .content {
        float: none;
        text-align: center;
      }
      h3 { font-size: 18px; }
    }
  }
}