---
layout: tool
title: Food Waste Policy Tool
header: <small>U.S. Food Waste</small>Policy Finder
tool_url: /tools/food-waste-policy-finder/

sidebar: map
---
<section class="alt-bg hide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content flex-content center">
          <div><h5 style="margin-top: -5px; margin-right: 20px;">Explore food waste policy by state</h5></div>
          <div class="break-50">{% include nav/quicknav.html %}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content mapWizard">
    <div class="policyFinder_map">
      {% include_relative _partials/map_legend.html %}
      <div class="mapInstructions">
        <div class="col-xs-12 col-md-4">
          <div class="content">
            <img src="/img/logo-wordmark.svg" alt="{{ site.title }}" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="content border border-left">
            <h4>U.S. Food Waste Policy Finder</h4>
            <p class="editable">Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
            <h5 class="show1 text-recycle">Learn about state policies that hinder food waste recycling.</h5>
            <h5 class="show2 text-recycle">Learn about states and municipalities that have enacted Organic Waste Bans &amp; Waste Recycling Laws.</h5>

            <h5 class="show4 text-recovery">Learn about states that offer liability protection.</h5>
            <h5 class="show5 text-recovery">Learn about states that offer additional tax incentives beyond federal incentives.</h5>

            <h5 class="show6 text-prevention">Learn about date labeling policies that hinder food waste prevention.</h5>

            <button class="show0 button">Start Now</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>



{% contentfor sidebar %}
  {% include_relative _partials/mapnav.html %}
{% endcontentfor %}