{% assign item = include.item %}
<div class="col">
  <div class="card">
    <div class="bg-image aspect-4x3"
      style="background-image:url('{{ item.featured_image | default: site.placeholder_image }}')"></div>
    <div class="card-body">
      <div class="card-subtitle mb-2 text-muted border-bottom border-dark">{{ item.date | date: "%B %-d, %Y" }}</div>
      <p class="text-lg">{{ item.title }}</p>
      {% if item.url %}
        <p><a href="{{ item.url }}" alt="{{ item.title }}" class="btn-link">{{ 'Read More' | default: site.default_cta }}</a></p>
      {% endif %}
    </div>
  </div>
</div>
