<div id="{{ include.id | default: 'pageCarousel' }}"
  class="carousel carousel-{{include.layout | default: 'two-column'}} {% if include.reverse == 'true' %}reverse{% endif %} slide {{ include.style | default: '' }} bg-{{ include.theme | default: 'lighter' }} {% if include.cards %}cards-{{ include.cards }}{% endif %}"
  data-ride="carousel"
  data-interval="{{ include.interval | default: '7000' }}">
  <!-- TODO: Refactor indicators -->
  {% if include.indicators == 'true' and include.items.size > 1 %}
  <ol class="carousel-indicators">
    {% for slug in include.items limit: 9 %}
    <li data-target="#{{ include.id | default: 'pageCarousel' }}" data-slide-to="{{ forloop.index0 }}"
      {% if forloop.index0 == 0 %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>
  {% endif %}
  <div class="carousel-inner">
    {% for slug in include.items limit: 9 %}
      {% assign index = forloop.index0 %}
      <!-- This logic assumes that all collection instances have a title attribute -->
      {% if slug.title %}
        {% assign item = slug %}
      {% else %}
        {% assign item = site[include.collection] | where: 'slug', slug | first %}
      {% endif %}

      {% if item %}
        <div
          data-cms-editor-link="cloudcannon:{{ include.editor-link }}"
          data-cms-editor-link-style="modal"
          class="carousel-item {% if forloop.first %}active{% endif %} cms-editor-link">
          <!-- Logic: carousel will support several possible layout values. [two-column, split, hero, etc] -->
          <div class="{{ include.class | default: '' }}">
            {% include components/{{ include.layout | default: "two-column" }}.html
              label=include.label
              item=item
              index=forloop.index0
              theme=include.theme
              aspect=include.aspect
              reverse=include.reverse
              button=include.button
              image=include.image
              show-description=include.show-description
              editor-link=include.editor-link
            %}
          </div>

          {% if include.layout == "hero" %}
            {% if include.items.size > 1 %}
              <div class="carousel-controls container">
                <a class="carousel-control-prev" href="#{{ include.id | default: 'pageCarousel' }}" role="button" data-slide="prev">
                  <i class="ri-arrow-left-s-line"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{ include.id | default: 'pageCarousel' }}" role="button" data-slide="next">
                  <i class="ri-arrow-right-s-line"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            {% endif %}
          {% endif %}

        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if include.controls == "true" and include.items.size > 1 %}
    <a class="carousel-control-prev" href="#{{ include.id | default: 'pageCarousel' }}" role="button" data-slide="prev">
      <i class="ri-arrow-left-s-line"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ include.id | default: 'pageCarousel' }}" role="button" data-slide="next">
      <i class="ri-arrow-right-s-line"></i>
      <span class="sr-only">Next</span>
    </a>
  {% endif %}

  {% if include.layout == 'hero' %}
    {% include nav/socialnav.html %}
  {% endif %}
</div>
