<div id="sharing-is-caring" class="">
  <menu>
    <a class="button" href="{{ '/downloads/ReFED-Data-Set.xlsx' | prepend: site.baseurl }}" download>Download Data Set <i class="icon icon-download"></i></a>
    <button id="share-button" class="button">Share Data Set <i class="icon icon-share"></i></button>
  </menu>
  <div id="instructions" class="content">
    <!-- Nav tabs -->
    <ul role="tablist" class="hide">
      <li role="presentation"><a href="#" rel="#share-instructions" aria-controls="share-instruction" role="tab" data-toggle="tab">Share</a></li>
      <li role="presentation" class="active"><a href="#" rel="#embed-instructions" aria-controls="embed-instruction" role="tab" data-toggle="tab">Embed</a></li>
      <li role="presentation"><a href="#" rel="#email-instructions" aria-controls="email-instruction" role="tab" data-toggle="tab">Email</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="share-instructions">
        {% include nav/sharenav.html %}
        <input type="text" value="http://refed.com/"/>
      </div>
      <div role="tabpanel" class="tab-pane" id="embed-instructions">
        <input value="<iframe src='http://refed.com/embed/cost-curve'></iframe>"/>
      </div>
      <div role="tabpanel" class="tab-pane" id="email-instructions">...</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#share-button").on('click', function() {
    $("#instructions").toggle();
    $(this).toggleClass('active');
  });
  $("#instructions input").on("click", function () {
    $(this).select();
  });
</script>