{% assign hero = include.item %}
<div class="bg-hero"
  style="background-image:url('{{ item.image | default: item.featured_image }}')">
  <div class="bg-fill text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10">
          {% if include.label %}<h3 class="mb-0">{{ include.label }}</h3>{% endif %}
          {% if item.title %}<h1 class="mt-0">{{ item.title }}</h1>{% endif %}
          {{ item.description_html | default: item.excerpt  | truncatewords: 40 }}
          {% if item.url %}
            <p><a href="{{ item.url }}" alt="{{ item.title }}" class="btn-link">{{ site.default_cta }}</a></p>
          {% endif %}
          <div class="d-flex align-items-center">
            {% for link in item.links %}
              {% if link.url %}
                <a href="{{ link.url }}" class="btn btn-link"
                  alt="{{ link.alt | default: link.label }}">{{ link.label | default: site.default_cta }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>