<div id="share-instructions" class="hidden-for-print">
  <div class="notificationBar cream">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3>Share {{ page.title }}</h3>
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-12">
          <div class="links">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <a class="facebook" href="#" target="_blank"><i class="icon icon-facebook"></i></a>
                <a class="twitter" href="#" target="_blank"><i class="icon icon-twitter"></i></a>
                <a class="mail" href="#"><i class="icon icon-mail"></i></a>
                <a class="linkedin" href="#" target="_blank"><i class="icon icon-linkedin"></i></a>
              </div>
              <div class="col-xs-12 col-sm-9">
                <input class="link" type="text" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
