{% assign item = include.item %}
<section class="split">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-copy {% if include.reverse %}order-2{% endif %}">
        <div class="content">
          <h3>Case Study</h3>
          <h2>{{ item.title }}</h2>
          {{ item.excerpt }}
          {% if item.url %}
          <a href="{{item.url}}" class="btn btn-link">{{ item.title || item.label }}</a>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-6 col-asset">
        <div class="content">
          <div class="bg-image aspect-1x1" style="background-image: url('{{ item.featured_image }}')"></div>
        </div>
      </div>
    </div>
  </div>
</section>