{% assign item = include.item %}
<div class="split bg-{{ include.theme | default: 'white' }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-copy {% if include.reverse %}order-2{% endif %}">
        <div class="content">
          {% if item.label %}<h3>{{ item.label }}</h3>{% endif %}
          {% if item.title %}<h2>{{ item.title }}</h2>{% endif %}
          {% if item.summary %}
            <p>{{ item.summary }}</p>
          {% else %}
            {{ item.description_html | default: item.excerpt | truncatewords: 40 }}
          {% endif %}

          <!-- TODO: Potential refactor to add logic to assignment only -->
          {% if item.url %}
            <a href="{{ item.url }}" class="btn btn-link" title="{{ item.title }}">{{ site.default_cta }}</a>
          {% endif %}
          {% if item.link %}
            {% assign link = item.link %}
            <p>
              <a href="{{ link.url }}" class="btn {% if link.label %}btn-primary{% else %}btn-link{% endif %}"
                title="{{ link.alt | default: link.label | default: site.default_cta }}">{{ link.label | default: site.default_cta }}</a>
            </p>
          {% endif %}
          <!-- END TODO -->
        </div>
      </div>
      <div class="col-12 col-lg-6 col-asset">
        <div class="content">
          {% include components/image.html aspect="4x3" %}
        </div>
      </div>
    </div>
  </div>
</div>
