{% assign item = include.item %}
<div {% if include.id %}id="{{ include.id }}"{% endif %} class="split bg-{{ include.theme | default: 'white' }}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-copy {% if include.reverse %}order-2{% endif %}">
        <div
          data-cms-editor-link="cloudcannon:{{ include.editor-link }}"
          data-cms-editor-link-style="modal"
          class="content cms-editor-link">
          {% if item.label %}<h3>{{ item.label }}</h3>{% endif %}
          {% if item.title %}<h2>{{ item.title }}</h2>{% endif %}
          {% if item.summary %}
            <p>{{ item.summary }}</p>
          {% elsif include.show_full_description == "true" %}
            {{ item.description_html }}  
          {% else %}
            {{ item.description_html | default: item.excerpt | truncatewords: 40 }}
          {% endif %}

          <!-- TODO: Potential refactor to add logic to assignment only -->
          {% if item.url %}
            <p>
              <a href="{{ item.url }}" class="btn btn-link" title="{{ item.title }}">{{ site.default_cta }}</a>
            </p>
          {% endif %}
          {% if item.link.url %}
            {% assign link = item.link %}
            <p>
              <a href="{{ link.url }}" class="btn {% if link.label %}btn-primary{% else %}btn-link{% endif %}"
                title="{{ link.alt | default: link.label | default: site.default_cta }}">{{ link.label | default: site.default_cta }}</a>
            </p>
          {% endif %}
          <!-- END TODO -->
        </div>
      </div>
      <div class="col-12 col-lg-6 col-asset">
        <div
          data-cms-editor-link="cloudcannon:{{ include.editor-link }}.featured_image"
          data-cms-editor-link-style="modal"
          class="content cms-editor-link">
          {% assign aspect = include.aspect | default: '4x3' %}
          {% assign src = item.featured_image | default: item.image %}
          {% include components/image.html aspect=aspect src=src %}
        </div>
      </div>
    </div>
  </div>
</div>
