{% unless item %}
  {% assign item = include.item %}
{% endunless %}
<section>
  <div class="container cms-editor-link">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 {% if include.reverse %}order-2{% endif %}">
        <div class="p-5">
          {% if item.label %}<h3>{{ item.label }}</h3>{% endif %}
          {% if item.title %}<h2>{{ item.title }}</h2>{% endif %}
          {{ item.excerpt | default: item.description_html | truncatewords: 40 }}
          {% if item.url or item.links.first.url %}
            {% if item.url %}
              {% assign url = item.url %}
            {% elsif item.links.first.url %}
              {% assign url = item.links.first.url %}
            {% endif %}
            <p><a href="{{ url }}" class="btn {% if include.button %}btn-primary{% else %}btn-link{% endif %}">{{ site.default_cta }}</a></p>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-6">
        {% if include.image == 'img' %}
          <img src="{{ item.featured_image}}" class="img-fluid" alt="{{ item.title }} image">
        {% else %}
          {% include components/image.html src=item.featured_image %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

