.the-refed-nonprofit-food-recovery-accelerator {
  section {
    padding: 30px 0;
  }
  .p-5 {
    padding: 20px;
  }
  #pageFooter {
    section {
      padding: 50px 0;
    }
    .content {
      padding: 20px;
    }
  }
}

#accelerator-intro {
  .content {
    padding: 0 20px;
  }
}

#accelerator-hero {
  h1 {
    text-transform: none;
    margin-bottom: 20px;
    color: $gray;
  }
  h2 {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 15px;
    color: $gray;
  }
}

#accelerator-how {
  img {
    width: 150px;
  }
}

#accelerator-eligibility {
  img {
    width: 150px;
  }
}

#accelerator-timeline {
  img {
    margin: 0 auto 40px;
  }
}

.accelerator-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#accelerator-articles {
  h4 {
    font-size: 14px;
    text-transform: capitalize;
  }
  .content {
    padding: 10px 20px;
  }
  .article-date {
    margin-bottom: 0;
  }
  button {
    padding-left: 0;
    padding-right: 0;
  }
}

#nonprofit-cohort {
  .grid {
    .grid-item {
      width: 20%;
      .grid-item-image {
        display: flex;
        width: 100%;
        height: 0;
        padding-top: 50%;
        position: relative;
        background-color: $white;
        img {
          display: block;
          width: auto;
          max-width: 50%;
          position: absolute;
          padding: 4px;
          top: 50%;
          left: 50%;
          transform:translateY(-50%) translateX(-50%);
        }
      }
      h4 {
        height: 33px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      p {
        font-size: 14px;
      }
    }
    .cohort-content {
      padding: 0 5px;
    }
  }
}

@media all and (max-width: $screen-md-max) {
  
}

@media all and (max-width: $screen-sm-max) {
  #accelerator-hero {
    h1 {
      font-size: 27px;
      color: #ffffff !important;
    }
    h2 {
      color: #ffffff !important;
    }
  }
  .the-refed-nonprofit-food-recovery-accelerator {
    h2 {
      font-size: 23px;
    }
  }
  .accelerator-logos {
    display: block;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  #nonprofit-cohort {
    .grid {
      .grid-item {
        width: 50%;
        padding: 5px;
        h4 {
          height: auto;
        }
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  #nonprofit-cohort {
    .grid {
      .grid-item {
        width: 50%;
        padding: 5px;
      }
    }
  }
}


