.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  pointer-events: all;
}
.tour-step-background {
  // border-radius: 0;
  // background-color: rgba(255,255,255,0.2);
  // border: 20px solid red;
}
.tour-step-backdrop {
  position: relative;
  z-index: 1101;
  background: inherit;
}
// .tour-step-backdrop > td {
//   position: relative;
//   z-index: 1101;
// }
.tour-step-background {
  position: absolute !important;
  z-index: 1100;
  background: transparent;
  border-radius: 0;
  border-bottom: 2px solid $button-color;
}

@media all and (max-width: $screen-md-max) {
}

@media all and (max-width: $screen-sm-max) {
}

@media all and (max-width: $screen-xs-max) {
}