

#primarynav{
    .navbar-nav{
        li.nav-item{
            padding-left:0;
            padding-right:0;
        }
        .dropdown-menu {
            border: none;
            background-color:transparent;            
        }
    }

    @media screen and (min-width: 768px){
        .navbar-nav li{
            position:inherit;
        }
        .navbar-nav .dropdown-menu {
            position: absolute;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            margin:0;
            background-color:#ccc;
            top:inherit;
        }
        
        .sub-menu{
            border-right:1px solid grey;
            &.two-col-sublinks{
                flex: 0 0 50%;
                max-width: 50%;
                > ul{
                    column-count: 2;
                }
            }
        }
        /*
        .navbar-nav .mega-dropdown:hover .mega-menu {
            display: block;
        }
        */
    }
    // medium size only
    @media screen and (max-width: 1199px) and (min-width: 768px){
        .sub-menu{
            &:nth-child(even){border-right:none;}
        }
    }
    // large size only
    @media screen and (min-width: 1200px){
        .sub-menu{
            &:last-child{border-right:none;}
        }
    }
}