#tournav {
  position: fixed;
  top: 150px;
  // left: -102px;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 32px 0px;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 15px;
      padding: 2px 30px;
      background-color: $gray;
      color: $cream-lighter;
      box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;
      cursor: pointer;
      &.share {
        padding: 0;
        i {
          display: inline-block;
          font-size: 20px;
          height: 32px;
          line-height: 32px;
          width: 32px;
          text-align: center;
          transform: rotate(-90deg);
          transform-origin: 16px 16px;
          &.icon-share {
            position: relative;
            display: block;
            float: left;
            z-index: 99;
          }
        }
        .links {
          display: none;
          width: auto;
          height: 32px;
          position: relative;
          overflow: hidden;
          padding-left: 17px;
          background-color: $button-color;
          @include transition();
          a {
            display: inline-block;
            color: $cream-lighter;
            &:last-child {
              padding-right: 10px;
            }
          }
        }
        &:hover {
          .icon-share {
            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -14px;
              right: 8px;
              height: 0;
              width: 0;
              border: 8px solid transparent;
              border-top-color: $gray;
              z-index: 99;
            }
          }
          .links {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  #tournav {
    
  }
}

@media all and (max-width: $screen-sm-max) {
  #tournav {
    
  }
}

@media all and (max-width: $screen-xs-max) {
  #tournav {
    ul {
      li {
        font-size: 14px;
        padding: 2px 20px;
      }
    }
  }
}