<section class="alt-bg innovatorDatabase_filters">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h4>Search by location</h4>
        <div class="locationSearch">
          <i class="icon icon-search"></i>
          <input id="autocomplete" placeholder="Enter your address"
                   onFocus="geolocate()" type="text" class="locationField"></input>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <h4>Filter by details</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-2">
            <div data-filter-group class="select">
              <select>
                <option value=""
                        data-mixitup-control>
                        Status
                        </option>
                <option value="[data-status='nonprofit']"
                        data-mixitup-control>
                        Nonprofit
                        </option>
                <option value="[data-status='for-profit']"
                        data-mixitup-control>
                        For-Profit
                        </option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div data-filter-group class="select">
              {% assign categories =  "" | split: "," %}
              {% for innovator in site.innovators %}
                {% for category in innovator.innovator_category %}
                {% assign categories = categories | push: category %}
                {% endfor %}
              {% endfor %}

              {% assign categories_uniq = categories | uniq %}
              <select>
                <option value="">Category</option>
                {% for category in categories_uniq %}
                  <option value="[data-category='{{ category }}']"
                           data-mixitup-control>
                           {{ category | replace: '-', ' ' }}
                          </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div data-filter-group class="select">
              <select>
                <option value=""
                        data-mixitup-control>
                        Food Recovery Hierarchy
                        </option>
                <option value="[data-hierarchy='prevention']"
                        data-mixitup-control>
                        Prevention
                        </option>
                <option value="[data-hierarchy='recovery']"
                        data-mixitup-control>
                        Recovery
                        </option>
                <option value="[data-hierarchy='recycling']"
                        data-mixitup-control>
                        Recycling
                        </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>