<section>
  <div class="container">
    <div class="mixitup-page-stats muted pull-right"></div>
    <button type="button" class="sort" data-sort="default:desc">Sort A-Z <i class="icon icon-caret-up"></i></button>
    <ul class="innovatorDatabase_list">
      <li class="fail-message">
        <div class="row">
          <div class="col-xs-12">
            <div class="content">
              <h4 class="italic">Sorry, there are no listing that match your criteria</h4>
              <p>Find what you're looking for? If not, remember that food waste innovation is a growing sector, and our database is always expanding. If you or
someone you know should be included in ReFED's Innovator Database, <a href="mailto:info@refed.com">send us an email today!</a></p>
            </div>
          </div>
        </div>
      </li>
      {% for innovator in site.innovators %}
        <li class="innovator mix {{ innovator.food_recovery_hierarchy_option | downcase }}-hierarchy {{ innovator.business_model | slugify }} {% for c in innovator.innovator_category_options %}{{ c | slugify }} {% endfor %}"
            data-uid="uid_{{ forloop.index }}"
            data-title="{{ innovator.name }}"
            data-description="{{ innovator.description }}"
            data-innovator-category-options="[{% for c in innovator.innovator_category_options %}{{ c | slugify }}{% unless forloop.last %}, {% endunless %}{% endfor %}]"
            data-business-model="{{ innovator.business_model }}"
            data-food-recovery-hierarchy-option="{{ innovator.food_recovery_hierarchy_options }}"
            data-innovator-level="{{ innovator.innovator_level }}"
            data-website="{{ innovator.website }}"
            data-url="{{ innovator.url }}"
            data-lat="{{ innovator.lat }}"
            data-lng="{{ innovator.lng }}"
            data-distance="">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="content">
                <h3 class="innovator_name h4"><a href="{{ innovator.url }}" title="{{ innovator.name }}">{{ innovator.name }}</a></h3>
                <p class="innovator_description">{{ innovator.description }}</p>
                <a href="{{ innovator.url }}" class="button">View Innovator</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="content">
                <p class="innovator_details">
                  <em>Status:</em>&nbsp;&nbsp;<strong>{{ innovator.business_model | capitalize }}</strong><br>
                  <em>Categories:</em>&nbsp;&nbsp;

                    {% for c in innovator.innovator_category_options %}
                      <strong>{{ c | replace: '-', ' ' | capitalize }}</strong>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}

                    <br>
                  <em>Food Recovery Hierarchy:</em>&nbsp;&nbsp;<strong>{% for category in innovator.food_recovery_hierarchy_options %}{{ category | capitalize }}{% unless forloop.last %}, {% endunless %}{% endfor %}</strong><br>
                  <a href="{{ innovator.website }}" target="_blank">{{ innovator.website }}</a>
                </p>
                <!-- TODO - UPdate CSS names to match -->
                <h5 class="innovator_reach_category"><i class="icon icon-{{ innovator.innovator_level | slugify }}"></i> {{ innovator.innovator_level }} <span class="hidden-sm">Organization</span></h5>
                <p class="innovator_distance" style="display: none;">Distance: <span class="distance">0</span> miles</p>
              </div>
            </div>
          </div>
          <hr>
        </li>
      {% endfor %}
    </ul>
    <div class="content">
      <span class="mixitup-page-stats muted pull-right" data-mixitup-control></span>
      <div class="mixitup-page-list" data-mixitup-control></div>
    </div>
  </div>
</section>
