{% assign tab = true %}
{% if page.path contains 'index' or page.title == 'Suggest An Innovator' %}
  {% assign tab = false %}
{% endif %}

<div class="menu">
  <ul>
    <li>
      <a {% if tab %}data-toggle="tab"{% endif %}
         href="/tools/innovator-database/innovators#innovatorList">
        <i class="icon icon-list"></i>
        <span>List</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a {% if tab %}data-toggle="tab"{% endif %}
         href="/tools/innovator-database/innovators#innovatorMap">
        <i class="icon icon-local"></i>
        <span>Map</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a {% if tab %}data-toggle="tab"{% endif %}
         href="/tools/innovator-database/innovators#innovatorAnalysis">
        <i class="icon icon-analysis"></i>
        <span>Analysis</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="/tools/innovator-database/innovators#innovatorList" class="disabled">
        <i class="icon icon-search"></i>
        <span>Search</span>
      </a>
    </li>
  </ul>
</div>