{% assign tab = true %}
{% if page.path contains 'index' or page.title == 'Suggest An Innovator' %}
  {% assign tab = false %}
{% endif %}

<div class="menu">
  <ul>
    <li>
      <a {% if tab %}
           data-toggle="tab"
           data-target="#innovatorList"
         {% endif %}
         href="/tools/innovator-database/innovators#active_tab=innovatorList">
        <i class="icon icon-list"></i>
        <span>List</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a {% if tab %}
           data-toggle="tab"
           data-target="#innovatorMap"
         {% endif %}
         href="/tools/innovator-database/innovators#active_tab=innovatorMap">
        <i class="icon icon-local"></i>
        <span>Map</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a {% if tab %}
           data-toggle="tab"
           data-target="#innovatorAnalysis"
         {% endif %}
         href="/tools/innovator-database/innovators#active_tab=innovatorAnalysis"
         id="analysis-link">
        <i class="icon icon-analysis"></i>
        <span>Analysis</span>
      </a>
    </li>
    {% if tab %}
      <li class="divider"></li>
      <li>
        <button class="searchLink">
          <i class="icon icon-search"></i>
          <span class="hidden-xs">Search</span>
        </button>
      </li>
    {% endif %}
  </ul>
</div>