{% comment %}<ol class="breadcrumb">
<li><a href="{{ site.baseurl }}/">ReFED</a></li>
{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}

{% for i in (1..forLoopMaxInt) %}
  {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
  {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
  {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
  {% for breadcrumb_page in site.pages %}
    {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
    {% assign j = forLoopMaxInt | plus: 0 %}
      <li {% if i == j %}class="active"{% endif %}>
        {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
        <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ol>
{% endcomment %}

{% assign crumbs = page.url | remove:'/index' | split: '/' %}

<div class="container" style="margin-bottom:-50px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <ol class="breadcrumb">
          <li><a href="/">Refed</a></li>
          {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
              / {{ crumb | replace:'-',' ' }}
            {% else %}
              / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' }}</a>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>