<header id="pageHeader">
  <div class="container">
    <a class="brand" href="{{ '/' | prepend: site.baseurl }}" title="ReFED: Rethinking Food Waste">
      <img src="{{ site.baseurl }}/img/logo-wordmark.svg" alt="Refed Logo">
    </a>
    <button class="menu-toggle menuToggle">
      <span class="sr">Toggle navigation</span>
      <i class="icon-menu"></i>
    </button>
  </div>
  {% include nav/topnav.html %}
  
  {% include nav/mainnav.html %}

  {% unless page.layout == 'admin' %}
    {% include nav/tournav.html %}
  {% endunless %}
</header>