<div class="sticky" data-offset-top="120">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <img src="/img/logo-wordmark.svg" class="img-responsive" style="margin-bottom: 10px; margin-left:-15px;" />
          <p class="editable">ReFED is a multi-stakeholder nonprofit powered by an influential network of the nation&rsquo;s leading business, nonprofit, foundation, and government leaders committed to scaling solutions to reducing U.S. food waste.</p>
          <a href="/" class="button inverse nocase">ReFED.com</a>
        </div>
      </div>
    </div>
    {% if page.title == "Food Waste Policy Tool" %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <img src="/img/FLPC_Logo.png" class="img-responsive" style="margin-bottom: 10px; margin-left:-15px;" />
          <p class="editable">The Food Law and Policy Clinic of Harvard Law School (FLPC), serves partner organizations and communities by providing
          policy guidance on cutting-edge food system issues, while engaging law students in the practice of food law and policy.</p>
          <a href="https://www.chlpi.org/food-law-and-policy/" class="button inverse nocase">The Food Law and Policy Clinic</a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h4>Share this tool</h4>
          <p>Think someone else would benefit from the {{ page.title }}? Share it!</p>
          <button class="button inverse share"><i class="icon icon-share"></i> Share</button>
        </div>
      </div>
    </div>

    {% if page.title == "Innovator Database" %}
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h4>Food Waste Policy Finder</h4>
            <p class="editable">To learn about state and federal policies that facilitate food waste reduction and diversion, check out our Policy Tool.</p>
            <a href="/tools/food-waste-policy-finder" class="button inverse">Learn More</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h4>Apply to Innovator Database</h4>
            <p class="editable">We need your help to keep a pulse on food waste innovation. If you can’t find what you’re looking for, or if you see an entry that needs an update, please reach out today.</p>
            <a href="https://www.surveymonkey.com/r/refedsolutionprovider-questionnaire" class="button inverse">Apply Here</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <h4>Innovator Database</h4>
            <p class="editable">Access a living compilation of 350+ commercial and nonprofit entities turning the food waste problem into an entrepreneurial opportunity.</p>
            <a href="/tools/innovator-database/" class="button inverse">Learn More</a>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>