<footer id="toolFooter">
  <div class="container-flex">
    <div class="content">
      <h4>Suggest an Innovator</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="#" class="button">Suggest an Innovator</a>
    </div>
    <div class="content">
      <h4>Share the database</h4>
      {% include nav/socialnav.html %}

      <h4>Stay Informed</h4>
      <a href="/action#stay-connected" class="button">Sign Up for our Newsletters</a>
    </div>
    <div class="content">
      <a class="brand" href="{{ '/' | prepend: site.baseurl }}" title="ReFED: Rethinking Food Waste">
        <img src="{{ site.baseurl }}/img/logo.svg" class="img-responsive">
      </a>
    </div>
  </div>
</footer>