<header id="toolHeader">
  <div id="topnav">
    <ul>
      <li>
        ReFED ONLINE TOOLS:
      </li>
      <li>
        <a href="/tools/food-waste-policy-finder/" 
        {% if page.url contains 'food-waste-policy-finder' %}
          {% unless page.url contains 'spotlight-on-date-labeling' %}class="active"{% endunless %}
        {% endif %}>U.S. Food Waste Policy Finder</a>
      </li>
      <li>
        <a href="/tools/food-waste-policy-finder/spotlight-on-date-labeling" {% if page.url contains 'spotlight-on-date-labeling' %}class="active"{% endif %}>Date Labeling Regulations</a>
      </li>
      <li>
        <a href="/tools/innovator-database/" {% if page.url contains 'innovator' %}class="active"{% endif %}>Innovator Database</a>
      </li>
    </ul>
  </div>
  <div id="toolPrint">
    <button class="button inverse share"><i class="icon icon-share"></i> Share</button>
    <button class="print">
      <i class="icon-printer"></i>
    </button>
  </div>  
  <div class="container-flex">
    <a class="brand" href="{{ '/' | prepend: site.baseurl }}" title="ReFED: Rethinking Food Waste">
      <img src="/img/logo-wordmark.svg">
    </a>
    <div class="toolHeader-title">
      <a href="{{ page.tool_url }}" title="{{ page.header }}">
        {{ page.header }}
        <em>&lt; Return Home</em>
      </a>
    </div>
  </div>
  <div id="toolnav">
    <div class="container">
      <button class="menu-toggle menuToggle">
        <span class="sr">Toggle navigation</span>
        <i class="icon-menu"></i>
      </button>
      {% include_relative _partials/toolnav.html %}
    </div>
  </div>
  {% if page.title == 'State Policy' %}
  <section id="statenav" class="alt-bg fullbleed">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content flex-content center">
            <div><h5 style="margin-top: -5px; margin-right: 20px;">Explore food waste policy by state</h5></div>
            <div class="break-50">{% include nav/quicknav.html %}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
</header>
