<div class="sticky" data-offset-top="70">
  <div class="container" style="width: 250px; margin: 30px;">
    <div class="row">
      <div class="row-header">
        <img src="/img/logo-wordmark.svg" class="img-responsive" style="width: 90%;">
      </div>
      <div class="col-xs-12">
        <div class="content">
          <p class="editable">This tool was developed by Rethink Food Waste Through Economics and Data (ReFED), a collaboration of over 30 business, nonprofit, foundation and government leaders committed to reducing food waste in the United States.</p>
          <a href="/" class="button inverse nocase">ReFED.com</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h4>Share this tool</h4>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <p class="editable">Like this tool? Share it with friends and colleagues.</p>
          <button class="button inverse share"><i class="icon icon-share"></i> Share</button>
        </div>
      </div>
    </div>

    {% if page.title == "Innovator Database" %}
      <div class="row">
        <div class="row-header">
          <h4>Food Waste Policy Finder</h4>
        </div>
        <div class="col-xs-12">
          <div class="content">
            <p class="editable">To learn about state and federal policies that facilitate food waste reduction and diversion, check out our Policy Tool.</p>
            <a href="/tools/policy/food-waste-policy-finder" class="button inverse">Learn More</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="row-header">
          <h4>Innovator Database</h4>
        </div>
        <div class="col-xs-12">
          <div class="content">
            <p class="editable">To learn about state and federal policies that facilitate food waste reduction and diversion, check out our Policy Tool.</p>
            <a href="/tools/innovator-database/" class="button inverse">Learn More</a>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>