<footer id="toolFooter">
  <div class="main">
    <div class="container">
      {% include_relative _partials/toolfooter.html %}
    </div>
  </div>
  <div class="aside">
    <div class="content">
      <a class="brand" href="{{ '/' | prepend: site.baseurl }}" title="ReFED: Rethinking Food Waste">
        <img src="{{ site.baseurl }}/img/tools/innovator/innovator_mobile-logo-white.svg" class="img-responsive">
        <span style="margin-left: 68px;
                     margin-top: -10px;
                     display: block;">www.ReFED.com</span>
      </a>
    </div>
  </div>
</footer>