

<footer id="pageFooter" >

    <div class="logo-band bg-white py-3">            
        <div class="container">        
            <a class="footer-brand" href="/">{{ site.title }}</a>
        </div>
    </div>
        
    <div class="mega-footer bg-dark position-relative">   
        <div class="container">      
            <div class="row">
                <div class="col-md-7 text-light bg-primary footer-links-column">
                    <ul class="footer-links navbar-nav ml-auto">         
                        {% for link in site.data.navigation.footer_navigation.links %}            
                        <li class="nav-item"><a class="nav-link text-light font-weight-light" href="{{ link.link }} ">{{ link.title }} </a></li>
                        {% endfor %}  
                    </ul>    
                </div>
                <div class="col-md-5 text-light bg-success stay-connected-column">
                    <h3>Stay Connected with ReFED</h3>

                    <ul class="social-meida-icons p-0 my-3">
                        {% for num in (1..5) %}
                        <img class="mr-2" src="https://via.placeholder.com/42x42" alt="Alt Tag...">
                        {% endfor %}                         
                    </ul>

                    <p class="newsletter-signup">Sign up for our newsletter and other email updates</p>

                    <a href="#" class="newsletter-signup-cta btn btn-primary btn-lg font-serif">Subscribe</a>
                </div>
            </div>



            <ul class="utility-links navbar-nav ml-auto ">            
                 
          </ul>
        </div>
    </div>
</footer>