<!-- JS Dependencies -->
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.27/dist/bootstrap-native-v4.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script> -->


  <!-- Flickity Carousel Slider https://flickity.metafizzy.co/ -->
  <!-- SEE head.html for the css include -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<script>
    
var elem = document.querySelector('.three-card-carousel');
if(elem){
  var flkty_three_card = new Flickity( elem, {
    cellAlign: 'left',
    contain: true,
    //"freeScroll": true,
    "wrapAround": true,
    prevNextButtons: true,
    pageDots: true,
    adaptiveHeight: true
  });
}

var elem = document.querySelector('.three-card-carousel');
if(elem){
  var flkty_grouped = new Flickity( elem, {
    groupCells: true,
    contain: true,
  });
}

var elem = document.querySelector('.featured-story-carousel');
if(elem){
  var flkty_featuredstory = new Flickity( elem, {
    cellAlign: 'center',
    prevNextButtons: false,
    pageDots: true,
    "wrapAround": true,
    contain: true,
  });
}

var elem = document.querySelector('.hero-style-carousel');
if(elem){
  var flkty_hero = new Flickity( '.hero-style-carousel', {
    cellAlign: 'center',
    prevNextButtons: true,
    pageDots: false,
    "wrapAround": true,
    contain: true,
  });
}


    

    
  </script>

