<div class="impact-tabs">
  <ul class="tabs">
    {% for tab in site.data.tabs %}
    <li class="tab sort {{ tab.slug }}" 
        data-sort="{{ tab.slug }}"
        data-order="{{ tab.order }}"
        data-title="{{ tab.title }}"
        data-label="{{ tab.label }}"
        data-summary="{{ tab.summary }}"
        data-max="{{ tab.max }}"
        data-units="{{ tab.units }}"
        data-description="{{ tab.description }}"
        onClick="ga('send', 'event', 'tab', '{{ page.title }}', '{{ tab.title }}');">
        {{ tab.title }}
    </li>
    {% endfor %}
  </ul>
</div>
<p class="impact-summary">{{ site.data.tabs.first.description }}</p>