<div class="row">
  {% for stakeholder in site.stakeholders %}
    <div class="col-md-6 col-lg-4">
      <div class="text-center p-lg-5">
        <a href="{{ stakeholder.url }}" class="bg-image aspect-1x1 rounded-circle d-flex align-items-center" style="background-image: url({{ stakeholder.featured_image }})">
          <div class="overlay">
            <img src="{{ stakeholder.icon_image }}" class="img-fluid w-50 rounded-circle" alt="">
          </div>
        </a>
        <h3 class="mt-4 text-serif">{{ stakeholder.title }}</h3>
        <a href="{{ stakeholder.url }}" class="text-link">Learn More</a>
      </div>
    </div>
  {% endfor %}
</div>