<div class="logo-grid">
  {% for expert in page.experts %}
    {% if expert.link %}
    <a href="{{ expert.link }}" class="logo-item">
      <!-- <img src="{% cycle 'https://via.placeholder.com/150', 'https://via.placeholder.com/150x50', 'https://via.placeholder.com/150x100' %}" class="img-fluid" alt="{{ expert.name }} logo"> -->
      <img src="{{ expert.logo_image }}" class="img-fluid" alt="{{ expert.name }} logo">
    </a>
    {% else %}
    <div class="logo-item">
      <img src="{{ expert.logo_image }}" class="img-fluid" alt="{{ expert.name }} logo">
    </div>
    {% endif %}
  {% endfor %}
</div>