<section>    
  <div class="container">
    <div class="row">     
      <div class="col-12">
        <!-- <h2 class="editable text-center">Funders</h2>
        <p class="editable text-center mb-5 max-out-text-width mx-auto">Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders:</p>   -->
        <div class="logo-carousel mb-5">   
          {% for logo in section.logo %}
            {% if logo.link %}
              <a href="{{ logo.link }}">
                <img src="{{ logo.image }}" class="img-fluid m-4" alt="{{ logo.title }} image">
              </a>
            {% else %}
              <img class="m-4" src="{{ logo.image }}" alt="{{ logo.title }} image" />
            {% endif %}
          {% endfor %} 
        </div> 
      </div>
    </div>
  </div>
 </section>