<hr />
<h4 class="editable">
  R<span class="text-lowercase">e</span>FED&rsquo;s work is made possible with generous support from and in partnership with our funders:
</h4>
<div class="content">
  <p class="hidden-xs">
    <img src="/img/foundation_logos-update_desktop.jpg" class="img-responsive" />
  </p>
  <p class="visible-xs">
    <img src="/img/foundation_logos-update_mobile.jpg" class="img-responsive" alt="About logos" />
  </p>
</div>
<p class="italic"><small>*The views expressed herein do not necessarily represent those of The Kroger Co. Zero Hunger | Zero Waste Foundation or The Kroger Co.<br />
*NIELSEN and the Nielsen logo are trademarks or registered trademarks of The Nielsen Company (US), LLC in the United States and other countries. Used with permission. ®</small></p>
