
  
<section class="cta-insights-engine bg-light overflow-x-hidden" id="{{ include.id }}">
  <div class="container solutions-featured">
    <div class="row">
    <div class="col-lg-6 rightcolumn copy-column py-5">
      <h3 class="preheader">
        {{ include.data.preheader }}
      </h3>
      <h2>
        {{ include.data.title }}
      </h2>
      {{ include.data.description_html }}
      <div class="cta-button">
        <a href="{{ include.data.link }}" class="btn btn-secondary p-3">{{ include.data.link_label | default: 'Launch ReFED Insights Engine' }}</a>
      </div>
    </div>
    <div class="col-lg-6 leftcolumn image-column">
      <div class="laptop-container">
        <div class="laptop">
          <img src="/img/laptop.png" alt="Laptop" />
        </div>
        <img class="screen" src="{{ include.data.laptop_screen_image }}" alt="Laptop Screen showing {{ include.data.title }}" />
      </div>
    </div>
    </div>
  </div>
</section>
  
  