

<section class="cta-insights-engine bg-light overflow-x-hidden" id="{{ include.id }}">
  <div class="container solutions-featured">
    <div class="row">
    <div class="col-lg-6 rightcolumn copy-column py-5">
      <h3 class="preheader">
        {{ include.data.preheader | default: 'Our Newest Innovation'}}
      </h3>
      <h2>
        {{ include.data.title | default: 'ReFED Insights Engine' }}
      </h2>
      {{ include.data.description_html | default: '<p>ReFED Insights Engine is an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. With more granular data, more extensive analysis, more customized views, and the ability to be updated regularly, we see this tool as laying the foundation for action around our 2030 national goal to reduce food waste by 50 percent.</p>'}}
      <div class="cta-button">
        <a href="{{ include.data.link | default: site.insights_engine_url }}" class="btn btn-secondary">{{ include.data.link_label | default: 'Launch ReFED Insights Engine' }}</a>
      </div>
    </div>
    <div class="col-lg-6 leftcolumn image-column">
      <div class="laptop-container">
        <div class="laptop">
          <img src="/img/laptop.png" alt="Laptop" />
        </div>
        <img class="screen" src="{{ include.data.laptop_screen_image | default: '/img/laptop-screen-fpo.jpg'}}" alt="Laptop Screen showing {{ include.data.title | default: 'ReFED Insights Engine'}}" />
      </div>
    </div>
    </div>
  </div>
</section>

