{% unless hero %}
{% assign hero=include %}
{% endunless %}
<div class="">
  <div class="bg-image aspect-{{ hero.aspect | default: '3x1' }}"
    style="background-image:url('{{ hero.image | default: hero.featured_image }}');"></div>
  <div class="bg-black-50 text-white">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          {% if hero.subtitle %}
          <div class="preheader">{{ hero.subtitle }}</div>
          {% endif %}
          {% if hero.title %}
          <h1>{{ hero.title }}</h1>
          {% endif %}
          {{ hero.description_html | default: hero.content | truncatewords: 20 }}
          {% if hero.link != nil %}
          <a class="btn-link text-rescue-400 block mr-3"
            href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a>
          {% endif %}
          {% if hero.buttons.link %}
          <div class="hero-buttons mt-3">
            {% for button in hero.buttons %}
            <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}btn-link{% endif %} block mr-3"
              href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
