
<section class="bg-lighter logo-pile">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h3>
          {{ include.logo_pile.title }}
        </h3>
        <div>
          {{ include.logo_pile.description_html }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row flex-wrap align-items-center justify-content-center">
          {% for logo in include.logo_pile.logos %}
            <div class="col-6 col-sm-3 col-md-2 col-xl-auto text-center py-2">
              {% if logo.link != nil %}<a href="{{logo.link}}" target="_blank">{% endif %}
                <img src="{{ logo.image }}" class="m-auto img-fluid d-block" alt="{{ logo.alt-text }}" />
              {% if logo.link != nil %}</a>{% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>