<section class="bg-lightest logo-pile">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 class="preheader editable">{{ include.headline }}</h2>
        <div class="editable">
          <p>{{ include.text }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row flex-wrap align-items-center justify-content-center">
          {% for logo in include.logos %}
            <div class="col-6 col-sm-3 col-md-2 col-xl-auto text-center py-2">
              {% if logo.link != nil %}<a href="{{logo.link}}" target="_blank">{% endif %}
                <img src="{{ logo.image }}" class="m-auto img-fluid d-block editable" alt="{{ logo.alt-text }}" />
              {% if logo.link != nil %}</a>{% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>