<section class="newsroom-filter bg-lightest py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text-danger mb-4">(TODO: Style this component. Design and implement filter with keyword search and date search. )</div>
        </div>
      </div>
      <div class="row form-group row">
        <div class="col-auto">
          <input type="text" placeholder="Search">
        </div>
        <div class="col">

          <div class="row form-group">
            <div class="col-6">
              <label class="col-2 col-form-label d-inline-block" for="date-from" class="max-width: inherit; width: auto;">From:</label>          
              <input class="form-control d-inline-block" type="date" value="2011-08-19" id="date-from" style="max-width: 170px;">
            </div>
            <div class="col-6">
              <label class="col-2 col-form-label d-inline-block" for="date-to" class="max-width: inherit; width: auto;">To:</label>          
              <input class="form-control d-inline-block" type="date" value="2011-08-19" id="date-to" style="max-width:170px;">
            </div>
          </div>

        </div>
        <div class="col-auto">
          <div class="btn-group" role="group" aria-label="Search Buttons">
            <button type="button" class="btn btn-secondary">Search</button>
            <button type="button" class="btn btn-primary">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </section>