
{% assign item = include.item %}

{% if include.image_width == '25%' %}
  {% capture text-class %}col-lg-9{% endcapture %}
  {% capture image-class %}col-lg-3{% endcapture %}
{% elsif include.image_width == '33%' %}
  {% capture text-class %}col-lg-8{% endcapture %}
  {% capture image-class %}col-lg-4{% endcapture %}
{% elsif include.image_width =='66%' %}
  {% capture text-class %}col-lg-4{% endcapture %}
  {% capture image-class %}col-lg-8{% endcapture %}
{% elsif include.image_width == '75%' %}
  {% capture text-class %}col-lg-3{% endcapture %}
  {% capture image-class %}col-lg-9{% endcapture %}
{% else %} 
  {% capture text-class %}col-lg-6{% endcapture %}
  {% capture image-class %}col-lg-6{% endcapture %}
{% endif %}

{% if include.text_to_edge %}
  {% capture text-class %}{{ text-class }} text-to-browser-edge{% endcapture %}
{%endif%}

{% if include.image_to_edge %}
  {% capture image-class %}{{ image-class }} image-to-browser-edge{% endcapture %}
{%endif%}

{% if include.description %}
  {% capture description %}{{ include.description }}{% endcapture %}
{% elsif item.summary %}
  {% capture description %}{{ item.summary }}{% endcapture %}
{% elsif item.description_html  %}
  {% capture description %}{{item.description_html | truncatewords: 50}}{% endcapture %}
{% else %}
  {% capture description %}{{item.content | truncatewords: 50}}{% endcapture %}
{%endif%}

{% if include.image %}
  {% capture image %}{{ include.image }}{% endcapture %}
{% elsif item.hero %}
  {% capture image %}{{ item.hero }}{% endcapture %}
{% else %}
  {% capture image %}{{ item.featured_image }}{% endcapture %}
{%endif%}





<section class="split-section image-{{include.image_alignment | default: 'right'}} {{ include.section_class }}" id="{{ include.id }}">
    <div class="container split-section">
      <div class="row">   
        <div class="col-text col-12 {{text-class}} column-{{include.section_background_color | default: 'transparent'}}">
          <span class='bkg'></span>
          <div class="col-text-content">
            {% if include.preheader or item.preheader %}
              <div class="mb-3 preheader">{{ include.preheader | default: item.preheader  }}</div>
            {% endif %}
            
            {% if include.title or item.title %}
              <h2 class="mb-3">{{ include.title | default: item.title  }}</h2>
            {% endif %}

            <div class="mb-4 item-description">{{ description }}</div>
 
            {% if include.omit_url != true %}
              {% if item.url or include.url %}
                <a class="m-0 {% if include.button_type == 'text' or item.button_type == 'text' %}text-link{% else %}btn {{ include.button_class | default: 'btn-secondary' }}{% endif %} " href="{{ include.url | default: item.url  }}">{{ include.link_label | default: item.link_label | default: 'Learn More'}}</a>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="col-image col-12 {{image-class}} column-{{include.section_background_color | default: 'primary'}}">
          <!--<img src="{{ image }}" alt="" class="d-block">-->
          <span class='bkg ' style="background-image:url('{{ image }}')"></span>
        </div>

      </div>
    </div>
  </section>