
{% assign item = include.item %}

{% if include.image_width == '25%' %}
  {% capture text-class %}col-md-9{% endcapture %}
  {% capture image-class %}col-md-3{% endcapture %}
{% elsif include.image_width == '33%' %}
  {% capture text-class %}col-md-8{% endcapture %}
  {% capture image-class %}col-md-4{% endcapture %}
{% elsif include.image_width =='66%' %}
  {% capture text-class %}col-md-4{% endcapture %}
  {% capture image-class %}col-md-8{% endcapture %}
{% elsif include.image_width == '75%' %}
  {% capture text-class %}col-md-3{% endcapture %}
  {% capture image-class %}col-md-9{% endcapture %}
{% else %} 
  {% capture text-class %}col-md-6{% endcapture %}
  {% capture image-class %}col-md-6{% endcapture %}
{% endif %}

{% if include.text_to_edge %}
  {% capture text-class %}{{ text-class }} text-to-browser-edge{% endcapture %}
{%endif%}

{% if include.image_to_edge %}
  {% capture image-class %}{{ image-class }} image-to-browser-edge{% endcapture %}
{%endif%}




<section class="split-section image-{{include.image_alignment | default: 'right'}} " id={{ include.id }}>
    <div class="container split-section">
      <div class="row">   
        <div class="col-text col-12 {{text-class}} column-{{include.section_background_color | default: 'transparent'}}">
            <span class='bkg '></span>
            
            {% if item.preheader %}
              <div class="preheader">{{ item.preheader }}</div>
            {% endif %}
            
            {% if item.title %}
              <h2>{{ item.title }}</h2>
            {% endif %}

            <p>{{ item.summary | item.description_html | default:item.content | truncatewords: 50 }}</p>

            {% if item.url %}
              <p><a class="{% if item.button_type == 'text' %}text-link{% else %}btn btn-info{% endif %} " href="{{ item.url }}">{{ item.link_label | default: 'Learn More'}}</a></p>
            {% endif %}

        </div>
        <div class="col-image col-12 {{image-class}} column-{{include.section_background_color | default: 'primary'}}">
            <img src="{{ item.featured_image | item.hero }}">
            <!--<span class='bkg ' style="background-image:url('{{ item.featured_image | item.hero }}')"></span>-->
        </div>
      </div>
    </div>
  </section>