<section id="spread-the-word">
  <div class="container">
    <div class="page-heading">
      <h2>Spread the Word</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <p>ReFED’s <a href="{{ '/download#the-full-report~' | prepend: site.baseurl }}" title="ReFED's Roadmap">Roadmap</a> is meant to not just be a research report for academic use, but a data-driven playbook for the whole food sector to make significant strides in solving the food waste challenge. Our analysis demonstrates that it is feasible using existing solutions to reduce food waste by 20% over the next decade with positive or breakeven economic value.</p>
           
          <p>We need your help in spreading the word about these important solutions.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <ul>
            <li class="hide">Email a friend &gt;
              <span><a href="#"><i class="icon-mail"></i></a></span>
            </li>
            <li>Share &gt;
              <span>
                <a href="https://twitter.com/refed_nowaste" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
              </span>
            </li>
            <li>Download the report &gt;
              <span><a href="{{ '/download' | prepend: site.baseurl }}"><i class="icon-download"></i></a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
