/* -----------------------------------------
   Color Palette
----------------------------------------- */

.bg-white {
  @include palette(#ffffff, $text-color);
}
.cream {
  @include palette($cream, $text-color);
}
.cream-light {
  @include palette($cream-lighter, $text-color);
}
.teal {
  @include palette($button-color, $cream-lighter);
}
.turquoise {
  @include palette($link-color, $cream-lighter);
}
.gray-lighter {
  @include palette($gray-lighter, $text-color);
}
.gray {
  @include palette($text-color, $cream-lighter);
}
.alt {
  background-color: $cream-light;
}
.transparent {
  background-color: transparent !important;
}

.recycle, .recycling {
  @include palette($recycle-color, $cream-lighter);
}
.recovery {
  @include palette($recovery-color, $cream-lighter);
}
.prevention {
  @include palette($prevention-color, $cream-lighter);
}

.recovery-light {
  background-color: $recovery-light;
}

.cream-dark {
  background-color: $cream-dark;
}

.cream-darker {
  background-color: $cream-darker;
}

.muted {
  color: rgba(0,0,0,0.5);
}

.text-prevention { color: $prevention-color; }
.text-recovery { color: $recovery-color; }
.text-recycle, .text-recycling { color: $recycle-color; }