.lineClamp {
  position: relative;
  height: auto;
  padding-bottom: 3em;
  overflow: hidden;
  @include transition(.4s);
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3em;
    background: linear-gradient(to bottom, rgba(247, 245, 240, 0), rgba(247, 245, 240, 1) 50%);
  }
  &.open {
    &:after {
      display: none;
    }

  }
}

.unClamp {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
  font-style: italic;
}

@media all and (max-width: $screen-md-max) {
  .lineClamp {}
}

@media all and (max-width: $screen-sm-max) {
  .lineClamp {}
}

@media all and (max-width: $screen-xs-max) {
  .lineClamp {}
}