#share-instructions {
  position: fixed;
  top: -125px;
  height: 125px;
  left:0;
  width: 100%;
  background: $cream;
  padding: 0;
  z-index:1000;
  @include transition(.4s);
  a {
    &:after {
      display: none;
    }
  }
  &.active {
    top: 0;
  }
  .links {
    width: 100%;
  }
  input {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
  .close {
    font-weight: 100;
    color: #36383A;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 1000;
  }
}

@media all and (max-width: $screen-sm-max) {
  #share-instructions {
    height: 190px;
    top: -190px;
    padding-top: 20px;
    input {
      margin-top: -5px;
    }
    .links {
      width: 100%;
    }
    .content {
      padding: 5px 20px;
    }
  }
}