#share-instructions {
  position: fixed;
  top: -100px;
  height: 100px;
  left:0;
  width: 100%;
  background: $cream;
  padding: 20px;
  z-index:1000;
  @include transition(.4s);
  a {
    &:after {
      display: none;
    }
  }
  &.active {
    padding: 20px;
    top: 0;
    // &:before {
    //   position: fixed;
    //   top:0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   content: '';
    //   background-color: rgba(0,0,0,.7);
    //   display: block;
    //   z-index:888;
    // }
  }
  .close {
    font-weight: 100;
    color: #36383A;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

@media all and (max-width: $screen-sm-max) {
  #share-instructions {
    height: 160px;
    top: -160px;
  }
}