#share-instructions {
  position: fixed;
  top: -125px;
  height: 125px;
  left:0;
  width: 100%;
  background: $cream;
  padding: 0;
  z-index:1000;
  @include transition(.4s);
  a {
    &:after {
      display: none;
    }
  }
  &.active {
    top: 0;
  }
  .links {
    width: 29%;
  }
  input {
    width: 70%;
  }
  p {
    font-size: 12px;
  }
  .close {
    font-weight: 100;
    color: #36383A;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 15px;
  }
}

@media all and (max-width: $screen-sm-max) {
  #share-instructions {
    height: 160px;
    top: -160px;
  }
}