#profile {
  #confirm_zip_code {
    width: 49%;
  }
  input[type="submit"] {
    width: 49%;
    float: right;
    height: 48px;
  }
}

#thanks {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  text-align: center;
  img {
    width: 250px;
    margin: 80px auto 0 auto; 
  }
}

// Signup form on stakeholder pages
#collaborate {
  form {
    margin-top: 20px;
    input {
      line-height: 38px;
      padding: 0;
      &.zip {
        width: 49%;
        min-width: 0;
        margin-right: 5px;
      }
    }
    input[type="submit"] {
      display: block;
      float: right;
      width: 48%;
      min-width: 0;
      height: 48px;
      line-height: 40px;
      margin: 3px 0 0 0;
      padding: 0;
      text-indent: 0;
    }
  }
}

@media all and (max-width: $screen-md-max) {
}

@media all and (max-width: $screen-sm-max) {
}

@media all and (max-width: $screen-xs-max) {
}