.videoPlay {
  display: block;
  width: 100%;
  height: 455px;

  text-indent: -9999em;
  background-image: url("/img/bg-map.jpg");
  background-size: contain;
  background-color: #c5ced5;
  background-repeat: no-repeat;
  background-position: bottom center;

  cursor: pointer;
}

@media all and (max-width: $screen-md-max) {

}

@media all and (max-width: $screen-sm-max) {
  .videoPlay {
    height: 280px;
  }
}

@media all and (max-width: $screen-xs-max) {

}