button {
  padding: 0 20px;
  color: $link-color;
  border: none;
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  i {
    display: inline-block;
    font-size: inherit;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &.inline {
    padding: 0;
    color: $link-color;
    border: none;
    background: none;
    background-color: transparent;
    &:hover {
      color: $link-hover-color;
    }
  }
  &.sort {
    color: $text-color;
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;
  }
}

.button {
  display: flex;
  width: 100%;
  // height: 60px;
  height: 48px;
  line-height: 1.25em;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px;
  border-radius: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $button-color;
  border: none;
  color: $cream-lighter;
  appearance: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: default;
    pointer-events: none;
  }
  &.external {
    padding: 0 20px;
  }
  &:visited {
    color: $cream-lighter;
  }
  &:hover,
  &:focus {
    background-color: darken($button-color, 10%);
    color: $cream-lighter;
  }
  span {
    margin: auto;
  }
  i {
    display: inline-block;
    margin: 0 4px;
    font-size: 16px;
    width: auto;
    height: auto;
  }
  &.inverse {
    background-color: $gray-dark;
    color: $cream-light;
    &:hover,
    &.active {
      background-color: $cream;
      color: $gray-darker;
    }
  }
  &.cream {
    color: $gray-darker;
    &:hover,
    &.active {
      background-color: darken($cream, 15%) !important;
      color: $gray-base;
    }
  }
  &.prevention {
    color: $cream-lighter;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($prevention-color, 10%);
      color: $cream-lighter;
    }
  }
  &.play-video {
    position: relative;
    height: $base-line-height * 2.5;
    line-height: $base-line-height * 2.5;
    padding-right: 40px;
    font-size: 32.5px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid $cream-lighter;
    // box-shadow: inset 0 0 2px rgba(246,245,240,1);
    background-color: rgba(0, 0, 0, 0.3);
    &:hover {
      color: #ffffff;
    }
    i {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 40px;
      margin: auto;
      float: right;
      line-height: $base-line-height * 2.5;
      text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    }
  }
  &.btn-half {
    width: 50%;
  }
}
.button-stakeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  color: $gray;
  i {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media all and (max-width: $screen-md-max) {
  .button {
  }
}

@media all and (max-width: $screen-sm-max) {
  .button {
  }
}

@media all and (max-width: $screen-xs-max) {
  .button {
    font-size: 13px;
    line-height: 16px;
  }
}
