/* -----------------------------------------
   Global
----------------------------------------- */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: $font-family-base;
  background-color: $cream-lighter;
  color: $text-color;
  font-weight: 300;
}
main { position: relative; }

nav {
  display: flex;
  ul {
    margin: auto;
    margin-right: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    li {
      height: $base-line-height;
      line-height: $base-line-height;
      margin: 0 1em;
    }
  }
}
menu {
  padding: 0;
  .button {
    background-color: $cream;
    color: $text-color;
    height: 32px;
    line-height: 32px;
    width: auto;
    display: inline-block;
    font-size: 13px;
    font-family: $font-family-condensed;
    opacity: 0.5;
    @include transition();
    &:hover,
    .active {
      opacity: 1;
      background-color: $cream;
      color: $text-color;
    }
    i {
      font-size: 13px;
    }
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: inherit;
  font-weight: 200;
  line-height: 1.25em;
  color: inherit;
  text-transform: uppercase;
  small,
  .small {
    font-size: 65%;
  }
}
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; text-transform: uppercase; margin-bottom: 0;}
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; text-transform: uppercase; color: inherit; margin-bottom: 0; }
h6, .h6 { font-size: $font-size-h6; }

p {
  margin: 0 0 1.5em 0;
  font-size: 16px;
}
img {}


a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
    outline: none;
    text-decoration: none;
  }
  &.disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }
}
b, strong {
  font-weight: 500;
}

i {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
}

ul {
  padding-left: 0;
  list-style: none;
  li {
    margin-bottom: 1em;
  }
  &.styled {
    padding-left: 1em;
    list-style: disc;
  }
}
ol {
  padding-left: 1em;
  margin-top: 25px;
  li {
    padding-left: 0.5em;
    font-weight: 500;
    margin-bottom: 1em;
    span {
      font-weight: 300;
    }
  }
}

dl {
  dt {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.25em;
  }
  dd {
    margin-bottom: 1em;
  }
}

em {
  font-family: $font-family-serif;
  font-style: italic;
}

iframe {
  max-width: 100%;
}

@media all and (max-width: $screen-md-max) {}

@media all and (max-width: $screen-sm-max) {}

@media all and (max-width: $screen-xs-max) {}