.container {
  position: relative;
  max-width: $live-content-width;
  padding: 0;
}

.container-flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: $live-content-width + 300;
  padding: 0;
  margin: 0 auto;
  &.justify-center {
    justify-content: center;
  }
}

.row-header {
  padding: 10px 35px;
  padding-bottom: 0;
  h1, h2, h3, h4, h5 { margin-bottom: 0; }
}

aside.sidebar {
  .row-header {
    margin-bottom: -10px;
  }
}
@media all and (max-width: $screen-md-max) {
}

@media all and (max-width: $screen-sm-max) {
}

@media all and (max-width: $screen-xs-max) {
}