#pageContent {
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: table;
  }
  main {
    width: 100%;
  }
  aside {
    display: none;
    // Set default styles
    height: 100%;
    background-color: $cream-light;
    box-shadow: -8px 0px 5px -5px rgba(0,0,0,.2), 8px 0px 5px -5px rgba(0,0,0,.2);
  }

  &.sidebar {
    main {
      width: 70%;
    }
    aside {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
    }
  }
}


@media all and (max-width: $screen-xs-max) {

}
@media all and (max-width: $screen-sm-max) {

}
@media all and (max-width: $screen-md-max) {

}