#pageContent {
  position: relative;
  main {
    width: 100%;
  }
  aside {
    display: none;
    // Set default styles
    background-color: $cream-light;
    box-shadow: -8px 0px 5px -5px rgba(0,0,0,.2), 8px 0px 5px -5px rgba(0,0,0,.2);
  }

  &.sidebar {
    display: flex;
    flex-wrap: wrap;
    main {
      display: block;
      width: 70%;
      .container {
        width: auto !important;
      }
    }
    aside {
      display: block;
      width: 30%;
    }
  }
}


@media all and (max-width: $screen-xs-max) {

}
@media all and (max-width: $screen-sm-max) {
  #pageContent {
    &.sidebar {
      main {
        width: 100%;
      }
      aside {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: $screen-md-max) {

}