@media print {
  #toolnav, .mobilenav, .hidden-for-print, #toolFooter {
    display: none;
  }
  #toolHeader {
    position: relative;
    top: auto;
    left: auto;
  }
  #pageContent {
    margin-top: 0 !important;
  }
}