section {
  padding: 50px 0;
  &.alt-bg {
    @include palette($cream-light, $text-color);
  }

  // Borders
  &.border {
    border-left: 30px solid;
    &.prevention-border {
      border-color: $prevention-color;
    }

    &.recovery-border {
      border-color: $recovery-color;
    }

    &.recycling-border {
      border-color: $recycle-color;
    }
    &.cream-border {
      border-color: $cream;
    }
  }

  &.flush {
    padding: 0;
    .row {
      // max-width: none;
      margin: 0;
      .content {
        max-width: floor(($live-content-width / 2 - 40));
      }
      .col {
        width: 50%;
        float: left;
      }
      [class^="col-"] {
        padding: 0;
        .content {
           // padding: $content-padding $content-padding*4;
        }
      }
      [class^="col-"]:first-child {
        .content {
          margin-right: 0;
          margin-left: auto;
          padding-left: 0;
        }
      }
      [class^="col-"]:last-child {
        .content {
          margin-right: auto;
          margin-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  section {
    padding: 25px 0;
    &.flush {
      .row {
        [class^="col-"]:first-child {
          .content {
            margin-right: auto;
            margin-left: auto;
            padding-left: 20px;
            width: 750px;
            max-width: 100%;
          }
        }
      }
    }
  }
}