// Bleeds
.flush { padding: 0 !important; }
.flush-bottom { padding-bottom: 0 !important; }

// Bleeds
.fullbleed { padding: 0; }
.bottombleed { padding-bottom: 0; }
.topbleed { padding-top: 0; }

/* -----------------------------------------
   Utility Classes
----------------------------------------- */
.hide {
  display: none !important;
  visibility: hidden !important;
}
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.visible-mobile {
  visibility: hidden;
  display: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.fineprint {
  font-size: 14px;
  line-height: 1;
}

.transparent {
  opacity: 0;
  background-color: transparent;
  border-color: transparent;
}

.condensed {
  font-family: $font-family-condensed !important;
}

// Content
.content {
  position: relative;
  padding: $content-padding;
  // @extend .clearfix;
  &.middle {
    display: flex;
    align-items: center;
  }
  &.center {
    justify-content: center;
  }
  &.flex-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  svg {
    max-width: 100%;
  }
}

.break-50 {
  width: 50% !important;
}
.break-60 {
  width: 60% !important;
}
.break-70 {
  width: 70% !important;
}
.break-80 {
  width: 80% !important;
}
.break-90 {
  width: 90% !important;
}

.script {
  font-family: $font-family-serif;
  font-style: italic;
}

.brand {
  text-transform: none !important;
}


// column wrap 
.col2 {
  column-count: 2;
  column-gap: 40px;
  li {
    break-inside: avoid;
    margin-bottom: 0;
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
}
.col3 {
  column-count: 3;
  column-gap: 40px;
  li {
    break-inside: avoid;
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.italic {
  font-style: italic;
}

.muted, .faded {
  opacity: 0.5;
}


// External Links
a.external {
  position: relative;
  &:after {
    font-family: 'refed' !important;
    content: "\e913";
    position: relative;
    top: 2px;
    font-size: 10px;
    vertical-align: super;
    margin: 0 2px;
    opacity: 0.5;
    display: inline;
  }
}

.nocase {
  text-transform: none !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}




// Borders
// Borders
$border-width: 1px;
$border-color: $gray-lighter;
.border { border: 0 solid $border-color; }
.border-all { border-width: $border-width; }
.border-top { border-top-width: $border-width; }
.border-right { border-right-width: $border-width; }
.border-bottom { border-bottom-width: $border-width;}
.border-left { border-left-width: $border-width; }

@media all and (max-width: $screen-md-max) {

}

@media all and (max-width: $screen-sm-max) {
  .flush {
    padding: 0;
    .row {
      max-width: none;
      margin: 0;
      .content {
        max-width: none;
      }
      .col {
        width: 50%;
        float: left;
      }
      [class^="col-"] {
        padding: 0;
        .content {
           padding: $content-padding;
        }
      }
      [class^="col-"]:first-child {
        .content {
          margin: 0;
          padding: $content-padding;
        }
      }
      [class^="col-"]:last-child {
        .content {
          margin: 0;
          padding: $content-padding;
        }
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  // breaks go to full width
  .break-50,
  .break-60,
  .break-70,
  .break-80,
  .break-90, {
    width: 100% !important;
  }

  // columns stop wrapping 
  .col2 {
    column-count: 1;
  }
  .col3 {
    column-count: 1;
  }
}