---
layout: tool
title: Spotlight on Date Labeling Regulations

header: <small>Spotlight on</small>Date Labeling Regulations
sidebar: fixed
---
{% contentfor sidebar %}
  {% include elements/toolSidebar.html %}
{% endcontentfor %}

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="about">
    {% include_relative _partials/about.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="quiz">
    {% include_relative _partials/quiz.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="maps">
    {% include_relative _partials/maps.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="federal-solutions">
    {% include_relative _partials/federal-solutions.html %}
  </div>
</div>


<section class="alt-bg">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <p><strong>Explore Food Waste Policy by State</strong></p>
          {% include nav/quicknav.html %}
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="row-header">
        <h3>U.S. Food Waste Policy Tool</h3>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="content">
          <a href="/tools/policy/food-waste-policy-finder" title="Food Waste Policy Finder">
            <img src="/img/tools/policy/Policy_thumb-fw-state.png" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="content">
          <p class="editable">Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
          <a href="/tools/policy/food-waste-policy-finder" title="Food Waste Policy Finder" class="button">Learn More &gt;</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="alt-bg">
  <div class="container">

    <div class="row">
      <div class="row-header">
        <h3>About This Tool</h3>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <p class="editable">ReFED and the Harvard Law School Food Law and Policy Clinic collaborated to develop the Food Waste Policy Finder, with state date labeling information provided by the Natural Resources Defense Council and animal feed policy information provided by the University of Arkansas School of Law.</p>
        </div>
      </div>
    </div>

  </div>
</section>

