---
layout: tool
title: Spotlight on Date Labeling Regulations

header: <small>Spotlight on</small>Date Labeling Regulations
sidebar: fixed
---
{% contentfor sidebar %}
  {% include elements/toolSidebar.html %}
{% endcontentfor %}

<section>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="about">
      {% include_relative _partials/about.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="quiz">
      {% include_relative _partials/quiz.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="maps">
      {% include_relative _partials/maps.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="federal-solutions">
      {% include_relative _partials/federal-solutions.html %}
    </div>
  </div>
</section>

<section class="alt-bg">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <p><strong>Explore Food Waste Policy by State</strong></p>
          {% include nav/quicknav.html %}
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="row-header">
        <h3>U.S. Food Waste Policy Tool</h3>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="content">
          <a href="/tools/policy/food-waste-policy-finder" title="Food Waste Policy Finder">
            <img src="http://placehold.it/350x350" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="content">
          <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="/tools/policy/food-waste-policy-finder" title="Food Waste Policy Finder" class="button">Learn More &gt;</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="alt-bg">
  <div class="container">

    <div class="row">
      <div class="row-header">
        <h3>About This Tool</h3>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <p>This section does not make any sense... Where does it link to?</p>
          <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#about" data-toggle="tab" class="button">About</a>
        </div>
      </div>
    </div>

  </div>
</section>

