.circle-icon{
  width: rem(133);
  height: rem(133);
  margin-right: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  &.circle-icon-large{
    width: rem(205);
    height: rem(205);
    margin-right: rem(90);
  }
  &.circle-icon-small{
    width: rem(91);
    height: rem(91);
    margin-right: rem(20);
  }
  &.circle-icon-smaller {
    width: rem(65);
    height: rem(65);
  }
  &.circle-icon-smallest{
    width: rem(58);
    height: rem(58);
    margin-right: rem(20);
  }
  svg,
  img {
    width: 50%;
    max-height: 50%;
  }
  i {
    font-size: 30px;
  }
}

.circle-icon-list{
  li{
    clear:left;
    list-style:none;
    margin-bottom:em(50);
    margin-top:em(50);
    .circle-icon{
    }
    .description{
      h2{}
      p {
        &:last-child{
          margin-bottom:0;
        }
      }
    }
  }
  &.circle-icon-list--large-list{
    li{
      margin-bottom: rem(100);
      margin-top: rem(100);
    }
  }
  &.circle-icon-list--small-list{
    li{
      margin-bottom:em(30);
      margin-top:em(30);
    }
  }

  /*
  &.constrained-in-a-column{
      margin-bottom:em(50);
      margin-top:em(50);
      .circle-icon{
      }
  }
  */
  /*
  &.small-list{
      li{
          margin-top:em(50);
          margin-bottom:em(50);
          .icon{
              margin-right:em(40);
          }
      }
  }
  */

  
  @media screen and (max-width: $screen-md-min){
    li{
      margin-bottom: em(20);
      text-align: center;
      .circle-icon{
        margin-left: auto;
        margin-right: auto;
      }
      .description{

      }
    }
  }
}

