// TODO: This file belongs in the vendor folder
.wFormContainer {
  max-width: 100% !important;
  .wFormHeader,
  .wFormTitle {
    display: none !important;
  }
  .wForm {
    form {
      padding: 0 !important;
      > div.oneField {
        border: 0;
        padding: 2px 0;
        margin-top: 5px;
        &:nth-of-type(1) {
          margin-top: 0;
        }
      }
    }
    .label {
      font-family: $font-family-base;
      &.preField {
        color: $body-color !important;
        font-family: $font-family-base !important;
        text-transform: none;
        font-weight: 600;
      }
    }
    .inputWrapper {
      display: block;
      input[type="text"],
      input[type="email"],
      textarea {
        border: 0 !important;
        line-height: 38px !important;
        height: 38px !important;
        font-size: 13px !important;
        background-color: $lighter !important;
        width: 100% !important;
      }
    }
    .inputWrapper select:not([multiple]) {
      height: 38px !important;
      line-height: 38px !important;
      border: 0 !important;
    }
    .actions {
      padding: 0 !important;
      border: 0;
      margin-top: 30px;
      .primaryAction {
        padding: 12px 30px !important;
        margin-top: 0 !important;
        text-transform: uppercase !important;
        font-weight: 100 !important;
        background-color: $secondary;
        text-transform: none !important;
        border-radius: 0;
        font-weight: 600 !important;
      }
    }
    .choices {
      &.vertical {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .postField {
      text-transform: none !important;
      font-weight: 600;
      font-family: $font-family-base;
      color: $body-color;
    }
    .section {
      &.inline {
        &.group {
          display: flex;
          justify-content: space-between;
          .oneField {
            width: 48% !important;
            padding: 0;
            .inputWrapper {
              border: 1px solid $body-color;
              select {
                width: 100% !important;
                color: $body-color;
              }
            }
          }
        }
      }
    }
  }
  .select-wrapper {
    width: 100%;
    .inputWrapper {
      border: 1px solid $body-color;
      select {
        width: 100% !important;
      }
    }
  }
}

.form-theme-dark {
  .wFormContainer {
    .wForm {
      .label {
        &.preField {
          color: $white !important;
        }
      }
      .inputWrapper select:not([multiple]) {
        border: 1px solid $white !important;
        background-color: transparent !important;
        color: $white !important;
      }
      .actions {
        padding: 0 !important;
        border: 0;
        margin-top: 30px;
        .primaryAction {
          padding: 12px 30px !important;
          margin-top: 0 !important;
          text-transform: uppercase !important;
          font-weight: 100 !important;
          background-color: $secondary;
          text-transform: none !important;
          border-radius: 0;
          font-weight: 600 !important;
        }
      }
      .choices {
        &.vertical {
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .postField {
        text-transform: none !important;
        font-weight: 600;
        font-family: $font-family-base;
        color: $body-color;
      }
      .section {
        &.inline {
          &.group {
            display: flex;
            justify-content: space-between;
            .oneField {
              width: 48% !important;
              padding: 0;
              .inputWrapper {
                border: 1px solid $body-color;
                select {
                  width: 100% !important;
                  color: $body-color;
                }
              }
            }
          }
        }
      }
    }
    .select-wrapper {
      width: 100%;
      .inputWrapper {
        border: 1px solid $body-color;
        select {
          width: 100% !important;
        }
      }
    }
  }
}
