.homepage-newsfeed {
  .excerpts-column {
    @include media-breakpoint-up(lg) {
      padding-right: 68px;
    }
    .btn{
      margin-top: 50px;
    }
  }
  .cta-column{
    // padding: 0 85px;
    .news-carousel{

    }
  }
  .flickity-prev-next-button {
    top: 176px;
  }
  .card{
    .card-subtitle{
      color: $mid;
    }
    .card-text{
      font-size: 25px;
    }
    .card-link{
      margin-top: 22px;
    }
  }
  .leftcol,
  .rightcol {
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .leftcol {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -25%;
      width: 200%;
      height: 100%;
      background-color: $neutral-100;
      @include media-breakpoint-up(lg) {
        left: -100%;
        width: 100%;
      }
    }
  }

  .rightcol {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-color: $neutral-200;
      @include media-breakpoint-up(lg) {
        left: 0;
        width: 200%;
      }
    }
  }
  .z-index-100 {
    position: relative;
    z-index: 100;
  }
}
// @media screen and (max-width: $screen-md-min){
//   .rightcol{
//     margin-top:0;
//     // padding: 0 85px;
//     /* background-color:#FFF; */
//   }
//   .extend-to-browser-edge > .row{
//     display: flex;
//     .leftcol{
//       order: 2;
//     }
//     .rightcol{
//       order: 1;
//       // padding: em(30) 0;
//       .news-carousel{
//         padding-top:0;
//       }
//     }
//   }
// }