.split-carousel {
  .split-carousel-image {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include media-breakpoint-up(lg) {
      height: 100%;
      position: absolute;
      top: 0;
      width: 50%;

    }
    &.split-image-right {
      right: 0;
    }
    &.split-image-left {
      left: 0;
    }
  }

  .flickity-page-dots{
    top: 0;
    bottom: inherit;
    left: 0;
    right: 0;
    width: 50%;
    text-align: left;
    margin-left: 7px;
  }  
  &.dots-right .flickity-page-dots{
    left: 50%;
  } 
  &.dots-left .flickity-page-dots{
    left: 0;
  } 
  &.dots-left-in-container{
    .flickity-page-dots{
      left: 0;
      max-width:#{map-get($container-max-widths, 'xl')};
      padding-top:em(50);
      // TODO: make responsive size max width;
      width:100%;
      margin:auto;
    } 
  }
  
  @media screen and (max-width: $screen-md-min){
    &.dots-right .flickity-page-dots{
      left: 0;
    }
    .flickity-page-dots{
      top: 375px;
    }
  }
  @media screen and (max-width: $screen-sm-min){
    .flickity-page-dots{
      top: 67vw;
      &:after{
        content:'need to find a solution for the placement of these dots.';
        background-color: pink;
        padding: 4px;
        display: block;
        font-size: 12px;
        width: 180%;
        opacity: 0.8;
      }
    }
  }
}