// probably unnecessary, achieved with base bootstrap markup
// .staff{
//     .card{
//       flex-direction: row;
//       margin-top: em(50);
//       margin-bottom: em(50);
//       .bg-image{
//         width: 33.33%;
//         height: auto;
//       }
//       .card-image{
//         width: 43%;
//         img{
//           width: 100%;
//           padding-right: em(100);
//         }
//       }
//       .card-body{
//         padding:0;  
//         .card-text{
//           margin-top: em(6);
//           padding-top: em(13);
//         }  
//         .title{
//           font-size: em(23);
//           margin-bottom: em(21,23);
//           color: $mid;
//         }
//       }
//     }
    
//     @media screen and (max-width: $screen-xl-min){
//       .card{
//         .card-image{
//           img{
//             padding-right: em(50);
//           }
//         }
//       }
//     }
//     @media screen and (max-width: $screen-lg-min){
//       .card{
//         .card-image{
//           img{
//             padding-right: em(25);
//           }
//         }
//       }
//     }
//     @media screen and (max-width: $screen-md-min){
//       .card{
//         flex-direction: column;
//         .card-image{
//           width: auto;
//           max-width: 350px;
//           margin-bottom: em(30);
//           img{
//             padding-right: 0;
//           }
//         }
//       }
//     }
// }




// .staff-2{
//     .card{
//         flex-direction:row;
//         margin-top: em(10);
//         margin-bottom: em(10);
//         .card-image{
//             width: 40%;
//             padding-right: em(20);
//             img{
//                 width: 100%;
//             }
//         }
//         .card-body{
//             font-size:em(16);
//             width: 50%;
//             padding:0; 
//             //padding-top: em(70,16);
//             padding-left: em(27,16) !important;
//             .card-text{
//                 border-top:none; 
//                 margin-top:0;
//                 padding-top:em(10,16);
//             }  
//             .title{
//                 font-size:1em;
//                 margin-bottom:em(1,16);
//             }
//         }
//     }
    
//     @media screen and (max-width: $screen-xl-min){
//         .card{
//             .card-image{
//                 img{
//                     padding-right: em(50);
//                 }
//             }
//         }
//     }
//     @media screen and (max-width: $screen-lg-min){
//         .card{
//             .card-image{
//                 img{
//                     padding-right: em(25);
//                 }
//             }
//         }
//     }
//     @media screen and (max-width: $screen-md-min){
//         .card{
//             flex-direction:column;
//             .card-image{
//                 width: auto;
//                 max-width: 350px;
//                 margin-bottom: em(30);
//                 img{
//                     padding-right: 0;
//                 }
//             }
//         }
//     }
// }