body.show-subscribe-form {
  overflow:hidden;
}

.subscribe-form-overlay{
    transform: translateX(100%);
    transition:transform 0.5s ease-out;
    position:fixed;
    top:0;
    height:100vh;
    width:100%;
    padding:0;
    z-index:9999;


    .subscribe-form-overlay__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* define how big it is before scrolling */
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        /* look & feel */
        padding: 20px;
    }

    .close-btn{
        position: fixed;
        top: 10px;
        right: 17px;
        font-size: 50px;
        font-weight: bold;
        color: #FFFFFF;
        border: none;
        background-color: transparent
    }
}

body.show-subscribe-form{
    overflow:hidden;
    .subscribe-form-overlay{
        transform: translateX(0);
    }

}