---
layout: default
title: We Can Reduce Waste by 50%

hero:
  preheader: The Challenge
  image: https://picsum.photos/id/177/1000/333
  title: Today in the US, approximately 40% of all food goes to waste somewhere along the supply chain from producers to consumers.

next-page-cta: 
  headline: ReFED offers a range of solutions for organizations to advance their own food waste iniatives. Our interactive tools, reports and strategic solutions can help your team get started.
  cta-label: See our solutions
  cta-url: /food-waste-solutions
---


{% include modules/hero.html %}

<section class="2030-goals">
    <a name="2030-goals"></a>
    <div class="container">
        <h2>What is Food Waste?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>
</section>





<section class="current-situation">
    <a name="current-situation"></a>
    <div class="container text-center">
        <h2>Current State of Food Waste</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        <a href="#" class="btn btn-primary editable my-5 p-3">View Food Waste Tracker</a>
        <img class="m-2 w-100" src="https://via.placeholder.com/1000x300" alt="Alt Tag...">
    </div>
</section>






<section>
    <div class="container">
      <div class="row">  
        <div class="col-md-6 py-5">
          <h2 class="editable">Headline Goes Here</h2>
          <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" type="button" class="btn btn-primary editable p-3">Optional CTA button</a>
        </div> 
        <div class="col-md-6">
          <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
        </div>     
      </div>      
    </div>  
  </section>




  <section class='impacts bg-light'>
    <a name="impacts"></a>
    <div class="container text-center">
     
      <div class="row p-3">
        <div class="col-8 mx-auto">
            <h4 class="editable">Impact Areas</h4>
            <h2 class="editable">Headline Goes Here</h2>
            <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </row>
    
    <div class="row">
        <div class="col-md-6 col-lg-3">            
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
            <h4 class="editable my-3">Climate</h4>
        </div>
        <div class="col-md-6 col-lg-3 text-center">            
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
            <h4 class="editable my-3">Food</h4>
        </div>
        <div class="col-md-6 col-lg-3 text-center">            
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
            <h4 class="editable my-3">Economic</h4>
        </div>
        <div class="col-md-6 col-lg-3 text-center">            
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
            <h4 class="editable my-3">Public Health</h4>
        </div>
        <div class="col-12">
            <a href="#" type="button" class="btn btn-primary editable p-3">View Impact Calculator</a>
        </div>  
      </div>      
    </div>  
  </section>



  <section class="policy-overview">
    <a name="policy-overview"></a>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
        </div> 
        <div class="col-md-6 py-5">
            <h4 class="editable">Policy Overview</h4>
            <h2 class="editable">Headline Goes Here</h2>
          <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" type="button" class="btn btn-primary editable p-3">View Policy Tracker</a>
        </div>     
      </div>      
    </div>  
  </section>


  <section class="funding-needs">
    <a name="funding-needs"></a>
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-5">
            <h4 class="editable">Funding Needs</h4>
            <h2 class="editable">Headline Goes Here</h2>
          <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="#" type="button" class="btn btn-primary editable p-3">View Invenstment Tracker</a>
        </div>   
        <div class="col-md-6">
            <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
        </div>   
      </div>      
    </div>  
  </section>



  <section>   
    <div class="container">
      <div class="row" >     
        <div class="col-md-8">
          <h3 class="editable">Interested in becoming a funder or donor? Find ou the impact we can make with your support.</h3>
        </div>
        <div class="col-md-4">
          <a href="/contact" type="button" class="btn btn-primary editable p-3">Contact ReFED</a>
        </div>      
      </div>
    </div>
  </section>




  

{% include modules/next-page-cta.html %}