---
layout: page
title: Home

hero:
  extra-class: 
  image: https://picsum.photos/id/134/1000/333
  title: We're on a mission to end food waste through data-driven solutions

---


{% include modules/hero.html %}
<section class="page-intro page-intro--homepage">
  <div class="container">
    <div class="h3 editable max-out-text-width" >
      For us, success is a sustainable, resilient, and inclusive food system that allows the planet, people and the economy to thrive - a food system that is optimized to preserve water and land resources, minimize climate impacts, and make the best use of the food we grow.
    </div>
  </div>
</section>


<section class="homepage-newsfeed">
  <div class="container extend-to-browser-edge">
    <div class="row">   
      
      <div class="leftcol excerpts-column stretch-left stretch-bkg col-12 col-md-8 bg-lightest pt-5">       
          <span class='stretched-inner bg-lightest'></span>
          <div class="news-carousel">
            {% for post in site.posts %}
              <div class="card news-{{ forloop.index }} col-md-6" >
                <div class="bg-image aspect-2x1" style="background-image:url({{ post.image }})"></div>
                <div class="card-body">
                  <!--<h3 class="card-title">Card title</h3>-->
                  <div class="card-subtitle mb-2 text-muted">{{ post.date | date: "%B %-d, %Y" }}</div>
                  <p class="card-text">{{ post.title }}</p>
                  <a href="{{ post.url }}" class="card-link">Read More</a>
                </div>
              </div>
              {% endfor %}
          </div>          
      </div>

      <div class="rightcol cta-column stretch-right stretch-bkg col-12 col-md-4 pt-5">
        <span class='stretched-inner bg-light'></span>
        <div class="h3 editable">Find more <a href="/newsroom">news and updates</a> from ReFED, including our <a href="/newsroom">press releases</a> and <a href="/newsroom">newsletters</a>.</div>
        <a href="/contact" class="btn btn-primary btn-lg font-serif">Subscribe</a>
      </div>

    </div>
  </div>  
</section>






<section class="food-waste-goals">
  <div class="container">
      <div class="full-width-carousel two-column-carousel dots-right">
          
          {% for num in (1..4) %}
          <div class="w-100">
            <div class="container">
              <div class="row">  
              
                  <div class="col-md-6">
                      <img class="d-block w-100" src="https://via.placeholder.com/615x450" alt="Alt Tag...">
                  </div> 

                  <div class="col-md-6 py-5">
                      <h2 class="editable">The Multi-billion dollar food waste problem</h2>
                      <p class="editable">Every year, American consumers, businesses, and farms spends $218 billion a year, or 1.3% of GDP, growing, processing, transporting, and disposing food that is never eaten. That’s 52 million tons of food sent to landfill annually, plus another 10 million tons that is discarded or left unharvested on farms. Meanwhile, one in seven Americans is food insecure.</p>
                      <a href="#" class="btn btn-secondary">View our 2030 Food Waste Goals</a>
                  </div>    

              </div> <!-- END .row -->     
            </div><!-- END .container -->   
          </div><!-- END .w-100 -->   
          {% endfor %}
       
    </div>    
  </div>
</section>


<section class='food-waste-reduction-solutions' >
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <h2>There Are Seven Action Areas of Food Waste Reduction Solutons</h2>
      </div>

      <div class='col-md-6'>
        <p class='editable'>Solutions will go in three buckets - analyzed solutions "not analyzed" best practices, and "not analyzed" new and emerging solutions. All of these solutionhs would be listed on the website, but the "not analyzed" solutions (both types) might not appear in the Insights Engine (at this point, they're not).</p>
        <a href="#" class='text-link'>Read More</a>
      </div>
    </div>

    {% include modules/reduction-solutions-chart.html %}
  </div>
</section>





<section class="what-can-i-do bg-primary">
  <div class="container pt-5 text-white">
    <div class="row mb-4">     
      <div class="col-md-12">
        <h2 class="editable text-center">Solve Food Waste</h2>
      </div>
    </div>
    
    <div class="row">  
      <div class="col-12 three-card-carousel">   
      {% for num in (1..8) %}
        
        <div class="card solution-{{ forloop.index }} col-md-4" >
          <img class="card-img-top" src="https://via.placeholder.com/420x280" alt="Alt Tag..." />
          <div class="card-body">
            <h3 class="card-title">I am a Government Leader</h3>
            <div class="card-text">food recycling has the greatest growth potential and will have a major impact on further reducing waste in the coming decades. The reason lies in the efficiency of this approach. Since food scrap volume is tied to population density, large cities can have a proportionately large impact, lessening the need to scale programs nationwide.</div>
            <a href="#" class="card-link">Learn More</a>
          </div>
        </div>
       
      {% endfor %} 
      </div>    
    </div>

  </div>
</section>



<section class="insights-engine laptop-module bg-light">
  <div class="container solutions-featured">
    <div class="row">     
      <div class="col-md-6 rightcolumn copy-column py-5">
        <h3 class="preheader editable">Our Newest Solution</h3>
        <h2 class="editable">ReFED Insights Engine</h2>
        <p class="editable">ReFED Insights Engine is an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. With more granular data, more extensive analysis, more customized views, and the ability to be updated regularly, we see this tool as laying the foundation for action around our 2030 national goal to reduce food waste by 50 percent.</p>
        <a href="#" class="btn btn-secondary editable p-3">Launch ReFED Insights Engine</a>
      </div>
      <div class="col-md-6 leftcolumn image-column ">
        <img class="d-block" src="/img/laptop.png" alt="Laptop showing ReFED Insights Engine">
      </div>      
    </div>    
  </div>
</section>
  
<!--
<section class="solutions"> 
  <div class="container solutions-in-action">
    <div class="row py-5">     
      <div class="col-md-12">
        <h2 class="editable text-center">Solutions in Action</h2>
      </div>
    </div>
    <div class="row">
      {% comment %} for num in (1..3) {% endcomment %}
          <div class="card solution-{{ forloop.index }} col-md-4" >
            <img class="card-img-top" src="https://via.placeholder.com/420x280" alt="Alt Tag..." />
            <span class="colorbar bg-primary"></span>
            <div class="card-body">
              <h3 class="card-title">Solutions for Prevention</h3>
              <div class="card-text">Solutions that prevent food from being wasted in the first place, such as standardized date labeling, consumer education campaigns, and packaging adjustments, require relatively little capital to reap great gains. Other prevention strategies proposed may require a bit more initial capital, but have the power to make large-scale impacts over time.</div>
              <a href="#" class="card-link">Learn More</a>
            </div>
          </div>
          
          <div class="card solution-{{ forloop.index }} col-md-4" >
            <img class="card-img-top" src="https://via.placeholder.com/420x280" alt="Alt Tag..." />
            <span class='colorbar bg-secondary'></span>
            <div class="card-body">
              <h3 class="card-title">Solutions for Recovery</h3>
              <div class="card-text">The three most effective are donation tax incentives, standardized donation regulation, and software that matches food donations with recipient organizations in need. These solutions require both legislative and technological support, but they can make a big difference in ensuring surplus food gets to the people who need it.</div>
              <a href="#" class="card-link">Learn More</a>
            </div>
          </div>

          <div class="card solution-{{ forloop.index }} col-md-4" >
            <img class="card-img-top" src="https://via.placeholder.com/420x280" alt="Alt Tag..." />
            <span class='colorbar bg-success'></span>
            <div class="card-body">
              <h3 class="card-title">Solution for Recycling</h3>
              <div class="card-text">food recycling has the greatest growth potential and will have a major impact on further reducing waste in the coming decades. The reason lies in the efficiency of this approach. Since food scrap volume is tied to population density, large cities can have a proportionately large impact, lessening the need to scale programs nationwide.</div>
              <a href="#" class="card-link">Learn More</a>
            </div>
          </div>
      {% comment %} endfor {% endcomment %} 
    </div>

</div>
</section>
-->






<section class="find-out-more simple-copy-and-cta ">
  <div class="container">
    <div class="row py-5" >     
      <div class="col-md-6">
        <h2 class="h3 editable">Find out more how to engage with ReFED no matter what field you are in</h3>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success btn-lg font-serif editable text-nowrap">Find more ways to engage</button>
      </div>      
    </div>
  </div>

</section>


{% include modules/testimonials.html %}



<section class="donors-and-funders">    
  <div class="container">
    <div class="row">     
      <div class="col-md-12">

        <h2 class="editable text-center">Funders</h2>
        <p class="editable text-center mb-5 max-out-text-width mx-auto">Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders:</p>  
        
        <div class="logo-carousel mb-5">   
          {% for num in (1..30) %}
          <img class="m-4" src="https://via.placeholder.com/200x200" alt="Alt Tag...">
          <img class="m-4 rounded-circle" src="https://via.placeholder.com/200x200" alt="Alt Tag...">
          {% endfor %} 
        </div>    

        <div class="text-center">
          <a href="#" class="btn btn-secondary editable">Learn more about funding</a>
        </div>

      </div>
    </div>
  </div>
 </section>





 <section class="stay-connected simple-copy-and-cta bg-lightest">    
  <div class="container container-less-wide">
    <div class="row" >     
      <div class="col-md-8">
        <h2 class="editable">Stay Connected with ReFED</h2>
        <h3 class="editable">Sign up for our newsletter and other email updates</h3>
      </div>
      <div class="col-md-4">
        <a href="/contact" type="button" class="btn btn-info btn-lg font-serif editable text-nowrap">Subscribe</a>
      </div>      
    </div>
  </div>
</section>