---
layout: default
title: "Refreshed Content: Consectetuer Adipiscing Elig, Ded Diam Nonummy Nibh Euismod"

hero:
  preheader: Blog
  image: https://picsum.photos/id/432/1000/333
  title: (Carousel Coming Soon) ReFED appoints Nicola Dixon as new board chair and announces new board member and executive committee
  buttons:
  - label: Read More
    url: http://www.refed.com


preheader: Newsroom
hero-image: https://picsum.photos/id/432/1000/333
hero-copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

next-page-cta: 
  headline: Check out ReFED related news and press articles
  cta-label: See Press
  cta-url: /press
---


{% include modules/subnav-newsroom.html %}


{% include modules/hero.html %}







  <section class="staff">
    <a name="staff"></a>
    <div class="container">        
        <div class="row">
            <div class="col-12">
                
                <div class="">
                    <div class="form-group">
                        <label for="jumpmenu">Blog Categories: </label>
                        <select class="form-control d-inline-block" style="width:inherit;" id="jumpmenu" name="jumpmenu" onChange="alert('selecting a category from the dropdown will filter the results below')">
                            <option value='#'>All</option>
                            <option value='#'>Category A</option>
                            <option value='#'>Category B</option>
                            <option value='#'>Category C</option>
                            <option value='#'>Category D</option>
                            <option value='#'>Category E</option>
                        </select>
                    </div>
                </div>

                <div class="responsive-card-deck cards-lg-3">
                {% for num in (1..9) %}
                    <div class="card mb-4">
                        <div class="bg-image aspect-4x3" style="background-image: url({{ card.featured_image | default: site.placeholder_image }})"></div>
                        <div class="card-body">
                            <h5>Date</h5>
                            <h3>News Headline Here</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>                        
                            <a href="/single-post" class="btn btn-primary">Read More</a>                        
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% include modules/next-page-cta.html %}



<section class="mailing-list-form">
    <a name="mailing-list-form"></a>
    <div class="container" style="max-width: 800px;">
        <h4>The latest to your Mailbox</h4>
        <h2>Subscribe to our MailingList</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p> 
        
        {% include modules/contactform.html %}           
    
    </div>
</section>



<section class="next-page-cta py-5 bg-light text-center">
    <a name="next-page-cta"></a>
    <div class="container">
        <h2 class="py-3">See our Newsletter Archive formore.</h2>
        <a href="/newsletter-archive" class="btn btn-primary p-3">See Newsletter Archive</a>        
    </div>
</section>