---
layout: default
title: "Refreshed Content: Consectetuer Adipiscing Elig, Ded Diam Nonummy Nibh Euismod"
hero:
  subtitle: Blog
  image: https://picsum.photos/id/435/1000/333
  title: ReFED Appoints Nicola Dixon As New Board Chair
  buttons:
  - label: Read More
    url: http://www.refed.com
    button_style: text
footer-cta: 
  headline: Check out ReFED related news and press articles
  label: See Press
  link: /press
---

{% include modules/subnav-newsroom.html %}

{% include modules/hero.html %}

  <section class="staff">
    <a name="staff"></a>
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <div class="form-group">
            <label for="jumpmenu">Blog Categories: </label>
            <select class="form-control d-inline-block" style="width:inherit;" id="jumpmenu" name="jumpmenu" onChange="alert('selecting a category from the dropdown will filter the results below')">
              <option value='#'>All</option>
              <option value='#'>Category A</option>
              <option value='#'>Category B</option>
              <option value='#'>Category C</option>
              <option value='#'>Category D</option>
              <option value='#'>Category E</option>
            </select>
          </div>  
        </div>
      </div>     
      {% for post in site.posts %}
        <div class="row align-items-center mb-5">
          <div class="col-lg-4">
            <div class="bg-image aspect-16x9 mr-lg-5" style="background-image: url({{ post.featured_image }})"></div>
          </div>
          <div class="col-lg-8">
            <h5>{{ post.post_date | date: "%B %-d, %Y" }}</h5>
            <h3>{{ post.title }}</h3>
            <hr>
            <p>{{ post.excerpt }}</p>                        
            <a href="{{ post.url }}" class="text-link">Read More</a>                        
          </div>  
        </div>
      {% endfor %}
    </div>
</section>

{% include modules/footer-cta.html %}

<section class="mailing-list-form">
    <a name="mailing-list-form"></a>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mx-lg-auto">
          <h4>The latest to your Mailbox</h4>
          <h2>Subscribe to our MailingList</h2>
          <p>Sign up to receive updates from ReFED</p>
          {% include modules/form-contact.html %}    
        </div>
      </div>
    </div>
</section>

<section class="footer-cta py-5 bg-light text-center">
    <a name="footer-cta"></a>
    <div class="container">
        <h2 class="py-3">See our Newsletter Archive formore.</h2>
        <a href="/newsletter-archive" class="btn btn-primary p-3">See Newsletter Archive</a>        
    </div>
</section>