---
layout: default
title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to eiusmod tempor incididunt ut lablre ed dolore magna aliqua.'
hero:
  image: https://picsum.photos/id/107/1000/333
  title: Investing in ReFED is an investment in a sustainable, resilient, and inclusive food system.
  
next-page-cta: 
  headline: To learn how you can support our mission, please contact us via email.
  cta-label: Contact Us
  cta-url: /contact
  colorbar:
    color: "#e65e4a"
    position: left
---


{% include modules/hero.html %}





<section class="overview bg-lightest">
  <a name="overview"></a>

  <div class="container">
    <div class="full-width-carousel two-column-carousel dots-left">
          
        {% for num in (1..4) %}
        <div class="w-100">
          <div class="container">
            <div class="row">  

                <div class="col-md-6 py-5">
                    <div class="preheader">Funder Impact Stories</div>
                    <h2 class="editable">Crown Family Philanthropies</h2>
                    <p class="editable">[Why we became a funder, including help with strategic direction of funding food waste] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                    <a href="#" class="card-link">Learn More</a>
                </div>    
                <div class="col-md-6">
                    <img class="d-block w-100" src="https://via.placeholder.com/615x450" alt="Alt Tag...">
                </div> 

            </div> <!-- END .row -->     
          </div><!-- END .container -->   
        </div><!-- END .w-100 -->   
        {% endfor %}
       
    </div>    
  </div>  
</section>

  

  <section class="funder-impact"> 
    <a name="funder-impact"></a>    
    <div class="container">
        
        <div class="preheader">Our Funders</div>
        <p >ReFED team members come from a wide variety of backgrounds, bringing a diverse blend of expertise and experience in food business strategy and sustainability, innovation, finance, data analytics, research, agricultural development, and communications.</p>

          <div class="logo-farm" >
            <img src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">
            <img  src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img  src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img  style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">

            <img style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">
            <img style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">

            <img src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">
            <img  src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img  src="https://via.placeholder.com/250x115/f2f2f2/666666" alt="Alt Tag...">
            <img src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
            <img  style='border-radius:50%;' src="https://via.placeholder.com/136x115/f2f2f2/666666" alt="Alt Tag...">
          </div>
       
  
  
    </div>
   </section>



   
{% include modules/next-page-cta.html %}

