---
layout: default
title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to eiusmod tempor incididunt ut lablre ed dolore magna aliqua.'
hero:
  image: https://picsum.photos/id/107/1000/333
  title: Investing in ReFED is an investment in a sustainable, resilient, and inclusive food system.
  copy: "Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders:"

---


{% include modules/hero.html %}





<section class="overview">
    <a name="overview"></a>

    <div class="featured-story-carousel">
        {% for num in (1..4) %}
        <div class="w-100">
            <div class="container">
                <div class="row">  
                    <div class="col-md-6 py-5">
                    <h4 class="editable">Funder Impact Stories</h4>
                    <h2 class="editable">Funder #{{ forloop.index }} Name Here</h2>
                    <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <a href="#" type="button" class="btn btn-primary editable p-3">Learn More</a>
                    </div> 
                    <div class="col-md-6">
                    <img class="d-block w-100" src="https://via.placeholder.com/400x300" alt="Alt Tag...">
                    </div>     
                </div>      
            </div>
        </div>
        {% endfor %}

    </div>
  
  </section>

  

  <section class="funder-impact"> 
    <a name="funder-impact"></a>    
    <div class="container">
          
          <div class="mb-5 text-center">   
            {% for num in (1..7) %}
            <img class="m-2" src="https://via.placeholder.com/150x100/f2f2f2/666666" alt="Alt Tag...">
            <img class="m-2" src="https://via.placeholder.com/100x100/f2f2f2/666666" alt="Alt Tag...">
            <img class="m-2" style='border-radius:50%;' src="https://via.placeholder.com/100x100/f2f2f2/666666" alt="Alt Tag...">
            {% endfor %} 
          </div>    
  
  
    </div>
   </section>



   
 <section>   
    <div class="container">
      <div class="row" >     
        <div class="col-md-8">
          <h3 class="editable">Interested in becoming a funder or donor? Find ou the impact we can make with your support.</h3>
        </div>
        <div class="col-md-4">
          <a href="/contact" type="button" class="btn btn-primary editable p-3">Contact ReFED</a>
        </div>      
      </div>
    </div>
  </section>


