---
layout: default
title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

hero:
  image: https://picsum.photos/id/104/1000/333
  title: Our Impact 
  copy: In the U.S. we spend $218 billion a year growing, processing, transporting, and disposing of food that is never eaten. However, one of the key challenges in the field is lack of data both on the problem itself and on the most effective solutions. ReFED’s Data and Insights team uses economics and data to generate actionable solutions to reduce the amount of food that goes uneaten.

---


{% include modules/hero.html %}


<section class="case-studies bg-white">
    <a name="case-studies"></a>
    <div class="container">

        <div class="row pb-5">
            <div class="col-md-6 py-4 my-5">
                <h5>Case Studies</h5>
                <h2>Case Study Title Here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt nim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui offi</p>                        
                            
                <a href="/single-casestudy" class="btn btn-primary">Learn More</a>   
            </div>
            <div class="col-md-6" style="background-image: url({{ card.featured_image | default: site.placeholder_image }});background-size:cover;background-position:center center;">
                &nbsp;
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="responsive-card-deck cards-lg-3">
                {% for num in (1..9) %}
                    <div class="card mb-4">
                        <div class="bg-image aspect-4x3" style="background-image: url({{ site.placeholder_image }})"></div>
                        <div class="card-body">
                            <h3>Case Study Goes Here</h3>
                            <h5>Sector/Topic</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>                        
                            <a href="/single-casestudy" class="btn btn-primary">Read More</a>                        
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



{% include modules/testimonials.html %}