---
layout: default
title: To advance data-driven solutions for food waste reduction
preheader: Our Purpose
hero-image: https://picsum.photos/id/106/1000/333
hero-copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

wireframesections:
    - id: data-insights
      image: "https://via.placeholder.com/1000x200"
      headline: "Data & Insights"
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
      - label: See Solutions
      - label: View Solutions Tracker
      - label: View Insights Engine
    - id: capital-innovation
      image: "https://via.placeholder.com/1000x200"
      headline: Capital & Innovation
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
      - label: Learn More
    - id: stakeholder-engagement
      image: "https://via.placeholder.com/1000x200"
      headline: Stakeholder Engagement
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
      - label: Learn More
    - id: future-planning
      image: "https://via.placeholder.com/1000x200"
      headline: Future Planning
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
        - label: Learn More


next-page-cta: 
  headline: From innovation accelerators to capital campaigns to convening leadership, learn about the impact we've brought to the food system and the work we are doing today.
  cta-label: See our Impact
  cta-url: /our-impact

---


{% include modules/hero.html %}

{% for section in page.wireframesections %}
<section class="{{ section.id }} bg-white">
    <a name="{{ section.id }}"></a>
    <div class="container">
        <h2>{{ section.headline }}</h2>
        <p>{{ section.copy }}</p>
        <div class="bg-image" style="background-image: url({{ section.image }});background-position:center center;background-size:cover;height:0;padding-bottom:15%;"></div>
        <div class="row mt-2">
            {% for button in section.buttons %}
            <div class="col-md-4 text-center">
                <a class="btn btn-primary d-block" href="#">{{ button.label }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}


<section class="covid-19 bg-light py-0">
  <a name="covid-19"></a>
  <div class="container">
      <div class="row" style="flex-wrap: inherit;">
        <div class="col-md-6 my-5 pr-md-5">
          <h4>Global Crisis</h4>
          <h2>ReFED and Covid-19</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="btn btn-primary" href="#">Link to Microsite</a>
        </div>
        <div class="col-md-6" style="background-image: url(https://via.placeholder.com/1000x1000);background-position:center center;background-size:cover;"></div>
          &nbsp;
        </div>
      </div>
  </div>
</section>




{% include modules/next-page-cta.html %}
