---
layout: default
title: ReFED in the Press

hero:
  image: https://picsum.photos/id/432/1000/333
  preheader: Newsroom
  title: ReFED in the Press
  buttons:
    - label: Download Media Assets
      url: http://www.refed.com
    - label: Download Brand Guide
      url: http://www.refed.com
    - label: Contact ReFED
      url: /contact/


---


{% include modules/subnav-newsroom.html %}


{% include modules/hero.html %}







  <section class="press">
    <a name="press"></a>
    <div class="container">   
        {% for num in (1..6) %}     
        <div class="row mb-5">
            <div class="col-2 p-3">   
                <img class="w-100 rounded-circle float-left" src="https://via.placeholder.com/200x200" alt="Alt Tag...">
            </div>
            <div class="col-10">
                <div class="card-body">
                    <h5>June 8, 2020</h5>
                    <h3>News Headline Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                        
                    <a href="{{ card.link }}" class="btn btn-primary">Read More</a>                        
                </div> 
            </div>           
        </div>
        {% endfor %} 
    </div>
</section>


<section class="mailing-list-form">
    <a name="mailing-list-form"></a>
    <div class="container" style="max-width: 800px;">
        <h4>The latest to your Mailbox</h4>
        <h2>Subscribe to our MailingList</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p> 
        
        {% include modules/contactform.html %}           
    
    </div>
</section>