{% assign item = include.item %}
<div
  data-cms-editor-link="cloudcannon:{{ include.editor-link }}"
  data-cms-editor-link-style="modal"
  class="bg-image bg-transparent aspect-1x1 cms-editor-link" style="background-image: url('{{ item.static_image | default: '/img/donut_placeholder.svg' }}');">
  <div class="bg-fill">
    <div class="w-50 py-3 text-center">
      <p class="display-4 mb-0">
        {{ item.label | default: site.edit_cta }}
      </p>
      {% if item.caption %}
        <small class="text-uppercase text-strong">{{ item.caption }}</small>
      {% endif %}
    </div>
  </div>
</div>