<div class="row align-items-center mb-5">
  <div class="col-lg-6">
    <img src="https://via.placeholder.com/1000" class="img-fluid" alt="">
  </div>
  <div class="col-lg-6">
    <h6>Public</h6>
    <p class="display-4 text-serif mb-2">$6.6B</p>
    <p class="mb-0"><small>Corporate Finance - <span class="text-recycle font-weight-bold">$5.2B</span></small> </p>
    <p class="mb-0"><small>Private Equity - <span class="text-primary-130 font-weight-bold">$0.8B</span></small> </p>
    <p class="mb-0"><small>Project Finance - <span class="text-primary-150 font-weight-bold">$0.5B</span></small> </p>
  </div>
</div>