{% assign item = include.item %}
<div class="row align-items-center mb-5">
  <div class="col-lg-6">
    {% include charts/donut.html item=item %}
  </div>
  <div class="col-lg-6">
    <h6>{{ item.title }}</h6>
    <p class="display-4 text-serif mb-2">{{ item.label }}</p>
    {% for stat in item.stats %}
      <p class="mb-0"><small>{{ stat.label }} - <span class="text-{{ include.color-theme | default: 'recycle' }}-{% cycle '600', '500', '400', '300', '200', '100' %} font-weight-bold">{{ stat.statistic }}</span></small> </p>
    {% endfor %}
  </div>
</div>