{% assign tab = false %}
{% if page.path contains 'index' %}
  {% assign tab = true %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h1>News &amp; Resources</h1>
        <ul class="nav nav-tabs tabs-right">
          <li><a {% if tab %}data-toggle="tab" data-target="#news" role="tab"{% endif %}
          href="/content-hub#active_tab=news" class="button cream"><span class="hidden-xs">Most Recent&nbsp;</span>News</a></li>
          <li><a {% if tab %}data-toggle="tab" data-target="#resources" role="tab"{% endif %} href="/content-hub#active_tab=resources" class="button cream"><span class="nocase hidden-xs">ReFed&nbsp;</span> Resources</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>