<div id="mainnav">
  <div class="container">
    <nav>
      <ul>

        <li id="analysis-link"
            {% if page.url =='/analysis' %}class="active"{% endif %}>
            <a href="/analysis" title="Analysis">Analysis</a>
        </li>

        <li id="solutions-link"
            {% if page.url =='/solutions/' %}class="active"{% endif %}>
            <a href="/solutions/?sort=economic-value-per-ton" title="Solutions">Solutions</a>
        </li>

        <li id="stakeholders-link"
            {% if page.url =='/stakeholders/' %}class="active"{% endif %}>
            <a href="/stakeholders/" title="Stakeholders">Stakeholders</a>
        </li>

        <li id="engage-link"
            {% if page.url =='/engage-with-us' %}class="active"{% endif %}>
            <a href="/engage-with-us" title="Engage with us">Engage with us</a>
        </li>
        
        <!--         
        <li id="policy-link"
            {% if page.url =='/tools/food-waste-policy-finder/' %}class="active"{% endif %}>
            <a href="/tools/food-waste-policy-finder/" title="Foodwaste Policy Finder">Policy</a>
        </li>
       
        
        <li id="innovator-link"
            {% if page.url =='/tools/innovator-database/' %}class="active"{% endif %}>
            <a href="/tools/innovator-database/" title="Innovator Database">Innovators</a>
        </li>
        -->

      </ul>
      <ul class="drawer">
        <li><a href="/about">About</a></li>
        <li><a href="/share">Share / Follow</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/download" title="Download the Report" >Download the Report <i class="icon-download"></i></a></li>
      </ul>
    </nav>
  </div>
</div>