{% if page.prevpage || page.nextpage %}
<section id="subnav" class="flush">
  <div class="row">
    {% if page.prevpage.url %}
    <a href="{{ page.prevpage.url | prepend: site.baseurl }}" class="col">
      <div class="content">
        <i class="icon-prev"></i>
        <small>Previous</small>
        <hr>
        <span class="title">{{ page.prevpage.title }}</span>
      </div>
    </a>
    {% else %}
    <a class="col"></a>
    {% endif %}
    {% if page.nextpage.url %}
    <a href="{{ page.nextpage.url | prepend: site.baseurl }}" class="col">
      <div class="content">
        <small>Next</small>
        <hr>
        <span class="title">{{ page.nextpage.title }}</span>
        <i class="icon-next"></i>
      </div>
    </a>
    {% else %}
    <a class="col"></a>
    {% endif %}
  </div>
</section>
{% endif %}