<div id="topnav">
  <div class="container">
    <nav>
      <ul>
        <li>
          <form id="site-search-form" class="siteSearch">
            <i class="icon-search"></i>
            <input id="search_box" class="keyterms" type="text" placeholder="Enter Keyterms">
            <input type="submit" value="Search" disabled>
            <label for="search_box">Search</label>
          </form>
        </li>
        <li id="share-link"><a href="{{ '/share' | prepend: site.baseurl }}">Share / Follow</a></li>
        <li id="about-link"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>

        <li id="resources-link"><a href="{{ '/news' | prepend: site.baseurl }}">News</a></li>

        <li id="resources-link"><a href="{{ '/resources' | prepend: site.baseurl }}">Resources</a></li>        
      
        <li id="download-link" class="download">
          <a href='{{ "/download" | prepend: site.baseurl }}' title="Download the Report">
            <small>Download the</small><br>Report<br><i class="icon-download"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>