---
layout: newsroom
title: Newsletter Archive
hero:
  title: Newsletter Archive
  label: Newsroom
  image: /img/newsroom/archives_header_image.jpg
  links:

---

<div class="bg-placeholder aspect-auto">
  <div class="bg-fill p-3">
    <h4>Search / Filter</h4>
  </div>
</div>
{% comment %}
  TODO implement filtering
  {% include sections/newsroom_filter.html %}
{% endcomment %}

<section class="press-list">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="post-list">
          {% assign sorted = site.newsletters | sort_by: 'date' | reverse %}
          {% for item in sorted %}
            {% include modules/card_horizontal.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto ">
        <h4 class="editable">The Latest to your Mailbox</h4>
        <h2 class="editable">Subscribe to our Mailing List</h2>
        <p class="lead editable">Sign up to receive updates from ReFED</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-lg-8 mx-lg-auto ">
        <div class="form-theme-dark">
          {% include modules/form_subscribe.html %}
        </div>
      </div>
    </div>
  </div>
</section>