---
layout: newsroom
title: Newsletter Archive
meta:
  title:
  description:
  image:
hero:
  title: Newsletter Archive
  label: Newsroom
  image: /uploads/newsletter-archive.png
  links:
---

<div class="bg-placeholder aspect-auto">
  <div class="bg-fill p-3">
    <h4>Search / Filter</h4>
  </div>
</div>
{% comment %}
  TODO implement filtering
  {% include sections/newsroom_filter.html %}
{% endcomment %}

<section class="press-list">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="post-list">
          {% assign sorted = site.newsletters | sort: 'item_date' %}
          {% for item in sorted reversed %}
            {% include modules/card_horizontal.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  {% include forms/mailinglist.html %}
</section>
