.innovatorDatabase_categories {
  h3 {
    margin-top: 0;
  }
  .button {
    height: 32px;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: none;
    &.cream {
      color: $text-color;
    }
    &.active {
      background-color: $button-color !important;
      color: #fff;
    }
  }
}

.innovatorDatabase_analysisCharts {
  position: relative;
  min-height: 500px;
  .key {
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 20px;
    }
    i {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  .analysisChart {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100vh - 250px);
    top: 0;
    left: 0;
    background: $cream-lighter;
    opacity: 0;
    @include transition();
    &.active {
      opacity: 1;
    }
  }
  .ct-label.ct-vertical.ct-start {
    display: none;
  }
  .ct-chart-bar .ct-label.ct-horizontal.ct-end {
    width: 400px !important;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    font-family: "Trade Gothic W01", sans-serif;
    text-transform: uppercase;
    transform-origin: 10px -20px;
    transform: rotate(-90deg);
    justify-content: flex-start;
    align-items: center;
    text-indent: 10px;
  }
}

#analysisChart_category {
  position: relative;
  .ct-series-a {
    .ct-bar {
      stroke: $button-color;
    }
  }
}

#analysisChart_status {
  .ct-series-a {
    .ct-bar {
      stroke: $link-color;
    }
  }
  .ct-series-b {
    .ct-bar {
      stroke: $button-color;
    }
  }
  .ct-series-c {
    .ct-bar {
      stroke: $cream;
    }
  }
}

#analysisChart_hierarchy {
  .ct-series-a {
    .ct-bar {
      stroke: $prevention-color;
    }
  }
  .ct-series-b {
    .ct-bar {
      stroke: $recovery-color;
    }
  }
  .ct-series-c {
    .ct-bar {
      stroke: $recycle-color;
    }
  }
}


@media all and (max-width: $screen-md-max) {
  .innovatorDatabase_categories  {

  }
}

@media all and (max-width: $screen-sm-max) {
  .innovatorDatabase_categories  {
    
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_categories {
    .button {
      margin-top: 0;
    }
  }
}