.activeTab_innovatorAnalysis {
  #tooltip {
    .innovator_details {
      display: none;
    }
  }
}

.innovatorDatabase_analysisCharts {
  position: relative;
  min-height: 500px;
  .key {
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 20px;
    }
    i {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  .analysisChart {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: $cream-lighter;
    opacity: 0;
    pointer-events: none;
    @include transition();
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
  .ct-chart-bar.ct-horizontal-bars {
    .ct-grid {
      display: none;
    }
    .ct-labels {
      display: none;
    }
    .ct-bar {
      stroke-width: 30px !important;
    }
    .ct-label {
      display: flex;
      font-size: 1.2em;
    }
  }
  .ct-label {
    display: none;
  }

  .ct-label.ct-horizontal.ct-end {
    display: flex;
  }

  .ct-label.ct-vertical.ct-start {
    display: none;
  }
  .ct-chart-bar .ct-label.ct-horizontal.ct-end {
    white-space: nowrap;
    overflow: visible;
    font-size: 15px;
    font-family: "Trade Gothic W01", sans-serif;
    text-transform: uppercase;
    transform: rotate(-90deg);
    justify-content: flex-start;
    align-items: center;
    text-indent: 70px;
    pointer-events: none;
  }
}

#analysisChart_category {
  position: relative;
  opacity: 1;
  background-color: transparent;
  .ct-series-a {
    .ct-bar {
      opacity: 0;
      stroke: $button-color;
    }
  }
  &.active {
    .ct-series-a {
      .ct-bar {
        opacity: 1;
      }
    }
  }
}

#analysisChart_status {
  .ct-series-a {
    .ct-bar {
      stroke: $link-color;
    }
  }
  .ct-series-b {
    .ct-bar {
      stroke: $button-color;
    }
  }
  .ct-series-c {
    .ct-bar {
      stroke: $cream;
    }
  }
}

#analysisChart_hierarchy {
  .ct-series-a {
    .ct-bar {
      stroke: $prevention-color;
    }
  }
  .ct-series-b {
    .ct-bar {
      stroke: $recovery-color;
    }
  }
  .ct-series-c {
    .ct-bar {
      stroke: $recycle-color;
    }
  }
}


@media all and (max-width: $screen-md-max) {
  .innovatorDatabase_categories  {

  }
}

@media all and (max-width: $screen-sm-max) {
  .innovatorDatabase_categories  {
    
  }
  .innovatorDatabase_analysisCharts {
    min-height: 570px;
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_categories {
    .button {
      margin-top: 0;
    }
  }
}