.innovatorDatabase_filters {
  padding: 10px 0;
  h4 {
    font-size: 14px;
  }
  input, select {
    height: 32px;
    line-height: 32px;
  }
  .select {
    &:after {
      top: 12px;
    }
  }
  .button {
    height: 32px;
  }

  .locationSearch {
    position: relative;
    i {
      position: absolute;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: $gray-dark;
      color: #fff;
      font-size: 14px;
      right: 0;
    }
  }

  .tooltip-inner {
      min-width: 200px;
      padding: 8px;
  }
}

.mixitup-page-list {
  button {
    padding: 0 10px;
  }
}



body.activeTab_innovatorSearch, .activeTab_innovatorAnalysis {
  .innovatorDatabase_filters {
    margin-top: -100px;
  }
}

@media all and (max-width: $screen-md-max) {
  .innovatorDatabase_filters  {

  }
}

@media all and (max-width: $screen-sm-max) {
  .innovatorDatabase_filters  {
    
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_filters {

  }
}