.innovator-layout {
  .innovator_name {
    font-weight: 400;
    a { color: inherit; }
  }
  .innovator_description {}
  .innovator_details {
    span {
      margin-right: 10px;
    }
  }
  .innovator_reach_category {
    margin: 20px 0;
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .innovator_tags {
    text-transform: capitalize;
    li {
      margin-bottom: 0;
    }
  }

  .innovator_solutions {
    text-transform: capitalize;
    li {
      margin-bottom: 3px;
    }
  }

  .innovatorSidebar {
    padding-top: 50px;
  }
}

@media all and (max-width: $screen-md-max) {
  .innovatorDatabase_about  {

  }
}

@media all and (max-width: $screen-sm-max) {
  .innovatorDatabase_about  {
    
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_about {

  }
}