.innovatorDatabase_menu {
  position: fixed;
  top: 157px;
  width: 100%;
  z-index: 99;
  &:before, &:after {
    display: table;
    content: " ";
  }
  section {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    min-height: 110px;
    width: 100%;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    @include transition(1s);
    // &.active {
    //   opacity: 1;
    //   pointer-events: all;
    // }
  }
  &[data-menu="sort"] .activeTab_innovatorMap {
    .innovatorDatabase_sortMenu {

    }
  }
  &[data-menu="filter"] {
    .innovatorDatabase_filtersMenu {
      opacity: 1;
      pointer-events: all;
    }
  }
  &[data-menu="analysis"] {
    .innovatorDatabase_analysisMenu {
      opacity: 1;
      pointer-events: all;
    }
  }
  &[data-menu="search"] {
    section {
      opacity: 0;
      pointer-events: none;
    }
    .innovatorDatabase_searchMenu {
      opacity: 1;
      pointer-events: all;
    }
  }
}

// Set menu visibliity based on active tab class
.activeTab_innovatorMap,
.activeTab_innovatorList {
  .innovatorDatabase_filtersMenu {
    opacity: 1;
    pointer-events: all;
  }
  .mixitup-page-stats { margin: 0 20px; }
}

.activeTab_innovatorAnalysis {
  .innovatorDatabase_analysisMenu {
    opacity: 1;
    pointer-events: all;
  }
  .mixitup-page-stats { display: none; }
}




.innovatorDatabase_sortMenu {
  display: none !important;
}

.innovatorDatabase_searchMenu {
  margin-bottom: 0;
  .search-group {
    margin: 5px 0;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.innovatorDatabase_filtersMenu {
  padding: 10px 0;
  @include transition();
  .row {
    margin: 0;
  }
  h4 {
    font-size: 14px;
  }
  input, select {
    height: 32px;
    line-height: 32px;
  }
  .select {
    &:after {
      top: 12px;
    }
  }
  .button {
    height: 32px;
  }

  .locationSearch {
    position: relative;
    i {
      position: absolute;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: $gray-dark;
      color: #fff;
      font-size: 14px;
      right: 0;
    }
  }

  .tooltip-inner {
      min-width: 200px;
      padding: 8px;
  }

  .filterToggle {
    display: none;
  }
}

.innovatorDatabase_analysisMenu {
  h3 {
    margin-top: 0;
  }
  .button {
    font-size: 14px;
    &.active {
      background-color: $button-color !important;
      color: #fff;
    }
  }
}

// Mixitup details... these should probably go somewhere else?
.mixitup-page-list {
  button {
    padding: 0 10px;
  }
}


body.condensed-header {
  .innovatorDatabase_menu {
    top: 120px;
    section {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media all and (max-width: $screen-md-max) {

  .innovatorDatabase_analysisMenu {
    h3 {
      font-size: 18px;
    }
  }
}

@media all and (max-width: $screen-sm-max) {

  .innovatorDatabase_menu {
    top: 120px;
    section {
      min-height: 0;
      .container {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  .innovatorDatabase_filtersMenu {
    height: auto;
    z-index: 99;
    .container {
      width: 100%;
    }
    .filterToggle {
      display: block;
      i {
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 23px;
        font-size: 12px;
        margin-right: 5px;
        transform: rotate(180deg);
      }
    }
    &.open {
      .hidden-xs {
        display: block !important;
      }
      .filterToggle {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }
  .innovatorDatabase_analysisMenu {
    .button {
      margin-top: 0;
    }
  }
}