

<section class="hero {% if page.hero.extra-class %}{{ page.hero.extra-class }}{% endif %} {% if page.hero.image-overlaps-bottom %}image-overlaps-bottom{% endif %}">
    <div class="hero-image darken-bkg-image" style="background-image:url({{page.hero.image}});"></div>

    <div class="hero-content">
        <div class="container py-5 text-white">
            <div class="hero-copy">
                {% if page.hero.preheader %}<div class='preheader'>{{ page.hero.preheader }}</div>{% endif %}
                {% if page.hero.title %}<h1>{{ page.hero.title }}</h1>{% endif %}
                {% if page.hero.copy %}<div class="hero-p editable">{{ page.hero.copy }}</div>{% endif %}

                {% if page.hero.buttons %}
                    <div class="hero-buttons mt-3">
                        {% for button in page.hero.buttons %}
                            {% if button.style == 'text' %}
                                <a class="card-link block mr-3" href="{{ button.url }}">{{ button.label }}</a>
                            {% else %}
                                <a class="btn btn-secondary block mr-3" href="{{ button.url }}">{{ button.style }} {{ button.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if page.hero.footnote %}<div class="text-sm footnote">{{ page.hero.footnote }}</div>{% endif %}
            </div>
            
            <div class="hero-social">
                <a href="#" class="linkedin"></a>
                <a href="#" class="twitter"></a>              
            </div>
        </div>
    </div>


</section>