<section class="stay-connected simple-copy-and-cta bg-lightest">
  <div class="container container-less-wide">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">Stay Connected with ReFED</h2>
        <h3 class="editable">Sign up for our newsletter and other email updates</h3>
      </div>
      <div class="col-lg-4">
        <a href="/contact" type="button" class="btn btn-green-light font-serif editable text-nowrap">Subscribe</a>
      </div>
    </div>
  </div>
</section>