<section class="subnav bg-light p-0">
    <div class="container">
        <div class="col-12 text-right">
            <nav class="navbar navbar-expand-md" id="secondarynav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ml-4"><a href="/blog">Blog</a></li>
                    <li class="nav-item ml-4"><a href="/press">In The Press</a></li>
                    <li class="nav-item ml-4"><a href="/archives">Newsletter Archive</a></li>
                </ul>
            </nav>
              
        </div>
    </div>
</section>