---
layout: page
title: Stay Connected
meta:
  title:
  description:
  image:
hero:
  - title: Stay Connected with ReFED
    label:
    description_html:
    image: /uploads/stay-connected.png
    links:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable mb-4">
          <h2>Social Channels</h2>
        </div>
        <div class="socialnav-rounded">
          {% include nav/socialnav.html %}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <h2>Newsletter</h2>
          <p>ReFED's quarterly newsletters are a great way to keep track of our work and food waste resources shared by a diverse group of stakeholders from across the country. The newsletters are emailed to our mailing list and copies are also available in the link below.</p>
          <p><a class="btn btn-primary" href="/newsroom/newsletter-archive">See Newsletter Archive</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark text-white">
  {% include forms/mailinglist.html %}
</section>
