---
layout: page
title: Stay Connected
hero:
  - title: Stay Connected with ReFED
    label:
    description_html:
    image: /img/data_and_insights/dataandinsights_header_image.jpg
    links:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable mb-4">
          <h2 class="editable">Social Channels</h2>
        </div>
        <div class="socialnav-rounded">
          {% include nav/socialnav.html %}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <h2 class="editable">Newsletter</h2>
          <p class="editable">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam est fugit quod ipsam commodi consectetur ex officiis vitae neque inventore.</p>
          <a href="/newsletter-archive" class="btn btn-primary editable">See Newsletter Archive</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark text-white">
  {% include forms/mailinglist.html %}
</section>