---
layout: page
title: Ways to Engage with ReFED
hero:
  - title: Join the Mission to End Food Waste
    label:
    description_html:
    image: /img/engage/engage_header_image.jpg
    links:
join_our_team:
  subtitle: 
  title: Join Our Team
  summary: Public policy at the federal, state, and municipal levels can offer opportunities to accelerate large-scale food waste reduction. The Food Waste Policy Finder – developed by ReFED and the Harvard Law School Food Law and Policy Clinic to provide an overview of current federal and state policies related to food waste – depicts the existing policy landscape, while highlighting best-practice legislation in order to inform the continued development and implementation of sound food waste policy.
  featured_image: 'https://via.placeholder.com/768x768'
  link_label: See Careers
  url: /careers
featured_articles:
- refed-appoints-nicola-dixon-as-new-board-chair-and-announces-new-board-member-and-executive-committee
- refed-appoints-nicola-dixon-as-new-board-chair-and-announces-new-board-member-and-executive-committee
featured_case_studies:
  - crown-family-philanthropies
  - crown-family-philanthropies
cta:
  title:
  label:
  description_html: To learn how you can support our mission, please contact us via email.
  link:
    label: Contact Us
    url: /contact
    alt:
  theme:
  add_divider: left

---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5">
        <div class="row">
          <div class="col-md-auto">
            <img src="/img/icons/engage/engage_stakeholder.svg" class="img-fluid icon-img-md mb-3" alt="Stakeholder icon" />
          </div>
          <div class="col">
            <h4 class="editable text-serif">
              What can I do so Solve Food Waste?
            </h4>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
            <a href="#stakeholder-actions" class="editable btn btn-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mb-5">
        <div class="row">
          <div class="col-md-auto">
            <img src="/img/icons/engage/engage_partner.svg" class="img-fluid icon-img-md mb-3" alt="Partner icon" />
          </div>
          <div class="col">
            <h4 class="editable text-serif">
              Partner with Us
            </h4>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
            <a href="#partner-with-us" class="editable btn btn-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5">
        <div class="row">
          <div class="col-12 col-md-auto">
            <img src="/img/icons/engage/engage_funders.svg" class="img-fluid icon-img-md mb-3" alt="Funders Icon" />
          </div>
          <div class="col">
            <h4 class="editable text-serif">
              Call for Funders
            </h4>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
            <a href="#call-for-funders" class="editable btn btn-link">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5">
        <div class="row">
          <div class="col-12 col-md-auto">
            <img src="/img/icons/engage/engage_newsletter.svg" class="img-fluid icon-img-md mb-3" alt="Newsletter icon" />
          </div>
          <div class="col">
            <h4 class="editable text-serif">
              Sign Up for Our Newsletter
            </h4>
            <p class="editable">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
            <a href="#" class="editable btn btn-link toggle-newsletter-modal">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white" id="stakeholder-actions">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable">
          What Can I Do To Solve Food Waste?
        </h2>
      </div>
    </div>
    {% include stakeholders/grid.html %}
  </div>
</section>

<section id="call-for-funders">
  <div class="container">
    <div class="row mb-4 align-items-center">
      <div class="col-md-auto">
        <img src="/img/icons/engage/engage_funders.svg" class="img-fluid icon-img-lg mb-3" alt="Funders Icon" />
      </div>
      <div class="col">
        <h2 class="editable">
          Call for Funders
        </h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <p class="lead editable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.
        </p>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    {% for object in page.featured_articles %}
      {% assign item = site.articles | where: 'slug', object | first %}
      {% include modules/card_horizontal.html item=item editor-link="#featured_articles" %}
    {% endfor %}

  </div>
</section>

<section class="bg-light" id="solution-adoption">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h3 class="editable">
          Help Us Drive Solution Adoption
        </h3>
        <div class="editable">
          <p>ReFED estimates that $18 billion in investment is needed to implement food waste reduction solutions, but that would unlock $100 billion of net societal economic value &ndash; including meals recovered, resources conserved, business profits, jobs created, and more.</p>
        </div>
      </div>
    </div>

    <div class="row no-gutters arrow-header text-white overflow-hidden">
      <div class="col col-12 col-md">
        <div class="p-4 text-center d-flex flex-column justify-content-center bg-teal h-100">
          <span class="editable d-block h1 m-0 text-serif font-weight-normal">$18B</span>
          <span class="editable d-block h4 m-0 font-weight-bold">Total Investment</span>
        </div>
      </div>
      <div class="arrow col d-none d-md-block col-md-1 p-0">
      </div>
      <div class="col col-12 col-md " style="margin-top:-1px;">
        <div class="p-4 text-center d-flex flex-column justify-content-center bg-teal-500 h-100">
          <span class="editable d-block h1 m-0 text-serif font-weight-normal">$100B</span>
          <span class="editable d-block h4 m-0 font-weight-bold">Net Societal<br class="d-none d-md-block" /> Economic Benefit</span>
        </div>
      </div>
    </div>
    <div class="bg-white p-3 p-lg-4 p-xl-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-3">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_profit.svg" class="img-fluid icon-img-sm" alt="Profit Icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light">
                <p>$2B</p>
              </div>
              <label class="my-1">
                <span class="editable">
                  Business<br class="d-none d-lg-block" /> Profit
                </span>
              </label>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-4">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_meals.svg" class="img-fluid icon-img-sm" alt="Meals Icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light text-uppercase d-inline-block">
                <p>1.8B</p>
              </div>
              <label class="my-1">
                <span class="editable">Meals<br class="d-none d-lg-block" /> Recovered</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-4">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_water.svg" class="img-fluid icon-img-sm" alt="Water icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light text-uppercase d-inline-block">
                <p>1.6T</p>
              </div>
              <label class="my-1">
                <span class="editable">Gallons of<br class="d-none d-lg-block" /> water conserved</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-4">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_savings.svg" class="img-fluid icon-img-sm" alt="Savings Icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light">
                <p>$6B</p>
              </div>
              <label class="my-1">
                <span class="editable">Consumer<br class="d-none d-lg-block" /> Savings</span></label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-4">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_jobs.svg" class="img-fluid icon-img-sm" alt="Jobs icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light text-uppercase d-inline-block">
                <p>15K</p>
              </div>
              <label class="my-1">
                <span class="editable">Jobs<br class="d-none d-lg-block" /> Created</span>
              </label>  
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="row mb-4">
            <div class="col-auto">
              <img src="/img/icons/engage/refed_engage_emissions.svg" class="img-fluid icon-img-sm" alt="Emissions icon" />
            </div>
            <div class="col stat font-weight-bold pl-0 justify-content-start align-items-center d-flex flex-row">
              <div class="editable number mr-2 text-serif font-weight-light text-uppercase d-inline-block">
                <p>18M</p>
              </div>
              <label class="my-1">
                <span class="editable">Tons greenhouse gas emissions reduced</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% assign featured = '' | split: ',' %}
{% for object in page.featured_case_studies %}
  {% assign item = site.case_studies | where: 'slug', object | first %}
  {% assign featured = featured | push: item %}
{% endfor %}

{% include components/carousel.html
  items=featured
  layout="split"
  theme="dark"
  id="caseStudyCarousel"
  editor-link="#featured_case_studies"
%}

<section id="partner-with-us">
  <div class="container">
    <div class="row mb-4 align-items-center">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/engage/engage_partner.svg" class="img-fluid icon-img-lg mb-3" alt="Partner icon" />
      </div>
      <div class="col">
        <h2 class="editable">
          Partner with Us
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="lead editable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/split.html
  id='join-our-team'
  theme='lighter'
  reverse=true
  item=page.join_our_team
%}

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Join Our Solution Providers Directory
        </h3>
        <div class="editable">
          <p>Explore the dynamic, expanding food waste innovation sector, broken down by food waste solution type, organizational status, and geographic reach. The ReFED Food Waste Innovator Database is a living compilation of commercial and nonprofit entities turning the food waste problem into an opportunity for economic, social, and environmental impacts. To get a perspective on the measureable impacts of the broader Innovator Categories, visit the &lsquo;Related Solution(s)&rsquo; pages linked to each &lsquo;Innovator Detail&rsquo; page.</p>
        </div>
        <a href="#" class="btn btn-primary mt-3 editable">Explore Solution Providers Directory</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Join Our Expert Network
        </h3>
        <div class="editable">
          <p>Explore the dynamic, expanding food waste innovation sector, broken down by food waste solution type, organizational status, and geographic reach. The ReFED Food Waste Innovator Database is a living compilation of commercial and nonprofit entities turning the food waste problem into an opportunity for economic, social, and environmental impacts. To get a perspective on the measureable impacts of the broader Innovator Categories, visit the &lsquo;Related Solution(s)&rsquo; pages linked to each &lsquo;Innovator Detail&rsquo; page.</p>
        </div>
        <a href="#" class="btn btn-primary mt-3 mr-3 editable">See Full List of our Expert Network</a>
        <a href="#" class="btn btn-primary mt-3 mr-3 editable">Become or Nominate a Participant</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  {% include forms/mailinglist.html %}
</section>

{% include components/cta.html item=page.cta editor-link="#cta" %}

