.logo-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .logo-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid $gray-lighter;
    margin: -1px 0 0 -1px;
    img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .logo-grid {
    .logo-item {
      width: 33%;
    }
  }
}