#pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  .brand {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 50px;
    width: 150px;
  }
  .menu-toggle {
    display: none;
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    background-color: transparent;
    border: none; 
    color: $text-color;
    cursor: pointer;
    pointer-events: all;
    i {
      font-size: 20px;
    }
  }
}


body.condensed-header {

  #pageHeader {
    .brand {
      top: 3px;
      @include transition();
    }
  }

}


@media all and (max-width: 1024px) {
  #pageHeader {
    .container {
      width: 100%;
    }
  }
}



@media all and (max-width: $screen-xs-max) {
  #pageHeader {
  
  }
}

@media all and (max-width: $screen-sm-max) {
  #pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .brand {
      top: 5px;
    }
    .menu-toggle {
      display: inline-block;
    }
    &.open-menu {
      nav {
        right: 0;
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  #pageHeader {
    
  }
}