#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  .brand {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 50px;
    width: 150px;
  }
  .menu-toggle {
    display: none;
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    background-color: transparent;
    border: none; 
    color: $text-color;
    cursor: pointer;
    pointer-events: all;
    i {
      font-size: 20px;
    }
  }
}
#topnav {
  background-color: $gray-dark;
  z-index: 9;
  ul {
    position: relative;
    padding-right: 100px;
    li {
      position: relative;
      height: 35px;
      line-height: 35px;
      a {
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        color: $cream-light;
        &:hover {
          color: #fff;
        }
      }
      &.download {
        position: absolute;
        height: auto;
        right: 0;
        top: 0;
        margin-right: 0;
        a, button {
          display: inline-block;
          width: 92px;
          height: 105px;
          background-color: $button-color;
          color: darken($button-color, 20%);
          text-align: center;
          font-size: 15px;
          font-weight: 200;
          line-height: 15px;
          border: none;
          text-transform: uppercase;
          small {
            display: inline-block;
            margin-top: 15px;
            font-size: 9px;
          }
          i {
            margin: 0 auto;
            font-size: 32px;
          }
        }
      }
      &.follow {
        ul {
          display: none;
          padding: 0;
          position: relative;
          float: left;
          width: auto;
          height: 35px;
          line-height: 35px;
          background: $button-color;
          margin-right: 20px;
          flex-wrap: nowrap;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            right: -12px;
            height: 0;
            width: 0;
            border: 6px solid transparent;
            border-left-color: $button-color;
          }
          li {
            margin: 0 0.5em;
            a {
              color: $button-color;
              white-space: nowrap;
              background-color: $cream-light;
              &.newsletter-signup {
                padding: 1px 3px;
              }
            }
            i {
              height: 35px;
              width: 25px;
              font-size: 20px;
              line-height: 35px;
              color: $cream-light;
            }
          }
        }
        &:hover {
          ul {
            display: flex;
          }
        }
      }
    }
  }
}
#mainnav {
  height: 70px;
  line-height: 70px;
  background-color: $mainnav-background-color;
  border-bottom: 1px solid $gray-lighter;
  z-index: 1;
  pointer-events: none;
  nav {
    @include transition(0.5s);
    ul {
      margin: 0 120px 0 auto;
      li {
        height: 55px;
        line-height: 55px;
        a {
          display: inline-block;
          padding: 9px 0;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          color: $gray-light;
          pointer-events: all;
          &:hover {
            color: $text-color;
          }
        }
        &.active {
          a {
            color: darken($gray-light, 15%);
            cursor: default;
            &:hover {
              color: darken($gray-light, 15%);
            }
          }
        }
      }
      &.drawer {
        display: none;
      }
    }
  }
}

// TODO - Refactor so that the padding on <body> resolves the same issue
#page-content {
  position: relative;
  margin-top: 105px;
}

body.condensed-header {

  #page-header {
    .brand {
      top: 3px;
      @include transition();
    }
  }
  #topnav {
    ul {
      li {
        height: 0;
        @include transition();
        &#download-link {
          top: -15px;
          height: auto;
          @include transition();
          a, button {
            height: 65px;
            padding: 5px;
            @include transition();
            small {
              display: none;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  #mainnav {
    height: 50px;
    line-height: 50px;
    @include transition();
    ul {
      li {
        height: 35px;
        line-height: 35px;
        @include transition();
      }
    }
  }
  #page-content {
    margin-top: 50px;
    @include transition();
  }
}