#page-footer {
  position: relative;
  h3 {
    line-height: 12px;
    small {
      font-weight: 100;
      font-size: 13px;
    }
  }
  .button {
    display: block;
    height: 38px;
    line-height: 38px;
    background-color: $recovery-color;
  }
  .socialnav {
    a {
      padding: 0;
    }
  }
  #copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    p {
      height: 30px;
      line-height: 30px;
      margin: 0;
      font-size: 11px;
      text-align: center;
    }
  }
}


@media all and (max-width: $screen-xs-max) {
  #page-footer {
    .brand {
      width: 250px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: $screen-sm-max) {
  #page-footer {

  }
}

@media all and (max-width: $screen-md-max) {
  #page-footer {
    
  }
}