#page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  .brand {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 50px;
    width: 150px;
  }
  .menu-toggle {
    display: none;
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    background-color: transparent;
    border: none; 
    color: $text-color;
    cursor: pointer;
    pointer-events: all;
    i {
      font-size: 20px;
    }
  }
}


// TODO - Refactor so that the padding on <body> resolves the same issue
#page-content {
  position: relative;
  margin-top: 105px;
}

body.condensed-header {

  #page-header {
    .brand {
      top: 3px;
      @include transition();
    }
  }
  #topnav {
    ul {
      li {
        height: 0;
        @include transition();
        &#download-link {
          top: -15px;
          height: auto;
          @include transition();
          a, button {
            height: 65px;
            padding: 5px;
            @include transition();
            small {
              display: none;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  #mainnav {
    height: 50px;
    line-height: 50px;
    @include transition();
    ul {
      li {
        height: 35px;
        line-height: 35px;
        @include transition();
      }
    }
  }
  #page-content {
    margin-top: 50px;
    @include transition();
  }
}


@media all and (max-width: 1024px) {
  #page-header {
    .container {
      width: 100%;
    }
  }
}



@media all and (max-width: $screen-xs-max) {
  #page-header {
  
  }
}

@media all and (max-width: $screen-sm-max) {
  #page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .brand {
      top: 5px;
    }
    .menu-toggle {
      display: inline-block;
    }
    &.open-menu {
      nav {
        right: 0;
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  #page-header {
    
  }
}