#page-footer {
  position: relative;
  h3 {
    line-height: 12px;
    small {
      font-weight: 100;
      font-size: 13px;
    }
  }
  .button {
    display: block;
    height: 38px;
    line-height: 38px;
    background-color: $recovery-color;
  }
  .socialnav {
    a {
      padding: 0;
    }
  }
}


@media all and (max-width: $screen-xs-max) {
  #page-footer {
    .brand {
      width: 250px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: $screen-sm-max) {
  #page-footer {

  }
}

@media all and (max-width: $screen-md-max) {
  #page-footer {
    
  }
}