#toolnav {
  background-color: $gray-dark;
  color: $gray-lighter;
  .menu {
    width: 100%;
    margin: 0;
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: auto;
      width: 100%;
    }
    li {
      display: inline-block;
      margin: auto 0;
      &:last-child {
        align-self: flex-end;
        a {
          border-right: none;
        }
      }
      a {
        padding: 0 30px;
        margin: 5px 0;
        font-size: 16px;
        color: $gray-lighter;
        text-transform: uppercase;
        border-right: 1px solid $gray-light;
        white-space: nowrap;
        &:hover, &:focus, &:active {
          color: #fff;
        }
      }
      &.update {
        padding: 10px 20px;
        margin: auto 0;
        color: $gray-light;
        a {
          padding: 0;
          color: $gray-lighter;
          &:hover, &:focus, &:active {
            color: #fff;
          }
        }
      }
    }
  }

  .next {
    background: $cream;
    width: 250px;
    display: inline-block;
    margin: 0;
    padding: 10px 40px;
    text-align: center;
    a {
      color: $text-color;
      &:hover, &:focus, &:active {
        color: $gray-base;
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  #toolnav {
    display: block;
    text-align: right;
    .container-flex {
      display: block;
    }
    .menu {
      width: 70px;
      height: 70px;
      display: block;
      float: left;
      ul {
        display: none;
      }
    }
    .next {
      // display: inline-flex;
      // align-items: center;
      // justify-content: center;
      // width: calc(100% - 70px);
    }
    .update { display: none; }
  }
}

@media all and (max-width: $screen-sm-max) {
  #toolnav {

  }
}

@media all and (max-width: $screen-md-max) {
  #toolnav {
    
  }
}