#toolnav {
  display: block;
  // align-items: center;
  // justify-content: center;
  background-color: $gray-dark;
  color: $gray-lighter;
  .menu {
    flex-basis: calc(100% - 325px - 180px);
    flex-shrink: 2;
    width: calc(100% - 325px - 180px);
    margin: 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0;
      height: 70px;
      line-height: 70px;
      &:last-child {
        align-self: flex-end;
        a {
          border-right: none;
        }
      }
      a {
        padding: 0 30px;
        font-size: 18px;
        color: $gray-lighter;
        text-transform: uppercase;
        border-right: 1px solid $gray-light;
        &:hover, &:focus, &:active {
          color: #fff;
        }
      }
    }
  }
  .update {
    flex-shrink: 0;
    width: 325px;
    padding: 10px 20px;
    margin: 0;
    color: $gray-light;
    a {
      color: $gray-lighter;
      &:hover, &:focus, &:active {
        color: #fff;
      }
    }
  }
  .next {
    background: $cream;
    width: 180px;
    height: 70px;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    a {
      color: $text-color;
      &:hover, &:focus, &:active {
        color: $gray-base;
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  #toolnav {
    display: block;
    text-align: right;
    .menu {
      width: 70px;
      height: 70px;
      display: block;
      float: left;
      ul {
        display: none;
      }
    }
    .next {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 70px);
    }
    .update { display: none; }
  }
}

@media all and (max-width: $screen-sm-max) {
  #toolnav {

  }
}

@media all and (max-width: $screen-md-max) {
  #toolnav {
    
  }
}