
#header-navigation-container{
  padding:0;
  position:inherit;
}

#primarynav{ 

  .menu-social{   
    padding-left:rem(18); 
    .social-icons{
      a{      
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(36);
        height: rem(36);
        background-color: $white;
        i{
          font-size: rem(20);
          color: $primary;
        }   
      } 
    }
    .subscribe-item {
      #signup-button{
        padding: rem(14) rem(16);
      }
      label{
        text-transform:none;
      }
    }
  }
  .sub-title{text-transform:none;}


  /* MOBILE ONLY */
  @include media-breakpoint-down(md) {
    // for both primary and utility links on mobile{
    .utility-links, .navbar-nav{
      .constrain-width{
        max-width: rem(350);
        margin: auto;
      }
    }
    .navbar-nav{
      li{
        position:inherit;
        a{
          color:#FFFFFF; 
          padding:em(23) em(62);
          display:block;
          font-weight:normal;
          cursor:pointer;
         
          .arrow{
              width:rem(40);
              height:rem(40);
              transform: rotate(90deg) translateX(-7px);
              path{fill:$neutral-300;}
              polygon{fill:transparent;}
          }
          &:hover{ 
            background-color:$blue;
            text-decoration:none;
            .arrow path{fill:$white;}
          }
        }
        .dropdown-menu{
            background-color: #102334;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding:0;
            transition: transform 0.2s linear;
            display:block !important;
            transform: translateX(100%);

            &.show{
              transform: translateX(0);
            }
            > .container{
              padding:0;
              max-width:inherit;
              > .row{
                margin:0;
                display:block;
              }
            }
            
          .sub-menu{ 
            margin-bottom:0 !important; padding-left:0;padding-right:0;
            ul{ 
              display:none; 
              li{
                a{
                  font-size:rem(16);
                  padding:em(12) em(75);
                  color:$neutral-300;
                  &:hover{
                    color:$white;
                  }
                }
              }
            }
            &.sublink-our-work ul{
              display:block;
            }
          }

            
          .nav-back-button{
            background-color:$primary;
            .left-nav-arrow{
              float:right;
              transition:transform 0.3s ease-out;
            }
            &:hover{
              background-color:$secondary;
              .left-nav-arrow{
                transform: translateX(-10px);
              }
            }
          }            
        }
      }
    }
    
    .menu-social{   
      padding-left:rem(50); 
      a:hover{
          background-color:$white;
      }
    }
  }

  /* MOBILE ONLY */
  @include media-breakpoint-down(xs) {
    .menu-social{   
      .subscribe-item{
        flex-direction: column !important;
        align-items: start !important;
        a{
            margin-bottom:rem(8);
        }
      }
    }
  }
  
  /* Large screen and above */
  @include media-breakpoint-up(lg) {  
     
    .primary-nav-links.navbar-nav{
      margin-top: em(16);
      margin-bottom:em(-9);
      > li.nav-item{
        font-size:0.9em;
        margin-left: rem(10);

        position: inherit;
        padding-left: 0;
        padding-right: 0;
        
        border-bottom: 9px solid transparent;
        
        &:nth-child(1):hover{border-bottom: 9px solid $red;}
        &:nth-child(2):hover{border-bottom: 9px solid $blue;}
        &:nth-child(3):hover{border-bottom: 9px solid $green;}
        &:nth-child(4):hover{border-bottom: 9px solid $orange;}
        &:nth-child(5) a{background-color:$primary-500;color:$white;}
        
        padding-bottom: em(15);
        a{
          padding: 6px 12px;
          font-weight: $font-weight-semibold;
          cursor:pointer;
          &:hover{
            text-decoration:none;
          }
        }
      }
      .dropdown-menu {
        border: none;
        background-color:$primary; 
        width: 100%;  
        left: 0;
        right: 0;
        top: auto;
        margin-top: em(24);  
        
        > li.nav-item a, a{
          color:#FFF;
          padding:5px;
        }
        h6{
          margin-bottom:em(13) !important;
        }
        ul{
          li.nav-item{
            a{
              font-weight:300;
              font-size:em(16.5);
              &:hover{
                text-decoration:none;
                color:$neutral-100;
              }
            }
          }
        }
        
        .sub-menu{
          border-right:1px solid $gray-300;
          padding-left: em(36);
          &.two-col-sublinks{
            flex: 0 0 50%;
            max-width: 50%;
            > ul{
              column-count: 2;
            }
          }
          &:last-child{border-right:none;}
          &.two-col-sublinks{
            flex: 0 0 50%;
            max-width: 50%;
            > ul{
              column-count: 2;
            }
          }
        }  
      }    
    }
  }

                

  /* X-Large screen and above */
  @include media-breakpoint-up(xl) {
    .primary-nav-links.navbar-nav{
      > li.nav-item{
        font-size:1em;
        > a{
          padding: 6px 18px;

        }
      }
    }
  }


}