
#header-navigation-container{
    padding:0;
    position:inherit;
}

#primarynav{ 

    /* MOBILE ONLY */
    @media screen and (max-width: $screen-md-min){
        // for both primary and utility links on mobile{
        .navbar-nav{
            li{
                position:inherit;
                a{
                    color:#FFFFFF;
                    padding:em(23) em(62);
                    display:block;
                    font-weight:normal;
                    cursor:pointer;
                    &:hover{ 
                        background-color:$blue;
                        text-decoration:none;
                    }
                }
                .dropdown-menu{
                    background-color: $primary-600;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding:0;
                    transition: transform 0.2s linear;
                    display:block !important;
                    transform: translateX(100%);

                    &.show{
                        transform: translateX(0);
                    }
                    > .container{
                        padding:0;
                        max-width:inherit;
                        > .row{
                            margin:0;
                            display:block;
                        }
                    }
                    
                    .sub-menu{ margin-bottom:0 !important; padding-left:0;padding-right:0;}

                    ul{ display:none; }

                 
                    .nav-back-button{
                        background-color:$primary-600;
                        .left-nav-arrow{
                            display:inline-block;
                        }
                    }
                    
                }
            }
        }
    }

    /* Medium screen and above */
    @media screen and (min-width: $screen-md-min){
       
        .primary-nav-links.navbar-nav{
            margin-top: em(16);
            margin-bottom:em(-9);
            > li.nav-item{
                font-size: 15px;
                position: inherit;
                padding-left: 0;
                padding-right: 0;
                
                margin-left: 0.7vw;
                border-bottom: 9px solid transparent;
                
                &:nth-child(1):hover{border-bottom: 9px solid $red;}
                &:nth-child(2):hover{border-bottom: 9px solid $blue;}
                &:nth-child(3):hover{border-bottom: 9px solid $green;}
                &:nth-child(4):hover{border-bottom: 9px solid $orange;}
                &:nth-child(5) a{background-color:$primary-500;color:$white;}
                
                padding-bottom: em(15);
                a{
                    padding: 6px 0.45vw;
                    font-weight: $font-weight-semibold;
                    cursor:pointer;
                    &:hover{
                        text-decoration:none;
                    }
                }
            }
            .dropdown-menu {
                border: none;
                background-color:$primary; 
                width: 100%;  
                left: 0;
                right: 0;
                top: auto;
                margin-top: em(24);  
                
                > li.nav-item a, a{
                    color:#FFF;
                    padding:5px;
                }
                h6{
                    margin-bottom:em(13) !important;
                }
                ul{
                    li.nav-item{
                        a{
                            font-weight:300;
                            font-size:em(16.5);
                            &:hover{
                                text-decoration:none;
                                color:$neutral-100;
                            }
                        }
                    }
                }
                
                .sub-menu{
                    border-right:1px solid $gray-300;
                    padding-left: em(36);
                    &.two-col-sublinks{
                        flex: 0 0 50%;
                        max-width: 50%;
                        > ul{
                            column-count: 2;
                        }
                    }
                    &.two-col-sublinks{
                        flex: 0 0 50%;
                        max-width: 50%;
                        > ul{
                            column-count: 2;
                        }
                    }
                }  
                            
                // medium size only
                @media screen and (max-width: $screen-xl-min) and (min-width: $screen-md-min){
                    .sub-menu{
                        &:nth-child(odd){border-right:none;}
                    }
                }
                // large size only
                @media screen and (min-width: $screen-xl-min){
                    .sub-menu{
                        &:last-child{border-right:none;}
                    }
                } 
            }
       
        }
 

    }

                   
    /* Large screen and above */
    @media screen and (min-width: $screen-lg-min){
        .primary-nav-links.navbar-nav{
            > li.nav-item{
                font-size:0.9em;
                margin-left: em(10);
                a{                    
                    padding: 6px 12px;
                }
            }
        }
    }
    /* X-Large screen and above */
    @media screen and (min-width: $screen-xl-min){
        .primary-nav-links.navbar-nav{
            > li.nav-item{
                font-size:1em;
                a{
                    padding: 6px 18px;
                }
            }
        }
    }


}