.socialnav {
  // will need to move these to be component specific, ie hero 
  // position: absolute;
  // right: 0;
  // bottom: 30px;
  display: flex;
  z-index: 100;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin: 15px 0;
    background-color: $white;
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 23px;
      color: $black;
    }
  }
  @include media-breakpoint-up(md) {
    a {
      width: 40px;
      height: 40px;
      background-color: $white;
      i {
        font-size: 1.4rem;
      }
    }
  }
}

.socialnav-rounded {
  .socialnav {
    a {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      color: $white;
      margin-right: 25px;
      i {
        color: $white;
        font-size: 1.8rem;
      }
      &:nth-of-type(1) {
        background-color: $primary;
      }
      &:nth-of-type(2) {
        background-color: $reshape;
      }
    }
  }
}
