// TODO: Audit the usage of this to see if this should be a utility class or is spcific to a single menu.
// Also... this does not look like it is actually being used anywhere?
.sticky-nav {
  z-index: 999;
  padding-top: 2.3rem !important;
  padding-bottom: 3.2rem !important;
  .navbar-toggler {
    border: none;
    .navbar-toggler-icon {
      background: none;
      color: $white;
      font-size: rem(38);
      &:before {
        content: "\ea78";
        font-family: "remixicon" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.collapsed .navbar-toggler-icon:before {
      content: "\ea4e";
    }
  }
  ul {
    width: 100%;
    li {
      margin-right: 2em;
      &:last-item {
        margin-right: 0;
      }
      a {
        font-weight: $font-weight-semibold;
        font-size: 1.125rem;
        color: $lighter !important;
        line-height: 1;
        opacity: 0.5;
        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
  .preheader {
    height: 2.67rem;
    overflow: hidden;
    transition: height 0.2s ease-out;
  }
  &.minimized {
    padding-top: 1rem !important;
    padding-bottom: 1.3rem !important;
    .preheader {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-up(lg) {
    ul {
      margin-bottom: rem(-10);
      li {
        margin-bottom: rem(10); // provides some vertical space in cases where the navigation wraps.
      }
    }
    &.minimized {
      .preheader {
        height: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    ul {
      li {
        a {
          display: block;
          padding-bottom: rem(8);
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    ul {
      li {
        //margin-right:1rem;
        a {
          // font-size:0.9rem;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    ul {
      li {
        //margin-right:0;
      }
    }
  }
}
