.subnav {
  background-color: $teal;
  color: $white;
  z-index: 999;
  width: 100%;
  padding: 5px 0;
  min-height: 30px;
  @include media-breakpoint-down(md) {
    &:not(.fixed-top) {
      .subnav-navbar {
        li {
          &:nth-of-type(1) {
            a {
              display: block !important;
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
  
  @include media-breakpoint-up(lg) {
    padding: 1rem 0;
    position: relative;
    top: auto;
    left: auto;
  }

  .subnav-wrapper {
    display: block;
  }
  .subnav-heading {
    white-space: nowrap;
    font-size: 0.9rem;
    line-height: 1;
    @include media-breakpoint-up(lg) {
      display: block;
      line-height: 1.3;
      margin-bottom: 5px;
    }
  }
  .subnav-navbar {
    ul.nav {
      li.nav-item {
        a.nav-link {
          opacity: 0.5;
          &:hover,
          &.active {
            color: $white;
            opacity: 1;
          }
          @include media-breakpoint-down(lg) {
            display: none;
            &.active {
              display: block;
            }
          }
          @include media-breakpoint-down(md) {
            margin-top: 4px;
          }
        }
      }
    }
  }
  
  &.fixed-top {
    transform: translateY(-32px) !important;
    opacity: 1;
    @include media-breakpoint-up(lg) {
      box-shadow: 0 0 5px rgba($black, 0.5);
      height: auto !important;
      transform: translateY(0) !important;
      .col {
        display: flex;
        align-items: center;
      }
      .subnav-wrapper {
        display: flex;
      }
      .h4 {
        font-size: 1rem;
      }
    }
    .subnav-heading {
      margin-bottom: 0;
    }
    
  }

  .navbar {
    padding: 0;
    width: 100%;
  }
  
  ul.nav {
    width: 100%;
    flex-wrap: nowrap;
    @include transition(0.5s);
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    li.nav-item {
      margin-right: 10px;
      a.nav-link {
        padding: 0;
        font-weight: $font-weight-semibold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $light;
        line-height: 1;
        @include media-breakpoint-down(md) {
          margin-top: 4px;
        }
      }
    }
  }
  // &.show-links {
  //   height: auto !important;
  //   max-height: 100% !important;
  //   ul.nav {
  //     li.nav-item {
  //       a.nav-link {
  //         display: block;
  //         margin-bottom: 7px;
  //       }
  //     }
  //   }
  //   #subnav-toggle {
  //     transform: rotate(-180deg);
  //   }
  // }
}

#subnav-mobile {
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  z-index: 1200;
  @include media-breakpoint-up(xl) {
    display: none;
  }
  .nav-link {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
}

#subnav-toggle {
  position: absolute;
  right: 7px;
  top: -4px;
  display: block;
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: $white;
  @include transition(0.4s);
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
