.subnav {
  background-color: $teal;
  color: $white;
  z-index: 999;
  width: 100%;
  @include transition(0.5s);
  &.fixed-top {
    transform: translateY(-32px) !important;
  }

  .h4 {
    font-size: 1rem;
  }
  @include media-breakpoint-up(lg) {
    padding: 1rem 0 0;
    position: relative;
    top: auto;
    left: auto;
    &.fixed-top {
      box-shadow: 0 0 5px rgba($black, 0.5);
      padding: 0.25rem 0 !important;
      height: auto !important;
      transform: translateY(0) !important;
      .col {
        display: flex;
        align-items: center;
      }
    }
  }

  .navbar {
    padding: 2px;
    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0;
    }
  }
  ul.nav {
    width: 100%;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    li.nav-item {
      margin-right: 1.5rem;
      a.nav-link {
        padding: 0.5rem 0;
        font-weight: $font-weight-semibold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $light;
        line-height: 1;
        opacity: 0.5;
        &:hover,
        &.active {
          color: $white;
          opacity: 1;
        }
        @include media-breakpoint-down(lg) {
          display: none;
          padding: 0.3rem 0;
          &.active {
            display: block;
          }
        }
      }
    }
  }
  &.show-links {
    height: auto !important;
    max-height: 100% !important;
    ul.nav {
      li.nav-item {
        a.nav-link {
          display: block;
        }
      }
    }
  }
}

#subnav-toggle {
  position: absolute;
  right: 7px;
  top: 5px;
}
