.subnav {
  background-color: $teal;
  color: $white;
  z-index: 999;
  width: 100%;
  padding: 5px 0;
  &.fixed-top {
    transform: translateY(-32px) !important;
  }

  .h4 {
    margin-bottom: 0;
    line-height: 1;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }
  .subnav-wrapper {
    display: flex;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  .subnav-heading {
    white-space: nowrap;
  }
  @include media-breakpoint-up(lg) {
    padding: 1rem 0;
    position: relative;
    top: auto;
    left: auto;
    &.fixed-top {
      box-shadow: 0 0 5px rgba($black, 0.5);
      height: auto !important;
      transform: translateY(0) !important;
      .col {
        display: flex;
        align-items: center;
      }
      .subnav-wrapper {
        display: flex;
      }
      
    }
  }

  .navbar {
    padding: 2px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      padding: 0.5rem 0;
    }
  }
  ul.nav {
    width: 100%;
    @include transition(0.5s);
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    li.nav-item {
      margin-right: 1.5rem;
      @include media-breakpoint-up(lg) {
        max-width: 15%;
      }
      a.nav-link {
        padding: 0;
        font-weight: $font-weight-semibold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $light;
        line-height: 1;
        opacity: 0.5;
        &:hover,
        &.active {
          color: $white;
          opacity: 1;
        }
        @include media-breakpoint-down(lg) {
          display: none;
          margin-top: 4px;
          &.active {
            display: block;
          }
        }
      }
    }
  }
  &.show-links {
    height: auto !important;
    max-height: 100% !important;
    ul.nav {
      li.nav-item {
        a.nav-link {
          display: block;
          margin-bottom: 7px;
        }
      }
    }
    #subnav-toggle {
      transform: rotate(-180deg);
    }
  }
}

#subnav-toggle {
  position: absolute;
  right: 7px;
  top: 0px;
  @include transition(0.4s);
}
