#topnav {
  // mobile styles are defined in "primary.scss" because they are the same as the primary styles
  margin-top: 0;

  /* MOBILE ONLY */
  @include media-breakpoint-down(md) {
    display: column-reverse;

    li.search {
      display: none;
    }
  }
  @include media-breakpoint-up(lg) {
    li {
      .nav-link {
        font-family: $font-family-serif;
        color: $primary;
        font-size: 1rem;
        background-color: $light;
        margin-left: 1rem;
        padding: 6px 12px;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }

      &.search .nav-link {
        background-color: transparent;
        &:hover {
          background-color: transparent;
          color: $black;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    li {
      .nav-link {
        font-size: 1rem;
      }
    }
  }
}