#primarynav {
    .navbar-nav.utility-links{
        // mobile styles are defined in "primary.scss" because they are the same as the primary styles
        margin-top:0;
        li{
            .nav-link{
            }
        }
        
        @media screen and (min-width: $screen-md-min){
            li{
                .nav-link{
                    font-family:$font-family-serif;
                    color:$primary;
                    font-size:em(14);
                    background-color:$light;
                    margin-left:1em;
                    padding-right: 1em;
                    padding-left: 1em;
                    &:hover{
                        background-color:$secondary;
                        color:#fff;
                    }
                }
            }
        }

        /* Large screen and above */
        @media screen and (min-width: $screen-lg-min){
            li{
                .nav-link{
                    font-size:em(16);
                }
            }
        }

        /* X-Large screen and above */
        @media screen and (min-width: $screen-xl-min){
            li{
                .nav-link{
                    font-size:em(17);
                }
            }
        }
    }
}