---
layout: default
_subnav:
  - label: Modeled Solutions
    _slug: modeled_solutions
  - label: New & Emerging Solutions
    _slug: new_and_emerging_solutions
  - label: Best Practices
    _slug: best_practices
  - label: Levers
    _slug: levers
cta:
  title:
  label:
  description_html: >-
    <p>ReFED offers a range of solutions for organizations to advance their own
    food waste initiatives. Our interactive tools, reports and strategic
    solutions can help your team get started.</p>
  link:
    label: See All Solutions
    url: /food-waste-solutions
    alt:
  theme: lighter
  add_divider: right
---

<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="__react-component" data-component="HelloWorld" data-category="{{ page.title | slugify }}">
        <hr />
        <div class="__react-component" data-component="Test"></div>
      
    
  
 -->


<!-- Hero -->
{% include components/hero.html item=page.hero %}

<!-- Summary -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <i class="icon icon-lg icon-{{ page.slug | split: '-' | first }}"></i>
          </div>
          <div class="col">
            <h6 class="mb-0">Action Area</h6>
            <h2 data-cms-editor-link="cloudcannon:#title" data-cms-editor-link-style="modal" class="cms-editor-link">
              {{ page.title }}
            </h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h6 class="editable global-editor-link">
              Summary
            </h6>
            <div data-cms-editor-link="cloudcannon:#description_html" data-cms-editor-link-style="modal" class="cms-editor-link">
              {{ page.description_html }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        {% include_relative _partials/metrics.html %}
      </div>
    </div>
  </div>
</section>

<!-- START: page sub navigation -->
{% include nav/subnav.html items=layout._subnav label=page.title %}

<div class="__react-component" data-component="CategorySolutions" data-category="{{ page.title | slugify }}" data-modeled_solutions_summary="{{ page.modeled_solutions.summary }}" data-new_and_emerging_solutions_summary="{{ page.new_and_emerging_solutions.summary }}"></div>

{% include_relative _partials/best_practices.html %}

{% include_relative _partials/levers.html %}
<!-- END: page sub navigation -->

<!-- Stakeholders -->
<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center ">
        <h3 class="editable">
          Stakeholder Recommendations
        </h3>
        <h2 class="editable">
          What Can I Do To Solve Food Waste?
        </h2>
      </div>
    </div>
    {% include components/stakeholder_grid.html %}
  </div>
</section>

<!-- Insights Engine -->
{% include components/cta_insights_engine.html
  item=page.cta_insights_engine
  theme="light"
  editor-link="#cta_insights_engine"
%}

<!-- Case Studies -->
{% include components/carousel.html
  items=page.case_studies
  layout="split"
  theme="white"
  id="caseStudyCarousel"
  editor-link="#case_studies"
%}

<!-- CTA -->
{% include components/cta.html
  item=layout.cta
  theme="lighter"
  editor-link="#cta"
%}
