---
layout: default
cta:
  description_html: >-
    <p>Find more <a href="/newsroom">news and updates</a> from the <a href='/newsroom'>ReFED blog</a>, including our <a href='#/press'>press articles</a> and <a href="/newsletter-archive">newsletters</a>.</p>
  link: /newsroom
  link_label: View More in the Newsroom
  colorbar:
    color: "#e65e4a"
    bar_position: right
---

{% include modules/subnav_newsroom.html %}

<section class="pb-0 hide-social">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include sections/hero.html title=page.title image=page.featured_image subtitle="Blog" %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="meta border-bottom border-color-primary d-inline-block mb-4 pb-2">
          {% if page.item_date %}( {{ page.item_date | date: '%B %-d, %Y' }}){% endif %}
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="m-0 editable">ReFED is a national nonprofit working to end food loss and waste across the food system by advancing data-driven solutions to the problem. ReFED leverages data and insights to highlight supply chain inefficiencies and economic opportunities; mobilizes and connects people to take targeted action; and catalyzes capital to spur innovation and scale high-impact initiatives. ReFED’s goal is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.</p>
      </div>
    </div>
  </div>
</section>


{% include sections/cta.html cta=layout.cta %}










