---
layout: default
---


{% include sections/hero.html title=title image=page.featured_image %}

{% include sections/split_section.html   
  image_width='50%' 
  image_alignment='right'  
  image_to_edge=true   
  text_to_edge=false   
  omit_cta=true
  item=page.overview
%}

{% for testimonial in page.testimonials %}
  {% assign id = forloop.index | prepend:'testimonial-' %}
  {% include sections/testimonial.html testimonial=testimonial id=id %}
{% endfor %}

{% include sections/cta.html cta=page.cta %}
















