<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.layout }}_layout {{ page.collection }} {{ page.slug }}">
    <header id="page-header">{% include header.html %}</header>
    {% include search-results.html %}
    <main id="page-content">
      {{ content }}
    </main>
    <footer id="page-footer">{% include footer.html %}</footer>
    {% include video-modal.html %}
    {% include thanks.html %}
    {% include policy/tooltip.html %}
    {% include analytics.html %}
  </body>
</html>
