<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.layout }}_layout {{ page.collection }} {{ page.slug }}" data-spy="scroll" data-target="#tableofcontents">
    {% if page.layout == 'tool' %}
      {% include elements/toolHeader.html %}
    {% else %}
      {% include elements/pageHeader.html %}
    {% endif %}
    <div id="pageContent" class="{% if page.sidebar %}sidebar {{ page.sidebar }}{% endif %}">
      {% include search-results.html %}
      <main>
        {% if page.breadcrumb %}
          {% include elements/breadCrumbs.html%}
        {% endif %}
        {{ content }}
      </main>
      {% if page.sidebar %}
        <aside class="sidebar {{ page.sidebar }}">
          {% if page.sidebar == 'toc' %}
            <div class="sticky" data-offset-top="70">
              <div class="content">
                <ul class="nav tableofcontents"></ul>
              </div>
            </div>
          {% else %}
            {% contentblock sidebar %}
          {% endif %}
        </aside>
      {% endif %}
      {% include elements/pageHelp.html %}
    </div>
    {% if page.layout == 'tool' %}
      {% include elements/toolFooter.html %}
    {% else %}
      {% include elements/pageFooter.html %}
    {% endif %}
    
    {% include thanks.html %}
    <!-- TODO - Include the policy tool tooltip -->
    {% include analytics.html %}
  </body>
</html>
