---
layout: default
---
{% assign title = page.title %}
{% assign summary = page.summary %}
{% include sections/hero.html title=title subtitle="Event Subtitle" description_html=summary %}
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2>{{ page.date | date: '%A %B %-d, %Y' }} {{ page.start_time }} *EST*</h2>
        <p class="text-danger">
          Are all events in est? may need to set timezone in config<br>
          Probably Need to account for location details or url for webinar
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h6>Panelists</h6>
        {% for panelist in page.panelists %}
          <h4 class="font-serif mb-0">{{ panelist.name }}</h4>
          <p class="mb-0">{{ panelist.role }}</p>
          <a href="">See Bio for Details</a>
          <p class="text-danger">Should we do a modal for bio details?</p>
        {% endfor %}
        <div class="d-flex mb-5 mt-5 mb-lg-0">
          <a href="" class="btn btn-secondary mr-4">Register</a>
          <a href="" class="btn btn-secondary" data-toggle="modal" data-target="#modal-calendar">Add to Calendar</a>
        </div>
      </div>
      <div class="col-lg-6">
        <h6>Key Takeaways</h6>
        {% for takeaway in page.key_takeaways %}
          <p class="font-weight-bold mb-0">{{ takeaway.title }}</p>
          {{ takeaway.description_html }}
        {% endfor %}
      </div>
    </div>
    {% if page.videos.first.embed_url  %}
      {% for video in page.videos %}
        <div class="video-responsive mt-5">
          <iframe width="560" height="315" src="{{ video.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>
<section class="bg-neutral-200">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2>Upcoming Schedule</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-danger">Add upcoming events collection</p>
        {% include sections/carousels/carousel_cards.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2>Browse Past Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-danger">Add past events collection - TODO does this show all types of events or just webinars</p>
        {% include sections/carousels/carousel_cards.html %}
      </div>
    </div>
  </div>
</section>
{% include events/event_calendar_modal.html %}