---
layout: default
---
{% comment %}
{% include policy/tooltip.html %}
{% endcomment %}

{% include policy/header.html %}

<div id="policy-tool">
  {% unless page.slug == 'date-labels' %}{% include policy/policynav.html %}{% endunless %}
  {{ content }}
  {% include policy/statenav.html %}
</div>

{% if page.connected-solutions %}
<section id="connected-solutions">
  <!-- <header class="section-header">
    <div class="container">
      <div class="content">
        <h2>Related Solutions</h2>
      </div>
    </div>
  </header> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h3>Related Solutions</h3>
        </div>
      </div>
    </div>
    <div class="grid row">
      <div class="col-xs-12">
        <div class="content">
          {% for solution in site.solutions %}
              {% if page.connected-solutions contains solution.slug %}
                {% include card.html %}
              {% endif %}
          {% endfor %}
          <!-- <div class="card link-card hidden-xs">
            <header>
              <a href="{{ '/solution' | prepend: site.baseurl }}" class="button">View Full List&nbsp;&gt;</a>
            </header>
            <div class="content">
              <h4 class="title">View All Solutions</h4>
              <p>&nbsp;</p>
            </div>
            <footer></footer>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<script>

  // $('#policynav a').on('click', function(){
  //   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
  //      var target = $(this.hash);
  //      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  //      if (target.length) {
  //        $('html, body').animate({
  //          scrollTop: target.offset().top - 105
  //        }, 1000);
  //        return false;
  //      }
  //    }
  // });

</script>