---
layout: default
---


{% include modules/subnav_newsroom.html %}


{% include sections/carousels/carousel_hero_in_container.html items=page.hero %}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="meta border-bottom border-color-primary d-inline-block mb-4 pb-2">
          New York, NY (July 15, 2020)
        </div>
        <div class="content">
          <img src="https://via.placeholder.com/1000" alt="" class="w-100 float-right px-0 col col-sm-6 col-md-4 ml-sm-4 ml-sm-5 mb-4 mb-md-5 ">
          {{content}}
        </div>
        <div class="photocredit text-neutral-100">
          (Photo: ReFED Board Chair Nicola Dixon (center) with ReFED’s Lily Herd and ReFED Board Member Yalmaz Siddiqui)
        </div>
      </div>
    </div>
  </div>

</div>
</section>



<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="m-0">ReFED is a national nonprofit working to end food loss and waste across the food system by advancing data-driven solutions to the problem. ReFED leverages data and insights to highlight supply chain inefficiencies and economic opportunities; mobilizes and connects people to take targeted action; and catalyzes capital to spur innovation and scale high-impact initiatives. ReFED’s goal is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.</p>
      </div>
    </div>
  </div>
</section>


{% include sections/cta.html cta=page.cta %}










