---
layout: default
hero:
---
{% include modules/subnav_newsroom.html %}
<section>
  <div class="container">
    <div class="">
      <div class="d-inline-block border-bottom border-dark pb-3 pr-5 mb-3">{{ page.label }} {{ page.date | date: "%B %-d, %Y" }}</div>
    </div>
    {% if page.featured_image %}
      <div class="float-md-right mt-3 mt-md-0 mb-3 ml-md-5 w-50">
        <img src="{{page.featured_image}}" class="w-100">
      </div>
    {% endif %}
    {{ content }}
    <div class="image-credit text-muted">{{ page.image_credit }}</div>  
  </div>
</section>
<section class="bg-primary text-white">
  <div class="container">
    <p>ReFED is a national nonprofit working to end food loss and waste across the food system by advancing data-driven solutions to the problem. ReFED leverages data and insights to highlight supply chain inefficiencies and economic opportunities; mobilizes and connects people to take targeted action; and catalyzes capital to spur innovation and scale high-impact initiatives. ReFED’s goal is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.</p>
  </div>
</section>

{% include sections/cta.html cta=page.cta %}
















