---
layout: page
---
<div id="solution-highlights" class="{{ page.type | slugify }}">
  <div class="container">
    <div class="row middle-xs around-xs">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="content">
          <h3><small>Diversion Potential:</small><br>{{ page.impact.diversion-potential | add_commas }}K Tons</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="content">
          <h3><small>Economic Value Per Ton:</small><br>${{ page.impact.economic-value-per-ton | add_commas }}</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="content">
          <h3><small>GHGs Reduced:</small><br>{{ page.impact.emissions-reduced | add_commas }}K Tons</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="content">
        {% case page.type %}
          {% when 'prevention' %}
          <h3><small>Water Saved:</small><br>{{ page.impact.water-conservation | add_commas }}B Gallons</h3>

          {% when 'recycling' %}
          <h3><small>Jobs Created:</small><br>{{ page.impact.jobs-created | add_commas }} Jobs</h3>

          {% when 'recovery' %}
          <h3><small>Meals Recovered:</small><br>{{ page.impact.meals-recovered | add_commas }}M Meals</h3>

        {% endcase %}
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Definition</h2>
          <p>{{ page.definition }}</p>
        </div>
      </div>
      {% if page.overview %}
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Overview</h2>
          <p>{{ page.overview }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<section id="solution-challenges">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <div class="content">
          <h2>Challenges</h2>
          <ul>
            {% for challenge in page.challenges %}
            <li>{{ challenge }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="stakeholder-actions">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <div class="content">
          <h2>Stakeholder Actions</h2>
          <div class="col2">
            <ul>
              {% for action in page.stakeholder-actions %}
              <li>{{ action }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="solution-examples">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12">
        <div class="content">
          <h2>Examples &amp; Resources</h2>
          <div class="col2">
            <ul>
              {% for example in page.examples %}
              <li>
                <h5>{{ example.title }}</h5>
                <p>{{ example.description }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% if page.resources %}
            <hr>
            <ul class="resource-list">
              {% for resource in page.resources %}
              <li><a href="{{ resource.url }}" target="_blank">{{ resource.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{{ content }}

{% if page.connected-solutions %}
<section id="connected-solutions">
  <header class="section-header">
    <div class="container">
      <div class="content">
        <h2>Related Solutions</h2>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="grid row">
      <div class="col-xs-12">
        <div class="content">
          {% for solution in site.solutions %}
              {% if page.connected-solutions contains solution.slug %}
                {% include card.html %}
              {% endif %}
          {% endfor %}
          <div class="card link-card hidden-xs">
            <header>
              <a href="{{ '/solution' | prepend: site.baseurl }}" class="button">View Full List&nbsp;&gt;</a>
            </header>
            <div class="content">
              <h4 class="title">View All Solutions</h4>
              <p>&nbsp;</p>
            </div>
            <footer></footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}