---
layout: page
---
<section id="stakeholder-list">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-3">
        {% include svg/stakeholders/{{ page.slug }}.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content {{ page.slug }}">
          <h2>{{ page.title }}</h2>
          {% if page.sub-stakeholders %}
            <p><small>(Includes {{ page.sub-stakeholders }})</small></p>
          {% endif %}
          <p class="lead">{{ page.summary }}</p>
          <h4>Key {{ page.title | singularize }}Actions</h4>
          <ul class="styled">
            {% for action in page.key-actions %}
            <li>{{ action }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %}
  {% for content in page.featured-content %}
    {% include content/{{ content }}.html %}
  {% endfor %}
{% endcomment %}
<section id="connected-solutions">
  <header class="section-header">
    <div class="container">
      <h4>Key {{ page.title }} Solutions</h4>
    </div>
  </header>
  <div class="container">
    <div id="solution-cards" class="grid row">
      {% for solution in site.solutions %}
          {% if page.key-solutions contains solution.slug %}
            {% include card.html %}
          {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Tools for action</h2>
          <p>The Roadmap demonstrates that achieving a 20% reduction in food waste will generate a positive financial, social, and environmental return on investment. To make that happen, crosscutting actions are needed in four areas. Click to learn more about each tool.</p>
          <a class="button" href="{{ '/action' | prepend: site.baseurl }}">Learn More &nbsp;&gt;</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <ul id="action-list">
            <li class="financing"><a href="{{ '/financing' | prepend: site.baseurl }}">Financing &nbsp;&gt;</a></li>
            <li class="policy"><a href="{{ '/policy' | prepend: site.baseurl }}">Policy &nbsp;&gt;</a></li>
            <li class="innovation"><a href="{{ '/innovation' | prepend: site.baseurl }}">Innovation &nbsp;&gt;</a></li>
            <li class="education"><a href="{{ '/education' | prepend: site.baseurl }}">Education &nbsp;&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{ page.content }}

<section id="collaborate">
  <div class="container">
    <div id="form" class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Join our stakeholder collaborative</h2>
          <p>Additional solutions will require stakeholders to collaborate across the value chain. The expected payoffs will be game-changing, delivering multiple times more societal benefit than any single stakeholder can create alone. Subscribe to our collaborative mailing list to start connecting with other stakeholders.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <form id="form4" name="form4" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://refed.wufoo.com/forms/stakeholder-collaborative/">
            <div class="hide">
              <input type="hidden" name="currentPage" id="currentPage" value="wuBeTYVTmNtviGkAS7wuBewuBe8Sb9cGlLQU2r9wr9H73U7rfxJY=">
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="b2sj0dhhvH6kwvydA5ZabtnNMsKM/G8suLwsJ9UvGVE=">
              <input type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:&quot;https:\/\/refed.wufoo.com\/admin\/&quot;}">
              <input type="hidden" id="clickOrEnter" name="clickOrEnter" value="">
              <input type="hidden" id="Field6" name="Field6" value="{{ stakeholder.title }}">
            </div>
            <div class="form-inputs">
              <label class="sr">Name</label>
              <input type="text" id="Field1" name="Field1" placeholder="First Name *" required>
              <input type="text" id="Field2" name="Field2" placeholder="Last Name *" required>
              <label class="sr">Email</label>
              <input type="text" id="Field3" name="Field3" placeholder="Email *" required>
              <label class="sr">Company</label>
              <input type="text" id="Field4" name="Field4" placeholder="Company Name *" required>
              <label class="sr">Zipcode</label>
              <input type="text" id="Field5" name="Field5" placeholder="Zip" class="zip">
              <input type="submit" value="Submit" class="button">
              <p class="muted"><small>We will never share your information and will use it only to keep you updated on new information, resources, or ways to get involved.</small></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="thanks" class="row center-xs middle-xs" style="display:none;">
      <div class="col-xs-12">
        <div class="content">
          <h2>Thank You!</h2>
          <p class="lead">We will be in touch with you shortly.</p>
        </div>
      </div>
    </div>
  </div>
</section>


