---
layout: page
---
<section id="stakeholder-list">
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-3">
        {% include svg/stakeholders/{{ page.slug }}.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content {{ page.slug }}">
          <h2>{{ page.title }}</h2>
          <p><small>(Includes {{ stakeholder.sub-stakeholders }})</
          <p class="lead">{{ page.summary }}</p>
          <h4>Key Actions</h4>
          <ul>
            {% for action in page.key-actions %}
            <li>{{ action }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% for content in page.featured-content %}
  {% capture partial %}content/{{ content }}.html{% endcapture %}
  {% include partial %}
{% endfor %}
<section id="connected-solutions">
  <header class="section-header">
    <h3>Key {{ page.title }} Solutions</h3>
  </header>
  <div class="container">
    <div id="solution-cards" class="grid row">
      {% for solution in site.solutions %}
          {% if solution.stakeholders contains page.slug %}
            {% include card.html %}
          {% endif %}
      {% endfor %}
    </div>
    {% include solution_cards.html inline=true %}
  </div>
</section>
{{ content }}