---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>California State Policy</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Date Labelling</h2>
        <h3>Overview</h3>
        <p>Opportunity to summarize state position and put into context. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus mi, consequat at laoreet eget, vestibulum nec dolor. Vivamus volutpat quam ac quam bibendum rutrum. Pellentesque sit amet posuere tellus. Pellentesque nec purus turpis. Aenean e citur euismod odio vitae posuere. In in ligula ex. Donec e citur, nulla vel dapibus egestas, nulla ligula ornare tortor, vel facilisis leo lectus et ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <h3>Date Labelling Regulations</h3>
        <table>
          <tr>
            <th>Applies to food type</th>
            <th>Purpose of Law</th>
            <th>Excerpted Language from the Law</th>
            <th>Legal Citation</th>
          </tr>
          <tr>
            <td>Milk/Dairy</td>
            <td>Date labelling required</td>
            <td>At the time of sale to the consumer . . . there shall appear upon the package or container of such product the date established by the processor as the date upon which, in order to insure quality, such product is normally removed from the shelf</td>
            <td>Cal. Food &amp; Agric. Code§ 36004 (2013).</td>
          </tr>
          <tr>
            <td>Milk/Dairy</td>
            <td>Date labeling required (scope of law)</td>
            <td>Except as otherwise provided in Food and Agricultural Code Section 36004(c), the licensed milk products plant which bottles or packages the following products shall be responsible for a xing the quality assurance date to all containers which are o ered for sale to the consumer by a retail store: market milk, market cream, skim or non-fat milk, half and half, sour cream, sour cream dressing, low-fat milk, flavored milk, flavored dairy drink, yogurt, concentrated milk, concentrated skim milk, acidophilus milk, buttermilk and cultured buttermilk, cottage cheese, creamed cottage cheese, homogenized creamed cottage cheese spread, and partially creamed or low-fat cottage cheese.
            The quality assurance date shall be readily identifiable by the consumer. If a numerical sequence of months and days is used, it may not be located on the container with other numbers such as factory license number or lot numbers unless such other numbers are clearly identified. If the quality assurance date is used with unidentified code numbers, the date shall be at least the first three letters of the month followed by the day of the month.</td>
            <td>Cal. Code Regs. tit. III,§ 627 (2013).</td>
          </tr>
        </table>
        <div class="col-md-5">
          
        </div>
        <div class="col-md-7">
          
        </div>
      </div>
    </div>
  </div>
</section>