---
layout: default
---

{% include components/hero.html item=page %}
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2>{{ page.item_date | date: '%A %B %-d, %Y' }} {{ page.start_time }} EST</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h6>Panelists</h6>
        <p class="text-danger">Should we do a modal for bio details?</p>
        {% for panelist in page.panelists %}
          <div class="mb-4">
            <h4 class="text-serif mb-0">{{ panelist.name }}</h4>
            <p class="mb-0">{{ panelist.role }}</p>
            <a href="">See Bio for Details</a>
          </div>
        {% endfor %}
        <div class="d-flex mb-5 mt-5 mb-lg-0">
          {% if page.register_link %}
            <a href="{{ page.register_link }}" class="btn btn-secondary mr-4" target="_blank">Register</a>
          {% endif %}
          <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#modal-calendar">Add to Calendar</a>
        </div>
      </div>
      <div class="col-lg-6">
        <h6>Key Takeaways</h6>
        {% for takeaway in page.key_takeaways %}
          <p class="font-weight-bold mb-0">{{ takeaway.title }}</p>
          {{ takeaway.description_html }}
        {% endfor %}
      </div>
    </div>
    {% if page.videos.first.embed_url  %}
      {% for video in page.videos %}
        <div class="video-responsive mt-5">
          <iframe width="560" height="315" src="{{ video.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>
{% if page.series_events %}
  <section class="bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2>Upcoming Schedule</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% comment %}{% include events/upcoming_events_logic.html %}{% endcomment %}
          {% assign series_events = '' | split: ',' %}
          {% for object in page.series_events %}
            {% assign event = site.events | where: 'slug', object | first %}
            {% assign series_events = series_events | push: event %}
          {% endfor %}
          {% include sections/carousels/carousel_cards.html items=series_events %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2>Browse Past Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-danger">Add past events collection - will this only show events of the type that the page is showing ie in person vs webinar?</p>
        {% include events/past_events_logic.html event_type="webinar" %}
        {% include sections/carousels/carousel_cards.html items=past_events_sorted %}
      </div>
    </div>
  </div>
</section>
{% include events/event_calendar_modal.html %}