---
layout: page
title: Action
permalink: /action
slug: action
hero: 
  image: hero/header-action.jpg
  title: Take action on food waste today
---
<section id="spread-the-word">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Spread the Word</h2>
        <p>ReFED’s <a href="#" title="ReFED's Roadmap">Roadmap</a> is meant to not just be a research report for academic use, but a data-driven playbook for the whole food sector to make significant strides in solving the food waste challenge. Our analysis demonstrates that it is feasible using existing solutions to reduce food waste by 20% over the next decade with positive or breakeven economic value.</p>
         
        <p>We need your help in spreading the word about these important solutions.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li>Email a friend &gt;
            <span><a href="#"><i class="icon-mail"></i></a></span>
          </li>
          <li>Share &gt;
            <span>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-linkedin"></i></a>
            </span>
          </li>
          <li>Download the report &gt;
            <span><a href="#"><i class="icon-download"></i></a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="icon-grid">
          {% include svg/icons/financing.svg %}
          {% include svg/icons/policy.svg %}
          {% include svg/icons/innovation.svg %}
          {% include svg/icons/education.svg %}
        </div>
      </div>
      <div class="col-xs-9">
        <div class="content">
          <h2>Four tools for action</h2>
          <p>To achieve the vision laid out in the [Roadmap](link to report), stakeholders will need to marshal these four tools. Choose a tool to learn more.</p>
          <a href="#">Learn More &gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {% include svg/icons/financing.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content">
          <h2>Financing</h2>
          <p>The Roadmap analysis estimates that an aggregate $18 billion of new financing is needed to achieve a 20% waste reduction — roughly $2 billion per year over the next decade. This may seem large, but it amounts to only a tenth of a penny of investment for each pound of food waste reduced over a decade. This one-time investment will also yield $130 billion of economic benefits for society and $20 billion of annual business profit opportunity.</p>
          <a href="#">Learn More &gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {% include svg/icons/policy.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content">
          <h2>Policy</h2>
          <p>To achieve the short-term goals, the immediate priority is to spread best practice policies at the local and state levels that will gradually increase support and decrease barriers. A more aggressive waste diversion goal will become increasingly dependent on comprehensive food waste policy that sets national guidelines, which will significantly boost investment by national and global food businesses.</p>
          <a href="#">Learn More &gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {% include svg/icons/innovation.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content">
          <h2>Innovation</h2>
          <p>A number of the Roadmap solutions are expected to benefit from incremental innovation that naturally improves performance and decreases costs over time. While wide-scale innovation is not needed to achieve a 20% reduction, innovation is a key aspect to the optimal performance of any system.</p>
          <a href="#">Learn More &gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        {% include svg/icons/education.svg %}
      </div>
      <div class="col-xs-9">
        <div class="content">
          <h2>Education</h2>
          <p>The number of Roadmap barriers that are behavioral in nature highlights the need for education, training, and capacity-building for consumers and consumer-facing business staff to enable change at scale.</p>
          <a href="#">Learn More &gt;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stay-connected">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Stay Connected</h2>
        <p></p>
      </div>
    </div>
    <form class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="form-inputs">
          <label class="sr">First Name</label>
          <input type="text" placeholder="First Name">
          <label class="sr">Last Name</label>
          <input type="text" placeholder="Last Name">
          <label class="sr">Email</label>
          <input type="text" placeholder="Email">
          <label class="sr">Zipcode</label>
          <input type="text" placeholder="Zip" class="zip">
          <input type="submit" value="Submit" class="button">
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <select>
            <option>Choose a stakeholder group</option>
            <option>blah</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</section>