---
layout: page
title: Analysis
permalink: /analysis
slug: analysis
hero: 
  image: hero/header-analysis.jpg
  title: An economic analysis of food waste solutions
---

<section class="">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>Solution Evaluation</h2>
        <p>ReFED set out to understand the most cost-effective ways to reduce food waste and the resources needed to implement those solutions at scale. A wide list of solutions was gathered from stakeholders, and narrowed to a short list of 27 solutions that met criteria around data availability, cost-effectiveness, feasibility, and scalability.</p>
        <a href="#" class="muted"><em>Read more about ReFED's methodology ></em></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h5>ReFED developed a core economic model to perform three analyses on the solutions:</h5>
        <ol>
          <li>
            <span>A total net societal “Economic Value” based on their cost-effectiveness per ton of waste</span>
          </li>
          <li>
            <span>The business profit potential that the private sector can earn by investing in each solution</span>
          </li>
          <li>
            <span>The non-financial impacts of each solution — meals saved, greenhouse gases reduced, jobs created, water conserved</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="row middle-xs">
    <div class="col-xs-12">
      <h2>Explore the solutions</h2>
      <p>All 27 solutions have positive or near-breakeven Economic Value, with societal benefits outweighing the costs.</p>
    </div>
  </div>
  <div class="row">
    {% include cost_curve.html %}
  </div>
</section>
<section class="">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="content">
        {% include donut.html %}
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="content">
        <h2>How to reduce food waste by 20%</h2>
        <p>
          <em>Click on a segment to see how each solution fits into ReFED’s Roadmap to reducing U.S. food waste by 20% by 2026.</em>
        </p>
        <div class="legend">
          Add legend / styles
        </div>
      </div>
    </div>
  </div>
</section>
<section class="flush">
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <h2>Solutions across the supply chain</h2>
        <p>Each segment of the food supply chain has role to play in reducing our country’s food waste, but <a href="/stakeholders/restaurants" title="Stakeholders: Restaurants">restaurants</a> and <a href="/stakeholders/retail" title="Stakeholders: Retail Businesses">retail</a> businesses have the opportunity to scale up a majority of the analyzed solutions. (Some solutions can be implemented by more than one supply chain category.)</p>
        <p>Restaurant and retail businesses impact waste both upstream (farmers and manufacturers) and downstream (consumers), so new corporate policies from a few large businesses can have a powerful trickle-down effect up and down the entire value chain.</p>
      </div>
    </div>
    <div class="col-sm-3">
      Supply Chain
    </div>
    <div class="col-sm-3">
      <div class="content">
        <p>Select a circle to see related solutions</p>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      Chart
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="content">
        <h2>Profiting</h2>
        <p>Rather than burdening the bottom line, 11 of the solutions represent $2.3 billion in business profit potential. Nine are geared toward prevention and two toward recycling. They all create revenue and cost savings opportunities that can be captured by the businesses that implement them.</p>
        <hr>
        <p>Restaurants and foodservice facilities have the largest profit opportunity.</p>
        <a class="icon-button restaurant" href="#" title="Restaurants and Foodservice Providers">Restaurants &amp; Foodservice Providers</a>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <header class="section-header">
      <h2>Top Solutions and Benefits</h2>
    </header>
    <ul class="tabs">
      <li class="active tab">Most Cost<br>Effective</li>
      <li class="tab">Largest Waste<br>Diverted</li>
      <li class="tab">Greatest Environmental<br>Benefits</li>
      <li class="tab">Most Scalable<br>Solutions</li>
      <li class="tab">Largest Profit<br>Oportunity</li>
    </ul>
    <p class="lead">
      The top three most cost-effective solutions all fall into the prevention category.
    </p>
    <div class="card-grid">
      <div class="card prevention">
        <header>
          <i class="icon icon-prevent">Prevention</i>
          <img src="http://placehold.it/500x300/565759/DED8C6?text=placeholder">
        </header>
        <div class="content">
          <h4>Standardized Date Labeling</h4>
          <p>Standardizing food label dates and instructions; eliminating “sell by” dates to reduce consumer confusion</p>
        </div>
        <footer>
          <p class="stat">
            $4,553 <small>/ton</small><br>
            <span>in financial benefit</span>
          </p>
          <a href="#">Learn How &gt;</a>
        </footer>
      </div>
      <div class="card prevention">
        <header>
          <i class="icon icon-prevent">Prevention</i>
          <img src="http://placehold.it/500x300/565759/DED8C6?text=placeholder">
        </header>
        <div class="content">
          <h4>Consumer Education Campaign</h4>
          <p>Conducting large-scale consumer advocacy campaigns to raise awareness of food waste and educate consumers about ways to save money and prevent or reduce wasted food</p>
        </div>
        <footer>
          <p class="stat">
            $4,553 <small>/ton</small><br>
            <span>in financial benefit</span>
          </p>
          <a href="#">Learn How &gt;</a>
        </footer>
      </div>
      <div class="card prevention">
        <header>
          <i class="icon icon-prevent">Prevention</i>
          <img src="http://placehold.it/500x300/565759/DED8C6?text=placeholder">
        </header>
        <div class="content">
          <h4>Packaging Adjustments</h4>
          <p>Optimizing food packaging size and design to ensure complete consumption by consumers and avoid residual container waste</p>
        </div>
        <footer>
          <p class="stat">
            $4,553 <small>/ton</small><br>
            <span>in financial benefit</span>
          </p>
          <a href="#">Learn How &gt;</a>
        </footer>
      </div>
    </div>
  </div>
</section>
<section id="subnav" class="flush">
  <div class="row">
    <a href="#" class="col-xs">
      <div class="content">
        <i class="icon-prev"></i>
        <small>Previous</small>
        <hr>
        <span class="title">Food Waste</span>
      </div>
    </a>
    <a href="#" class="col-xs">
      <div class="content">
        <small>Next</small>
        <hr>
        <span class="title">Solutions</span>
        <i class="icon-next"></i>
      </div>
    </a>
  </div>
</section>