---
layout: page
title: Analysis
permalink: /analysis
slug: analysis
hero: 
  image: header-peppers.jpg
  title: An economic analysis of food waste solutions
nextpage:
  url: /solution
  title: Solutions
prevpage:
  url: /
  title: Food Waste
---

<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>A cost effective approach to food waste</h2>
        <p>ReFED set out to understand the most cost-effective ways to reduce food waste and the resources needed to implement those solutions at scale.</p>
        <a href="{{ '/resources' | prepend: site.baseurl }}" class="muted"><em>Read more about ReFED's methodology &nbsp;&gt;</em></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h5>ReFED developed a core economic model to perform three analyses on the solutions:</h5>
        <ol>
          <li>
            <span>A total net societal “Economic Value” based on their cost-effectiveness per ton of waste</span>
          </li>
          <li>
            <span>The business profit potential that the private sector can earn by investing in each solution</span>
          </li>
          <li>
            <span>The non-financial impacts of each solution — meals saved, greenhouse gases reduced, jobs created, water conserved</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

{% include chart_cost_curve.html %}

{% include chart_reduction_donut.html %}

<section id="supply-chain" class="alternate flush">
  <div class="row">
    <div class="col-xs-9 col-sm-6">
      <div class="content">
        <h2>Solutions across the supply chain</h2>
        <p>Each segment of the food supply chain has role to play in reducing our country’s food waste, but restaurants and retail businesses have the opportunity to scale up a majority of the analyzed solutions. (Some solutions can be implemented by more than one supply chain category.)</p>
        <p>Restaurant and retail businesses impact waste both upstream (<strong>farmers</strong> and <strong>manufacturers</strong>) and downstream (<strong>consumers</strong>), so new corporate policies from a few large businesses can have a powerful effect up and down the entire value chain.</p>
      </div>
    </div>
    <div class="chain">
      <ul>
        <li class="farming">
          <img src="{% asset_path 'analysis/sc-farming.svg' %}" class="img-responsive">
          <h5>Farming</h5>
        </li>
        <li class="divider">&nbsp;</li>
        <li class="manufacturing">
          <img src="{% asset_path 'analysis/sc-manufacturing.svg' %}" class="img-responsive">
          <h5>Manufacturing</h5>
        </li>
        <li class="divider">&nbsp;</li>
        <li class="business">
          <img src="{% asset_path 'analysis/sc-business.svg' %}" class="img-responsive">
          <h5>Consumer-Facing Business</h5>
        </li>
        <li class="divider">&nbsp;</li>
        <li class="consumer">
          <img src="{% asset_path 'analysis/sc-consumer.svg' %}" class="img-responsive">
          <h5>Consumer</h5>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 solutions">
      <div class="content">
        <p class="text-center">Select a circle to see related solutions</p>
        <ul>
          <li class="farming">{% img 'analysis/sc-farming-circle.svg' %}</li>
          <li class="manufacturing">{% img 'analysis/sc-manufacturing-circle.svg' %}</li>
          <li class="business">{% img 'analysis/sc-business-circle.svg' %}</li>
          <li class="consumer">{% img 'analysis/sc-consumer-circle.svg' %}</li>
        </ul>
      </div>
      <div id="related-solutions">
        <h4>Related Solutions: <span>{{ site.solutions.count }}</span><i class="icon icon-close"></i></h4>
        <div class="scrolling" id="farming-solutions" role="tablist" aria-multiselectable="true">
          {% for solution in site.solutions %}
            <h5>
              <a role="button" data-toggle="collapse" data-parent="#farming-solutions" href="#{{ solution.slug }}-summary" aria-expanded="true" aria-controls="{{ solution.slug }}-summary">
                {{ solution.title }} <span>&gt;</span>
              </a>
            </h5>
            <div id="{{ solution.slug }}-summary" class="collapse" role="tabpanel" aria-labelledby="{{ solution.slug }}-heading">
              <div class="summary">
                <p>{{ solution.definition }}</p>
                <a href="{{ solution.url | prepend: site.baseurl }}" title="Learn more about {{ solution.title }}">Learn More &nbsp;&gt;</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="content">
        {% include svg/graph-profit.svg %}
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="content">
        <h2>Profiting From Food Waste Solutions</h2>
        <p>Eleven of the solutions represent $1.9 billion in business profit potential. Nine are geared toward prevention and two toward recycling. They all create revenue and cost savings opportunities that can be captured by the businesses that implement them.</p>
        <hr>
        <p>Restaurants and foodservice facilities have the largest profit opportunity.</p>
        <a class="button-stakeholder restaurants" href="/" title="Restaurants and Foodservice Providers">
          <i class="icon-restaurant"></i>Restaurants &amp; Foodservice Providers &nbsp;&gt;
        </a>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <header class="section-header">
      <h2>Top Solutions and Benefits</h2>
    </header>
    {% include tabs.html %}

    <hr>
    
    <ul class="tabs"> 
      <li class="active tab sort" data-sort="economic-value-per-ton">Most<br>Cost-Effective</li>
      <li class="tab sort" data-sort="diversion-potential">Largest Waste<br>Diverted</li>
      <li class="tab sort" data-sort="emissions-reduced">Greatest Environmental<br>Benefits</li>
      <li class="tab sort" data-sort="scalability">Most Scalable<br>Solutions</li>
      <li class="tab sort" data-sort="profitability">Largest Profit<br>Oportunity</li>
    </ul>
    <p class="lead">
      The top three most cost-effective solutions all fall into the prevention category.
    </p>
    {% include solution_cards.html limit=3 %}
  </div>
</section>
