---
layout: page
title: Contact
permalink: /contact
slug: contact
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <h2>Contact <span class="nocase">ReFED</span></h2>
          {% include components/forms/contact.html contact = 'info' %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <h2>Media Inquiries</h2>
          {% include components/forms/contact.html contact = 'media' %}
        </div>
      </div>
    </div>
  </div>
</section>
