---
layout: page
title: Downloads
permalink: /download
slug: downloads
---
{% include components/signup.html %}

{% assign chapters = site.data.report %}
{% for chapter in chapters %}
  <section id="{{ chapter.title | slugify }}" class="chapter {% cycle 'alternate', '' %}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="content text-right">
            <img src="{{ site.baseurl }}/img/downloads/{{ chapter.thumbnail }}" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="content">
            <h2>{{ chapter.title }}</h2>
            <p><em>{{ chapter.summary }}</em></p>
            <a href="{{ site.baseurl }}/downloads/{{ chapter.download }}" class="cms-no-rewrite button disabled" onClick="ga('send', 'event', 'button', 'pdf download', '{{ chapter.title }}');" target="_blank"><i class="icon icon-download"></i>Download {{ chapter.title }}</a><br>
            <p class="message">To enable downloads, please fill out the above <a href="#signup-form">form</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}

<section>
  <div class="container">
    <div class="row middle-xs">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Technical Appendix</h2>
          <p>Details about data validation, methodology, excluded solutions, and full data sets are available in the Technical Appendix.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <a href="{{ '/downloads/ReFED_Technical_Appendix.pdf' | prepend: site.baseurl }}" 
            class="button"
            onClick="ga('send', 'event', 'button', 'pdf download', 'Technical Appendix');"
            download>
            Download the Technical Appendix
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

