---
layout: page
title: Downloads
permalink: /download
slug: downloads
---

<section id="signup-form">
  <div class="container">
    <div id="form" class="row" style="display:none;">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Please fill out the form to access downloads</h2>
          <p>As part of our continuing research efforts, we’d love to know who the report is reaching. Please submit the form to access all ReFED report content.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <form id="form2" name="form2" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://refed.wufoo.com/forms/mjvq4r315yv4yd/">
            <div class="hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="UMlMAtYlPZacJf2qzsbj6HVqx1BPgJk258UoFedrt/8=" />
            <input type="hidden" id="stats" name="stats" value="{&quot;errors&quot;:0,&quot;startTime&quot;:0,&quot;endTime&quot;:0,&quot;referer&quot;:&quot;http:\/\/www.refed.com\/download&quot;}">
            <input type="hidden" id="clickOrEnter" name="clickOrEnter" value="" />
            <input type="hidden" name="currentPage" id="currentPage" value="wuBeTYVTmNtviGkAS7wuBewuBe8Sb9cGlLQU2r9wr9H73U7rfxJY=" />
            </div>
            <div class="form-inputs">
              <label class="sr">Name</label>
              <input type="text" id="Field1" name="Field1" placeholder="Name *" required>
              <label class="sr">Email</label>
              <input type="text" id="Field2" name="Field2" placeholder="Email *" required>
              <label class="sr">Zipcode</label>
              <input type="text" id="Field3" name="Field3" placeholder="Zip" class="zip">
              <div class="select">
                <select id="Field4" name="Field4">
                  <option>Stakeholder type (if applicable)</option>
                  {% for stakeholder in site.stakeholders %}
                  <option value="{{ stakeholder.title }}">{{ stakeholder.title }}</option>
                  {% endfor %}
                </select>
              </div>
              <p class="muted">* Required Fields</p>
              <input type="submit" value="Submit" class="button">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="thanks" class="row center-xs middle-xs" style="display:none;">
      <div class="col-xs-12">
        <div class="content">
          <h2>Thank You!</h2>
          <p class="lead">You now have access to all the downloadable content below.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% assign chapters = site.data.report %}
{% for chapter in chapters %}
  <section id="{{ chapter.title | slugify }}" class="chapter {% cycle 'alternate', '' %}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="content text-right">
            <img src="{% asset_path 'downloads/{{ chapter.thumbnail }}' %}" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="content">
            <h2>{{ chapter.title }}</h2>
            <p><em>{{ chapter.summary }}</em></p>
            <a href="{{ site.baseurl }}/downloads/{{ chapter.download }}" class="button disabled" onClick="ga('send', 'event', 'button', 'pdf download', '{{ chapter.title }}');" target="_blank"><i class="icon icon-download"></i>Download {{ chapter.title }}</a><br>
            <p class="message">To enable downloads, please fill out the above <a href="#signup-form">form</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}

<script type="text/javascript">
  $(function() {
    if ($.cookie('signedup') == 'true') {
      $('#signup-form').hide();
      $('.chapter').find('.message').fadeOut().end()
                    .find('.button').removeClass('disabled');
      return;
    };
    if (urlParams["signedup"] == 'true') {
      $.cookie('signedup', 'true');
      $('#thanks').show();
      setTimeout(function() {
        $('#thanks').fadeOut('slow');
      }, 1500);
      $('.chapter').find('.message').fadeOut().end()
                    .find('.button').removeClass('disabled');
      return;
    };
    $('#form').show();
  });

  $('.chapter .button').on('click', function(e) {
    if($(this).hasClass('disabled')) {
      e.stopPropagation();
      alert("Please fill in form details to enable download.");
      $.scrollTo('#signup-form');
    }
  });
</script>




