---
layout: page
title: Food Waste Summit 2019
permalink: /food-waste-summit-2019
slug: food-waste-summit-2019
hero:
  image: ReFED-2019-Summit-header.jpg
  title: 2019 Food Waste Summit<br>Hosted by <span class="brand">ReFED</span>
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2 class="editable">About the Summit</h2>
          <p><em class="editable">October 28-30th | City View at METREON, San Francisco, CA</em></p>
          <div class="editable">
            <p>The 2019 Food Waste Summit, hosted by ReFED, is this year’s premier event that will gather influential thought leaders
            and decision-makers from across sectors, who have a shared interest in sustainable food systems, including food
            businesses, investors, foundations, national nonprofits, governments, innovators and academics.</p>
            <p>Invited attendees will share and discuss strategies to achieve our common goal to cut food waste in half by 2030, and
            the opportunities to generate profits, increase food security, spur economic growth and protect the environment. Drawing
            on ReFED’s data-driven, solutions-oriented analysis and multistakeholder network, the 2019 Food Waste Summit is the only
            event that brings together the necessary stakeholders to unlock this $100 billion+ opportunity.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="content">
              {% if site.summit_registration_url %}
              <a href="{{site.summit_registration_url}}" class="button" target="_blank">Register Here</a>
              {% else %}
              <p><em>Agenda and Application coming soon</em></p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>Organizing Partners</h2>
          <div class="text-center">
            <div class="hidden-xs">
              <img src="/img/events/ReFED-2019-Summit-logos.jpg" class="img-responsive" />
            </div>
            <div class="visible-xs">
              <img src="/img/events/ReFED-2019-Summit-logos-mobile.jpg" class="img-responsive" alt="About logos">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content editable">
          <h2>Contact <span class="nocase">ReFED</span></h2>
          {% include components/forms/contact.html contact="info" %}
        </div>
      </div>
    </div>
  </div>
</section>