---
layout: page
title: Solutions
permalink: /solution
slug: solution
hero: 
  image: header-mushroom.jpg
  title: Food waste is a solvable problem
nextpage:
  url: /stakeholder
  title: Stakeholders
prevpage:
  url: /analysis
  title: Analysis
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-6">
        <div class="content">
          <h2>Food Waste Solutions</h2>
          <p>ReFED has identified 27 of the best opportunities to reduce food waste through a detailed <a href="{{ '/analysis' | prepend: site.baseurl }}">economic analysis</a>. The solutions were analyzed using the EPA Food Recovery Hierarchy — which prioritizes prevention first, then recovery, and finally recycling — as a starting point. Additional filters of economic value and feasibility were incorporated to understand the potential for scaling solutions.</p>
          <p>Scroll down to explore the individual solutions.</p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-5 col-md-6">
        <div class="well">
          <h4>Food Recovery Hierarchy</h4>
          {% include svg/solution-bars.svg %}
        </div>
       </div>
    </div>
  </div>
</section>
<section id="cards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="content">
          <h4>Rearrange Solutions By...</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="content">
          <form id="solution-search-form" class="search form-inline">
            <label class="sr">Search</label>
            <input id="terms" type="text" placeholder="Solution Search">
            <span><i class="icon-search"></i></span>
          </form>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          {% include tabs.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          {% include solution_cards.html limit=0 %}
        </div>
      </div>
    </div>    
  </div>
</section>
