---
layout: page
title: Solutions
permalink: /solution
slug: solution
hero: 
  title: Food waste is a solvable problem
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <h2>Food Waste Solutions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Scroll down to explore the individual solutions.</p>
        </div>
      </div>
       <div class="col-sm-6">
         <div class="content">
            insert graph
         </div>
       </div>
    </div>
  </div>
</section>
<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h4>Rearrange Solutions By...</h4>
      </div>
      <div class="col-sm-3">
        <form id="solution-search-form" class="search form-inline">
          <label class="sr">Search</label>
          <input class="keyterms" type="text" placeholder="Solution Search">
          <button type="submit" value="Search"><i class="icon-search"></i></button>
        </form>
      </div>
      <div class="col-sm-12">
        <ul class="filter tabs">
          <li class="active tab">Solution Category</li>
          <li class="tab">Cost Effectiveness</li>
          <li class="tab">Waste Diverted</li>
          <li class="tab">Meals Saved</li>
          <li class="tab">Emissions Reduced</li>
          <li class="tab">Water Saved</li>
          <li class="tab">Jobs Created</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="grid row">
        {% for solution in site.solutions %}
          {% include solution_card.html %}
        {% endfor %}
      </div>
  </div>
</section>