---
layout: page
title: Solutions
permalink: /solution
slug: solution
hero: 
  image: header-solutions.jpg
  title: Food waste is a solvable problem
next:
  url: /stakeholder
  title: Stakeholders
prev:
  url: /analysis
  title: Analysis
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-6">
        <div class="content">
          <h2>Food Waste Solutions</h2>
          <p>ReFED has identified 27 of the best opportunities to reduce food waste through a detailed <a href="/analysis">economic analysis</a>. The solutions were analyzed using the EPA Food Recovery Hierarchy — which prioritizes prevention first, then recovery, and finally recycling — as a starting point. Additional filters of economic value and feasibility were incorporated to understand the potential for scaling solutions.</p>
          <p>Scroll down to explore the individual solutions.</p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-5 col-md-6">
        <div class="well">
          <h4>Food Recovery Hierarchy</h4>
          {% include svg/solution-bars.svg %}
        </div>
       </div>
    </div>
  </div>
</section>
<section class="alternate">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <h4>Rearrange Solutions By...</h4>
      </div>
      <div class="col-xs-12 col-sm-5">
        <form id="solution-search-form" class="search form-inline">
          <label class="sr">Search</label>
          <input id="terms" type="text" placeholder="Solution Search">
          <span><i class="icon-search"></i></span>
        </form>
      </div>
      <div class="col-xs-12">
        <ul class="tabs">
          <li class="tab sort active" data-sort="financial-benefit">Financial Benefit</li>
          <li class="tab sort" data-sort="diversion-potential">Waste Diverted</li>
          <li class="tab sort" data-sort="emissions-reduced">Emissions Reduced</li>
          <li class="tab sort" data-sort="water-saved">Water Saved</li>
          <li class="tab sort" data-sort="meals-saved">Meals Saved</li>
          <li class="tab sort" data-sort="jobs-created">Jobs Created</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include solution_cards.html limit=0 %}
  </div>
</section>
