body.careers {
  #job-listings {
    h4 {
      font-weight: 400;
      margin-bottom: 0;
    }
    small {
      font-style: italic;
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  body.careers {
  
  }
}
@media all and (max-width: $screen-sm-max) {
  body.careers {

  }
}
@media all and (max-width: $screen-md-max) {
  body.careers {
    
  }
}