body.downloads {
  .chapter {
    .content {
      position: relative;
      height: 100%;
    }
    .button {
      pointer-events: all;
      &.disabled {
        background-color: rgba(0,0,0,0.2);
        cursor: default;
        pointer-events: none;
      }
    }
    .message {
      
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  body.downloads {
  
  }
}
@media all and (max-width: $screen-sm-max) {
  body.downloads {
    .chapter {
      p {
        font-size: 14px;
      }
      .message {
        bottom: -30px;
      }
    }
  }
}
@media all and (max-width: $screen-md-max) {
  body.downloads {
    
  }
}