.article {
  ul { 
    padding-left: 20px;
    list-style-type: disc; 
    list-style-position: outside;
    li {
      margin-bottom: 0;
      line-height: 1.5em;
    }
  }
  ol { 
    list-style-type: decimal; 
    list-style-position: outside; 
  }
  ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: outside; 
    margin-left: 15px; 
  }
  ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: outside; 
    margin-left: 15px; 
  }
}