body.resources {
  h4 {
    color: $recovery-color;
    font-weight: 300;
    margin-top: 1.5em;
  }
}

#resources {
  h4 {
    font-weight: 400;
    margin-bottom:10px;
  }
  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  //fix for report covers grid breaking on safari
  .col-xs-3 {
    width: 24.5%;
  }
}

@media all and (max-width: $screen-xs-max) {
  body.resources {
  
  }
}
@media all and (max-width: $screen-sm-max) {
  body.resources {
    
  }
}
@media all and (max-width: $screen-md-max) {
  body.resources {
    
  }
}