.homepage-newsfeed{

    .excerpts-column{
        padding-right:68px;
        .btn{
            margin-top: 50px;
        }
    }
    .cta-column{
        padding: 0 85px;
        .news-carousel{

        }
    }
    .flickity-prev-next-button{
        top: 176px;
    }

   


    .card{
        .card-subtitle{
            color:$mid;
        }
        .card-text{
            font-size:em(25)
        }
        .card-link{
            margin-top: 22px;
        }
    }
}
@media screen and (max-width: $screen-md-min){
 
    .rightcol{
        margin-top:0;
        padding: 0 85px;
        /* background-color:#FFF; */
    }
    .extend-to-browser-edge > .row{
        display:flex;
        .leftcol{
            order:2;
        }
        .rightcol{
            order:1;
            padding: em(30) 0;
            
            .news-carousel{
                padding-top:0;
            }
        }
    }

}