.laptop-module{
    .laptop-column{        
        .laptop-image{
            position:absolute;
            bottom: -60px;
            width: 185%;
        }
    }
    .copy-column{}

    @media screen and (max-width: $screen-md-min){
        margin-top: 14%;
        .row{
            display:flex;
        }
        .laptop-column{   
            order:1;     
            .laptop-image{
                position:relative;
                bottom: inherit;
                width: 180%;
                margin-top: -26%;
                margin-left: -1%;
                margin-bottom: em(10);
            }
        }
        
        .copy-column{
            order:2;     
        }
    }
}