<div class="container">
  <div class="row">
    <div class="col-md-5">
      <a href="/tools/policy/federal" class="button fed-state-button">Federal<br>Policy</a>
      <a href="/tools/policy/" class="button fed-state-button">State<br>Policy</a>
    </div>
    <div class="col-md-7">
      <p class="fineprint">Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>{{ include.title }}</h1>
    </div>
  </div>
</div>