// ICON add ons

.icon-circle {
    border-radius: 50%;
}

// FONT ICONS

@font-face {
    font-family: 'refed';
    src:    url(font_path("refed.eot"));
    src:    url(font_path("refed.eot#iefix")) format('embedded-opentype'),
        url(font_path("refed.ttf")) format('truetype'),
        url(font_path("refed.woff")) format('woff'),
        url(font_path("refed.svg#refed")) format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'refed' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
    content: "\e905";
}
.icon-prev:before {
    content: "\e9e5";
}
.icon-stakeholder-farmers .path1:before {
    content: "\e90c";
    color: rgb(189, 202, 214);
}
.icon-stakeholder-farmers .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path5:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path6:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path7:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path8:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path9:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path10:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path11:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(124, 152, 175);
}
.icon-stakeholder-farmers .path12:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(28, 90, 125);
}
.icon-stakeholder-federal-government .path1:before {
    content: "\e918";
    color: rgb(209, 233, 231);
}
.icon-stakeholder-federal-government .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-federal-government .path3:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-federal-government .path4:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path5:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path6:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path7:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path8:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path9:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path10:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path11:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path12:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-federal-government .path13:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-federal-government .path14:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-federal-government .path15:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path16:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path17:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-federal-government .path18:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-foundations .path1:before {
    content: "\e92a";
    color: rgb(214, 229, 200);
}
.icon-stakeholder-foundations .path2:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(172, 203, 148);
}
.icon-stakeholder-foundations .path3:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(214, 229, 200);
}
.icon-stakeholder-foundations .path4:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(115, 169, 80);
}
.icon-stakeholder-investor .path1:before {
    content: "\e92e";
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path2:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path3:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(176, 195, 144);
}
.icon-stakeholder-investor .path4:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(176, 195, 144);
}
.icon-stakeholder-investor .path5:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(176, 195, 144);
}
.icon-stakeholder-investor .path6:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(176, 195, 144);
}
.icon-stakeholder-investor .path7:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path8:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path9:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path10:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path11:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path12:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path13:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path14:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path15:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path16:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path17:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path18:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path19:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path20:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path21:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path22:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path23:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path24:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(216, 224, 198);
}
.icon-stakeholder-investor .path25:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(176, 195, 144);
}
.icon-stakeholder-investor .path26:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(122, 156, 73);
}
.icon-stakeholder-investor .path27:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(122, 156, 73);
}
.icon-stakeholder-manufacturers .path1:before {
    content: "\e949";
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path2:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path3:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path4:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path5:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path6:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(198, 211, 219);
}
.icon-stakeholder-manufacturers .path7:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(124, 155, 174);
}
.icon-stakeholder-manufacturers .path8:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(124, 155, 174);
}
.icon-stakeholder-manufacturers .path9:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(124, 155, 174);
}
.icon-stakeholder-manufacturers .path10:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path11:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path12:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path13:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path14:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path15:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path16:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path17:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-manufacturers .path18:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(66, 115, 141);
}
.icon-stakeholder-restaurants .path1:before {
    content: "\e95b";
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path2:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(149, 181, 185);
}
.icon-stakeholder-restaurants .path3:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(149, 181, 185);
}
.icon-stakeholder-restaurants .path4:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path5:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path6:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path7:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path8:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path9:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path10:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path11:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path12:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path13:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path14:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path15:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path16:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path17:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(202, 217, 219);
}
.icon-stakeholder-restaurants .path18:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(77, 134, 142);
}
.icon-stakeholder-restaurants .path19:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(77, 134, 142);
}
.icon-stakeholder-retailers .path1:before {
    content: "\e96e";
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path2:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path3:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path4:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path5:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path6:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path7:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path8:before {
    content: "\e975";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path9:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path10:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path11:before {
    content: "\e978";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path12:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path13:before {
    content: "\e97a";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path14:before {
    content: "\e97b";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path15:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path16:before {
    content: "\e97d";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path17:before {
    content: "\e97e";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path18:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path19:before {
    content: "\e980";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path20:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path21:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path22:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path23:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path24:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path25:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(204, 228, 216);
}
.icon-stakeholder-retailers .path26:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path27:before {
    content: "\e988";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path28:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path29:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path30:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path31:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path32:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path33:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path34:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path35:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path36:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path37:before {
    content: "\e992";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path38:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(152, 201, 180);
}
.icon-stakeholder-retailers .path39:before {
    content: "\e994";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path40:before {
    content: "\e995";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path41:before {
    content: "\e996";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path42:before {
    content: "\e997";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path43:before {
    content: "\e998";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path44:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path45:before {
    content: "\e99a";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path46:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path47:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path48:before {
    content: "\e99d";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path49:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path50:before {
    content: "\e99f";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path51:before {
    content: "\e9a0";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path52:before {
    content: "\e9a1";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-retailers .path53:before {
    content: "\e9a2";
    margin-left: -1em;
    color: rgb(78, 166, 133);
}
.icon-stakeholder-state-government .path1:before {
    content: "\e9a3";
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path2:before {
    content: "\e9a4";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path3:before {
    content: "\e9a5";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path4:before {
    content: "\e9a6";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path5:before {
    content: "\e9a7";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path6:before {
    content: "\e9a8";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path7:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path8:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path9:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path10:before {
    content: "\e9ac";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path11:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(161, 212, 208);
}
.icon-stakeholder-state-government .path12:before {
    content: "\e9ae";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path13:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path14:before {
    content: "\e9b0";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path15:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path16:before {
    content: "\e9b2";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path17:before {
    content: "\e9b3";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path18:before {
    content: "\e9b4";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path19:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path20:before {
    content: "\e9b6";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path21:before {
    content: "\e9b7";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path22:before {
    content: "\e9b8";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path23:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path24:before {
    content: "\e9ba";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path25:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path26:before {
    content: "\e9bc";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path27:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path28:before {
    content: "\e9be";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path29:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path30:before {
    content: "\e9c0";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path31:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path32:before {
    content: "\e9c2";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path33:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(209, 233, 231);
}
.icon-stakeholder-state-government .path34:before {
    content: "\e9c4";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path35:before {
    content: "\e9c5";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path36:before {
    content: "\e9c6";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path37:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path38:before {
    content: "\e9c8";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path39:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path40:before {
    content: "\e9ca";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path41:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path42:before {
    content: "\e9cc";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path43:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path44:before {
    content: "\e9ce";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path45:before {
    content: "\e9cf";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path46:before {
    content: "\e9d0";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path47:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path48:before {
    content: "\e9d2";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path49:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path50:before {
    content: "\e9d4";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path51:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path52:before {
    content: "\e9d6";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path53:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path54:before {
    content: "\e9d8";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path55:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path56:before {
    content: "\e9da";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path57:before {
    content: "\e9db";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path58:before {
    content: "\e9dc";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path59:before {
    content: "\e9dd";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path60:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path61:before {
    content: "\e9df";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path62:before {
    content: "\e9e0";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path63:before {
    content: "\e9e1";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path64:before {
    content: "\e9e2";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path65:before {
    content: "\e9e3";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-stakeholder-state-government .path66:before {
    content: "\e9e4";
    margin-left: -1em;
    color: rgb(90, 183, 178);
}
.icon-cloud:before {
    content: "\e900";
}
.icon-download:before {
    content: "\e901";
}
.icon-drop:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e906";
}
.icon-share:before {
    content: "\e907";
}
.icon-trash:before {
    content: "\e908";
}
.icon-tree:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}

