// FONT ICONS

@font-face {
    font-family: 'refed';
    src:    url(font_path("refed.eot"));
    src:    url(font_path("refed.eot#iefix")) format('embedded-opentype'),
        url(font_path("refed.ttf")) format('truetype'),
        url(font_path("refed.woff")) format('woff'),
        url(font_path("refed.svg#refed")) format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'refed' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}
.icon-circle:before {
    content: "\e901";
}
.icon-caret-up:before {
    content: "\e917";
}
.icon-cloud:before {
    content: "\e918";
}
.icon-download:before {
    content: "\e925";
}
.icon-drop:before {
    content: "\e926";
}
.icon-linkedin:before {
    content: "\e994";
}
.icon-menu:before {
    content: "\e9a8";
}
.icon-next:before {
    content: "\e9a9";
}
.icon-prev:before {
    content: "\e9b4";
}
.icon-search:before {
    content: "\e9fd";
}
.icon-share:before {
    content: "\e9fe";
}
.icon-trash:before {
    content: "\ea41";
}
.icon-tree:before {
    content: "\ea42";
}
.icon-twitter:before {
    content: "\ea43";
}
.icon-youtube:before {
    content: "\ea44";
}

