//#= require vendor/normalize.css
//#= require vendor/main.css
//= require vendor/flexboxgrid.min.css


@import '_variables';
@import 'bootstrap';
@import '_mixins';
@import '_icons';
@import '_animations';
@import '_fixes';
@import "_charts.scss";
@import "chartist/dist/scss/chartist.scss";


/* -----------------------------------------
   Global
----------------------------------------- */
html {}
body {
  font-family: $font-family-base;
  background-color: $cream-light;
  color: $text-color;
  font-weight: 300;
}
section {
  padding: 50px 0;
  &.hero {
    padding: 0;
  }
}
nav {
  display: flex;
  ul {
    margin: auto;
    margin-right: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    li {
      height: $base-line-height;
      line-height: $base-line-height;
      margin: 0 1em;
    }
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-family: inherit;
  font-weight: 200;
  line-height: 1.25em;
  color: inherit;
  text-transform: uppercase;
  small,
  .small {
    font-size: 65%;
  }
}
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; text-transform: uppercase; margin-bottom: 0;}
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; text-transform: uppercase; color: inherit; margin-bottom: 0; }
h6, .h6 { font-size: $font-size-h6; }

p {
  margin: 0 0 1.15em 0;
  font-size: 18px;
}
img {}


a {
  text-decoration: none;
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &.muted {
    color: $gray-light;
    font-size: 18px;
  }
}
i {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 40px;
  // text-indent: -999em;
  // background-color: $placeholder-color;
}

form {}
select {
  min-width: 200px;
  padding: 15px 22px;
  font-size: 16px;
  border: 1px solid $gray-light;
  border-radius: 0;
  &:focus {
   outline: none;
  }
  // background: #fff url(icon-arrow-down.svg) no-repeat right center; 
  background-position-x: 92%;
  background-size: 12px;
  text-transform: uppercase;
  -webkit-appearance: none;
}
input {
  line-height: 35px;
  text-indent: 10px;
  width: 100%;
  margin: 4px 0;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
}
ol {
  padding-left: 1em;
  margin-top: 25px;
  li {
    padding-left: 0.5em;
    font-weight: 500;
    margin-bottom: 1em;
    span {
      font-weight: 300;
    }
  }
}


/* -----------------------------------------
   DOM Specific
----------------------------------------- */
// Structure
#page-header {
  position: relative;
  z-index: 9;
}
#page-content {
  position: relative;
}
#page-footer {
  position: relative;
  h3 {
    line-height: 12px;
    small {
      font-weight: 100;
      font-size: 13px;
    }
  }
  form {
    margin-top: 20px;
    input {
      &.zip {
        width: 49%;
        margin-right: 5px;
      }
    }
    input[type="submit"] {
      display: block;
      float: right;
      width: 48%;
      height: 38px;
      line-height: 40px;
      margin: 3px 0 0 0;
      padding: 0;
      text-indent: 0;
      background-color: $recovery-color;
    }
  }
}

// Navigation
#topnav {
  background-color: $gray-dark;
  ul {
    li {
      height: 25px;
      line-height: 25px;
      &.search {
        position: relative;
        input {
          border: none;
          width: 95px;
          height: 20px;
          line-height: 20px;
          margin: 0;
          border-radius: 12px;
          // background-color: rgba(255,255,255,0.3);
          background-color: transparent;
          text-indent: 30px;
          font-size: 13px;
          font-weight: 100;
          text-transform: uppercase;
        }
        i {
          position: absolute;
          top: 7px;
          left: 7px;
          font-size: 14px;
          height: 14px;
          width: 13px;
          margin: 0;
          color: $cream-light;
        }
      }
      a {
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        color: $cream-light;
        &:hover {
          color: #fff;
        }
        &.download {
          display: inline-block;
          width: 100px;
          height: 74px;
          background-color: $button-color;
          color: darken($button-color, 20%);
          text-align: center;
          font-size: 15px;
          font-weight: 100;
          line-height: 15px;
          small {
            display: inline-block;
            margin-top: 5px;
            font-size: 10px;
          }
          i {
            margin: 0 auto;
            font-size: 38px;
          }
        }
      }
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $cream-light;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $cream-light;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $cream-light;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $cream-light;
  }
}
#mainnav {
  height: 50px;
  line-height: 50px;
  background-color: $mainnav-background-color;
  border-bottom: 1px solid $gray-lighter;
  .brand {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 120px;
  }
  ul {
    margin-right: 120px;
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $gray-light;
        &:hover {
          color: $text-color;
        }
      }
    }
  }
}
#subnav {
  a {
    display: block;
    background-color: $cream;
    text-align: center;
    color: $gray;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    small {
      font-size: 18px;
      font-weight: 200;
    }
    &:hover {
      background-color: darken($cream, 5%);
    }
    i {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      font-size: 50px;
      &.icon-next {
        left: auto;
        right: 0;
      }
    }
  }
  hr {
    width: 50%;
    border-top: 2px solid $gray;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}
#socialnav {
  a {
    display: inline-block;
    margin: 0 20px;
    padding: 20px 0;
    color: $gray;
    &:hover {
      color: $cream;
    }
    i {

    }
  }
}
#footernav {
  font-weight: 100;
  color: $cream-light;
  ul {
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    padding-left: 0;
    line-height: 1.5em;
    li {
      margin-bottom: 2px;
      a {
        text-transform: uppercase;
        color: $cream-light;
        &:hover {
          color: #ffffff;
        }
      }
    }
    &.report-sitemap {
      font-size: 14px;
      ul {
        font-size: 12px;
        font-weight: 100;
        ul {
          padding-left: 4px;
          font-size: 11px;
        }
      }
    }
    &.primary-sitemap {
      font-size: 16px;
      ul {
        padding-left: 4px;
        font-size: 14px;
        ul {
          padding-left: 4px;
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
  }
  h3 {
    font-weight: 100;
    line-height: 1em;
  }
  .row {
    max-width: none;
    .content {
      // max-width: floor(($live-content-width / 3 - 40));
    }
    [class^="col-"] {
      padding: 0;
      .content {
         padding: $content-padding;
         padding-bottom: 50px;
      }
    }
    [class^="col-"]:first-child {
      .content {
        margin-right: 0;
        margin-left: auto;
        width: 200px;
      }
    }
    [class^="col-"]:last-child {
      .content {
        margin-right: auto;
        margin-left: 0;
        width: 280px;
      }
    }
  }
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  p {
    height: 30px;
    line-height: 30px;
    margin: 0;
    font-size: 11px;
    text-align: center;
  }
}


/* -----------------------------------------
   Utility Classes
----------------------------------------- */
.hide {
  display: none !important;
  visibility: hidden !important;
}
.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.visible-mobile {
  visibility: hidden;
  display: none;
}

.responsive {
  max-width: 100%;
  height: auto;
}
// Alignment
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

// Content
.content {
  position: relative;
  padding: $content-padding;
  // @extend .clearfix;
  &.middle {
    display: flex;
    align-items: center;
  }
}

.break-50 {
  width: 50%;
}
.break-60 {
  width: 60%;
}
.break-70 {
  width: 70%;
}
.break-80 {
  width: 80%;
}
.break-90 {
  width: 90%;
}



.brand {
  text-transform: none !important;
}

/* -----------------------------------------
   Misc Layout
----------------------------------------- */
.container {
  position: relative;
  max-width: $live-content-width;
}
.row {
  max-width: $live-content-width;
  margin: auto;
  [class^="col-"] {
    .content {
      padding: $content-padding $content-padding*2;
    }
  }
  [class^="col-"]:first-child {
    .content {
      padding-left: 0;
    }
  }
  [class^="col-"]:last-child {
    .content {
      padding-right: 0;
    }
  }
}
.flush {
  padding: 0;
  .row {
    max-width: none;
    .content {
      max-width: floor(($live-content-width / 2 - 40));
    }
    [class^="col-"] {
      padding: 30px 0;
      .content {
         padding: $content-padding $content-padding*4;
      }
    }
    [class^="col-"]:first-child {
      .content {
        margin-right: 0;
        margin-left: auto;
        padding-left: 0;
      }
    }
    [class^="col-"]:last-child {
      .content {
        margin-right: auto;
        margin-left: 0;
        padding-right: 0;
      }
    }
  }
}

.button {
  display: inline-block;
  width: 100%;
  height: $base-line-height;
  line-height: $base-line-height;
  margin: 5px 0;
  padding: 0 20px;
  border-radius: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: $button-color;
  color: $cream-light;
  &:hover {
    background-color: darken($button-color, 10%);
    color: $cream-light;
  }
  i {
    margin: 0 4px;
    font-size: 14px;
  }
  &.play-video {
    height: $base-line-height * 2;
    line-height: $base-line-height * 2;
    font-size: 28.5px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.3);
    border: 1px solid $cream-light;
    // box-shadow: inset 0 0 2px rgba(246,245,240,1);
  }
}
.button-stakeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  color: $gray;
  i {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: $placeholder-color;
  }
}
.lead {
  margin: 1em 0;
  font-size: 20px;
  color: inherit;
}

a.external {
  padding-right: 20px;
  background-image: url(../media/images/00-global/external-link-icon.png);
  background-image: url(../media/images/00-global/external-link-icon.svg), linear-gradient(transparent, transparent);
  background-position: right center;
  background-size: 0.9em;
  background-repeat: no-repeat;
}

.tabs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  .tab {
    margin: auto 5px;
    padding: 5px 20px;
    flex-grow: 1;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    background-color: $cream;
    color: $text-color;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover, &.active {
      background-color: $button-color;
      color: $cream-light;
    }
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
}
.card {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  min-height: 100px;
  padding-bottom: 110px;
  margin: 10px 16px 10px 0;
  background-color: $cream;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  header {
    img {
      max-width: 100%;
    }
    i {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 40px;
      height: 40px;
      text-indent: -999em;
      background-color: $placeholder-color;
    }
  }
  .content {
    padding: $content-padding / 2;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // height: 110px;
    .stat {
      margin: 0;
      margin-bottom: 10px;
      padding: 0 $content-padding / 2;
      font-size: 30px;
      font-weight: 500;
      color: $gray;
      text-transform: uppercase;
      line-height: 0.65em;
      small {
        font-size: 75%;
      }
      span {
        font-size: 13px;
        font-weight: 200;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 $content-padding / 2;
      background-color: $gray;
      font-size: 13px;
      font-weight: 100;
      text-transform: uppercase;

      color: $cream-light;
    }
  }
  &.prevention-card {
    footer {
      .stat { color: $prevention-color; }
      a {
        background-color: $prevention-color;
      }
    }
  }
  &.recovery-card {
    footer {
      .stat { color: $recovery-color; }
      a {
        background-color: $recovery-color;
      }
    }
  }
  &.recycle-card {
    footer {
      .stat { color: $recycle-color; }
      a {
        background-color: $recycle-color;
      }
    }
  }
}


// Hero Banners
.hero {
  display: table;
  position: relative;
  width: 100%;
  height: 380px;
  min-height: 380px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000000;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  &.skinny {
    height: auto;
    min-height: inherit;
    padding: 50px 0;
  }
  .hero-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 0;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    h1, h2, h3 { 
      color: #ffffff;
      font-size: 40px;
      font-weight: 100;
      line-height: 1.25em;
      letter-spacing: 0.05em;
      margin: 0;
      small {
        font-weight: 300;
        letter-spacing: 0.1em;
      }
    }
    .lead {
      font-weight: 100;
    }
  }
}


/* -----------------------------------------
   Color Palette
----------------------------------------- */

.cream {
  @include palette($cream, $text-color);
}
.cream-light {
  @include palette($cream-light, $text-color);
}
.teal {
  @include palette($button-color, $cream-light);
}

.recycle {
  @include palette($recycle-color, $cream-light);
}
.recovery {
  @include palette($recovery-color, $cream-light);
}
.prevention {
  @include palette($prevention-color, $cream-light);
}

section.alternate {
  @include palette($section-alt-color, $text-color);
} 


.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: $recycle-color;
  /* The width of your bars */
  stroke-width: 40px;
  /* Yes! Dashed bars! */
  // stroke-dasharray: 20px;
  /* Maybe you like round corners on your bars? */
  // stroke-linecap: round;
}

/* -----------------------------------------
   Charts
----------------------------------------- */
.legend {
  padding: $content-padding;
  margin: 40px 0;
  background-color: $well-bg;
  .title {
    font-size: 24px;
    font-weight: 700;
    text-indent: 10px;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  i {
    width: 25px;
    height: 25px;
    margin: 2px;
  }
  table {
    td {
      padding: 2px 8px;
      font-size: 18px;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
}


/* -----------------------------------------
   Page Specific
----------------------------------------- */
body.food-waste {
  .hero {
    h1, h2 {
      font-size: 34px;
    }
  }
  #video {
    background-image: url("{% asset_path 'food-waste/bg-grapes.jpg' %}");
    background-size: cover;
    .content {
      padding: 210px $content-padding*4;
      padding-bottom: 0;
    }
  }
  #consumption_percentage {
    li {
      width: 50%;
      h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 16px;
        small {
          font-size: 17px;
          font-weight: 100;
          text-transform: uppercase;
        }
      }
      i {
        display: inline-block;
      }
    }
  }
  #returns {
    margin-left: -20px;
    li {
      width: 30%;
      margin-right: 20px;
      margin-bottom: 40px;
      img {
        width: 45%;
        margin-bottom: 50px;
        float: left;
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 16px;
        margin: 40px 0 10px 0;
        small {
          font-size: 16px;
          color: lighten($text-color, 15%);
          text-transform: lowercase;
        }
      }
      hr {
        border-top: 1px solid $text-color;
        margin: 10px;
      }
      a {
        display: block;
        line-height: 1em;
        font-size: 12px;
        color: $text-color;
        text-transform: uppercase;
        // font-family: $font-family-condensed;
      }
    }
  }
}

body.analysis {
  #supply-chain {
    .chain {
      width: 190px;
      float: left;
      background-color: #ece6da;
    }
    .details {
      width: 280px;
      padding-left: $content-padding*2;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 20px 0;
      li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        cursor: pointer;
        i {
          margin: 0 auto;
          width: 75px;
          height: 75px;
        }
        img {
          width: 60px;
          margin: 0 auto;
        }
        &.divider {
          width: 100%;
          height: 35px;
          background: transparent url("{% asset_path 'analysis/arrow-down.svg' %}") no-repeat center bottom;
        }
      }
    }
  }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */


