<section class="split-section image-{{include.image_alignment | default: 'right'}} {{ include.section_class }}"
  id="{{ include.id }}">
  <div class="container split-section">
    <div class="row">
      <div class="col-text col-12 {{text-class}} column-{{include.section_background_color | default: 'transparent'}}">
        <span class='bkg'></span>
        <div class="col-text-content">
          {% if include.subtitle or item.subtitle %}
          <h3>{{ include.subtitle | default: item.subtitle  }}</h3>
          {% endif %}
          {% if include.title or item.title %}
          <h2 class="mb-3">{{ include.title | default: item.title  }}</h2>
          {% endif %}
          <div class="mb-4 item-description">{{ description }}</div>
          {% if include.omit_url != true %}
          {% if item.url or include.url %}
          <a class="m-0 {% if include.button_type == 'text' or item.button_type == 'text' %}btn-link{% else %}btn {{ include.button_class | default: 'btn-blue' }}{% endif %} "
            href="{{ include.url | default: item.url  }}">{{ include.link_label | default: item.link_label | default: 'Learn More'}}</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="col-image col-12 {{image-class}} column-{{include.section_background_color | default: 'primary'}}">
        <!--<img src="{{ image }}" alt="" class="d-block">-->
        <span class='bkg ' style="background-image:url('{{ image }}')"></span>
      </div>
    </div>
  </div>
</section>