#carousel-hero {
  position: relative;
  .flickity-prev-next-button {
    top: auto;
    bottom: 15%;
    transform: translateY(-50%);
    &.previous {
      @include arrow('left', 12px, $white);
      left: 0;
    }
    &.next {
      @include arrow('right', 12px, $white);
      right: 10%;
    }
  }
}
