.carousel-split {
  //min-height: 500px;
  .split-section {
    width: 100%;
    //height: 100%;
    //min-height: 500px;
    &.container {
      height: 100%;
      .row {
        height: 100%;
      }
    }
  }
  &.flickity-init{
    height:100%;
    .split-section{
      height:100%;
    }
  }

  .flickity-page-dots{
    top: 0;
    bottom: inherit;
    left: 0;
    right: 0;
    width: 50%;
    text-align: left;
    margin-left: 7px;
  }  
  &.no-carousel .flickity-page-dots{ display:none; }

  
  @include media-breakpoint-up(lg) {
    .flickity-page-dots{
      width:100%;
      margin:auto;
      top: 5rem;
    }
    &.carousel-image-right{
      .flickity-page-dots{
        left: 0;
        padding-left: 7px;
        max-width:#{map-get($container-max-widths, 'lg')};
        @include media-breakpoint-up(xl) {
          max-width:#{map-get($container-max-widths, 'xl')};
        }
      } 
    }
    &.carousel-image-left{
      .flickity-page-dots{
        right: 0;
        padding-left: calc(7rem - 8px); // 8px is the left margin on the dot
        max-width:unset;
        width:50%;
        left:50%;
        margin:unset;
      } 
    }
  }

 
  @include media-breakpoint-down(md) {
    
    .container > .row{
      //flex-direction: column;
      flex-wrap: nowrap;
      flex-direction:column-reverse;
    }
    .col-image{ flex:inherit;}
    .col-text{ flex:1; }
    &.has-carousel .col-text{ padding-top: rem(64) !important; }

    .flickity-page-dots{
      margin: auto;
      max-width:#{map-get($container-max-widths, 'md')} !important;
      @include media-breakpoint-down(sm) {   
        max-width:#{map-get($container-max-widths, 'sm')} !important;
      }     
      @include media-breakpoint-down(xs) {   
        max-width:initial !important;
      }

      width: 100% !important;
      //padding-left: -8px !important;
      //top: calc(100vw * .6);
      margin-top: percentage(9/16); // this will place it exactly at the bottom of a 16:9 image
      padding-top: rem(30);
      left: 0 !important;
      //bottom: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      li:first-child{margin-left:0;}
      pointer-events:none;
      li{ pointer-events:auto; } // is cross-browser compatible to set the parent to "none" and the child to "auto"?
    }
  }
 

  


  // DOT COLORS
  // default theme is .theme-light
  &.theme-dark{
    .flickity-page-dots{
      .dot{
        border: 1px solid $white;
      }
      .dot.is-selected{
        border: 1px solid $white;
        background-color:$white;
      }
    }
  }
}
