// TODO: Refactor entire hero carousel. We will probably use the Bootstrap carousel to accomplish
// #carousel-hero {
//   position: relative;
//   &.flickity-init{
//     height:100%;
//     position: relative;
//     .hero {
//       height:100%;
//     }
//   }

//   @include media-breakpoint-down(md) {
//     .hero-content{
//       // add some extra space for the carousel arrows
//       padding-left: rem(40);
//       padding-right: rem(40);
//     }
//     .flickity-prev-next-button {
//       &.previous {
//         left: rem(15);
//       }
//       &.next {
//         right: rem(15);
//       }
//     }
//   }
//   @include media-breakpoint-down(xs) {
//     h1{
//       font-size:rem(30);
//     }
//   }
//   @include media-breakpoint-up(lg) {
//     .flickity-prev-next-button {
//       top:70%;
//       &.previous {
//         left: 15px;
//       }
//       &.next {
//         right: 10%;
//       }
//     }
//   }
//   // for some screen sizes, the arrows overlap the headline text. In these cases, give the headline a little extra padding.
//   @media screen and (min-width: $screen-sm-min) and (max-width: 655px),
//   (min-width: $screen-md-min) and (max-width: 825px),
//   (min-width: $screen-lg-min) and (max-width: 1095px),
//   (min-width: $screen-xl-min) and (max-width: 1405px){
//     .hero-content .container{padding:0 rem(50);}
//   }
// }

// #carousel-hero.carousel-hero-in-container{
//   .flickity-button:disabled{ display:none; }
//   .flickity-prev-next-button {
//     top: auto;
//     bottom: calc(50% - 12px);
//     transform: translateY(-50%) ;

//     &.previous {
//       left: rem(16);
//     }
//     &.next {
//       right: rem(16);
//     }
//     svg { color: $white; }

//     @include media-breakpoint-up(sm) {
//       svg { color: $primary; }
//       &.previous {
//         left: 50%;
//         transform:translateX(-320px);
//       }
//       &.next     {
//         right: 50%;
//         transform:translateX(320px);
//       }
//     }
//     @include media-breakpoint-up(md) {
//       &.previous { transform:translateX(-405px);}
//       &.next     { transform:translateX(405px); }
//     }
//     @include media-breakpoint-up(lg) {
//       &.previous { transform:translateX(-540px);}
//       &.next     { transform:translateX(540px); }
//     }
//     @include media-breakpoint-up(xl) {
//       &.previous { transform:translateX(-696px);}
//       &.next     { transform:translateX(696px); }
//     }
//     @media screen and (min-width: 1470px){
//       &.previous { transform:translateX(-725px);}
//       &.next     { transform:translateX(725px); }
//     }

//     // for some screen sizes, the arrows go off the edge of the screen. In these cases, move them in so they are over the image, and turn them white.
//     @media screen and (min-width: $screen-sm-min) and (max-width: 655px),
//                       (min-width: $screen-md-min) and (max-width: 825px),
//                       (min-width: $screen-lg-min) and (max-width: 1095px),
//                       (min-width: $screen-xl-min) and (max-width: 1405px){
//       svg { color: $white; }
//       &.previous { margin-left: 60px;  }
//       &.next     { margin-right: 60px; }
//     }
//   }
// }
