---
layout: default
---

{% include modules/hero.html %}


<section>
    <div class="container">

        <div class="float-sm-right mb-sm-5 ml-sm-5 w-50">
            <img src="{{ page.image }}" class="w-100">
        </div>

        <div class="preheader pb-3 pr-5 mb-3">Overview</div>

        {{ content }}

        
        <div class="preheader pb-3 pr-5 mb-3">Impact</div>

        <ul>
            {% for impact in page.impacts %}
            <li>{{ impact }}</li>
            {% endfor %}
        </ul>
       
    </div>
</section>





{% if page.testimonial %} 

<section class="testimonial testimonial-1 bg-primary text-white">
    <a name="testimonials"></a>
    <a name="testimonial-1"></a>
    <div class="container">
      <div class="row flex-md-row-reverse">    
        <div class="col-md-4 mb-5 mb-md-0">          
            <div class="bg-image aspect-1x1 rounded-circle" style="background-image:url({{ page.testimonial.image }})"></div>
        </div>
        <div class="col-md-8">
          <div class="h3 testimonial">
            <blockquote class="pr-md-5">
              “{{ page.testimonial.quote }}”</p>
              <footer>
                <div class="cite">
                    {{ page.testimonial.name }}
                  <div class="credentials font-italic">{{ page.testimonial.cite }}</div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>    
    </div>
  </section>
  {% endif %}
  



{% include modules/next-page-cta.html %}
















