---
layout: default
---

{% for section in page.page_sections %}
  {% if section._type == 'card_grid' %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-5">{{ section.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="responsive-card-deck cards-lg-3">
            {% for card in section.cards %}
              <div class="card">
                <div class="bg-image aspect-4x3" style="background-image: url({{ card.featured_image | default: site.placeholder_image }})"></div>
                <div class="card-body">
                  <p>{{ card.text }}</p>
                  {% if card.link %}
                    <a href="{{ card.link }}" class="btn btn-primary">{{ card.link_text | default: 'Read More'}}</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if section._type == 'single_column' %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            {{ section.section_html }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if section._type == 'testimonials' %}
    <section class="bg-light">
      <div class="container">
        <div id="carousel-testimonials-{{ forloop.index }}" class="carousel slide pb-5" data-ride="carousel">
          <ol class="carousel-indicators">
            {% assign carousel_instance = forloop.index %}
            {% for slide in section.testimonials %}
              <li data-target="#carousel-testimonials-{{ carousel_instance }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}  
          </ol>
          <div class="carousel-inner">
            
            {% for testimonial in section.testimonials %}
              
              <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
                <div class="row">
                  <div class="col-12">
                    <p class="lead">{{ testimonial.text }}</p>
                    <p><em>{{ testimonial.author }}</em></p>
                    <p><small>{{ testimonial.about_the_author }}</small></p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carousel-testimonials-{{ forloop.index}}" role="button" data-slide="prev">
            <i class="ri-arrow-left-s-line text-dark"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-testimonials-{{ forloop.index}}" role="button" data-slide="next">
            <i class="ri-arrow-right-s-line text-dark"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
{{ content }}

