<div id="carousel-date-label" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner" role="listbox">
    <div class="item active" data-progress="0">
      <h2>Date Labeling<br>Policy Issues</h2>
      <p>Exploring some of the food date label regulation patterns across the country reveals extreme variations among states and demonstrates how our current labeling system creates confusion for consumers while not necessarily improving food safety.</p>
    </div>
    {% for filter in site.data.policy_tool['date_labeling'].filters %}
      <div class="item"
           data-progress="{% cycle '20','40','60','80' %}"
           data-states='{{ filter.states | jsonify }}'>
        <h2>{{ filter.title }}</h2>
        <p>{{ filter.definition }}</p>
      </div>
    {% endfor %}
    <div class="item explore" data-progress="100">
      <h2>Explore Each State</h2>
      <ul>
        <li>
          <span class="box"></span><span class="fineprint">No date label regulations
        </li>
        <li>
          <span class="box"></span><span class="fineprint">Date labels required for certain foods<br>No restrictions on sales after those dates</span>
        </li>
        <li>
          <span class="box"></span>
          <span class="fineprint">
            Date labels required for certain foods<br>
            Regulations on sales after those dates
          </span>
        </li>
        <li>
          <span class="box"></span>
          <span class="fineprint">
            No date label regulations Regulations on sales after dates if date labels are voluntarily applied
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>