<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="stickit">
          <h1>Test your date label knowledge</h1>
          <p>You may have heard that food date labels are a significant contributor to food waste. Take this quiz to test your knowledge and learn how policy can influence good date labeling practices.</p>
        </div>
        
      </div>
      <div class="col-md-8">
        <ol class="quiz">
          <li class="question">For which foods does the federal government regulate date labels? Check all that apply.
            <ul class="">
              <li class="checkbox">
                <input id="milk" type="checkbox" value="">
                <label for="milk">
                  <span></span>
                  Milk
                </label>
              </li>
              <li class="checkbox">
                <input id="eggs" type="checkbox" value="">
                <label for="eggs">
                  <span></span>
                  Eggs
                </label>
              </li>
              <li class="checkbox">
                <input id="meat" type="checkbox" value="">
                <label for="meat">
                  <span></span>
                  Meat
                </label>
              </li>
              <li class="checkbox correct">
                <input id="infant-formula" type="checkbox" value="">
                <label for="infant-formula">
                  <span></span>
                  Infant Formula
                </label>
              </li>
              <li class="checkbox">
                <input id="packaged-foods" type="checkbox" value="">
                <label for="packaged-foods">
                  <span></span>
                  Packaged Foods
                </label>
              </li>
              <li class="answer">
                <div class="panel">
                  <h4>Answer: Infant Formula</h4>
                  <p>Infant formula is the only product for which a date label is federally regulated. This is not because of a safety concern, but because the nutrients in the formula decline over time. All other labeling requirements are stipulated by a patchwork of state and local laws, though manufacturers generally choose the dates on packages. Over a third of Americansly believe that the federal government regulates date labels.</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="question">Which of these labels relate to product safety?<br>Check all that apply.
            <ul class="">
              <li class="checkbox">
                <input id="sell-by" type="checkbox" value="">
                <label for="sell-by">
                  <span></span>
                  Sell by
                </label>
              </li>
              <li class="checkbox">
                <input id="use-by" type="checkbox" value="">
                <label for="use-by">
                  <span></span>
                  Use by
                </label>
              </li>
              <li class="checkbox">
                <input id="best-by" type="checkbox" value="">
                <label for="best-by">
                  <span></span>
                  Best by
                </label>
              </li>
              <li class="checkbox">
                <input id="freeze-by" type="checkbox" value="">
                <label for="freeze-by">
                  <span></span>
                  Freeze by
                </label>
              </li>
              <li class="checkbox">
                <input id="best-before" type="checkbox" value="">
                <label for="best-before">
                  <span></span>
                  Best Before
                </label>
              </li>
              <li class="checkbox">
                <input id="best-if-used-by" type="checkbox" value="">
                <label for="best-if-used-by">
                  <span></span>
                  Best if used by
                </label>
              </li>
              <li class="checkbox">
                <input id="all-of-the-above" type="checkbox" value="">
                <label for="all-of-the-above">
                  <span></span>
                  All of the above
                </label>
              </li>
              <li class="checkbox correct">
                <input id="none-of-the-above" type="checkbox" value="">
                <label for="none-of-the-above">
                  <span></span>
                  None of the above
                </label>
              </li>
              <li class="answer">
                <div class="panel">
                  <h4>Answer: None of the above</h4>
                  <p>Date labels generally are not intended to indicate a food product’s safety. These dates are generally set by the manufacturer based on an estimate of when the food will still taste fresh, so that consumers will have the best experience of the product.</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="question">Who is responsible for determining what date goes on a particular food?
            <ul class="">
              <li class="checkbox">
                <input id="usda" type="checkbox" value="">
                <label for="usda">
                  <span></span>
                  The US Department of Agriculture (USDA)
                </label>
              </li>
              <li class="checkbox">
                <input id="state-health-department" type="checkbox" value="">
                <label for="state-health-department">
                  <span></span>
                  A state’s health department
                </label>
              </li>
              <li class="checkbox correct">
                <input id="manufacturer" type="checkbox" value="">
                <label for="manufacturer">
                  <span></span>
                  The manufacturer
                </label>
              </li>
              <li class="checkbox">
                <input id="grocery" type="checkbox" value="">
                <label for="grocery">
                  <span></span>
                  The grocery store
                </label>
              </li>
              <li class="answer">
                <div class="panel">
                  <h4>Answer: The manufacturer.</h4>
                  <p>In most cases the date on a label is a manufacturer’s estimate of the point after which a food will no longer be at “peak quality.” With only a few exceptions, food will remain wholesome and safe to eat long past its expiration date.</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="question">What percentage of Americans report occasionally throwing away foods that have reached or exceeded the date on the label?
            <ul class="">
              <li class="checkbox">
                <input id="17" type="checkbox" value="">
                <label for="17">
                  <span></span>
                  17%
                </label>
              </li>
              <li class="checkbox">
                <input id="25" type="checkbox" value="">
                <label for="25">
                  <span></span>
                  25%
                </label>
              </li>
              <li class="checkbox">
                <input id="58" type="checkbox" value="">
                <label for="58">
                  <span></span>
                  58%
                </label>
              </li>
              <li class="checkbox correct">
                <input id="84" type="checkbox" value="">
                <label for="84">
                  <span></span>
                  84%
                </label>
              </li>
              <li class="answer">
                <div class="panel">
                  <h4>Answer: 84%</h4>
                  <p>84% of Americans report occasionally throwing away food that is close to or past the date on the package; 37% do so always or usually.</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="question">How many states restrict selling some foods paste the date on the label?
            <ul class="">
              <li class="checkbox">
                <input id="none" type="checkbox" value="">
                <label for="none">
                  <span></span>
                  None
                </label>
              </li>
              <li class="checkbox">
                <input id="4" type="checkbox" value="">
                <label for="4">
                  <span></span>
                  4
                </label>
              </li>
              <li class="checkbox correct">
                <input id="20" type="checkbox" value="">
                <label for="20">
                  <span></span>
                  20
                </label>
              </li>
              <li class="checkbox">
                <input id="50" type="checkbox" value="">
                <label for="50">
                  <span></span>
                  50
                </label>
              </li>
              <li class="answer">
                <div class="panel">
                  <h4>Answer: 20</h4>
                  <p>Twenty states, plus the District of Columbia, restrict sales or donations of some foods past the date label, even if the food is still healthy and safe to eat. This makes it more difficult to use food recovery methods to mitigate food waste caused by date labeling practices.</p>
                </div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<script>
  $('.checkbox input').on('change', function(){
    $(this).closest("ul")
      .addClass("active")
      .find('input[type="checkbox"]:checked')
      .each(function(){
        var test = $(this).parent().hasClass('correct');
        if(!test){
          $(this).parent().addClass('incorrect');
        }
      })
  });
</script>