<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h2>Food date labeling act of 2016</h2>
          <p>The Food Date Labeling Act aims to standardize food date labeling, and simplify regulatory compliance. It seeks to require all food manufacturers to use just two standardized labels: “best if used by” to indicate quality, and “expires on” for safety. It also calls for consumer education to help Americans better understand date labels; the allowance of the sale or donation of food past its quality date; and cooperation between the U.S. Food and Drug Administration (FDA) and the U.S. Department of Agriculture (USDA) in standardizing the labels. <a href="#">Learn More &gt;</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          
        </div>
      </div>
    </div>
  </div>  
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h2>The Food Recovery Act</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quidem veritatis aperiam eaque, suscipit officia in architecto eligendi, rem voluptatibus, excepturi sit ducimus voluptatem asperiores culpa ullam quisquam harum. Nemo. <a href="#">Learn More &gt;</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          <!-- 
          <script src="https://tapembed.takepart.com/embed.js?actionId=9035763"></script>
          -->
        </div>
      </div>
    </div>
  </div>
</section>