<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h2>Food date labeling act of 2016</h2>
          <p class="editable">The Food Date Labeling Act aims to standardize food date labeling, and simplify regulatory compliance. It seeks to require all food manufacturers to use just two standardized labels: “best if used by” to indicate quality, and “expires on” for safety. It also calls for consumer education to help Americans better understand date labels; the allowance of the sale or donation of food past its quality date; and cooperation between the U.S. Food and Drug Administration (FDA) and the U.S. Department of Agriculture (USDA) in standardizing the labels.</p>
          <p>
            <a href="/tools/policy/food-date-labeling-act" class="button">Learn More &gt;</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="well" style="margin-top: 70px;">
          <h4>What you can do</h4>
          <p><a href="" class="button">Get alerts</a></p>
          <p><a href="" class="button">Call congress</a></p>
          <p><a href="" class="button">Share</a></p>
        </div>
      </div>
    </div>
  </div>  
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="content">
          <h2>The Food Recovery Act</h2>
          <p class="editable">The Food Recovery Act was introduced to Congress on Dec. 8, 2015, with the intent to significantly reduce the amount of food wasted at all levels of the food value chain. Provisions include regulations and funding that will raise awareness, increase incentives and infrastructure for food donation, encourage composting and food waste to energy programs, and reduce wasted food in schools and the federal government.</p>
          <p>
            <a href="/tools/policy/food-recovery-act" class="button">Learn More &gt;</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="content">
          
          <script src="https://tapembed.takepart.com/embed.js?actionId=9035763"></script>
         
        </div>
      </div>
    </div>
  </div>
</section>