{% if page.header %}
  <header class="tool-header">
    <div class="message">
      {{ page.header }}
      <div class="updated_at">
        <em>Last Updated {{ page.last_modified_at | date: "%m/%d/%Y" }}</em>.<br>
        Have an update for us? &nbsp;&nbsp;<a href="mailto:info@refed.com">Submit it here &gt;</a>
      </div>
    </div>
    <div class="container">
      <div class="row bottom-xs">
        {% unless  page.slug == 'date-labels' %}
        <div class="tool-header-summary">
          <div class="content">
            <p class="fineprint">Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
          </div>
        </div>
        {% endunless %}
        <div class="tool-header-nav">
          <div class="content flush-bottom">
            {% if  page.slug == 'date-labels' %}
            
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#date-label-terminology-quiz" aria-controls="date-label-terminology-quiz" role="tab" data-toggle="tab">Date Label Terminology Quiz</a></li>
              <li role="presentation"><a href="#date-label-policy-issues" aria-controls="date-label-policy-issues" role="tab" data-toggle="tab">Date Labeling Policy Issues</a></li>
              <li role="presentation"><a href="#federal-policy-solutions" aria-controls="federal-policy-solutions" role="tab" data-toggle="tab">Federal Policy Solutions</a></li>
            </ul>

            {% else %}

            <ul class="nav nav-tabs">
              <li class="{% unless page.slug contains 'state-policy' %}active{% endunless %}">
                <a href="/tools/policy/federal-policy">Federal Policy</a>
              </li>
              <li class="{% if page.slug contains 'state-policy' %}active{% endif %}">
                <a href="/tools/policy">State Policy</a>
              </li>
            </ul>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endif %}