<div id="state-federal-navigation" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-6">
      <div class="content">
        <p class="fineprint">Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
      <div class="content">
        <a href="/tools/policy/federal-policy" 
           class="button inverse {% if page.permalink contains 'federal' %}active{% endif %}">
           Federal<br>Policy</a>
        <a href="/tools/policy/policy_tool"
           class="button inverse {% unless page.permalink contains 'federal' %}active{% endunless %}">
           State<br>Policy</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <div class="select">
          <select name="" id="state-select">
            <option>Choose State</option>
            {% for state in site.states %}
              <option value="{{ state.url }}">{{ state.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="content">
        {% if page.layout == 'state' %}
          <h1>{{ page.name }} State Policy</h1>
        {% else %}
          {% unless page.permalink == '/tools/policy/policy_tool' %}
            <h1>{{ page.title }}</h1>
          {% endunless %}
        {% endif %}
      </div>
    </div>
  </div>
</div>