<!-- TODO - Consolidate all of the policynav into a single include -->


{% if page.layout == 'state' %}
<div id="policynav">
  <div class="sticky">
    <h4 class="prevention"><a href="#prevention-policy">Prevention Policy</a></h4>
    <ul>
      <li><a href="#date-labelling">Date Labelling</a></li>
    </ul>

    <h4 class="recovery"><a href="#prevention-policy">Recovery Policy</a></h4>
    <ul>
      <li><a href="#liability-protection">Liability Protection</a></li>
      <li><a href="#tax-incentives">Tax Incentives</a></li>
    </ul>
    <h4 class="recycling"><a href="#prevention-policy">Recycling Policy</a></h4>
    <ul>
      <li><a href="#animal-feed">Animal Feed</a></li>
      <li><a href="#organic-waste">Organic Waste Bans &amp; Waste Recycling Laws</a></li>
    </ul>
  </div>
</div>
{% endif %}

{% if page.permalink contains 'federal' %}
<div id="policynav">
  <div class="sticky">
    <div class="content">
      <h3>Current Federal Policy</h3>
      <ul class="flush">
        <li><a href="#">Liability Protection</a></li>
        <li><a href="#">Tax Incentives</a></li>
        <li><a href="#">Animal Feed</a></li>
      </ul>
      <h3>Proposed Federal Policy</h3>
      <ul class="flush">
        <li><a href="#">The Food Recovery Act</a></li>
        <li><a href="#">Food Date Labeling Act</a></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}