<div id="policynav">
  {% if page.slug == 'state-policy' %}
    <!-- Desktop: Map Filters -->
    <div class="nav_category" data-category="prevention">
      <h4 class="prevention"
          data-toggle="collapse"
          data-parent="#policynav"
          href="#prevention_filters">
          Prevention Policy
      </h4>
      <div id="prevention_filters" class="filters collapse">
        <p>Policy changes related to date labeling have the potential to prevent 398,000 tons of waste per year</p>
        <ul class="section_root" data-section="date-labeling">
          <li class="checkbox">
            <input id="date_labeling_studies"
              type="checkbox"
              class="study-filter"
              value="prevention">
            <label for="date_labeling_studies">
              <span></span>
              Date Labeling
              <small>Reveal state policies that hinder food waste prevention</small>
            </label>
          </li>
        </ul>
        <a href="/tools/policy/date-labels" class="button cream">Explore date labeling<br>policy issues in depth &nbsp; &gt;</a>
      </div>
    </div>

    <div class="nav_category" data-category="recovery">
      <h4 class="recovery"
          data-toggle="collapse"
          data-parent="#policynav"
          href="#recovery_filters">
          Recovery Policy
      </h4>
      <div id="recovery_filters" class="filters collapse">
        <p>States have the opportunity to spur greater food recovery by enacting stronger policies in both areas.</p>
        <div class="case-studies-filter checkbox">
          <input id='recovery_studies'
            type='checkbox'
            class='study-filter'
            value="recovery">
          <label for="recovery_studies" class="text-recovery">
            <span></span>
            <img src="/img/icons/policy/recovery_study_icon.svg">
            Best-practice Policies
          </label>
        </div>
        {% assign section = site.data.policy_tool['liability_protection'] %}
        <ul class="section_root" data-section="{{ section.title | slugify }}">
          {% include policy/policy_tool_filter.html section=section %}
        </ul>
        {% assign section = site.data.policy_tool['tax_incentives'] %}
        <ul class="section_root" data-section="{{ section.title | slugify }}">
          {% include policy/policy_tool_filter.html section=section %}
        </ul>
      </div>
    </div>

    <div class="nav_category" data-category="recycle">
      <h4 class="recycling"
          data-toggle="collapse"
          data-parent="#policynav"
          href="#recycling_filters">
          Recycling Policy
      </h4>
      <div id="recycling_filters" class="filters collapse">
        <p>Increased food scrap recycling can be incentivized by these state and local policies.</p>
        {% assign section = site.data.policy_tool['animal_feed'] %}
        <div class="case-studies-filter checkbox">
          <input id='recycling_studies'
            type='checkbox'
            class='study-filter'
            value="recovery">
          <label for="recycling_studies" class="text-recycle">
            <span></span>
            <img src="/img/icons/policy/recycle_study_icon.svg">
            Best-practice Policies
          </label>
        </div>
        <ul class="section_root" data-section="{{ section.title | slugify }}">
          {% include policy/policy_tool_filter.html section=section %}
        </ul>
        
        {% assign section = site.data.policy_tool['organics_recycling_mandates'] %}
        <ul class="section_root" data-section="{{ section.title | slugify }}">
          {% include policy/policy_tool_filter.html section=section %}
        </ul>
      </div>
    </div>
    <!-- END Desktop: Map Filters -->

    <!-- Mobile: Map Filters -->
    <div class="container mobilenav">
      <div  class="row">
        <div class="col-xs-12">
          <div class="content">
            <p>Select a policy filter below to view the States related to that policy</p>
            <a href="#liability-collapse" class="button recovery" data-toggle="collapse" aria-expanded="false" aria-controls="liability-collapse">Liability Protection</a>
            <div class="collapse" id="liability-collapse">
              {% include svg/map_food-waste-liability-protection.svg %}
              <a href="#liability-studies" class="sub-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="liability-studies">Best-practice Policies <i class="icon-caret-up"></i></a>
              <div class="collapse" id="liability-studies">
                {% for case_study in site.data.policy_tool['liability_protection'].case_studies %}
                  <div class="panel">
                    <h3>{{ case_study.state }} Liability Protection</h3>
                    <p>{{ case_study.summary}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <a href="#tax-collapse" class="button recovery" data-toggle="collapse" aria-expanded="false" aria-controls="tax-collapse">Tax Incentives</a>
            <div class="collapse" id="tax-collapse">
              {% include svg/map_food-waste-tax-incentives.svg %}
              <a href="#tax-studies" class="sub-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="tax-studies"><img src="/img/icons/policy/recovery_study_icon.svg" alt="tax icon">Best Practice Policies <i class="icon-caret-up"></i></a>
              <div class="collapse" id="tax-studies">
                {% for case_study in site.data.policy_tool['tax_incentives'].case_studies %}
                  <div class="panel">
                    <h3>{{ case_study.state }} Tax Incentives</h3>
                    <p>{{ case_study.summary}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <a href="#feed-collapse" class="button recycling" data-toggle="collapse" aria-expanded="false" aria-controls="feed-collapse">Animal Feed</a>
            <div class="collapse" id="feed-collapse">
              {% include svg/map_food-waste-animal-feed.svg %}
              <a href="#feed-studies" class="sub-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="feed-studies">Best Practice Policies <i class="icon-caret-up"></i></a>
              <div class="collapse" id="feed-studies">
                {% for case_study in site.data.policy_tool['animal_feed'].case_studies %}
                  <div class="panel">
                    <h3>{{ case_study.state }}</h3>
                    <p>{{ case_study.summary}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <a href="#waste-collapse" class="button recycling" data-toggle="collapse" aria-expanded="false" aria-controls="waste-collapse">Organic Waste Bans &amp; Waste Recycling Laws</a>
            <div class="collapse" id="waste-collapse">
              {% include svg/map_food-waste-organic-waste-bans.svg %}
              <a href="#organics-studies" class="sub-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="organics-studies">Best Practice Policies <i class="icon-caret-up"></i></a>
              <div class="collapse" id="organics-studies">
                {% for case_study in site.data.policy_tool['organics_recycling_mandates'].case_studies %}
                  <div class="panel">
                    <h3>{{ case_study.state }}</h3>
                    <p>{{ case_study.summary}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <div class="content">
            <img src="/img/policy/spotlight-image-500px.jpg" class="img-responsive center-block" alt="Spotlight on date labeling regulations image">
          </div>
        </div>
        <div id="spotlight" class="col-xs-12 col-md-7">
          <div class="content">
            <h2>Spotlight on date labeling regulations</h2>
            <p>Current date labeling practices on food packaging cause confusion that leads to 20% of consumer waste of safe, edible food. Five to 10% of this could be impacted by standardizing policy around date labeling.</p>
            <a href="{{ site.baseurl }}/tools/policy/date-labels" class="button"><span>Learn More &nbsp;&gt;</span></a>
          </div>
        </div>
      </div>
    </div>

    <!-- END Mobile: Map Filters -->

  {% elsif page.layout == 'state' %}
    <div class="sticky" data-offset-top="105">
      <h4 class="prevention"><a href="#prevention-policy">Prevention Policy</a></h4>
      <ul>
        <li><a href="#date-labeling">Date Labeling</a></li>
      </ul>

      <h4 class="recovery"><a href="#prevention-policy">Recovery Policy</a></h4>
      <ul>
        <li><a href="#liability-protection">Liability Protection</a></li>
        <li><a href="#tax-incentives">Tax Incentives</a></li>
      </ul>
      <h4 class="recycling"><a href="#prevention-policy">Recycling Policy</a></h4>
      <ul>
        <li><a href="#animal-feed">Animal Feed</a></li>
        <li><a href="#organic-waste">Organic Waste Bans &amp; Waste Recycling Laws</a></li>
      </ul>
    </div>
    
    <div class="container mobilenav">
      <div  class="row">
        <div class="col-xs-12">
          <div class="content">
            <p>Select a policy filter below to view the States related to that policy</p>
            <a href="#date-labeling" class="button prevention">Date Labeling</a>
            <a href="#liability-protection" class="button recovery">Liability Protection</a>
            <a href="#tax-incentives" class="button recovery">Tax Incentives</a>
            <a href="#animal-feed" class="button recycling">Animal Feed</a>
            <a href="#organic-waste" class="button recycling">Organic Waste Bands &amp; Waste Recycling Laws</a>
          </div>
        </div>
      </div>
    </div>
   
  {% else %}
    <div class="sticky" data-offset-top="105">
      <div class="content">
        {{ content | toc_only }}
      </div>
    </div>
  {% endif %}
</div>




