<div class="container mobilenav hidden-lg">
  <div  class="row">
    <div class="col-xs-12">
      <div class="content">
        <p>Select a policy filter below to view the States related to that policy</p>
        <a href="#date-labeling" class="button prevention">Date Labeling</a>
        <a href="#liability-protection" class="button recovery">Liability Protection</a>
        <a href="#tax-incentives" class="button recovery">Tax Incentives</a>
        <a href="#animal-feed" class="button recycling">Animal Feed</a>
        <a href="#organic-waste" class="button recycling">Organic Waste Bands &amp; Waste Recycling Laws</a>
      </div>
    </div>
  </div>
</div>
