.modal {
  .modal-content {
    border-radius: 0;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.4);
    border: none;
    overflow: hidden;
    .content {
      padding: 35px !important;
    }
    .dialog-callout {
      margin-top: -120px;
      background-color: $cream-lighter;
      box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
      .button {
        height: auto;
        h4 {
          margin: auto;
          font-size: 30px;
        }
        small {
          font-weight: 100;
          color: #fff;
        }
        i {
          font-size: 40px;
        }
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {

}

@media all and (max-width: $screen-sm-max) {
  .dialog-callout {
    margin-top: 10px;
  }
}

@media all and (max-width: $screen-xs-max) {

}