@media print {
  #toolnav, 
  .mobilenav,
  #toolHeader,
  #toolFooter, 
  #mainNav,
  #pageHeader,
  #pageFooter,
  #share-instructions,
  #thanks,
  .button,
  .unclamp {
    display: none !important;
  }
  
  #pageContent {
    margin-top: 0 !important;
  }

  .lineClamp {
    height: auto;
    &:after {
      display: none;
    }
  }
}