---
layout: page
title: ReFED Careers
meta:
  title: Food Waste Organization - Food Waste Reduction - ReFED
  description: >-
    ReFED is a nonprofit food recycling & waste management organization in the
    US. We help businesses, nonprofits & investors put the most impactful
    solutions to reduce food waste into action.
  image:
hero:
  - title: 'Make your Mark: Explore a Career with us at ReFED'
    label:
    description_html:
    image: /uploads/careers-header.png
    links:
careers:
  - test-career-1
perks_and_benefits:
  - title: Competitive medical benefits package for individuals and families
    icon_image: /img/icons/careers/careers_medicalbenefits.svg
  - title: 401(k) plans with generous employer matching
    icon_image: /img/icons/careers/careers_401k.svg
  - title: Optional dental and vision coverage
    icon_image: /img/icons/careers/careers_vision.svg
  - title: Professional Development Opportunities and Mentor Program
    icon_image: /img/icons/careers/careers_professionaldev.svg
  - title: Short-term and long-term disability coverage
    icon_image: /img/icons/careers/careers_disability.svg
  - title: 'Paid holidays, vacation, sick, and family leave'
    icon_image: /img/icons/careers/careers_holiday.svg
  - title: Term life insurance
    icon_image: /img/icons/careers/careers_lifeinsurance.svg
  - title: Flexible work environment
    icon_image: /img/icons/careers/careers_workenvironment.svg
working_at_refed:
  - title: We Take Inspiration From Design Thinking
    description_html: >-
      <p>We hire incredible people with a &lsquo;can-do&rsquo; attitude that are
      hungry, passionate, and love new challenges. We embrace the idea that if
      we&rsquo;re not continuously iterating and adapting &mdash; we are not
      evolving. Ultimately, &ldquo;progress not perfection&rdquo; is what we
      strive for by fostering a culture of innovation and continuous
      improvement.</p>
    featured_image: /uploads/3.png
  - title: We Encourage Mutual Respect and Recognition
    description_html: >-
      <p>Respect is the hallmark of working at ReFED. We use the platinum rule:
      do unto others as they would have you do unto them. In doing so, we
      recognize that the best decisions are made when a diverse range of voices
      are heard and acknowledged. Hence, we aim to understand and apply our
      teammates&rsquo; expertise and experience, as well as actively seeking
      ways to help each other grow.</p>
    featured_image: /uploads/2.png
  - title: We Work as a Team and Lift Up Our Teammates
    description_html: >-
      <p>Above all, we thrive because we work as a team and celebrate success as
      a team. That means we show up for each other, act with empathy, and bring
      our authentic selves to work every day. We empower our employees in a work
      environment that is flexible and conducive to creating space for true time
      off, and that fosters a sense of belonging, participation, and commitment
      among employees.</p>
    featured_image: /uploads/572a9433-editedtuesdayselects-1.jpg
cta:
  title:
  label:
  description_html: >-
    <p>Learn more about ReFED, our values, and our mission. <a
    href="/contact">Contact us</a> if you think you are a good match.</p>
  link:
    label: Get to know us
    url: /who-we-are
    alt:
  theme:
  add_divider:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          <p>At ReFED, we believe that a core pillar of our organization lies in the strength of our people. We are committed to attracting, developing, and retaining exceptional talent, and to creating a work environment that is dynamic, rewarding, and enables each of us to realize our potential.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="current-vacancies" class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Current Vacancies
        </h3>
        <p class="lead editable">
          We Want You to Become a Food Waste Champion!
        </p>
        {% assign num_careers = site.careers | size %}
        {% if num_careers < 1 %}
          <div id="notification-careers">
            <p class="h3 my-5 editable">Thank you for your interest in working at ReFED. There are currently no vacancies available. Please check the website at a later date for any future opportunities.</p>
          </div>
        {% endif %}
        <hr class="mb-5" />
      </div>
    </div>
    {% for object in page.careers %}
      {% assign career = site.careers | where: 'slug', object | first %}
      <div class="row mb-5">
        <div data-cms-editor-link-style="modal" data-cms-editor-link="cloudcannon:#careers" class="col-12 cms-editor-link">
          <h4>{{ career.title }}</h4>
          <h5 class="text-gray">{{ career.location }}</h5>
          {{ career.description_html }}
          <a class="btn btn-primary mt-3" href="{{ career.apply_link }}" target="_blank">Apply Now</a>
        </div>
      </div>
    {% endfor %}
    <div data-cms-editor-link="cloudcannon:collections/_careers" class="editor-link">
      <div class="d-flex align-items-center">
        <button class="mr-3 btn btn-editor">
          <i class="ri-add-fill"></i>
        </button>
        <span>Add new job opening</span>
      </div>
    </div>
  </div>
</section>
<section class="cta bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7 mb-3 mb-lg-0">
        <p class="lead editable">
          Don&rsquo;t see a match? We would still love to connect with you if you have something to bring to the table
        </p>
      </div>
      <div class="col-12 col-lg-4 text-lg-center ml-lg-auto d-lg-flex justify-content-lg-end align-items-lg-center">
        <a href="#" class="btn btn-secondary text-serif btn-lg editable">Submit a Resume</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h3 class="editable">
          Our Values
        </h3>
        <p class="editable">
          Our values ground our decision-making, root our actions in a shared purpose greater than ourselves, and are a cornerstone of our vision of a sustainable, resilient, and inclusive food system that preserves the well-being of our planet, our people, and our economy.
        </p>
        <a href="/about/who-we-are/#our-values" class="btn btn-link editable">See our values</a>
      </div>
    </div>
  </div>
</section>

<section id="perks-and-benefits">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-10">
        <div class="editable">
          <h3>Perks and Benefits</h3>
          <p>ReFED offers a competitive benefits package, opportunities for professional development, and policies and programs that encourage a healthy work-life balance. Join our ReFED family and help us drive purposeful action to reduce wasted food in the U.S.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      {% for benefit in page.perks_and_benefits %}
        <div class="col-12 col-md-6">
          <div data-cms-editor-link="cloudcannon:#perks_and_benefits" data-cms-editor-link-style="modal" class="row align-items-center mb-5 cms-editor-link">
            <div class="col-12 col-md-auto">
              <img src="{{ benefit.icon_image }}" class="img-fluid icon-img-md mb-3 mb-md-0" alt="{{ benefit.title}} icon" />
            </div>
            <div class="col">
              <p class="lead mb-0">{{ benefit.title }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Our Equity Commitment
        </h3>
        <div class="editable">
          <p>ReFED, Inc. is an equal opportunity employer. We believe that everyone has a seat at the table, and that this table always has room for growth. The success of our organization is rooted in the visible and invisible qualities of our people, who embody a variety of views, perspectives, and backgrounds to push the envelope of what&rsquo;s possible and better meet the needs of our community in the hopes of building a sustainable, resilient, and inclusive food system. Community is more than a word here. As stewards of this food system &mdash; one that benefits from the inclusion and enhancement of diverse voices &mdash; we recognize that systemic barriers limit opportunities for certain groups which contributes to ongoing disparities. Furthermore, we accept that our commitment to diversity, equity, and inclusion (DEI) means a commitment to constant learning, listening, and iteration in all aspects of our work.</p>
          <p>Intrinsically, we are an organization that seeks to attract exceptional and dedicated talent to advance our mission, and that firmly believes that inclusion through recruiting, hiring, developing, training, and promoting employees of all genders, races, religions, ages, national origin, political affiliations, ancestries, sexual orientations, disabilities, and veteran status, creates an atmosphere that enables us to lead with an entrepreneurial spirit and innovate with enterprise. The time for action to reduce food waste is now. Let&rsquo;s work together to advance data-driven solutions.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="working-at-refed">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-5 editable">
          Working at ReFED
        </h3>
      </div>
    </div>
    {% for item in page.working_at_refed %}
    <div data-cms-editor-link-style="modal" data-cms-editor-link="cloudcannon:#working_at_refed" class="row align-items-center cms-editor-link mb-5">
        <div class="col-12 col-md-6 {% cycle 'order-lg-2', ''%}">
          <h4 class="mb-3">{{ item.title }}</h4>
          {{ item.description_html }}
        </div>
        <div class="col-12 col-md-6">
          <div class="bg-image aspect-16x9" style="background-image: url({{ item.featured_image }})"></div>
        </div>
    </div>
    {% endfor %}
  </div>
</section>

{% include components/cta.html item=page.cta editor-link="#cta" %}
