---
layout: page
title: Our Funders
hero:
  - title: >-
      Investing in ReFED is an investment in a sustainable, resilient, and
      inclusive food system.
    label:
    description_html:
    image: /img/funders/ourfunders_header_image.jpg
    links:
logos:
  - label: ReFED Logo
    link: 'http://www.refed.com'
    featured_image: >-
      https://via.placeholder.com/150x50
case_studies:
  - crown-family-philanthropies
  - crown-family-philanthropies
cta:
  title:
  label:
  description_html: >-
    <p>To learn how you can support our mission, please contact us via
    email.</p>
  link:
    label: Contact Us
    url: /contact
    alt:
  theme: lighter
  add_divider: left
---

<section id="overview">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          <p>The movement for food waste reduction is at a tipping point. We are very grateful to the many funders who have supported the implementation, advancement, and growth of our organization to be a galvanizing force for the sector and enable us to scale our impact.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-lighter logo-pile">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <h3 class="editable">
          Our Funders
        </h3>
        <div class="editable">
          <p>Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/logo_pile.html items=page.logos %}
      </div>
    </div>
  </div>
</section>

{% if page.case_studies %}
  {% include components/carousel.html
    items=page.case_studies
    label='Funder Impact Stories'
    theme="dark"
    id="caseStudiesCarousel"
    layout="split"
    collection="case_studies"
    indicators="true"
    editor-link="#case_studies"
  %}
{% endif %}

{% include components/cta.html item=page.cta editor-link="#cta" %}