{% assign featured = site.events | where: 'slug', page.featured_event | first %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="preheader mb-0">Featured Event</h3>
        <h2>{{ featured.title }}</h2>
        {% if featured.date_label %}
          <p class="h6">{{ featured.date_label }}</p>
        {% else %}
          <p class="h6">{{ featured.date_label | default: featured.item_date | date: '%B %-d, %Y' }}</p>
        {% endif %}
        {{ featured.description_html }}
        <p><a href="{{ featured.event_site_link | default: featured.url }}" class="text-link editable">Learn more</a></p>
        {% if featured.featured_image %}
          <img class="img-fluid mt-5" src="{{ featured.featured_image}}" alt="{{ featured.title }} image" />
        {% endif %}
      </div>
    </div>
    </div>
  
</section>