{% if include.event_type %}
  {% assign past_events = site.events | where: "event_type", include.event_type | sort: 'item_date' %}
{% else %}
  {% assign past_events = site.events | sort: 'item_date' %}
{% endif %}

{% assign past_events_sorted = '' | split: ',' %}
{% for event in past_events %}
{% assign now = 'now' | date: '%s' | plus: 0 %}
{% assign event_start = event.item_date | date: '%s' | plus: 0 | default: site.time | date: '%s' | plus: 0 %}

  {% if event_start < now %}
    {% assign past_events_sorted = past_events_sorted | push: event %}
    {% comment %}
    <div class="col-md-4 py-3">
      {% include events/event_card.html %}         
    </div>
    {% endcomment %}
  {% endif %}
{% endfor %}
