#subnav {
  a {
    display: block;
    background-color: $cream;
    text-align: center;
    color: $gray;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    height: 150px;
    overflow: hidden;
    small {
      font-size: 18px;
      font-weight: 200;
    }
    &:last-child {
      background-color: darken($cream, 5%);
    }
    &:hover {
      background-color: darken($cream, 10%);
    }
    i {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      font-size: 50px;
      &.icon-next {
        left: auto;
        right: 0;
      }
    }
    .content {
      margin: auto;
    }
  }
  hr {
    width: 50%;
    border-top: 2px solid $gray;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}

.date-labels {
  #subnav {
    a {
      height: 210px;
    }
  }
}