.btn {
  border-radius: 0;
  width: auto;
  background-color: $red;
  color: $white !important;
  text-transform: uppercase;
  font-weight: 200;
}

.text-mega {
  font-family: $font-family-serif;
  font-style: italic;
  text-transform: none;
  margin-bottom: 5px;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
