/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$cream-light:               #F7F5F0;
$cream:                     #DED8C6;
$cream-dark:                #C4BA98;

$gray-darker:               #222222;
$gray-dark:                 #36383A;
$gray:                      #555759;
$gray-light:                #959697;
$gray-lighter:              #F0ECE4;

$placeholder-color:         #BFB9A1;
$mainnav-background-color:  #F4F1E9;
$section-alt-color:         #F1EDE4;
$button-color:              #69B2A9;

$recycle-color:             #88A65B;
$prevention-color:          #225577;
$recovery-color:            #2A8175;
$recovery-light:            #67a9a8;
$red:                       #990000;
$green:                     #7a9c49;

$body-bg:                   $cream-light;
$text-color:                $gray;
$brand-primary:             $red;

$link-color:                #228E93;
$link-hover-color:          darken($link-color, 15%);

$well-bg:                   $section-alt-color;
$well-border:               $section-alt-color;

$hr-border:                 $gray;


// Typeography
$font-family-base:        'Proxima Nova W01', sans-serif;
$font-family-condensed:   'Trade Gothic W01', sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$font-size-base:          16px;

$font-size-h1:            28.5px;
$font-size-h2:            25.5px;
$font-size-h3:            24px;
$font-size-h4:            18px;
$font-size-h5:            16px;
$font-size-h6:            12px;

// Spacing
$live-content-width:      960px;
$line-height-base:        1.428571429;
// $line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
$line-height-computed:    20px;
$content-padding:         $line-height-computed;
$base-line-height:        32px;

$border-radius-base:        0;

$popover-bg:                          $cream-light;
$popover-max-width:                   300px;
$popover-border-color:                rgba(0,0,0,0);
$popover-fallback-border-color:       transparent;
$popover-title-bg:                    darken($popover-bg, 3%);
$popover-arrow-width:                 10px;
$popover-arrow-color:                 $popover-bg;
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05);
$popover-arrow-outer-fallback-color:  transparent;


$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min:                  480px;

// Small screen / tablet
$screen-sm-min:                  768px;

// Medium screen / desktop
$screen-md-min:                  992px;

// Large screen / wide desktop
$screen-lg-min:                  1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

