.section-nav {
  list-style: none;
}
.toc-entry {
  padding-left: 0;
  list-style: none;
  &.toc-h1 { font-size: 20px; }
  &.toc-h2 { font-size: 16px; }
  &.toc-h3 { font-size: 14px; }

  &.toc-h4,
  &.toc-h5,
  &.toc-h6 {
    display: none;
  }
}
