<div class="map-legend">
  <div class="legend-key icon-key date-labeling-key">
    {% include svg/icons/prevention.svg %}
    <h5>State policies that<br>hinder prevention</h5>
  </div>
  <div class="legend-key gradient-key liability-protection-key">
    <h5>Level of state liability protection for food donation</h5>

    {% include svg/icons/gradient-liability.svg %}
    <p><small>Federal policy provides a baseline of protection. <a href="{{ site.baseurl }}/tools/policy/federal-liability-protection">Learn More &gt;</a></small></p>
  </div>
  <div class="legend-key icon-key tax-incentives-key">
    <span class="box recovery"></span>
    <h5>States offering additional tax incentives for food donation</h5>
    <p><small>Federal policy provides a baseline level of tax incentives. <a href="{{ site.baseurl }}/tools/policy/federal-tax-incentives">Learn more &gt;</a></small></p>
  </div>
  <div class="legend-key gradient-key animal-feed-key">
    <h5>Level of policy hindering food waste recycling</h5>
    {% include svg/icons/gradient-recycling.svg %}
    <p><small>Federal policy allows for the feeding of food scraps to animals with a few conditions. <a href="{{ site.baseurl }}/tools/policy/federal-animal-feed-policy">Learn more &gt;</a></small></p>
  </div>
  <div class="legend-key icon-key organic-waste-bans-waste-recycling-laws-key">
    <ul>
      <li>
        <span class="box recycling"></span>
        <h5>States</h5>
      </li>
      <li>
        <span class="circle"></span>
        <h5>Municipalities</h5>
      </li>
    </ul>
  </div>
</div>