<section class="carousel-testimonials-section bg-primary text-white darken-bkg-image" style="background-image:url(https://picsum.photos/id/155/1000/333);">
  <div class="carousel-testimonials">
    {% for testimonial in page.carousel_testimonial %}
    <div class="testimonial-slide w-100" >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <blockquote>
              "{{ testimonial.text }}"
              <footer class="text-serif">
                <div class='cite'>—{{ testimonial.name }}</div>
                <div class='credentials font-italic'>{{ testimonial.cite }}</div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

