<!-- DEPRECIATED IN FAVOR OF sections/cta.html -->

<section class="cta bg-light text-left">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <b>This CTA Module has been depreciated in favor of includes/sections/cta.html</b><BR>
          {{ page.cta.description_html }}
      </div>
      <div class="col-lg-4 text-lg-center ml-lg-auto">
        <a href="{{ page.cta.link }}" class="btn btn-success btn-lg text-serif text-nowrap">{{ page.cta.link_label }}</a>
      </div>
    </div>
  </div>
  {% if page.cta.colorbar != nil %}
    <div class="section__colorbar {{ page.cta.colorbar.bar_position }}" style="background-color:{{ page.cta.colorbar.color }}">
  {% endif %}
  </div>
</section>

