<section class="bg-primary text-white p-0">
  <div class="carousel-refed-dots split-carousel dots-left-in-container">
    {% for num in (1..4) %}
    <div class="split-slide">
      <div class="container">
        <div class="row">   
          <div class="col-12 col-lg-5">
            <div class="preheader">Funder Impact Stories</div>
            <h2 class="editable">Crown Family Philanthropies</h2>
            <p class="editable">[Why we became a funder, including help with strategic direction of funding food waste] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
            <a href="#" class="card-link">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 split-carousel-image split-image-right" style="background-image:url(https://picsum.photos/id/134/1000/333)">
      </div>
    </div>
    {% endfor %}
  </div>
</section>