{% assign num_items = include.items | length %}
<section class="homepage-newsfeed py-0">
  <div class="container">
    <div class="row">
      <div class="leftcol excerpts-column stretch-left col-lg-8 bg-light">
        <div class="z-index-100">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-3">News &amp; Updates</h2>
            </div>
          </div>
          <div class="{% if num_items > 2 %}news-carousel{% else %}row{% endif %}">
            {% for item in include.items %}
              <div class="card news-{{ forloop.index }} col-lg-6">
                <div class="bg-image aspect-2x1" style="background-image:url({{ item.featured_image | default: site.placeholder_image }})"></div>
                <div class="card-body">
                  <div class="card-subtitle mb-2 text-muted">{{ item.date | date: "%B %-d, %Y" }}</div>
                  <p class="card-text">{{ item.title }}</p>
                  <a href="{{ item.url }}" class="card-link">Read More</a>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="rightcol cta-column stretch-right col-12 col-lg-4 px-lg-5">
        <div class="z-index-100">
          <p class="lead editable mt-5">Find more <a href="/newsroom">news and updates</a> from ReFED, including our <a href="/newsroom">press releases</a> and <a href="/newsroom">newsletters</a>.</p>
          <a href="#" class="btn btn-success btn-lg text-serif mt-5 toggle-newsletter-modal">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>