<form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="Enter your first name">
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" placeholder="Enter your last name">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="text" class="form-control" id="email" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="first-name">Organization Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="Enter your organization name">
    </div>
    <div class="form-group">
      <label for="title-position">Title/Position</label>
      <input type="text" class="form-control" id="title-position" placeholder="Enter your title or position">
    </div>
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="field">Your Field</label>
            <select class="form-control" id="field" name='field'>
              <option value='#'>Make a Selection</option>
              <option value='#'>Something</option>
              <option value='#'>Something else</option>
              <option value='#'>Other</option>
              <option value='#'>things</option>
              <option value='#'>here</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="country">Your Country</label>
            <select class="form-control" id="country" name='country'>
                <option value=''>Make a Selection</option>
                <option value='#'>Something</option>
                <option value='#'>Something else</option>
                <option value='#'>Other</option>
                <option value='#'>things</option>
                <option value='#'>here</option>
            </select>
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="i-am-interested-in">I am interested in</label>
      <select class="form-control" id="i-am-interested-in" name='i-am-interested-in'>
        <option value=''>Category</option>
        <option value='#'>Something</option>
        <option value='#'>Something else</option>
        <option value='#'>Other</option>
        <option value='#'>things</option>
        <option value='#'>here</option>
    </select>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>