<!-- FORM: HEAD SECTION -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="referrer" content="no-referrer-when-downgrade">
        <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
        let formElement = document.getElementById("tfa_0");
        if (null === formElement) {
            formElement = document.getElementById("0");
        }
        let appendJsTimerElement = function(){
            let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
            let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
            if (null !== cumulatedTimeElement) {
                let cumulatedTime = parseInt(cumulatedTimeElement.value);
                if (null !== cumulatedTime && cumulatedTime > 0) {
                    formTimeDiff += cumulatedTime;
                }
            }
            let jsTimeInput = document.createElement("input");
            jsTimeInput.setAttribute("type", "hidden");
            jsTimeInput.setAttribute("value", formTimeDiff.toString());
            jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
            jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
            jsTimeInput.setAttribute("autocomplete", "off");
            if (null !== formElement) {
                formElement.appendChild(jsTimeInput);
            }
        };
        if (null !== formElement) {
            if(formElement.addEventListener){
                formElement.addEventListener('submit', appendJsTimerElement, false);
            } else if(formElement.attachEvent){
                formElement.attachEvent('onsubmit', appendJsTimerElement);
            }
        }
    });
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-layout.css?v=aea7d54c44976582bd2f5f5816686fdccd62e076" rel="stylesheet" type="text/css" />

<link href="https://www.tfaforms.com/uploads/themes/theme-71693.css" rel="stylesheet" type="text/css" />
<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=aea7d54c44976582bd2f5f5816686fdccd62e076" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=aea7d54c44976582bd2f5f5816686fdccd62e076"></script>
<script type="text/javascript">
    wFORMS.behaviors.prefill.skip = false;
</script>
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_US.js?v=aea7d54c44976582bd2f5f5816686fdccd62e076"></script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer" >
<div class="wFormHeader"></div>
<div class=""><div class="wForm" id="4862813-WRPR" dir="ltr">
<div class="codesection" id="code-4862813"></div>
<h3 class="wFormTitle" id="4862813-T">Media Inquiry</h3>
<form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="4862813" role="form">
<div class="oneField field-container-D    " id="tfa_1-D">
<label id="tfa_1-L" class="label preField " for="tfa_1">First Name</label><br><div class="inputWrapper"><input type="text" id="tfa_1" name="tfa_1" value="" title="First Name" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_2-D">
<label id="tfa_2-L" class="label preField " for="tfa_2">Last Name</label><br><div class="inputWrapper"><input type="text" id="tfa_2" name="tfa_2" value="" title="Last Name" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_3-D">
<label id="tfa_3-L" class="label preField reqMark" for="tfa_3">Email Address</label><br><div class="inputWrapper"><input type="text" id="tfa_3" name="tfa_3" value="" aria-required="true" title="Email Address" class="validate-email required"></div>
</div>
<div class="oneField field-container-D    " id="tfa_4-D">
<label id="tfa_4-L" class="label preField " for="tfa_4">Phone Number</label><br><div class="inputWrapper"><input type="text" id="tfa_4" name="tfa_4" value="" title="Phone Number" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_5-D">
<label id="tfa_5-L" class="label preField " for="tfa_5">Media Outlet</label><br><div class="inputWrapper"><input type="text" id="tfa_5" name="tfa_5" value="" title="Media Outlet" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_22-D">
<label id="tfa_22-L" class="label preField " for="tfa_22">Your Deadline</label><br><div class="inputWrapper"><input type="text" id="tfa_22" name="tfa_22" value="" title="Your Deadline" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_23-D">
<label id="tfa_23-L" class="label preField " for="tfa_23">Topic</label><br><div class="inputWrapper"><input type="text" id="tfa_23" name="tfa_23" value="" title="Topic" class=""></div>
</div>
<div class="oneField field-container-D    " id="tfa_6-D">
<label id="tfa_6-L" class="label preField " for="tfa_6">Message</label><br><div class="inputWrapper"><textarea id="tfa_6" name="tfa_6" title="Message" class=""></textarea></div>
</div>
<div id="tfa_15" class="section inline group">
<div class="oneField field-container-D    " id="tfa_7-D">
<label id="tfa_7-L" class="label preField " for="tfa_7">Edit this text</label><br><div class="inputWrapper"><select id="tfa_7" name="tfa_7" title="Edit this text" class=""><option value="">Please select...</option>
<option value="tfa_8" id="tfa_8" class="">Choice A</option>
<option value="tfa_9" id="tfa_9" class="">Choice B</option>
<option value="tfa_10" id="tfa_10" class="">Choice C</option></select></div>
</div>
<div class="oneField field-container-D    " id="tfa_11-D">
<label id="tfa_11-L" class="label preField " for="tfa_11">Edit this text</label><br><div class="inputWrapper"><select id="tfa_11" name="tfa_11" title="Edit this text" class=""><option value="">Please select...</option>
<option value="tfa_12" id="tfa_12" class="">Choice A</option>
<option value="tfa_13" id="tfa_13" class="">Choice B</option>
<option value="tfa_14" id="tfa_14" class="">Choice C</option></select></div>
</div>
</div>
<div class="oneField field-container-D    " id="tfa_16-D" role="group" aria-labelledby="tfa_16-L" data-tfa-labelledby="-L tfa_16-L"><div class="inputWrapper"><span id="tfa_16" class="choices vertical "><span class="oneChoice"><input type="checkbox" value="tfa_17" class="" id="tfa_17" name="tfa_17" aria-labelledby="tfa_17-L" data-tfa-labelledby="tfa_16-L tfa_17-L"><label class="label postField" id="tfa_17-L" for="tfa_17"><span class="input-checkbox-faux"></span>I want to subscribe to the newsletter</label></span></span></div></div>
<div class="oneField field-container-D select-wrapper" id="tfa_18-D">
<label id="tfa_18-L" class="label preField " for="tfa_18">I am interested in:</label><br><div class="inputWrapper"><select id="tfa_18" name="tfa_18" title="I am interested in:" class=""><option value="">Please select...</option>
<option value="tfa_19" id="tfa_19" class="">Choice A</option>
<option value="tfa_20" id="tfa_20" class="">Choice B</option>
<option value="tfa_21" id="tfa_21" class="">Choice C</option></select></div>
</div>
<div class="actions" id="4862813-A"><input type="submit" data-label="Submit" class="primaryAction" id="submit_button" value="Submit"></div>
<div style="clear:both"></div>
<input type="hidden" value="4862813" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="65e0629a1462562d52836e1eaaba0938" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="2" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
</form>
</div></div><div class="wFormFooter"><p class="supportInfo"><a target="new" class="contactInfoLink" href="https://www.tfaforms.com/forms/help/4862805">Contact Information</a><br></p></div>
<p class="supportInfo" >
  </p>
</div>
