{% assign hero = page.hero.first %}
<div class="hero bg-image" style="background-image:url({{ hero.image | default: site.placeholder_image }});">
  <div class="hero-content">
    <div class="container py-5 text-white">
      <div class="hero-copy">
        {% if hero.subtitle %}
        <div class="preheader">{{ hero.subtitle }}</div>
        {% endif %}
        {% if hero.title %}
        <h1>{{ hero.title }}</h1>
        {% endif %}
        {% if hero.description_html %}
          {{ hero.description_html }}
        {% endif %}
        {% if hero.link %}
          <a class="card-link block mr-3" href="{{ hero.link }}">{{ hero.link_label | default: 'Learn More'}}</a>
        {% endif %}
        {% if hero.buttons %}
          <div class="hero-buttons mt-3">
            {% for button in hero.buttons %}
              <a class="{% if button.button_type == 'button' %}btn btn-secondary{% endif %}{% if button.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ button.link }}">{{ button.button_text | default: 'Learn More' }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="hero-social">
        <a href="{{ site.linkedin_url }}" class="linkedin" target="_blank" rel="noopener">
          <i class="ri-linkedin-fill"></i>
        </a>
        <a href="{{ site.twitter_url }}" class="twitter" target="_blank" rel="noopener">
          <i class="ri-twitter-fill"></i>
        </a>              
      </div>
    </div>
  </div>
</div>