<{{ include.element_type | default: 'li' }} class="d-md-flex align-items-center">

    {% include modules/icon.html icon=include.icon size=include.icon_size icon_background_color=include.icon_background_color %}
    
    <div class="description col">
      {% if include.title %}
        <h3 class="mb-2">
            {{ include.title }}
        </h3>
      {% endif %}

      {% if include.description_html %}
        <div class="description_html my-2">
        {{ include.description_html }}
      </div>
      {% endif %}

      {% if include.link %}
        <a class="mt-2 {% if include.button_type == 'button' %}btn btn-secondary{% endif %}{% if include.button_type == 'text' %}text-link{% endif %} block mr-3" href="{{ include.link }}">{{ include.button_text }}</a>
      {% endif %}

    </div>
  