<section class="insights-engine laptop-module bg-light overflow-x-hidden">
  <div class="container solutions-featured">
    <div class="row">
      <div class="col-lg-6 rightcolumn copy-column py-5">
        <h3 class="preheader editable">Our Newest Solution</h3>
        <h2 class="editable">ReFED Insights Engine</h2>
        <p class="editable">ReFED Insights Engine is an online data center designed to serve as the next generation of
          data, insights, and guidance on U.S. food waste. With more granular data, more extensive analysis, more
          customized views, and the ability to be updated regularly, we see this tool as laying the foundation for
          action around our 2030 national goal to reduce food waste by 50 percent.</p>
        <a href="#" class="btn btn-secondary editable p-3">Launch ReFED Insights Engine</a>
      </div>
      <div class="col-lg-6 leftcolumn image-column ">
        <img class="d-block" src="/img/laptop.png" alt="Laptop showing ReFED Insights Engine" />
      </div>
    </div>
  </div>
</section>