<section class="mailing-list-form bg-primary text-white">
  <a name="mailing-list-form"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h4>The latest to your Mailbox</h4>
        <h2>Subscribe to our MailingList</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p> 
        {% include modules/form_contact.html %}  
      </div>
    </div>     
  </div>
</section>