<div class="menu-social">      
  <div class='social-icons d-flex mb-3'>
    <a href="#" class="linkedin p-0 mr-2">
      <i class="ri-linkedin-fill"></i>
    </a> 
    <a href="#" class="twitter p-0">
      <i class="ri-twitter-fill"></i>
    </a>
  </div>  
  <div class="nav-item subscribe-item d-flex align-items-center ">
    <a href="#" id="signup-button" class="newsletter-signup-cta toggle-newsletter-modal btn btn-secondary btn-lg font-serif mr-4 font-weight-normal" style="cursor: pointer;">Subscribe</a>
    <label for="signup-button" class="text-neutral-100 font-weight-normal m-0">Sign up for our newsletter and <span style='white-space:nowrap;''>other email updates.</span></label>
  </div>
</div>

