<div class="nav-item">
  {% comment %}
  {% include nav/socialnav.html %}
  {% endcomment %}
  <div class="socialnav">
    {% for link in sublink.links %}
      <a href="{{ link.url }}" target="_blank" rel="noopener">
        <i class="ri-{{ link.label | slugify}}-fill"></i>
      </a>
    {% endfor %}
  </div>
  
</div>
<div class="nav-item subscribe-item d-flex align-items-center">
  <a href="#" id="signup-button" class="newsletter-signup-cta toggle-newsletter-modal btn btn-primary text-white text-serif mr-4 font-weight-normal" style="cursor: pointer;">Subscribe</a>
  <p class="text-white m-0"><small>Sign up for our newsletter and <span style='white-space:nowrap;'>other email updates.</span></small> </p>
</div>
