<div class="row reduction-solutions-chart mt-5 mx-1">
  <div class="prevention group col-5of7">
    <label class="d-block pb-3 m-0">Prevention</label>
    <div class="solutions clearfix">
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionareas_harvesteverythinggrown.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <h5>Harvest Everything Grown</h5>
        </a>
      </div>
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionarea_supplychain.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <h5>Streamline Supply Chains</h5>
        </a>
      </div>
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionarea_inventorymanagement.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <h5>Perfecting Inventory Management</h5>
        </a>
      </div>
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionareas_productutilization.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <h5>Maximizing Product Utilization</h5>
        </a>
      </div>
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionarea_consumerenvironments.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <h5>Reshape Consumer Environments</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="rescue group col-1of7">
    <label class="d-block pb-3 m-0">Rescue</label>
    <div class="solutions clearfix">
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionarea_foodrescue.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <div class="title">Strengthen Food Rescue</div>
        </a>
      </div>
    </div>
  </div>
  <div class="recycling group col-1of7">
    <label class="d-block pb-3 m-0">Recycling</label>
    <div class="solutions clearfix">
      <div class="solution">
        <a href="#" class="text-dark">
          <img src="/img/icons/action_areas/actionarea_recyclefoodscraps.svg" class="img-fluid icon-img-md mx-auto my-4" alt="">
          <div class="title">Recycle Food Scraps</div>
        </a>
      </div>
    </div>
  </div>
</div>