html {
  scroll-behavior: smooth;
  scroll-padding-top: 79px;
  @include media-breakpoint-up(lg) {
    scroll-padding-top: 65px;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 1.25rem;
}
