html,
body {
  // height: 100%;
}
body {
  // display:flex;
  // flex-direction:column;
  // color: $body-color;
  // overflow-x: hidden;
}

ul {
  padding-left: 20px;
}

.clearfix{
  &::before {
    display: block;
    content: "";
    clear: both;
  }
}

a{
  color:$blue;
}
.text-white a:not(.text-link):not(.card-link):not(.btn){
  color:$primary-400;
}
