html {
  scroll-behavior: smooth;
  @include media-breakpoint-up(lg) {
    scroll-padding-top: 65px;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
}

a {
  &:hover {
    text-decoration: none;
  }
}

// section {
//   padding: 30px 0;
//   @include media-breakpoint-up(md) {
//     padding: 60px 0;
//   }
// }

// ul {
//   padding-left: 20px;
// }

// .clearfix{
//   &::before {
//     display: block;
//     content: "";
//     clear: both;
//   }
// }

// a{
//   color:$blue;
// }

// What the fuck is this?
// .text-white a:not(.text-link):not(.card-link):not(.btn){
//   color:$primary-400;
// }
