
%btn {

} // end .button



.btn{
    //@extend %btn;
}

%text-btn {
  font-weight: $font-weight-semibold;
  color: $blue;
  &:after{
    content: '';
    @include arrow(right,8px,$blue);
    margin-left: 12px;
    vertical-align: -4px;
  }
}

.text-link,
.card-link{
  @extend %text-btn;
}

.download-link {
  font-weight: 600;
  i {
    background-color: $secondary;
    padding: 4px;
    border-radius: 50%;
    color: $white;
    margin-left: 5px; 
  }
  
}


