// main{flex: 1 0 auto;}
#pageFooter {
  flex-shrink: none;
}

#pageFooter {
  .logo-band {
    border-top: 12px solid $light;
  }
  .footer-brand {
    display: block;
    background-image: url(../img/logo-wordmark.svg);
    background-size: contain;
    width: 190px;
    height: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -1000px;
  }
  .footer-links-column,
  .stay-connected-column {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
  .footer-links-column {
    //padding-left:0;
    .footer-links {
      columns: 2;
      display: block;
      font-size: $font-size-base;
      margin-top: -22px;
      margin-bottom: -22px;
      //li{margin-bottom: 15px 0;}
      .nav-item {
        a.nav-link {
          padding: 22px 0;
        }
      }
    }
  }
  .stay-connected-column {
    h3 {
      margin-bottom: 23px;
      font-weight: $font-weight-bold;
    }
    .social-icon {
      font-size: 23px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .newsletter-signup {
      margin-top: 36px;
      font-size: $font-size-lg;
    }
    .newsletter-signup-cta {
      font-family: $font-family-serif;
      font-size: $font-size-lg;
    }
  }

  /* Mobile Only */
  @include media-breakpoint-down(sm) {
    .mega-footer {
      > .container {
        max-width: inherit;
      }
    }
  }

  /* Medium size and above*/
  @include media-breakpoint-up(md) {
    .mega-footer {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 35%;
      }
      &:before {
        background-color: $primary;
        left: 0;
      }
      &:after {
        background-color: $secondary;
        right: 0;
      }
      > .container {
        position: relative;
        z-index: 1;
      }
    }

    .footer-links-column,
    .stay-connected-column {
      padding-top: rem(87);
      padding-bottom: rem(110);
    }

    .footer-links-column {
      padding-left: 0;
      .footer-links {
        font-size: $font-size-lg;
        //margin-top:-22px;
        //margin-bottom:-22px;
        .nav-item {
          a.nav-link {
            //padding:22px 0;
          }
        }
      }
    }
    .stay-connected-column {
      padding-left: 10%;
    }
  }
}
