#pageFooter {
  .logo-band {
    border-top: 12px solid $light;
  }
  .footer-brand {
    display: block;
    width: 190px;
    overflow: hidden;
  }
  .footer-links-column,
  .stay-connected-column {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .footer-links-column {
    .footer-links {
      columns: 2;
      display: block;
      font-size: $font-size-base;
      .nav-item {
        .nav-link {
          padding: 22px 0;
        }
      }
    }
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 25%;
      background-color: $dark;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    &::before {
      left: -25%;
    }
    &::after {
      right: -25%;
    }
  }
  .stay-connected-column {
    h3 {
      font-weight: $font-weight-bold;
    }
    .socialnav {
      a {
        margin-right: 10px;
        i {
          color: $blue;
        }
      }
    }
    .newsletter-signup-cta {
      font-family: $font-family-serif;
      font-size: $font-size-lg;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 25%;
      background-color: $primary;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    &::before {
      left: -25%;
    }
    &::after {
      right: -25%;
    }
  }

  /* Medium size and above*/
  @include media-breakpoint-up(md) {
    .mega-footer {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 35%;
      }
      &:before {
        background-color: $dark;
        left: 0;
      }
      &:after {
        background-color: $primary;
        right: 0;
      }
      > .container {
        position: relative;
        z-index: 1;
      }
    }

    .footer-links-column,
    .stay-connected-column {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .footer-links-column {
      .footer-links {
        font-size: $font-size-lg;
      }
    }
    .stay-connected-column {
      padding-left: 10%;
    }
  }
}
