#pageHeader {
  border-bottom: 9px solid $light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 1000;
  @include media-breakpoint-down(lg) {
    > .container {
      max-width: 100%;
    }
  }
}
.navbar-brand {
  max-width: 175px;
  padding-left: 15px;
  @include media-breakpoint-up(lg) {
    max-width: 190px;
    padding-left: 0;
  }
}
.navbar {
  padding-left: 0;
  padding-right: 0;
}

/* MOBILE NAV */
@include media-breakpoint-down(md) {
  #pageHeader {
    // position: absolute;
    z-index: 1000;
    width: 100%;
    > .container {
      max-width: inherit;
      width: 100%;
      padding: 0;
    }
    .navbar-collapse {
      background-color: $primary;
      color: $white;
      overflow: hidden;
      z-index: 9999;
      width: 100%;
      &.collapse {
      }
      &.collapsing {
      }
      &.collapse.show {
      }
    }
  }
}

/* MOBLIE TOGGLE BUTTON */

.navbar-toggler {
  margin-right: 15px;
  &:focus {
    outline: none;
  }
  .navbar-toggler-icon {
    display: inline-block;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: 35px;
      height: 3px;
      background-color: $gray-800;
      margin: 6px 0;
      transition: 0.4s;
    }
    .bar1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: rotate(45deg) translate(-6px, -7px);
    }
  }
  &.collapsed {
    .navbar-toggler-icon {
      .bar1 {
        transform: none;
      }
      .bar2 {
        opacity: 1;
      }
      .bar3 {
        transform: none;
      }
    }
  }
}
