#pageHeader {
}
#pageContent {
  overflow: hidden;
}
#pageFooter {
}

// TODO: Refactor... this does not belong here.
section {
  position: relative;
  padding-top: rem(30);
  padding-bottom: rem(30);
  @include media-breakpoint-up(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}
.section__colorbar {
  position: absolute;
  height: 20px;
  width: 200px;
  min-width: 10%;
  max-width: 50%;
  top: 0;
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}

.container-more-wide {
  max-width: 1596px;
  padding-left: 74px;
  padding-right: 74px;
}
