#pageHeader {
}
#pageContent {
  overflow: hidden;
  padding-top: 83px;
}
#pageFooter {
}

// TODO: Refactor... this does not belong here.
section {
  position: relative;
  padding-top: rem(30);
  padding-bottom: rem(30);
  @include media-breakpoint-up(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}


.container-more-wide {
  max-width: 1596px;
  padding-left: 74px;
  padding-right: 74px;
}
