.bg-darker {
  background-color: $darker;
  color: $white;
}
.bg-dark {
  background-color: $dark;
  color: $white;
  a {
    color: $rescue;
    &.btn.btn-link {
      color: $rescue;
    }
    &.btn {
      color: $white;
    }
  }
}
.bg-mid {
  background-color: $mid;
  color: $white;
}
.bg-light {
  background-color: $light;
  color: $body-color;
}
.bg-lighter {
  background-color: $lighter;
  color: $body-color;
}
