body {
  font-size: 16px;
  // line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @include transition();
}

h1,
.h1 {
  font-weight: $font-weight-bold;
}
h2,
.h2 {
  font-weight: 600;
}
h3,
.h3 {
  font-family: $font-family-serif;
  line-height: 1.5;
  font-weight: $font-weight-normal;
}
h4,
.h4 {
  line-height: 1.5;
  font-weight: $font-weight-normal;
}
h5,
.h5 {
}
h6,
.h6 {
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
}

label,
.label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.lead {
  em {
    font-style: normal;
    color: $orange;
  }
}
