// Responsive Cards - TODO: Refactor to use Bootstrap:
.responsive-card-deck {
  @include make-responsive-cards();
  margin-left: -15px;
  margin-right: -15px;
}

// Background utlities
.bg-hero,
.bg-image,
.bg-video,
.bg-iframe,
.bg-placeholder,
.bg-color-info,
.responsive-iframe {
  position: relative;
  display: flex;
  height: 0;
  padding-top: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $darker;
  overflow: hidden;
  &.bg-contain {
    background-size: contain;
  }
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-3x1 {
    padding-top: 33%;
  }
  &.aspect-4x1 {
    padding-top: 25%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-auto {
    height: auto;
    padding-top: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}

.bg-placeholder {
  background-color: $black;
  color: $white;
  &.aspect-auto {
    padding-top: 0;
    .bg-fill {
      position: relative;
    }
  }
}

.bg-hero {
  h1,
  h2 {
    font-size: calc(16px + 2vw);
  }
  h3 {
    font-size: calc(16px + 1vw);
  }
  .btn-link {
    color: $rescue;
    &:hover {
      color: lighten($rescue, 15%);
    }
  }
  .bg-fill {
    padding: 1rem 0;
    height: auto;
    top: auto;
    bottom: 0;
    background-color: rgba($black, 0.5);
    @include media-breakpoint-down(md) {
      // TODO: refactor so that hero displays well in all conditions on mobile viewports
      // position: relative;
    }
  }
}

.bg-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-full {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-half {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-third {
  min-height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.max-out-text-width {
  max-width: rem(900);
}

.border-divider,
.section__colorbar {
  position: absolute;
  height: 0;
  width: 200px;
  min-width: 10%;
  max-width: 50%;
  top: 0;
  border-top: 20px solid $black;
  &.divider-right {
    right: 0;
  }
  &.divider-left {
    left: 0;
  }
}

// Text Utilities
.text-serif {
  font-family: $font-family-serif !important;
}
.text-sans-serif {
  font-family: $font-family-base !important;
}

.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}
.opacity-100 {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// TODO: How does this fit in with the mixin?
.arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  &.arrow-up {
    border-bottom: 10px solid $white;
  }
  &.arrow-down {
    border-top: 10px solid $white;
  }
}
