// TODO: Add everyone's favorite utility classes.

// Responsive Cards
.responsive-card-deck {
  @include make-responsive-cards();
  margin-left: -15px;
  margin-right: -15px;
}

// Background utlities
.bg-image,
.bg-video,
.bg-iframe,
.hero-image,
.bg-color-info,
.responsive-iframe {
  position: relative;
  display: flex;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $black;
  // background-image: url(https://via.placeholder.com/700x500/f2783c/f2783c?text=placeholder);
  overflow: hidden;
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-3x1 {
    padding-top: 33%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-auto {
    height: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}

.bg-color-info {
  &::before {
    // TODO: Add logic to map through and add hex values based on color map
    // content: "#{$primary}";
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: $white;
    display: flex;
  }
}

.bg-contain {
  background-size: contain;
}

.bg-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-full {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-half {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-third {
  min-height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.max-out-text-width {
  max-width: rem(900);
}

// Text Utilities
.text-serif {
  font-family: $font-family-serif !important;
}
.text-sans-serif {
  font-family: $font-family-base !important;
}

// Icon Utiltities
.icon-img-xl {
  max-width: 8.5rem;
  width: 8.5rem;
}

.icon-img-lg {
  max-width: 100px;
  width: 100%;
}

.icon-img-md {
  max-width: 80px;
  width: 100%;
}

.icon-img-sm {
  max-width: 60px;
  width: 100%;
}

.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-9 {
  opacity: 0.9;
}
.opacity-100 {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// TODO: How does this fit in with the mixin?
.arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  &.arrow-up {
    border-bottom: 10px solid $white;
  }
  &.arrow-down {
    border-top: 10px solid $white;
  }
}
