// TODO: Add everyone's favorite utility classes.

// Responsive Cards
.responsive-card-deck {
  @include make-responsive-cards();
  margin-left: -15px;
  margin-right: -15px;
}

// Background utlities
.bg-image,
.bg-video,
.bg-iframe,
.hero-image,
.responsive-iframe {
  position: relative;
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $black;
  // background-image: url(https://via.placeholder.com/700x500/f2783c/f2783c?text=placeholder);
  overflow: hidden;
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-3x1 {
    padding-top: 33%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  &.aspect-auto {
    height: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}

.bg-contain {
  background-size: contain;
}

.video-responsive{
  overflow:hidden;
  padding-bottom: 56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.max-out-text-width{
  max-width: rem(900);
}

.font-serif{
  font-family: $font-family-serif;
}
.bg-lightest{ 
  background-color: $neutral-100; 
}

.logo-farm{
  margin-top: rem(40);
  margin-left: rem(-20);
  margin-right: rem(-20);
  img{
    display: inline-block;
    margin: rem(20);
  }
}

.icon-img-xl {
  max-width: 8.5rem;
  width: 8.5rem;
}

.icon-img-lg {
  max-width: 100px;
  width: 100%;
}

.icon-img-md {
  max-width: 80px;
  width: 100%;
}

.icon-img-sm {
  max-width: 60px;
  width: 100%;
}



@media screen and (min-width: $screen-md-min){
  ul.two-column-list{
    column-count: 2;
    column-gap: 80px;
    li{
      -webkit-column-break-inside: avoid; 
    }
  }
}

@media screen and (min-width:  $screen-md-min) {  
  .two-columns{
    column-count: 2;
    article{
      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
    }
  }
}





.opacity-0{ opacity:0; }
.opacity-1{ opacity:0.1; }
.opacity-2{ opacity:0.2; }
.opacity-3{ opacity:0.3; }
.opacity-4{ opacity:0.4; }
.opacity-5{ opacity:0.5; }
.opacity-6{ opacity:0.6; }
.opacity-7{ opacity:0.7; }
.opacity-8{ opacity:0.8; }
.opacity-9{ opacity:0.9; }
.opacity-100{ opacity:1; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

