body.state-policy {
  section {
    padding: 0;
    .container {
      max-width: none;
    }
  }
}
.mapInstructions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  color: $text-color;
  // Animation
  display: none;
  opacity: 1;
  @include transition(0.5s);
  .content {
    position: relative;
    padding: 0 20px 80px 20px;
    font-size: 14px;
    h4, h5 {
      font-weight: 400;
    }
    p {
      font-size: 14px;
      color: $text-color;
    }
  }
  [class^=show] {
    position: absolute;
    top: 70%;
    left: 20px;
    width: 80%;
    opacity: 0;
    @include transition(1s);

  }
}
.mapWizard {
  .mapInstructions {
    display: flex;
    opacity: 1;
    padding-bottom: 150px;
  }

  .show0 { opacity: 1; }

  &.step1 {
    .mapInstructions {}
    .show1 { opacity: 1; }
    .show0 { opacity: 0; }
  }
  &.step2 {
    .mapInstructions {}
    .show2 { opacity: 1; }
    .show0 { opacity: 0; }
  }
  &.step3 {
    .mapInstructions {}
    .show3 { opacity: 1; }
    .show0 { opacity: 0; }
  }
  &.step4 {
    .mapInstructions {}
    .show4 { opacity: 1; }
    .show0 { opacity: 0; }
  }
  &.step5 {
    .mapInstructions {}
    .show5 { opacity: 1; }
    .show0 { opacity: 0; }
  }
}

.policyFinder_map {
  position: relative;
  padding-bottom: 150px;
  background: transparent !important;
  .states {
    fill: #e3dcca;
    stroke: $mainnav-background-color;
    stroke-width:1.5px;
    @include transition();
  }
  .study {
    display: none;
    cursor: pointer;
  }
  .muni { opacity: 0; cursor: crosshair;  pointer-events: none; }

  // Showing State levels
  &[data-category="prevention"] { 
    .level-1 { fill: darken($cream, 15%); }
    .level-2 { fill: $button-color; }
    .level-3 { fill: $prevention-color; }
    .level-4 { fill: $prevention-color; }
    .level-5 { fill: $prevention-color; }
  }
  &[data-category="recovery"] {
    .level-1 { fill: #A1C2B8 }
    .level-2 { fill: #7AACA2; }
    .level-3 { fill: #51978B; }
    .level-4 { fill: #2A8175; }
    .level-5 { fill: $recovery-color; }
  }
  &[data-category="recycle"] {
    .level-1 { fill: #C9D6B5; }
    .level-2 { fill: #AEC391; }
    .level-3 { fill: #95AF6D; }
    .level-4 { fill: #7A9C49; }
    .level-5 { fill: $recycle-color; }
  }

  // Showing Case Studies
  &[data-studies="prevention"] {
    .study.prevention { display: block; pointer-events: all; }
  }
  &[data-studies="recovery"] {
    .study.recovery { display: block; pointer-events: all; }
  }
  &[data-studies="recycle"] {
    .study.recycle { display: block; pointer-events: all;}
  }

  // Showing Map Keys
  &[data-key="date-labeling"] {
    .date-labeling-key { display: block; }
  }
  &[data-key="liability-protection"] {
    .liability-protection-key { display: block; }
  }
  &[data-key="tax-incentives"] {
    .level-1 { fill: $recovery-color; }
    .tax-incentives-key { display: block; }
  }
  &[data-key="animal-feed"] {
    .animal-feed-key { display: block; }
  }
  &[data-key="organic-waste-bans-waste-recycling-laws"] {
    .level-1 { fill: $recycle-color; }
    .muni { opacity: 0.6;  pointer-events: all; }
    .organic-waste-bans-waste-recycling-laws-key { display: block; }
  }

  .states:hover {
    // opacity: 0.9;
    cursor: pointer;
  }

}

.mapTip {
  position: absolute;
  display: inline;
  background-color: rgba(0,0,0,0.4);
  color: $cream;
  padding: 0 10px;
  margin-top: -20px;
  pointer-events: none;
}

@media all and (max-width: $screen-md-max) {

}

@media all and (max-width: $screen-sm-max) {

}

@media all and (max-width: $screen-xs-max) {
  .policyFinder_map { display: none; }
}