body.state-policy {
  section {
    padding: 0;
    .container {
      max-width: none;
    }
  }
}
.mapInstructions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  color: $text-color;
  // Animation
  display: none;
  opacity: 1;
  @include transition(0.5s);
  .content {
    font-size: 14px;
    h4 {
      font-weight: 400;
      color: $text-color;
    }
    p {
      font-size: 14px;
      color: $text-color;
    }
  }
}
.mapWizard {
  .mapInstructions {
    display: flex;
    opacity: 1;
  }
  &.step1 {}
  &.step2 {}
  &.step3 {}
  &.step4 {}
}

.policyFinder_map {
  position: relative;
  margin-bottom: 150px;
  background: transparent !important;
  .states {
    fill: #e3dcca;
    stroke: $mainnav-background-color;
    stroke-width:1.5px;
    @include transition();
  }
  .study {
    display: none;
    cursor: pointer;
  }
  .muni { opacity: 0; }

  &.prevention { 
    .level-1 { fill: $prevention-color; }
    .level-2 { fill: $prevention-color; }
    .level-3 { fill: $prevention-color; }
    .level-4 { fill: $prevention-color; }
    .level-5 { fill: $prevention-color; }
    &.show-studies {
      .study.prevention { display: block; }
    }
  }
  &.recovery {
    .level-1 { fill: #A1C2B8 }
    .level-2 { fill: #7AACA2; }
    .level-3 { fill: #51978B; }
    .level-4 { fill: #2A8175; }
    .level-5 { fill: $recovery-color; }
    &.show-studies {
      .study.recovery { display: block; }
    }
  }
  &.recycle {
    .level-1 { fill: #C9D6B5; }
    .level-2 { fill: #AEC391; }
    .level-3 { fill: #95AF6D; }
    .level-4 { fill: #7A9C49; }
    .level-5 { fill: $recycle-color; }
    &.show-studies {
      .study.recycle { display: block; }
    }

  }
  &.date-labeling {
    .date-labeling-key { display: block; }
  }
  &.liability-protection {
    .liability-protection-key { display: block; }
  }
  &.tax-incentives {
    .level-1 { fill: $recovery-color; }
    .tax-incentives-key { display: block; }
  }
  &.animal-feed {
    .animal-feed-key { display: block; }
  }
  &.organic-waste-bans-waste-recycling-laws {
    .level-1 { fill: $recycle-color; }
    .muni { opacity: 0.6; }
    .organic-waste-bans-waste-recycling-laws-key { display: block; }
  }

  .states:hover {
    // opacity: 0.9;
    cursor: pointer;
  }

}

@media all and (max-width: $screen-xs-max) {

}

@media all and (max-width: $screen-sm-max) {

}

@media all and (max-width: $screen-md-max) {

}



