.statenav {
  h4 {
    position: relative;
    padding: 7px 30px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    a {
      color: #ffffff;
      &:hover, &:focus, &:active {
        color: #ffffff;
      }
    }
  }
  .nav {
    li {
      a {
        color: $text-color;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  .mapnav {

  }
}

@media all and (max-width: $screen-sm-max) {
  .mapnav {

  }
}

@media all and (max-width: $screen-xs-max) {
  .mapnav {
    
  }
}