<div class="map-legend hide">
  <div class="legend-key icon-key date-labeling-key">
    {% include svg/icons/prevention.svg %}
    <h5>State policies that<br>hinder prevention</h5>
  </div>
  <div class="legend-key gradient-key liability-protection-key">
    <h5>Level of liability<br>protection</h5>

    {% include svg/icons/gradient-liability.svg %}
  </div>
  <div class="legend-key icon-key tax-incentives-key">
    <span class="box recovery"></span>
    <h5>States offering additional<br>tax incentives</h5>
  </div>
  <div class="legend-key gradient-key animal-feed-key">
    <h5>Level of policy hindering<br>food waste recycling</h5>
    {% include svg/icons/gradient-recycling.svg %}
  </div>
  <div class="legend-key icon-key organic-waste-bans-waste-recycling-laws-key">
    <ul>
      <li>
        <span class="box recycling"></span>
        <h5>States</h5>
      </li>
      <li>
        <span class="circle"></span>
        <h5>Municipalities</h5>
      </li>
    </ul>
  </div>
</div>