---
layout: policy_tool
title: Date Label Policy
permalink: /tools/policy/date-labels
---
<section class="gray-lighter">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="content">
          <h4>Understanding Date<br>Labeling Regulations</h4>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="content">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#date-label-terminology-quiz" aria-controls="date-label-terminology-quiz" role="tab" data-toggle="tab">Date Label<br>Terminology Quiz</a></li>
            <li role="presentation"><a href="#date-label-policy-issues" aria-controls="date-label-policy-issues" role="tab" data-toggle="tab">Date Labeling<br>Policy Issues</a></li>
            <li role="presentation"><a href="#federal-policy-solutions" aria-controls="federal-policy-solutions" role="tab" data-toggle="tab">Federal Policy<br>Solutions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content cream-light">
    <div role="tabpanel" class="tab-pane active" id="date-label-terminology-quiz">
      {% include policy/date_label_terminology_quiz.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="date-label-policy-issues">
      {% include policy/date_label_policy_issues.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="federal-policy-solutions">
      {% include policy/federal_policy_solutions.html %}
    </div>
  </div>
  <section id="subnav" class="flush">
    <div class="row">
      <a href="#" class="col">
        <div class="content">
          <i class="icon-prev"></i>
          <small>Previous</small>
          <hr>
          <span class="title">Previous Tab</span>
        </div>
      </a>
      <a href="#" class="col">
        <div class="content">
          <small>Next</small>
          <hr>
          <span class="title">Next Tab</span>
          <i class="icon-next"></i>
        </div>
      </a>
    </div>
  </section>
</section>




