---
layout: policy_tool
title: Date Label Policy
permalink: /tools/policy/date-labels
slug: date-labels

header: Understanding Date Labeling Regulations
---

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="date-label-terminology-quiz">
    {% include policy/date_label_terminology_quiz.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="date-label-policy-issues">
    {% include policy/date_label_policy_issues.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="federal-policy-solutions">
    {% include policy/federal_policy_solutions.html %}
  </div>
</div>

<section id="subnav" class="flush subnav subnav-tabs">
  <div class="row">
    <a href="{{ '/tools/policy' | prepend: site.baseurl  }}" class="col">
      <div class="content">
        <i class="icon-prev"></i>
        <small>Previous</small>
        <hr>
        <span class="title" style="white-space: pre-line;">U.S. Food Waste<br>Policy Finder</span>
      </div>
    </a>
    <a href="#" class="col btnNext">
      <div class="content">
        <small>Next</small>
        <hr>
        <span class="title">Date Labeling<br>Policy Issues</span>
        <i class="icon-next"></i>
      </div>
    </a>
  </div>
</section>
<script>

</script>