---
layout: policy_tool
title: Federal Tax Incentives
permalink: /tools/policy/federal-tax-incentives

tool: U.S. Food Waste Policy Finder
---

<section>
  {% include policy/page_header.html %}
</section>
<section id="federal-details">
  <div class="container">
    <div id="overview" class="row">
      <div class="col-xs-12">
        <div class="content">
          <p>The federal government has recognized the importance of food donation and provides tax deductions to incentivize businesses to donate food. With the passage of the Protecting Americans from Tax Hikes (PATH) Act in December 2015, all businesses—including C-corporations, S-corporations, limited liability corporations (LLCs), partnerships and sole proprietorships—are eligible for an enhanced tax deduction that exceeds the property’s basis for donated food if they meet certain requirements. If they do not meet the requirements, they can still claim a general tax deduction in the amount of the property’s basis.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>General Tax Deduction</h2>
          <p>In order for a charitable contribution to qualify for the general tax deduction, the donation must be used for charitable purposes and given to a qualified organization under section 170 of the Internal Revenue Code (IRC). There is a limitation on the amount of overall charitable contributions businesses can deduct each tax year. For non-C-corporations, total deductions cannot exceed 30% of the business’ total taxable income each year. Total deductions for C-corporations cannot exceed 10%.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>Enhanced Tax Deduction</h2>
          <p>The enhanced deduction increases the amount of the deduction that can be claimed, allowing a business to deduct the smaller of the following two: (a) twice the basis value of the donated food or (b) the basis value of the donated food plus one-half of the food’s expected profit margin (fair market value minus basis value).</p>
          <div class="panel cream">
            <p><strong>Example:</strong> A grocery store donates potatoes with a fair market value of $100. The basis value of these potatoes was $30. The expected profit margin is the fair market value minus the basis value ($100-$30), which is $70. Under the enhanced deduction, the grocery store is eligible to deduct the smaller of:</p>
            <ul class="text-center">
              <li>1. Basis Value x 2 = $30 x 2 =$60<br><strong>or</strong></li>
              <li>2. Basis Value + (expected profit margin/2) = $30 + ($70/2) = $65</li>
            </ul>
            <p>The enhanced deduction would be $60. The enhanced deduction is substantially higher than the general deduction, which is limited to the basis value of $30.</p>
          </div>  
          <p>Beginning in 2016, businesses that do not account for inventories and are not required to capitalize indirect costs have the option to calculate the basis value at 25% of the products’ fair market value, which is the value at which goods can be sold. The allowance makes it easier for a broader range of businesses to take advantage of the enhanced deduction. For example, is a farm (that met both requirements above) donated apples with a fair market value of $100, the farmer could choose to calculate the basis value of the apples at $25 ($100 x .25).</p>
          <p>Also beginning in 2016, businesses have the option to calculate the fair market value of certain products that cannot or will not be sold by using the price of the same or substantially similar food items that are being sold by the business. The provision includes:</p>
          <ul>
            <li>Products that do not meet internal standards, such as cosmetic blemishes or shape variation;</li>
            <li>Products where there is a lack of market, such as holiday items once the holiday has passed, and similar circumstances; and</li>
            <li>Products where the business produced the product exclusively for the purposes of donation.</li>
          </ul>
          <h4>Qualifying for the Enhanced Deduction</h4>
          <p>In order for donors to qualify for the enhanced deduction, they must satisfy five requirements.</p>
          <ol>
            <li>The donee (food recovery organization) must be an IRC 501(c)(3) organization, and a public charity or a private operating foundation.</li>
            <li>The donee must use the donated property solely for the care of the ill, the needy, or infants, in a manner consistent with the purpose constituting that organization’s exempt status under IRC 501(c)(3).</li>
            <li>The donee may not use or transfer the food in exchange for money, other property, or services.</li>
            <li>The donee must provide a written statement to the donor stating that all requirements of IRC 170(e)(3) have been met.</li>
            <li>The donated food must be in compliance with the Food, Drug, and Cosmetic Act (FDCA) at the time the donation is made, as well as for 180 days before the contribution.</li>
          </ol>
          <p>If any of these conditions are not met, the donation is disqualified from the enhanced deduction and would only be eligible for the general deduction.</p>
          <p>A C-corporation’s charitable deduction cannot exceed 10% of its taxable income, except when the corporation has donated food,h case it can increase its deduction to up to 15%. Non-c-corporations can also claim up to 15% of their taxable income in the enhanced deduction. Food donors can also carry forward any excess deductions beyond the 15% income limitation for up to five years.</p>
        </div>
      </div>
    </div>

    <div id="recommendations" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h3>Recommendations for Strengthening Federal Policy</h3>
          <p>Some of our federal policy recommendations can be found in our Testimony for House Agriculture Committee Hearing on Food Waste from Field to Table (Section IV page 9-10). We are in the process of finalizing the rest of our recommendations and will send as soon as we can.</p>
        </div>
      </div>
    </div>
    <div id="resources" class="row">
      <div class="col-xs-12">
        <div class="content">
          <h3>Resources</h3>
          <p>For more information about federal tax incentives, check out these resources:</p>
          <p><a href="#">Resource Download</a></p>
          <p><a href="#">Resource Link</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="federal-state-navigation" style="padding: 10px 0;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="content">
          <h3>View State Level<br>Tax Incentives Policy</h3>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="content">
          {% include policy/state_navigation.html %}
        </div>
      </div>
    </div> 
  </div>
</section>

<div id="policynav">
  <div class="sticky">
    <div class="content">
      <h3>Federal Liability Protection</h3>
      <ul class="flush">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#recommendations">Recommendations for Strengthening Policy</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="#related-solutions">Related Solutions</a></li>
      </ul>
    </div>
  </div>
</div>