---
layout: policy_tool
title: Policy Tool
permalink: /tools/policy/

tool: U.S. Food Waste Policy Finder
---

<div id="tooltip">
  <div class="content">
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="title">Example tooltip title</h3>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <a href="/tools/policy/date-labels" class="button">Explore Date Labeling Policy Issues In-Depth &gt;</a>
</div>

<div id="policynav">
  <h4 class="prevention">Prevention Policy</h4>
  <p>Policy changes related to date labelling have the potential to prevent 398,000 tons of waste per year</p>
  <ul>
    <li class="checkbox">
      <input id="date_labeling_studies"
        type="checkbox"
        class="study-filter"
        value="prevention">
      <label for="date_labeling_studies">
        <span></span>
        Date Labeling
        <small>Reveal state policies that hinder food waste prevention</small>
      </label>
    </li>
  </ul>
  <a href="/tools/policy/date-labels" class="button prevention">Explore date labeling<br>policy issues in depth &nbsp; &gt;</a>

  <h4 class="recovery">Recovery Policy</h4>
  <p>Federal policy provides liability protection and tax incentives for donating food. States have the opportunity to spur greater food recovery by enacting stronger policies in both areas.</p>
  {% assign section = site.data.policy_tool['liability_protection'] %}
  {% include policy/policy_tool_filter.html section=section category='recovery' %}

  {% assign section = site.data.policy_tool['tax_incentives'] %}
  {% include policy/policy_tool_filter.html section=section category='recovery' %}
  <ul>
    <li class="checkbox small">
      <input id='recovery_studies'
        type='checkbox'
        class='study-filter'
        value="recovery">
      <label for="recovery_studies">
        <span></span>
        Best-practice Policies
      </label>
    </li>
  </ul>

  <h4 class="recycling">Recycling Policy</h4>
  <p>Increased food scrap recycling can be incentivized by these state and local policies.</p>
  {% assign section = site.data.policy_tool['animal_feed'] %}
  {% include policy/policy_tool_filter.html section=section category='recycle' %}
  
  {% assign section = site.data.policy_tool['organics_recycling_mandates'] %}
  {% include policy/policy_tool_filter.html section=section category='recycle' %}
  <ul>
    <li class="checkbox small">
      <input id='recycling_studies'
        type='checkbox'
        class='study-filter'
        value="recycle">
      <label for="recycling_studies">
        <span></span>
        Best-practice Policies
      </label>
    </li>
  </ul>
</div>

<section>
  {% include policy/page_header.html %}
  <div class="container-fluid">
    <div class="row middle-xs center-xs">
      <div class="col-xs-12">
        <div id="map"></div>
        <div id="map-instructions">
          <div class="content">
            <h4>U.S. Food Waste Policy Finder</h4>
            <p>Use this tool to research current food waste policy at the federal and state levels and to discover best practices and recommendations for policy improvements that will support more food waste prevention, recovery and recycling.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row middle-xs center-xs">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <label for="state-select" class="text-left">Explore Food Waste Policy by State</label>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-5">
        <div class="select">
          <select name="" id="state-select">
            <option>Choose State</option>
            {% for state in site.states %}
              <option value="{{ state.url }}">{{ state.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  $('#tooltip .close').on('click', function() {
    $('#tooltip').removeClass('active');
  });
  $('#state-select').change(function(){
    var value = $(this).val();
    window.console.log('value', value);
    var url = $(this).val(); // get selected value
      if (url) { // require a URL
          window.location = url; // redirect
      }
      return false;
  });

  $('.collapse').on('show.bs.collapse', function() {
    $('#policynav .collapse').not($(this)).collapse('hide');
  });

  $('.map-filter, .map-subfilter').on('click', function() {
    var $root = $(this).closest('.root');
    clearFilters($root);
  });

  $('.map-filter, .map-subfilter').on('change', function(e) {
    var checked = $(this).prop("checked"),
        container = $(this).parent(),
        siblings = container.siblings();
    // window.console.log("CONTAINER: ", container);

    container.find('input[type="checkbox"]').prop({
      indeterminate: false,
      checked: checked
    });

    function checkSiblings(el) {

      var parent = el.parent().parent(),
          all = true;

      el.siblings().each(function() {
        return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
      });

      if (all && checked) {

        parent.children('input[type="checkbox"]').prop({
          indeterminate: false,
          checked: checked
        });

        checkSiblings(parent);

      } else if (all && !checked) {

        parent.children('input[type="checkbox"]').prop("checked", checked);
        parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
        checkSiblings(parent);

      } else {

        el.parents("li").children('input[type="checkbox"]').prop({
          indeterminate: true,
          checked: false
        });

      }

    }

    checkSiblings(container);
    updateMap();
  });

  $('.study-filter').on('click', function() {
    var type = this.checked ? this.value : false;
    if(type) {
      showStudies(type);
    } else {
      hideStudies();
    }
    // var $root = $(this).closest('.root');
    // clearFilters($root);
    // 
  });

  function hideStudies() {
    $("#map").removeClass('recycle recovery prevention');
  }

  function showStudies(type) {
    $('#map')
      .removeClass('recycle recovery prevention')
      .addClass(type);
  }

  function clearFilters(activeRoot) {
    $(".root").not(activeRoot).each(function() {
      $(this).find('input[type="checkbox"]').prop({
        indeterminate: false,
        checked: false
      });
    });
    var category = $(activeRoot).data('category');
    $('.states')
      .removeClass('recycle recovery prevention')
      .addClass(category);
  }

  function clearLevels() {
    $('path.states').removeClass(function (index, css) {
      return (css.match (/(^|\s)level-\S+/g) || []).join(' ');
    });
  }

  function getLevel(array, state) {
    return array.filter(item => item == state).length;
  }

  function updateMap() {
    var activeStates = [];
    $(".map-subfilter").each(function() {
      if($(this).is(':checked')) {
        var states = $(this).data('states');
        states.forEach(function(state) {
          activeStates.push(state);
        });
      }
    });
    clearLevels();
    activeStates.forEach(function(state) {
      $('#'+state).addClass('level-'+getLevel(activeStates, state));
      // console.log(state, getLevel(activeStates, state));
    });
  }


</script>


<!-- Map -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>

<script type="text/javascript">
  String.prototype.trim = function(){
    return this.replace(" ", "-").toLowerCase();
  };

  /*  This visualization was made possible by modifying code provided by:


  */
  var width = 960,
      height = 500;

  var svg = d3.select("#map")
        .append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 "+width+" "+height+"");

  var projection = d3.geo.albersUsa()
    .scale(1000)
    .translate([width / 2, height / 2]);
   
  var path = d3.geo.path()
    .projection(projection);

  // Append Div for tooltip to SVG
  var tip = d3.select("#tooltip");
    
  queue()
    // .defer(d3.json, '/data/states.json')
    .defer(d3.json, '/data/us-states.json')
    .defer(d3.json, '/data/casestudies.json')
    .await(buildMap);

  function buildMap(error, states, casestudies) {

    svg.selectAll(".states")
      .data(states.features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr('class', 'states')
      .attr('id', function(d) { return d.properties.name.trim(); })
      .on('click', function(d) {
        var url = "/states/"+d.properties.name.trim();
        window.location.href = url;
      });

    svg.selectAll('.study')
      .data(casestudies.features)
      .enter()
      .append('path')
      .attr('d', path.pointRadius(10))
      .attr('class', function(d) { return "study "+d.category; })
      .on("click", function(d) {
        $('#tooltip')
          .find('.title').text(d.properties.title).end()
          .find('.summary').text(d.properties.summary).end()
          .find('.button').attr('class', 'button '+d.category).end()
          .addClass('active');

        tip.style("left", (d3.event.pageX - 42) + "px")
          .style("top", (d3.event.pageY - 146) + "px");
      });
      // .on("mouseout", function(d) {
      //   tip.attr('class', 'hide')
      // });

  }
</script>

