@import "settings";
@import "vendor/bootstrap/scss/bootstrap"; // Copied from node_modules and committed to source to allow Bootstrap to compile during build

// Global
@import "global/mixins";
@import "global/functions";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/buttons";
@import "global/typography";
@import "global/animations";
@import "global/header";
@import "global/footer";

@import "modules/carousels";
@import "modules/card";
@import "modules/collapse_solutions";
@import "modules/hero";
@import "modules/homepage_newsfeed";
@import "modules/form_assembly";
@import "modules/large_image_beyond_bounds_module";
@import "modules/simple_copy_and_cta";
@import "modules/circle_icon_list";
@import "modules/staff";
@import "modules/subscribe_form_overlay";
@import "modules/featured_solutions";
@import "modules/reduction_solutions_chart";
@import "modules/solution_adoption.scss";

@import "pages/our_funders";
@import "pages/who_we_are";
@import "pages/our_team";
@import "pages/food_waste.scss";

@import "sections/card_grid";
@import "sections/testimonial";
@import "sections/carousels/carousel_images";
@import "sections/carousels/carousel_hero";
@import "sections/carousels/carousel_split";
@import "sections/carousels/carousel_testimonials";
@import "sections/cta";
@import "sections/insights_engine";
@import "sections/logo_pile";
@import "sections/split_section";
@import "sections/accordion";
@import "sections/accordion";
@import "sections/theory_of_change";

@import "nav/primary";
@import "nav/utility";
@import "nav/sticky_nav";

@import "vendor/bootstrap";


