@import "settings";
@import "vendor/bootstrap/scss/bootstrap"; // Copied from node_modules and committed to source to allow Bootstrap to compile during build

// Global
@import "global/mixins";
@import "global/functions";
@import "global/utilities";
@import "global/base";
@import "global/layout";
@import "global/themes";
@import "global/buttons";
@import "global/typography";
@import "global/icons";
@import "global/animations";
@import "global/header";
@import "global/footer";

// Nav
@import "nav/socialnav";
@import "nav/subnav";
@import "nav/primarynav";
@import "nav/topnav";

// Components
@import "components/carousel";
@import "components/hero";
@import "components/icon_grid";
@import "components/split";
@import "components/ticker";
@import "components/insights_engine";
@import "components/testimonials";

// TODO: Migrate all module styles

@import "modules/form_assembly";
@import "modules/subscribe_form_overlay";
@import "modules/featured_solutions";
@import "modules/key_indicators_box";
@import "modules/horizontal_card";

// Collection Specific Styles
@import "collections/stakeholders";

// Page Specific Styles
@import "pages/home/reduction_solutions_chart";

@import "pages/our_funders";
@import "pages/who_we_are";
@import "pages/our_team";
@import "pages/food_waste";
@import "pages/newsroom";
@import "pages/engage";
@import "pages/project_settings";

// TODO: Refactor Section styles
@import "sections/card_grid";
@import "sections/testimonial";
@import "sections/carousels/all_carousels";
@import "sections/carousels/carousel_images";
@import "sections/news_updates";

@import "sections/logo_pile";
@import "sections/accordion";
@import "sections/theory_of_change";

@import "sections/newsroom_filter";

@import "vendor/bootstrap";
@import "vendor/cloudcannon";
