---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "_variables";
@import "_mixins";

@import "base/global";
@import "base/utils";
@import "base/grid";
@import "base/colors";
@import "base/sections";
@import "base/icons";
@import "base/forms";
@import "base/buttons";
@import "base/animations";
@import "base/popover";
@import "base/cards";
@import "base/wells";
@import "base/modals";
@import "base/tabs";
@import "base/crumbs";
@import "base/bootstrap-overwrites";
@import "base/editable-regions";

@import "base/thanks";

@import "_fixes";

// Elements
@import "elements/cognito";
@import "elements/formAssembly";
@import "elements/logoGrid";
@import "elements/pageHeader";
@import "elements/pageContent";
@import "elements/pageFooter";
@import "elements/pageHelp";
@import "elements/toolHeader";
@import "elements/toolFooter";
@import "elements/toc";

// Nav
@import "nav/topnav";
@import "nav/mainnav";
@import "nav/subnav";
@import "nav/socialnav";
@import "nav/footernav";
@import "nav/tournav";
@import "nav/toolnav";
@import "nav/quicknav";

// Charts
@import "components/charts/charts_base";
@import "components/charts/cost_curve";
@import "components/charts/reduction_chart";
@import "components/charts/profit_chart";

// Components
@import "components/siteSearch";
@import "components/supplyChain";
@import "components/lineClamp";
@import "components/hero";

@import "components/profile";
@import "components/site_tour";
@import "components/embed";
@import "components/share";

@import "components/article";
@import "components/video";

@import "components/tooltip";

// Tools
@import "tools/food-waste-policy-finder/main";
@import "tools/food-waste-policy-finder/map";
@import "tools/food-waste-policy-finder/map_legend";
@import "tools/food-waste-policy-finder/map_nav";
@import "tools/food-waste-policy-finder/state";
@import "tools/food-waste-policy-finder/header";
@import "tools/food-waste-policy-finder/federal_policy";

@import "tools/spotlight-on-date-labeling-regulations/date_labels";
@import "tools/spotlight-on-date-labeling-regulations/carousel";
@import "tools/spotlight-on-date-labeling-regulations/quiz";

@import "tools/innovator-database/innovator";
@import "tools/innovator-database/about";
@import "tools/innovator-database/map";
@import "tools/innovator-database/list";
@import "tools/innovator-database/analysis";
@import "tools/innovator-database/menu";
@import "tools/innovator-database/tooltip";

// Views
@import "views/page_layout";
@import "views/admin_layout";
@import "views/tool_layout";
@import "views/homepage";
@import "views/analysis";
@import "views/action";
@import "views/downloads";
@import "views/resources";
@import "views/solutions";
@import "views/stakeholders";
@import "views/careers";
@import "views/news";
@import "views/accelerator";
@import "views/covidsolutionsfund";

// Sections
@import "views/sections/spread_the_word";
@import "views/sections/connected_solutions";

@import "views/foodwaste_summit";

//Print
@import "base/print";

@import "_covid";
