.carousel {
  &.carousel-hero {
    .carousel-indicators {
      display: none;
    }
    .carousel-controls {
      transform: translateY(-20px);
      @include media-breakpoint-up(lg) {
        transform: translateY(-80px);
      }
    }
    .carousel-control-prev {
      left: 8px;
      font-size: 2rem;
      display: flex;
      width: auto;
      @include media-breakpoint-up(lg) {
        left: -4%;
        font-size: 4rem;
        width: 5%;
      }
    }
    .carousel-control-next {
      right: auto;
      left: 30px;
      font-size: 2rem;
      display: flex;
      width: auto;
      @include media-breakpoint-up(lg) {
        left: auto;
        right: 0;
        font-size: 4rem;
        width: 5%;
      }
    }

    .bg-hero {
      padding-top: 75%;
      @include media-breakpoint-up(sm) {
        padding-top: 50%;
      }
      @include media-breakpoint-up(lg) {
        padding-top: 25%;
      }
      .bg-fill {
        padding-bottom: 2.5rem;
        padding-right: 1rem;
        @include media-breakpoint-up(lg) {
          padding-bottom: 1rem;
          min-height: 160px;
        }
      }
    }
    .socialnav {
      position: absolute;
      right: 0;
      bottom: 3%;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-up(lg) {
        bottom: 7%;
      }
      a {
        margin: 0 0 7px;
        width: 30px;
        height: 30px;
        i {
          font-size: 20px;
        }
        @include media-breakpoint-up(lg) {
          margin: 0 0 10px;
          width: 37px;
          height: 37px;
          i {
            font-size: 23px;
          }
        }
      }
    }
  }
  &.carousel-split {
    padding-bottom: 50px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
    .carousel-indicators {
      z-index: 900;
      @include media-breakpoint-up(lg) {
        right: auto;
        margin-left: 25%;
        transform: translateX(-25%);
      }
    }
    &.reverse {
      .carousel-indicators {
        @include media-breakpoint-up(lg) {
          right: 0;
          margin-left: 15%;
          left: auto;
          margin-right: 25%;
        }
      }
      
    }
  }
  &.carousel-two-column {
    padding-bottom: 50px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
  &.carousel-card {
    margin-left: -15px;
    margin-right: -15px;
    max-width: 100%;
    &.cards-3 {
      /* display 3 */
      @include media-breakpoint-up(md){  
        .carousel-inner {
          .carousel-item-right.active,
          .carousel-item-next {
            transform: translateX(33.333%);
          }

          .carousel-item-left.active, 
          .carousel-item-prev {
            transform: translateX(-33.333%);
          }
          .carousel-item-right,
          .carousel-item-left{ 
            transform: translateX(0);
          }
        }
      }
    }
    &.cards-2 {
      .carousel-inner {
        .carousel-item-right.active,
        .carousel-item-next {
          transform: translateX(50%);
        }

        .carousel-item-left.active, 
        .carousel-item-prev {
          transform: translateX(-50%);
        }
        .carousel-item-right,
        .carousel-item-left{ 
          transform: translateX(0);
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .carousel-inner .carousel-item > div {
          display: none;
      }
      .carousel-inner .carousel-item > div:first-child {
          display: block;
      }
    }
    
    .carousel-inner {
      .carousel-item.active,
      .carousel-item-next,
      .carousel-item-prev {
          display: flex;
      }
    }

    .carousel-control-prev {
      @include media-breakpoint-up(md) {
        left: -2%;
      }
      @include media-breakpoint-up(xl) {
        left: -5%;
      }
    }
    .carousel-control-next {
      @include media-breakpoint-up(md) {
        right: -2%;
      }
      @include media-breakpoint-up(xl) {
        right: -5%;
      }
    }
  }
}


