/* This section for ".laptop-container" just places the screen inside of the laptop. It could potentially be used outside of the insights_engine section. */
.laptop-container {
  width: 100%;
  position: relative;
  .laptop {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63.19%;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .screen {
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    width: 80.7%;
    height: 80%;
    left: 9.6%;
    top: 4.4%;
    object-fit: cover;
    object-position: left top;
  }
}

.cta-insights-engine {
  .col-asset {
    .laptop-container {
      width: 130%;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      @include media-breakpoint-up(lg) {
        position: absolute;
        width: 200%;
        bottom: -60px;
      }
      @include media-breakpoint-up(xl) {
        position: absolute;
        bottom: -60px;
        width: 165%;
      }
      @include media-breakpoint-up(xxl) {
        width: 135%;
      }
    }
    
  }
  .col-copy {
    @include media-breakpoint-up(xl) {
      min-height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}
