.split-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .row {
    min-height: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .col-copy {
    padding-right: 0;
    padding-left: 0;
    z-index: 100;
    // TODO: Need to refactor to keep left and right alignment for copy in split sections
    @include media-breakpoint-up(lg) {
      .content {
        max-width: 35vw;
      }
    }
    @include media-breakpoint-up(xl) {
      .content {
        max-width: 28vw;
        &.content-lg {
          max-width: 33vw;
        }
      }
    }
  }
  .col-asset {
    padding-right: 0;
    padding-left: 0;
    z-index: 100;
    .content {
      margin: 2rem 0;
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
  }

  //  Desktop
  @include media-breakpoint-up(lg) {
    width: 100vw;
    padding: 0;
    &.split-padded {
      padding: 3rem 0;
    }
    &.split-full {
      height: 100vh;
      max-height: 100vw;
    }
    &.split-square {
      max-height: 50vw;
    }
    .container {
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: calc(70vw);
      padding: 0;
      margin: auto;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      margin: auto;
      margin-right: 5vw;
    }
    .col-asset {
      .content {
        margin: 0;
        div {
          width: 100%;
        }
      }
    }
  }
}
