// Ticker settings
$column-width: 14rem;
$gutter-width: 1rem;

.ticker {
  display: flex;
  align-items: center;
  width: 100%;
  // @include animation(ticker, 12s, 0);
  .ticker-image {
    width: $column-width;
    margin: auto;
    margin-right: $gutter-width;
    padding: 20px;
  }
  @for $i from 1 through 20 {
    &.ticker-#{$i} {
      width: calc(#{$column-width + $gutter-width} * 2 * #{$i});
      @include animation(ticker, 4s * $i, 0, infinite);
    }
  }
}
