<form id="{{include.contact}}_form" name="{{include.contact}}_form" method="post" action="/thanks">
  <input type="text" name="_gotcha" style="display: none;">
  <input type="hidden" name="_to" value="{{input.contact}}@refed.com">
  <div class="form-group">
    <label class="sr">First Name</label>
    <input type="text" id="name" name="name" placeholder="Name" required>
    <label class="sr">Email</label>
    <input type="text" id="email" name="email" placeholder="Email" required>
    <label class="sr">Organization Name</label>
    <input type="text" id="organization" name="organization" placeholder="Organization Name">
    <label class="sr">Title</label>
    <input type="text" id="title" name="title" placeholder="Title / Position">
    <label for="comment" class="sr">Comments</label>
    <textarea name="comment" id="comment" rows="5" cols="1" placeholder="Comments"></textarea>
    <input type="submit" value="Submit" class="button">
  </div>
  <!-- <div class="g-recaptcha" data-sitekey="6LcQ8EUUAAAAAKJw_fxKO_qTYSYSAlYmgknHvY8O"></div> -->
</form>
<script>
  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
    var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  // Fetch the form element
  var formEl = document.getElementById("{{input.contact}}_form");

  // Override the submit event
  formEl.addEventListener("submit", function (e) {
    e.preventDefault();

    // if (grecaptcha) {
    //   var recaptchaResponse = grecaptcha.getResponse();
    //   if (!recaptchaResponse) { // reCAPTCHA not clicked yet
    //     return false;
    //   }
    // }

    var request = new XMLHttpRequest();

    request.addEventListener("load", function () {
      if (request.status === 302) { // CloudCannon redirects on success
        // It worked
        console.log("Thanks");
        alert("Thank you for your submission. We will be in touch shortly");
      }
    });

    request.open(formEl.method, formEl.action);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(getFormDataString(formEl));
  });
</script>