<form id="contact_form" class="profile" name="contact_form" method="post" action="/thanks">
  <input type="text" name="_gotcha" style="display: none;">
  <input type="hidden" name="_to" value="tom@ocupop.com">
  <div class="form-group">
    <label class="sr">First Name</label>
    <input type="text" id="name" name="name" placeholder="Name" required>
    <label class="sr">Email</label>
    <input type="text" id="email" name="email" placeholder="Email" required>
    <label class="sr">Organization Name</label>
    <input type="text" id="organization" name="organization" placeholder="Organization Name">
    <label class="sr">Title</label>
    <input type="text" id="title" name="title" placeholder="Title / Position">
    <label for="comment" class="sr">Comments</label>
    <textarea name="comment" id="comment" rows="5" cols="1" placeholder="Comments"></textarea>
    <input type="submit" value="Submit" class="button">
  </div>
  <!-- <div class="g-recaptcha" data-sitekey="6LcQ8EUUAAAAAKJw_fxKO_qTYSYSAlYmgknHvY8O"></div> -->
</form>