<form id="member_signup_form" class="profile" data-action="{{ include.action }}" name="signup_form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ancient-wave-20081.herokuapp.com/signup">
  <div class="hide">
    <label for="comment">Comments</label>
    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
  </div>
  <div class="form-group">
    <label class="sr">First Name</label>
    <input type="text" id="first_name" name="first_name" placeholder="First Name *" required>
    <label class="sr">Last Name</label>
    <input type="text" id="last_name" name="last_name" placeholder="Last Name *" required>
    <label class="sr">Email</label>
    <input type="text" id="email" name="email" placeholder="Email *" required>
    <label class="sr">Organization Name</label>
    <input type="text" id="organization" name="organization" placeholder="Organization Name *" required>
    <label class="sr">Title</label>
    <input type="text" id="title" name="title" placeholder="Title / Position *" required>
    <div class="select">
      <select id="stakeholders" name="stakeholders" required>
        {% for stakeholder in site.stakeholders %}
        <option value="{{ stakeholder.title }}" {% if forloop.first %}selected{% endif %}>{{ stakeholder.title }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Submit" class="button disabled">
    <p><em>Newsletter sign up includes subscription to ReFED's general newsletter as well as our quarterly Capital & Innovation newsletter.</em></p>
  </div>
</form>