<form id="member_update_form" class="profile" data-action="{{ include.action }}" autocomplete="off" method="post" action="https://ancient-wave-20081.herokuapp.com/update" novalidate>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="sr">First Name</label>
        <input type="text" id="confirm_first_name" name="confirm_first_name" placeholder="First Name *" required>
        <label class="sr">Last Name</label>
        <input type="text" id="confirm_last_name" name="confirm_last_name" placeholder="Last Name *" required>
        <label class="sr">Email</label>
        <input type="text" id="confirm_email" name="confirm_email" placeholder="Email *" required>
        <label class="sr">Organization Name</label>
        <input type="text" id="confirm_organization" name="confirm_organization" placeholder="Organization Name">
        <label class="sr">Zipcode</label>
        <input type="text" id="confirm_zip_code" name="confirm_zip_code" placeholder="Zip" class="zip">
        <input type="submit" value="Update" class="button">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="hide">
        <label for="comment">Comments</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      </div>
      <div class="select">
        <select id="confirm_stakeholders" name="confirm_stakeholders" multiple>
          {% for stakeholder in site.stakeholders %}
          <option value="{{ stakeholder.title }}">{{ stakeholder.title }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="select">
        <select id="confirm_solutions" name="confirm_solutions" multiple>
          {% for solution in site.solutions %}
          <option value="{{ solution.title }}">{{ solution.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</form>