#mainnav {
  height: 70px;
  line-height: 70px;
  background-color: $mainnav-background-color;
  border-bottom: 1px solid $gray-lighter;
  z-index: 1;
  pointer-events: none;
  nav {
    @include transition(0.5s);
    ul {
      margin: 0 120px 0 auto;
      li {
        height: 55px;
        line-height: 55px;
        a {
          display: inline-block;
          padding: 9px 0;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          color: $gray-light;
          pointer-events: all;
          &:hover {
            color: $text-color;
          }
        }
        &.active {
          a {
            color: darken($gray-light, 15%);
            cursor: default;
            &:hover {
              color: darken($gray-light, 15%);
            }
          }
        }
      }
      &.drawer {
        display: none;
      }
    }
  }
}

body.condensed-header {
  #mainnav {
    height: 50px;
    line-height: 50px;
    @include transition();
    ul {
      li {
        height: 35px;
        line-height: 35px;
        @include transition();
      }
    }
  }
}


// TODO - Refactor to be a part of the regular breakpoints
@media all and (max-width: 1024px) {
  #mainnav {
    .brand {
      left: 20px;
    }
    nav {
      ul {
        border: none; 
        li {
          margin: 0 0.5em;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media all and (max-width: $screen-xs-max) {
  #mainnav {

  }
}

@media all and (max-width: $screen-sm-max) {
  #mainnav {
    height: 50px;
    line-height: 50px;
    nav {
      display: block;
      position: fixed;
      width: 320px;
      height: calc(100% - 50px);
      top: 50px;
      left: auto;
      right: -340px;
      background-color: $gray;
      ul {
        display: block;
        padding: 30px 0;
        padding-left: 20px;
        li {
          line-height: 30px;
          height: auto;
          a {
            font-size: 16px;
            &:hover {
              color: $cream-lighter;
            }
          }
        }
      }
      ul.drawer {
        display: block;
        margin: 0;
        border-top: 1px solid lighten($gray, 15%);
        li {
          width: 100%;
          margin: 0;
          a {
            display: inline-block;
            padding: 0 15px;
            font-size: 15px;
            background: $gray;
            color: $cream-lighter;
          }
          ul {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  #mainnav {
    
  }
}