.statenav {
  padding: 10px 0;
  .statenav-message {
    h1,h2,h3,h4,h5 { margin: 0; }
    .content {
      float: right;
    }
  }
  .statenav-select {}
}

@media all and (max-width: $screen-xs-max) {
  .statenav {
  
  }
}

@media all and (max-width: $screen-sm-max) {
  .statenav {
    .statenav-message {
      .content {
        float: none;
        text-align: center;
      }
      h3 { font-size: 18px; }
    }
  }
}

@media all and (max-width: $screen-md-max) {
  .statenav {
    
  }
}