#subnav {
  a {
    display: block;
    background-color: $cream;
    text-align: center;
    color: $gray;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    height: 150px;
    overflow: hidden;
    small {
      font-size: 18px;
      font-weight: 200;
    }
    &:last-child {
      background-color: darken($cream, 5%);
    }
    &:hover {
      background-color: darken($cream, 10%);
    }
    i {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      height: 50px;
      width: 50px;
      margin-top: -25px;
      font-size: 50px;
      &.icon-next {
        left: auto;
        right: 0;
      }
    }
    .content {
      margin: auto;
    }
  }
  hr {
    width: 50%;
    border-top: 2px solid $gray;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}

.date-labels {
  #subnav {
    a {
      height: 210px;
    }
  }
}

@media all and (max-width: $screen-md-max) {
  #subnav {
    
  }
}

@media all and (max-width: $screen-sm-max) {
  #subnav {
    a {
      text-align: left;
      hr  {
        margin-left: 0;
        margin-right: auto;
      }
      i {
        display: none;
      }
      &:first-child {
        text-align: right;
        hr {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  #subnav {
    a {
      height: 120px;
      font-size: 15px;
      small {
        font-size: 13px;
      }
    }
    hr {
      width: auto;
    }
  }
}