#toolnav {
  background-color: $gray-dark;
  color: $gray-lighter;
  .menu {
    width: 100%;
    margin: 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px auto;
      li {
        display: inline-block;
        margin: auto 0;
        a, button {
          padding: 0 30px;
          font-size: 16px;
          color: $gray-lighter;
          text-transform: uppercase;
          white-space: nowrap;
          border: none;
          background-image: none;
          background-color: transparent;
          &:hover, &:focus, &:active {
            color: #fff;
          }
        }
        &.active {
          a {
            color: #fff;
            cursor: default;
          }
        }
        &.divider {
          height: 20px;
          border-right: 1px solid $gray;
        }
      }
      &.drawer {
        display: none;
      }
    }
    i {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-right: 5px;
      font-size: 14px;
    }
  }
  .menu-toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $cream-light;
    cursor: pointer;
    pointer-events: all;
    i {
      font-size: 20px;
      line-height: 50px;
      height: 50px;
    }
  }
}



@media all and (max-width: $screen-md-max) {
  #toolnav {
    
  }
}

@media all and (max-width: $screen-sm-max) {
  #toolnav {
    .container { width: 100%; }
    .menu {
      i {
        font-size: 20px;
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {

  .food-waste-policy-finder, .spotlight-on-date-labeling-regulations, .state-layout {
    #toolnav {
      .menu-toggle {
        display: block;
        top: -44px;
        background-color: $cream;
        padding: 0 5px;
        left: 0;
        i {
          line-height: 44px;
          height: 44px;
          color: $text-color;
        }
        &:hover {
          i {
            color: $cream-lighter;
          }
        }
      }
      .menu {
        width: 320px;
        position: fixed;
        right: -320px;
        top: 74px;
        height: 100%;
        background-color: $gray;
        @include transition(.5s);
        ul {
          display: block;
          padding: 30px 0 30px 20px;
          li {
            display: block;
            line-height: 30px;
            height: auto;
            margin: 0 .5em;
            padding: 9px 0;
            &.divider {
              display: none;
            }
            a {
              font-size: 16px;
              font-weight: 500;
              color: $gray-lighter;
              padding: 0;
              &:hover {
                color: #fff;
              }
            }
          }
        }
        ul.drawer {
          display: block;
          padding: 0;
          margin: 0;
          li {
            width: 100%;
            padding: 0;
            margin: 0;
            a, button {
              display: inline-block;
              height: auto;
              padding: 20px 10px;
              margin-bottom: 0;
              font-size: 15px;
              font-weight: 200;
              white-space: normal;
              line-height: 1.15em;
              color: $gray-dark;
              text-align: left;
              &.inverse {
                background-color: $gray-dark;
                color: $cream-lighter;
              }
            }
          }
        }
      }
    }
  }


  .innovator-layout, .innovator-database {
    #toolnav {
      .menu {
        li {
          a {
            span { display: none; }
          }
        }
      }
    }
  }

}