<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-lg-auto ">
      <h4 class="text-serif editable">
        The Latest News Straight to your Mailbox
      </h4>
      <h2 class="editable">
        Subscribe to our Mailing List
      </h2>
      <p class="lead editable">
        Sign up to receive updates from ReFED
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-lg-8 mx-lg-auto ">
      {% include forms/subscribe.html %}
    </div>
  </div>
</div>
