html,
body {
  height: 100%;
}
body {
  display:flex;
  flex-direction:column;
  color: $body-color;
  overflow-x: hidden;
}



.clearfix{
  &::before {
    display: block;
    content: "";
    clear: both;
  }
}

a{
  color:$blue;
}
.text-white a:not(.text-link):not(.card-link){
  color:$light-blue;
}
