---
layout: page
title: Content Hub
permalink: /content-hub

nextpage: false
prevpage: false
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h1>News &amp; Resources</h1>
        <ul class="nav nav-tabs tabs-right" role="tablist">
          <li role="presentation" class="active"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">Most Recent News</a></li>
          <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">ReFed Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="news">
    {% include_relative _partials/news.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="resources">
    {% include_relative _partials/resources.html %}
  </div>
</div>
