

.food-waste-solutions-overview{
    padding-bottom:0;
}

.food-waste-solutions-laptop{
    img{
    }
     @media screen and (max-width: $screen-md-min){

        .image-column{   
            order:inherit; 
            img{
                top: 0;  
                position: inherit;              
            } 
        }
        .copy-column{
            order:inherit;     
        }
     }
}

/* RESOURCES AND GUIDES  PAGE */