<div class="icons row mt-4">
  {% for category in site.stakeholder_categories %}
    {% for item in category.stakeholders %}
      {% assign stakeholder = site.stakeholders | where: 'slug', item.slug | first %}
      <div class="stakeholder_icon col-6 col-md-4 col-lg-2">
        <a href="{{ stakeholder.url }}" class="text-dark">
          <i class="icon icon-sm icon-{{stakeholder.uid}} mx-auto my-2"></i>
          <h5>{{ stakeholder.title }}</h5>
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</div>
