# Site settings
title: ReFED | Rethink Food Waste
email: info@refed.com
description: 'A data-driven guide for businesses, government, funders, and nonprofits to collectively reduce food waste at scale. Together, we can reduce U.S. food waste by 50% by 2030.'
baseurl: '' # the subpath of your site, e.g. /blog
# url: 'https://victorious-shoe.cloudvent.net'
# url: 'http://www.refed.com' # the base hostname & protocol for your site
permalink: pretty

# timezone: EST

twitter_url: https://twitter.com/refed
linkedin_url: https://www.linkedin.com/company/refed-rethink-food-waste/

insights_engine_url:  https://insights-engine.vercel.app
insights_engine_description: ReFED Insights Engine is an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. With more granular data, more extensive analysis, more customized views, and the ability to be updated regularly, we see this tool as laying the foundation for action around our 2030 national goal to reduce food waste by 50 percent.
insights_engine_api_baseurl: https://api.refed.com/v2

socialshare:
  featured_image: /img/socialshare.png
  twitter:
    username: "@refed"
    image: /img/socialshare.png

# Default Values
default_cta: Learn More
edit_cta: <i class="ri-edit-2-line"></i>



# Collections
collections:
  articles:
    output: true
    permalink: /articles/:title/
  press:
    output: false
    sort_by: date
  newsletters:
    output: false
  case_studies:
    output: true
  careers:
    output: false
  action_areas:
    output: true
    permalink: /action-areas/:title/
  stakeholders:
    output: true
    permalink: /stakeholders/:title/
  events:
    output: true
  downloads:
    output: true

defaults:
  -
    scope:
      type: 'articles'
    values:
      layout: article
      _options:
        featured_image:
          uploads_dir: "/uploads/articles"
  -
    scope:
      type: 'press'
    values:
      _options:
        featured_image:
          uploads_dir: "/uploads/press"
  -
    scope:
      type: 'newsletters'
    values:
      _options:
        featured_image:
          uploads_dir: "/uploads/newsletters"
  -
    scope:
      type: 'case_studies'
    values:
      layout: case_study
      _options:
        featured_image:
          uploads_dir: "/uploads/case-studies"
  -
    scope:
      type: 'action_areas'
    values:
      layout: action_area
      _options:
        featured_image:
          uploads_dir: "/uploads/action_areas"
  -
    scope:
      type: 'stakeholders'
    values:
      layout: stakeholder
      _options:
        featured_image:
          uploads_dir: "/uploads/stakeholders"
      _array_structures:
        opportunities:
          - label: Opportunity
            icon:
            value:
              label:
        solutions:
          - label: Solution
            icon: assignment
            value:
              slug:
              label:
              invesment_needed:
              investment_needed_summary:
              innovation_opportunities_html:
        causes:
          - label: Cause
            icon: assignment
            value:
              label:
        destinations:
          - label: Destination
            icon: assignment
            value:
              label:
  -
    scope:
      type: 'events'
    values:
      # layout:
      _options:
        featured_image:
          uploads_dir: "/uploads/events"
  -
    scope:
      type: 'downloads'
    values:
      layout: download
      _options:
        featured_image:
          uploads_dir: "/downloads"
        document:
          uploads_dir: "/downloads"

  -
    scope:
      type: 'newsletters'
    values:
      layout: article
      _options:
        featured_image:
          uploads_dir: "/uploads/newsletters"

      # variable_name: value
  # - scope:
  #     type: events
  #   values:
  #     date: "YYYY-MM-DD HH:MM:SS +/-TTTT"


# Build settings
safe: false
exclude: ['_partials']
sass:
  # style: compressed
  sass_dir: _scss

plugins:
  - jekyll-sitemap
  - jekyll-contentblocks

_array_structures:
  links:
    - label: Links
      icon: link
      value:
        label:
        url:
        alt:
        links:
        _stay_connected: false
  # Hero array for carousels
  hero:
    - label: Hero
      icon: panorama
      value:
        title:
        label:
        description_html:
        featured_image:
        links:

  solution_groups:
    - label: Solution Group
      icon: pie_chart
      value:
        label:
        summary:
        action_areas:
          optimize-the-harvest:
            opportunities:
            solutions:
          enhance-product-distribution:
            opportunities:
            solutions:
          refine-product-management:
            opportunities:
            solutions:
          maximize-product-utilization:
            opportunities:
            solutions:
          reshape-consumer-environments:
            opportunities:
            solutions:
          strengthen-food-rescue:
            opportunities:
            solutions:
          recycle-anything-remaining:
            opportunities:
            solutions:

  indicators:
    - label: Key indicator
      icon: insights
      value:
        label:
        slug:

  # End API array structures

  # sections:
  #   - label: Standard
  #     icon: article
  #     value:
  #       _type: single_column
  #       title:
  #       content_html:
  #   - label: Hero
  #     icon: panorama
  #     value:
  #       _type: hero
  #       title:
  #       label:
  #       content_html:
  #       image:
  #       links:


  # page_sections:
  #   - label: Single Column
  #     icon: article
  #     value:
  #       _type: single_column
  #       section_html:
  #   - label: Carousel Cards
  #     icon: web
  #     value:
  #       _type: carousel_card
  #       title:
  #       cards:
  #   - label: Testimonials
  #     icon: format_quote
  #     value:
  #       _type: testimonials
  #       background_image:
  #       testimonials:
  #   - label: Hero
  #     icon: panorama
  #     value:
  #       _type: hero
  #       title:
  #       subtitle:
  #       description_html:
  #       image:
  #       link:
  #       link_label:
  #       buttons:
  #         - link:
  #           link_label:
  #           button_type:
  #   - label: Call to action
  #     icon: call_to_action
  #     value:
  #       _type: cta
  #       description_html:
  #       link:
  #       link_label:
  #   - label: Two Column Carousel
  #     icon: view_carousel
  #     value:
  #       _type: carousel_two_column
  #       two_column_slide:
  #   - label: Logo Carousel
  #     icon: insert_photo
  #     value:
  #       _type: carousel_logos
  #       logo:
  testimonials:
    - label: Testimonial
      icon: format_quote
      value:
        title:
        description_html:
        cite:
  # logo_pile:
  #   - label: Logo Pile
  #     icon: view_module
  #     value:
  #       headline:
  #       text:
  #       logos:
  #         - link:
  #           alt_text:
  #           image:
  # split_section:
  #   - label: Split Section
  #     icon: vertical_split
  #     value:
  #       section_background_color: primary
  #       image_width: 25%
  #       image_alignment: right
  #       image_to_edge: false
  #       text_to_edge: false
  #       item:
  # cards:
  #   - label: Cards
  #     icon: view_column
  #     value:
  #       title:
  #       text:
  #       featured_image:
  #       link:
  #       link_label:
  # images:
  #   - label: Images
  #     icon: insert_photo
  #     value:
  #       image:
  #       title:
  # solution_types:
  #   - label: Solution Types
  #     icon: add_to_photos
  #     value:
  #       title:
  #       description:
  #       solutions:

  panelists:
    - label: Panelists
      icon: face
      value:
        name:
        featured_image:
        description_html:
        role:
        organization:

  # two_column_slide:
  #   - label: Two Column Slide
  #     icon: chrome_reader_mode
  #     value:
  #       featured_image:
  #       title:
  #       description_html:
  #       link:
  #       link_label:

  # logo:
  #   - label: Logo
  #     icon: insert_photo
  #     value:
  #       image:
  #       link:
  #       title:

  # document_sections:
  #   - label: Document sections
  #     icon: article
  #     value:
  #       title:
  #       description_html:
  #       documents:
  #         - document_label:
  #           document:
  #       videos:
  #         title:
  #         embed_url:

# Action Areas Taxonomy
action_area_categories:
  - label: Prevention
    uid: prevention
    areas:
      - label: Optimize The Harvest
        slug: optimize-the-harvest
        uid: optimize
        definition:
      - label: Enhance Product Distribution
        slug: enhance-product-distribution
        uid: enhance
        definition:
      - label: Refine Product Management
        slug: refine-product-management
        uid: refine
        definition:
      - label: Maximize Product Utilization
        slug: maximize-product-utilization
        uid: maximize
        definition:
      - label: Reshape Consumer Environments
        slug: reshape-consumer-environments
        uid: reshape
        definition:
  - label: Rescue
    uid: rescue
    areas:
      - label: Strengthen Food Rescue
        slug: strengthen-food-rescue
        uid: rescue
        definition:
  - label: Recycling
    uid: recycle
    areas:
      - label: Recycle Anything Remaining
        slug: recycle-anything-remaining
        uid: recycle
        definition:

# Stakeholder Taxonomy
stakeholder_categories:
  - label:
    uid:
    stakeholders:
      - label: Producers
        slug: producers
        uid: producers
      - label: Manufacturers
        slug: manufacturers
        uid: manufacturers
      - label: Retailers
        slug: retailers
        uid: retailers
      - label: Restaurants & Foodservice
        slug: restaurants-and-foodservice
        uid: foodservice
  - label:
    uid:
    stakeholders:
      - label: Policymakers
        slug: policymakers
        uid: policymakers
      - label: Capital Providers
        slug: capital-providers
        uid: capital-providers


#hard coded select fields
add_dividers:
  - left
  - right

themes:
  - lighter
  - light
  - mid
  - dark
  - darker

event_types:
  - in_person
  - webinar

button_types:
  - text
  - button

document_types:
  - featured
  - report
  - guide
  - series

bar_position:
  - left
  - right

section_background_color:
  - primary
  - secondary
  - success
  - info
  - warning
  - danger
  - light
  - mid
  - dark
  - white
  - black

image_alignment:
  - left
  - right

carousel_type:
  - card
  - hero
  - two-column
  - image
  - split

image_width:
  - 25%
  - 33%
  - 50%
  - 66%
  - 75%

_comments:


_options:
  layout:
    hidden: true
  uid:
    hidden: true
  content:
    format: p h1 h2 h3 h4 h5 h6 pre address div
    bold: true
    italic: true
    link: true
    numberedlist: true
    bulletedlist: true
    subscript: true
    superscript: true
    horizontalrule: true
    right: true
    left: true
    center: true
    image: true
    embed: true
  _block:
    format: p h1 h2 h3 h4 h5 h6 pre address div
    bold: true
    italic: true
    link: true
    numberedlist: true
    bulletedlist: true
    subscript: true
    superscript: true
    horizontalrule: true
    right: true
    left: true
    center: true
    image: true
    embed: true

placeholder_image: 'https://via.placeholder.com/1000'

