---
layout: page
title: Analysis
permalink: /analysis
slug: analysis
hero:
  image: header-peppers.jpg
  title: An economic analysis of food waste solutions
nextpage:
  url: /solutions
  title: Solutions
prevpage:
  url: /
  title: Food Waste
---

<section class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2 class="editable">A cost-effective approach to food waste</h2>
          <p class="editable">ReFED set out to understand the most cost-effective ways to reduce food waste and the resources needed to implement those solutions at scale.</p>
          <a href="/download#technical-appendix" class="muted"><em>Read more about ReFED's methodology &nbsp;&gt;</em></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h5>ReFED developed a core economic model to perform three analyses on the solutions:</h5>
          <ol>
            <li>
              <span>A total net societal “Economic Value” based on their cost-effectiveness per ton of waste</span>
            </li>
            <li>
              <span>The business profit potential that the private sector can earn by investing in each solution</span>
            </li>
            <li>
              <span>The non-financial impacts of each solution — meals saved, greenhouse gases reduced, jobs created, water conserved</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/charts/chart_cost_curve.html %}

<section id="the-impact" class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>If implemented, these solutions could generate:</h2>
          <ul id="returns" class="grid">
            <li>
              <img src="/img/icons/impact/economic-value-per-ton.svg" class="img-responsive">
              <h4>
                $10 billion<br>
                <small>of economic value</small>
              </h4>
              <hr>
              <a href="/solutions?sort=economic-value-per-ton#cards">View the top financial solutions &nbsp;&gt;</a>
            </li>

            <li>
              <img src="/img/icons/impact/meals-recovered.svg" class="img-responsive">
              <h4>
                1.8 billion<br>
                <small>meals saved</small>
              </h4>
              <hr>
              <a href="/solutions?sort=meals-recovered#cards">View the top meal saving solutions &nbsp;&gt;</a>
            </li>

            <li>
              <img src="/img/icons/impact/water-conservation.svg" class="img-responsive">
              <h4>
                1.6 Trillion gallons<br>
                <small>water saved annually</small>
              </h4>
              <hr>
              <a href="/solutions?sort=water-conservation#cards">View the top water saving solutions &nbsp;&gt;</a>
            </li>

            <li>
              <img src="/img/icons/impact/consumer-savings.svg" class="img-responsive">
              <h4>
                $5.6 billion<br>
                <small>annual consumer savings</small>
              </h4>
              <hr>
              <a href="/stakeholders/consumers">View the top consumer savings solutions &nbsp;&gt;</a>
            </li>

            <li>
              <img src="/img/icons/impact/profit-potential.svg" class="img-responsive">
              <h4>
                $1.9 billion<br>
                <small>annual business profit potential</small>
              </h4>
              <hr>
              <a href="#profit-potential">View the top business profit potential solutions &nbsp;&gt;</a>
            </li>

            <li>
              <img src="/img/icons/impact/emissions-reduced.svg" class="img-responsive">
              <h4>
                18 million<br>
                <small>tons of GHG emissions reduced annually</small>
              </h4>
              <hr>
              <a href="/solutions?sort=emissions-reduced#cards">View the top emission reducing solutions &nbsp;&gt;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/charts/chart_reduction_donut_02.html %}

{% include components/supplyChain.html %}

<section id="profit-potential">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="content">
          {% include components/charts/chart_profit_curve.html %}
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="content">
          <h2>Profiting From Food Waste Solutions</h2>
          <p>Eleven of the solutions represent $1.9 billion in business profit potential. Nine are geared toward prevention and two toward recycling. They all create revenue and cost savings opportunities that can be captured by the businesses that implement them.</p>
          <hr>
          <p>Restaurants and foodservice facilities have the largest profit opportunity.</p>
          <a class="button-stakeholder restaurants" href="/stakeholders/restaurants-and-foodservice-providers" title="Restaurants and Foodservice Providers">
            <i class="icon-restaurants-and-foodservice-providers"></i>Restaurants &amp; Foodservice Providers &nbsp;&gt;
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="top-solutions" class="alt-bg">
  <header class="section-header">
    <div class="container">
      <h2>Top Solutions and Benefits</h2>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          {% include tabs.html %}
          {% include components/solutionCards.html limit=3 %}
        </div>
      </div>
    </div>
  </div>
</section>
