---
layout: default
title: Case Studies
hero:
  - title: Featured Organizations
    image: /img/case_studies/featuredorganizations_casestudy_header_image.jpg
featured_case_studies:
  - crown-family-philanthropies copy 3
  - crown-family-philanthropies
  - crown-family-philanthropies copy 4
featured_case_study:
cta:
  description_html: >-
    From innovation accelerators to capital campaigns to convening leadership,
    learn about the impact we’ve brought to the food system and the work we are
    doing today.
  link: /our-impact
  link_label: See our impact
  section_background_color:
  colorbar:
    color: '#e65e4a'
    bar_position:
      - right
---

{% include sections/carousels/carousel_hero.html items=page.hero %}

{% include sections/carousels/carousel_split.html 
  id='case-studies'
  preheader='Impact Stories'
  items=site.case_studies 
  section_background_color='white' 
  image_width='50%' 
  image_alignment='right' 
  image_to_edge=true 
  text_to_edge=true 
  theme='light'
  button_type='text'
  section_class='p-0 mt-5' 
%}

<!-- This section needs work -->

<section class="list-with-filter">
  <div class="container"> 
    <div class="row mb-5">
      <div class="col">
        <label for="view-filter" class="preheader align-middle d-inline-block mr-3">
          View:
        </label>
        <select class="form-control d-inline w-auto" id="jumpmenu" name="jumpmenu" onChange="self.location=this.options[this.selectedIndex].value">
          <option value='#'>All</option>
          <option value='#invenstment-tracker'>Webinars</option>
          <option value='#'>Other</option>
          <option value='#'>These options will</option>
          <option value='#'>filter the results</option>
          <option value='#'>listed below</option>
        </select>
 
      </div>  
    </div>

    {% include sections/carousels/carousel_cards.html items=site.case_studies %}

  </div>
</section>










   
{% include sections/cta.html cta=page.cta %}