---
layout: default
hero:
---

{% include sections/carousels/carousel_hero.html items=page.hero %}

<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <img src="{{ site.placeholder_image }}" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-lg-8">
            <h2 class="h3 font-serif editable">General Inquiry</h2>
            <div class="editable">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <a href="#" class="text-link">Ask Us</a>
            
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <img src="{{ site.placeholder_image }}" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-lg-8">
            <h2 class="h3 font-serif editable">Media Inquiry</h2>
            <div class="editable">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <a href="#" class="text-link">Ask Us</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="general-inquiry">
    <div class="container mb-3">
      <div class="row mb-4">
        <div class="col-md-12 ">
          <h2>General Inquiry</h2>                
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-lg-auto">
          {% include modules/form-contact.html %}
        </div>
      </div>
    </div>
</section>


