---
layout: default
title: Data & Insights
_assets:
  - image:
hero:
  - title: Data & Insights
    subtitle: Our Work
    description_html:
    image: /img/data_and_insights/dataandinsights_header_image.jpg
    link:
    link_text:
    buttons:
      - link:
        link_label:
        button_type:
tools_and_guides:
  cards:
    - title: Tool Title Here
      text: >-
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
        Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
        sodales ligula in libero. Sed dignissim lacinia nunc.
      featured_image: 'https://via.placeholder.com/615x500'
      link: 'https://www.google.com/'
      link_label: Download
    - title: Guide Title Here
      text: >-
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
      featured_image: 'https://via.placeholder.com/1000x500'
      link: 'https://www.google.com/'
      link_label: Download
    - title: Tool Title Here
      text: >-
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
        Vestibulum lacinia arcu eget nulla. Class aptent taciti
      featured_image: 'https://via.placeholder.com/500x700'
      link: 'https://www.google.com/'
      link_label: Download
    - title: Another Tool Here
      text: >-
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
        Vestibulum lacinia arcu eget nulla. Class aptent taciti
      featured_image: 'https://via.placeholder.com/500x500'
      link: 'https://www.google.com/'
      link_label: Download
cta_resources_and_guides:
  description_html: >-
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quod hic sed deserunt soluta? Obcaecati inventore expedita</p>
  link: /resources-and-guides
  link_label: Explore Resources & Guides
  section_background_color: 'primary'
  colorbar:
    color: 
    bar_position:  
cta_insights_engine:
testimonials:
  - text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
      Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at
      nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
      tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
      nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim
      lacinia nunc.
      author: John Doe
    cite: 'Head of somecompany, Some other Info'
    image: 'https://via.placeholder.com/410x410'
    section_background_color:
      - white
    image_alignment:
      - left
cta_buttons:
  - link: /our-work
    link_label: Learn about Our Work
  - link: /data-and-insights
    link_label: Data & Insights
  - link: /capital-and-innovation  
    link_label: See Capital & Innovation
---

{% include sections/carousels/carousel_hero.html items=page.hero %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          <p>In the U.S. we spend $218 billion a year growing, processing, transporting, and disposing of food that is never eaten. However, one of the key challenges in the field is lack of data both on the problem itself and on the most effective solutions. ReFED’s Data and Insights team uses economics and data to generate actionable solutions to reduce the amount of food that goes uneaten.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-neutral-200">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="preheader editable">Overview</h2>
        <div class="editable">
          <p>Starting with the 2016 Roadmap to Reduce U.S. Food Waste by 20 Percent, ReFED has developed a trusted history of producing first-of-their-kind tools and resources that provide a full-supply-chain picture of U.S. food waste, cost-effective solutions to the problem, credible data and accessible methods to track progress. While that initial report was an extremely successful start, the field is ever evolving and we need the data to catalyze and enable that growth.</p>
          <p>As such, we’ve developed the ReFED Insights Engine, an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. This interactive platform combines over 50 public and proprietary datasets, and subject matter expertise from our Expert Network, a group of over 75 food system professionals who span across the private and public sectors.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}
  carousel_split.html is currently not working properly. 
  It is not passing include variables to the child, 
  resulting in the defaults being used instead.
{% endcomment %}

{% include sections/carousels/carousel_split.html 
  items=site.case_studies 
  theme='light'
  section_background_color='white' 
  image_width='50%' 
  image_alignment='left' 
  image_to_edge=true 
  text_to_edge=true 
  section_class='p-0' 
%}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="preheader editable">Headline</h2>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo perferendis tempora laborum eveniet! Officiis delectus quisquam quibusdam soluta vitae odit? Exercitationem consectetur sed iusto! Amet aut tenetur suscipit enim magnam!</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo perferendis tempora laborum eveniet! Officiis delectus quisquam quibusdam soluta vitae odit? Exercitationem consectetur sed iusto! Amet aut tenetur suscipit enim magnam!</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-image aspect-4x3 bg-dark"></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="preheader editable">New &amp; Noteworthy Tools</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include sections/carousels/carousel_cards.html items=page.tools_and_guides.cards %}
      </div>
    </div>
  </div>
</section>
{% include sections/cta.html cta=page.cta_resources_and_guides %}
{% include sections/cta_insights_engine.html %}
{% for testimonial in page.testimonials %}
  {% assign id = forloop.index | prepend:'testimonial-' %}
  {% include sections/testimonial.html testimonial=testimonial id=id %}
{% endfor %}
<section class="bg-neutral-200">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center preheader editable">Explore other areas of the ReFED organization</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include sections/cta_buttons.html items=page.cta_buttons %}
      </div>
    </div>
  </div>
</section>