---
layout: default
title: Documents
document_sections:
  - title: Annual Reports
    description_html: >-
      <p>Read our latest annual report to learn more about our achievements, our
      priorities, and our targets to drive a 50 percent reduction in the amount
      of wasted food in the United States by the year 2030.</p>
    documents:
      - document_label: Download the 2019 Annual Report
        document:
      - document_label: Download the 2018 Annual Report
        document:
    videos:
      title: ReFED Mission Video
      embed_url: 'https://www.youtube.com/embed/jMmmcDVzmo8'
  - title: Financials
    description_html: >-
      <p>Access our current and historical financial documents, including our
      IRS Form 990:</p>
    documents:
      - document_label: Download 2019 Financials
        document:
      - document_label: Download 2018 Financials
        document:
    videos:
      title:
      embed_url:
  - title: Brand Guidelines
    description_html: >-
      <p>Download our brand guidelines to get an outlook of our distinctive
      identity, visual assets and related rules, meant to direct proper and
      consistent usage of our brand across all media.</p>
    documents:
      - document_label: Download Brand Guidelines
        document:
      - document_label: Download Logos
        document:
    videos:
      title:
      embed_url:
---

<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="editable">Annual Report and Financials</h1>
        <p class="lead editable">ReFED, Inc. is a 501c (3) tax-exempt non-profit organization that is committed to operating with transparency and accountability, by sharing our financials and the meaningful milestones we’ve made over the course of the years to promote and catalyze focused action towards reducing the amount of food that goes uneaten.</p>
      </div>
    </div>
  </div>
</section>

{% for section in page.document_sections %}
<section class="{% cycle '', 'bg-lighter' %}" id="{{ section.title | slugify }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>{{ section.title }}</h3>
        {% if section.description_html %}
          {{ section.description_html }}
        {% endif %}
        {% for document in section.documents %}
          <a href="{{ document.document }}" class="btn btn-blue">{{ document.label | default: 'View Document '}}</a>
        {% endfor %}
        {% if section.videos.first.embed_url  %}
          {% for video in section.videos %}
            {{ video.embed_url }}
            <div class="video-responsive mt-5">
              <iframe width="560" height="315" src="{{ video.embed_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endfor %}
