---
layout: default
title: Ways to Engage with ReFED
hero:
  - title: Join the Mission to End Food Waste
    subtitle: 
    description_html:
    image: /img/engage/engage_header_image.jpg
    link:
    link_text:
    buttons:
      - link:
        link_label:
        button_type:
        


wireframes-categories:
  - cat-1: Category A
  - cat-2: Category B
  - cat-3: Category C
  - cat-4: Category D
wireframes-partner:
  - name: "Partner Name #1"
    image: https://picsum.photos/id/112/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-4
  - name: "Partner Name #2"
    image: https://picsum.photos/id/106/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-1
    - cat-2
    - cat-4
  - name: "Partner Name #3"
    image: https://picsum.photos/id/107/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-2
    - cat-3
  - name: "Partner Name #4"
    image: https://picsum.photos/id/108/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-1
    - cat-4
  - name: "Partner Name #5"
    image: https://picsum.photos/id/109/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-1
    - cat-2
    - cat-4
  - name: "Partner Name #6"
    image: https://picsum.photos/id/110/1000/333
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreheorum.
    categories:
    - cat-4
    - cat-3



cta: 
  description_html: To learn how you can support our mission, please contact us via email.
  link: /contact
  link_label: Contact Us
  colorbar:
    color: "#e65e4a"
    bar_position: left
---

{% include sections/carousels/carousel_hero.html items=page.hero %}

<div class="text-danger text-center">This section below needs to be redone. Waiting for Jon's refactored code for circle icons</div>
<section>
  <div class="container">

    




    <div class="row circle-icon-list circle-icon-list--small-list p-0 w-100">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-auto">
            <img src="/img/icons/action_areas/actionarea_harvesteverythinggrown.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
          </div>
          <div class="col">
            <h3 class="font-serif">Call for Funders</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            <a href="#call-for-funders" class="mt-3 btn btn-secondary">Learn More</a>
          </div>
        </div> 

      </div> 

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-auto">
            <img src="/img/icons/action_areas/actionarea_harvesteverythinggrown.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
          </div>
          <div class="col">
            <h3 class="font-serif">Collaborate with us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            <a href="#call-for-funders" class="mt-3 btn btn-secondary">Learn More</a>
          </div>
        </div> 

      </div> 


      <li class="d-md-flex col-md-6">
        <div class="circle-icon circle-icon-smallest rounded-circle bg-blue-green"></div>
        <div class="description col">
          <p class="preheader">Partner with us</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
          <a href="#partner-with-us" class="text-link">Learn More</a>
        </div>
      </li>
      <li class="d-md-flex col-md-6">
        <div class="circle-icon circle-icon-smallest rounded-circle bg-info"></div>
        <div class="description col">
          <p class="preheader">Field of influence</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
          <a href="#field-of-influence" class="text-link">Learn More</a>
        </div>
      </li>
    </div>
  </div>
</section>


<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable">What Can I Do To Solve Food Waste?</h2>
      </div>
    </div>
    {% include solutions/solutions-grid.html %}
    <hr class="border-white" />
    <div class="row mt-5">
      <div class="col-lg-6">
        <p class="lead">Find out how to engage with ReFED no matter what field you are in.</p>
      </div>
      <div class="col-lg-6">
        <div class="text-lg-right">
          <a href="#" class="btn btn-lg btn-success">Find out more ways to engage</a>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="text-danger text-center">This header below needs to be redone. Waiting for Jon's refactored code for circle icons</div>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="circle-icon circle-icon-small rounded-circle bg-primary-400 m-0">
          <img class="w-100 d-block" src="/img/icons/stakeholder_engagement/stakeholderengagement_partnerships.svg">
        </div>
      </div>
      <div class="col-10">
        <h2 class="editable">Call For Funders</h2>        
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.</p>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div> 
    
    {% for i in (1..2) %}
      <div class="row align-items-center mb-4">
        <div class="col-lg-3">
          <div class="bg-image aspect-16x9 bg-dark"></div>
        </div>
        <div class="col-lg-9">
          <h4>The ReFED COVID-19 Food Waste Solutions Fund</h4>
          <h6>MONTH XX, 20XX</h6>
          <div  class="card-text border-top border-color-mid pt-3 mt-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magni tempora ex corporis distinctio dolorum numquam maxime itaque quidem. Asperiores vitae repudiandae rem aliquam ex dolor veritatis ratione iure voluptatum! </p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div> 
</section>



<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="font-serif font-weight-normal">Help Us Drive Solution Adoption</h2>
        <p>ReFED estimates that $18 billion in investment is needed to implement food waste reduction solutions, but that would unlock $100 billion of net societal economic value – including meals recovered, resources conserved, business profits, jobs created, and more.</p>
        <img class="mt-4 w-100 img-fluid" src="https://via.placeholder.com/1300x600" alt="Alt Tag...">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row d-flex align-items-center">    
      <div class="col-md-12">
        <h2>Help Us Find Solutions</h2>
        <p class="mb-5">ReFED estimates that $18 billion in investment is needed to implement food waste reduction solutions, but that would unlock $100 billion of net societal economic value – including meals recovered, resources conserved, business profits, jobs created, and more.</p>
        <img class="w-100 img-fluid" src="https://via.placeholder.com/1290x675" alt="Alt Tag...">
      </div>      
    </div>    
  </div>
</section>

<section>
  <div class="container">
    <div class="carousel-refed carousel-two-column dots-left">
      {% for num in (1..4) %}
      <div class="w-100">
        <div class="container">
          <div class="row">  
            <div class="col-md-6 py-5">
              <div class="preheader">Funder Impact Stories</div>
              <h2 class="editable">Crown Family Philanthropies</h2>
              <p class="editable">[Why we became a funder, including help with strategic direction of funding food waste] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
              <a href="#" class="card-link">Learn More</a>
            </div>    
            <div class="col-md-6">
              <img class="d-block w-100" src="https://via.placeholder.com/615x450" alt="Alt Tag...">
            </div> 
          </div> <!-- END .row -->     
        </div><!-- END .container -->   
      </div><!-- END .w-100 -->   
      {% endfor %}
    </div>    
  </div>  
</section>

{% include sections/cta.html cta=page.cta %}

<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Partner with us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
      </div>
    </div>
  </div>  
</section>

<section class="list-with-filter">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <!-- Default dropup button -->
        <div class="btn-group dropdown mb-4 filter-case-studies">
          <label class="preheader mr-3" for="filter">View: </label>
          <button type="button" name="filter" class="dropdown-select preheader dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View:
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-value="all">All</a>
            {% for cat_arr in page.wireframes-categories %}  
              {% for cat in cat_arr %}            
                <a class="dropdown-item" href="#" data-value="{{ cat[0] }}">{{ cat[1] }}</a>
              {% endfor %} 
            {% endfor %} 
          </div>
        </div>
      </div>
    </div> 
    <div class="row">  
      <div class="col-12 carousel-refed filterable-list">   
      {% for partner in page.wireframes-partner %}     
        <div class="filterable-list-item card solution-{{ forloop.index }} col-md-4 {% for cat in partner.categories %}{{ cat }} {% endfor %}" >
          <div class="card-img-top bg-image aspect-2x1" style="background-image:url({{ partner.image }})" ></div>
          <div class="card-body">
            <h3 class="card-title">{{ partner.name }}</h3>
            <ul class="categories list-group list-group-horizontal">
              {% for cat in partner.categories %}  
                {% for cat_arr in page.wireframes-categories %}{% for cat2 in cat_arr %} 
                  {% if cat2[0] == cat %}
                    <li class="p-0 pr-2 list-group-item border-0"><span class="badge badge-secondary badge-pill font-weight-light case-study-filter" data-filter='{{ cat2[0] }}'>{{ cat2[1] }}</span></li>
                  {% endif %}
                {% endfor %}{% endfor %} 
              {% endfor %} 
            </ul>
            <div class="card-text">{{ partner.description }}</div>
          </div>
        </div>       
      {% endfor %} 
      </div>    
    </div>
  </div>
</section>










<section class="innovator-database">
    <a name="innovator-database"></a>
    <div class="container">
        <h2 class="preheader">Innovator Database</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
        <a href="#" class="btn btn-primary">Explore Innovation Database</a>

        <ul class="circle-icon-list circle-icon-list--large-list p-0">
        <!-- repeat this one. Remove the other ones. background color and icon will be dynamic -->
        <li class="d-md-flex">
            <div class="circle-icon circle-icon-large rounded-circle bg-primary mb-5 mb-md-0"></div>
            <div class="description col">
                <h2>Innovator List</h2>
                <p class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lmagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <a href="#" class="text-link">Learn More</a>
            </div>
        </li>
        <!-- end repeat comment -->
        <li class="d-md-flex ">
            <div class="circle-icon circle-icon-large rounded-circle bg-secondary mb-5 mb-md-0"></div>
            <div class="description col">
                <h2>Innovator Map</h2>
                <p class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
                <a href="#" class="text-link">Learn More</a>
            </div>
        </li>
        <li class="d-md-flex">
            <div class="circle-icon circle-icon-large rounded-circle bg-success mb-5 mb-md-0"></div>
            <div class="description col">
                <h2>Innovator Analysis</h2>
                <p class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                <a href="#" class="text-link">Learn More</a>
            </div>
        </li>
       </ul>
    </div>  
</section>



<!-- this module is repeated on the our-team.html page -->
<section class="expert-network">
    <a name="expert-network"></a>
    <div class="container">
        <div class="row">
            <div class="col-12 pb-5">
                <div class="preheader pb-3">Expert Network</div>
                <p>The ReFED Expert Network is a group of more than 50 experts who share their knowledge and time on key projects at ReFED, as well as connect with, teach, and learn from their Expert Network peers. Experts bring perspectives from all parts of the food system and a diverse set of backgrounds. Together, they are influencing and strengthening impactful food waste-reducing work in pursuit of our shared goal: a 50% reduction in food waste by the year 2030.</p>
                <a href="#" class="btn btn-secondary">Become or Nominate a Participant</a>  
            </div>
        </div>

        <div class="row pt-5">

            {% for num in (1..45) %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <h5 class="mb-0">Name Goes Here</h5>
                    <p class=" gray">Title, Organization</p>                              
                </div>
            {% endfor %}
                
        </div>
    </div>
</section>




{% include sections/cta.html cta=page.cta %}





<section class="collaborate-with-us bg-primary text-white">
    <a name="collaborate-with-us"></a>
    <div class="container">
        <h2>Collaborate With Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
    </div>  
</section>




<section class="case-studies">
  <a name="case-studies"></a>
  <div class="container">
    <div class="carousel-refed-dots carousel-two-column dots-left">
          
        {% for num in (1..4) %}
        <div class="w-100">
          <div class="container">
            <div class="row">  

                <div class="col-md-6 py-5">
                    <div class="preheader">Case Studies</div>
                    <h2 class="editable">Case Study Name</h2>
                    <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </p>
                    <a href="#" class="card-link">Learn More</a>
                </div>    
                <div class="col-md-6">
                    <img class="d-block w-100" src="https://via.placeholder.com/615x450" alt="Alt Tag...">
                </div> 

            </div> <!-- END .row -->     
          </div><!-- END .container -->   
        </div><!-- END .w-100 -->   
        {% endfor %}
       
    </div>    
  </div>  
</section>



{% include sections/cta.html cta=page.cta %}






<section class="from-the-newsroom bg-primary text-white">
    <a name="from-the-newsroom"></a>   
     <div class="container pt-5 text-white">
    <div class="row mb-4">     
      <div class="col-12 text-center container-less-wide mb-4 mx-auto">
        <h2 class="mb-3">From the Newsroom</h2>
        <p>ReFED has identified over 40 of the best opportunities to reduce food waste through a detailed economic analysis, which can be explored in the ReFED Insights Engine.</p>
      </div>
    </div>
    
    <div class="row">  
      <div class="col-12 carousel-refed">   
      {% for num in (1..8) %}
        
        <div class="card solution-{{ forloop.index }} col-md-4" >
          <img class="card-img-top" src="https://via.placeholder.com/420x280" alt="Alt Tag..." />
          <div class="card-body">
            <h3 class="card-title">Top 10 Solutions for entrepreneurs</h3>
            <div class="card-text">“As I finish my tenure as Founding Board Chair, I wanted to express my deepest gratitude for all that you have done and continue to do to accelerate solutions to food waste.”</div>
            <a href="#" class="card-link mt-4 d-inline-block">Read More</a>
          </div>
        </div>
       
      {% endfor %} 
      </div>    
    </div>

  </div>

</section>


  
{% include sections/cta.html cta=page.cta %}

