---
layout: default
title: We Can Reduce Waste by 50%
hero:
  - title: In the US, approximately 40% of all food goes uneaten.
    subtitle:
    description_html:
    image: /img/food_waste_challenge/food_waste_challenge_header_image.png
    link:
    link_text:
    buttons:
      - link:
        link_label:
        button_type:

split_section_good_news:
  type: custom
  subtitle: The good news?
  title: Food waste is a solvable problem – and we know how to do it.
  summary: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  featured_image: /img/food_waste_challenge/foodwaste_image_01.jpg
  link_label: 'See Solutions'
  url: /food-waste-solutions

split_section_what_is_food_waste:
  type: custom
  subtitle: What is Food Waste?
  title:
  summary: >-
    <p>Various organizations define food loss and waste in different ways. ReFED has adopted the U.S. Department
      of Agriculture definition of “food waste,” which refers to wasted food that happens anywhere along the supply
      chain and includes all types of food loss and waste as defined by other leading institutions.</p>
    <p> Food waste is a subset of organic waste, which includes anything biodegradable that comes from plants or
      animals, such as yard trimmings and manure. Food waste includes unavoidable scraps, such as bones and rinds
      that retain beneficial value for reuse. It does not include waste from crop varieties specifically grown for
      fuel, animal feed, or other commercial uses.</p>
  featured_image: /img/food_waste_challenge/foodwaste_image_02.jpg

split_section_what_is_the_impact:
  type: custom
  subtitle: What is the Impact of Food Waste?
  title:
  summary: When you consider what it takes to grow, transport, cool, cook, and serve food, the impacts of wasting food are truly staggering. If all of our country’s uneaten food was grown in one place, this “mega-farm” would cover roughly 80 million acres, over three-quarters of the entire state of California – all for food that is never eaten.
  featured_image: https://via.placeholder.com/650x650

split_section_policy_overview:
  type: custom
  title: Policy Overview
  summary: Public policy at the federal, state, and municipal levels can offer opportunities to accelerate large-scale food waste reduction. The Food Waste Policy Finder – developed by ReFED and the Harvard Law School Food Law and Policy Clinic to provide an overview of current federal and state policies related to food waste – depicts the existing policy landscape, while highlighting best-practice legislation in order to inform the continued development and implementation of sound food waste policy.
  featured_image: /img/food_waste_challenge/foodwaste_policyoverview_image.jpg
  link_label: View Policy Tracker
  url: '#'

barriers_to_solutions_implementation:
  - title: Misalignment of Costs and Benefits
    description_html: There is limited reason for businesses to implement a new technology or process if another part of the supply chain receives the benefit.
  - title: Lack Of Social License
    description_html : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Information Gaps
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Organizational Silo
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Liability Concerns
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Fragmented Regulation
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Handling, Transportation, And Storage
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Financial Viability
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Cost Of Disposal
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Material Supply Assurance
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: High Transportation And Logistics Costs
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Access To Financing
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Packaging And Contamination
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: Permitting And Siting
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - title: End-market Development
    description_html: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

cta_insights_engine:
  subtitle: Our Newest Solution
  title: ReFED Insights Engine
  description_html: <p>ReFED Insights Engine is an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. With more granular data, more extensive analysis, more customized views, and the ability to be updated regularly, we see this tool as laying the foundation for action around our 2030 national goal to reduce food waste by 50 percent.</p>
  link: 'https://www.insights-engine-fpo.com/'
  link_label: Launch ReFED Insights Engine
  laptop_screen_image: /img/laptop-screen-fpo.jpg

cta:
  description_html: ReFED offers a range of solutions for organizations to advance their own food waste initiatives. Our interactive tools, reports and strategic solutions can help your team get started.
  link: /food-waste-solutions
  link_label: See Our Solutions
  colorbar:
    color: '#e65e4a'
    bar_position:
      - right

_assets:
- image: /img/food_waste_challenge/foodwaste_causes_image_01.jpg
- image: /img/food_waste_challenge/foodwaste_causes_image_02.jpg
- image: /img/food_waste_challenge/foodwaste_causes_image_03.jpg
- image: /img/food_waste_challenge/foodwaste_causes_image_04.jpg
- image: /img/food_waste_challenge/foodwaste_causes_image_05.jpg

_sticky_nav:
  - link: '#what-is-food-waste'
    link_label: 'What is food waste?'
  - link: '#impacts'
    link_label: 'What is the impact?'
  - link: '#where-does-food-waste-occur'
    link_label: 'Where does food waste occur?'
  - link: '#which-foods-get-wasted'
    link_label: 'Which foods get wasted?'
  - link: '#what-causes-food-waste'
    link_label: 'What causes food waste?'
---

{% include sections/carousels/carousel_hero.html items=page.hero %}

<section>
  <div class="container" id="overview">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img src="https://via.placeholder.com/375x375" class="img-fluid mb-3" alt="" />
      </div>
      <div class="col-lg-8">
        <div>
          <p class="editable lead">Each year, XX million tons of food never get eaten in the U.S. In fact, food is the number one product entering landfills today.</p>
          <div class="editable">
            <p>Not only is that a huge waste of nutrition with enormous resource and climate impacts, it’s also an urgent global issue. The United Nations, European Parliament, U.S. Government, and global business coalitions such as the Consumer Goods Forum have all set goals to cut food waste in half by 2025 or 2030.</p>
          </div>
      </div>
    </div>
  </div>
</section>

{% include sections/split_section.html
  id='good-news'
  section_background_color='primary'
  image_width='33%'
  image_alignment='right'
  image_to_edge=true
  text_to_edge=true
  button_class='btn-recycle'
  section_class='py-0'
  item=page.split_section_good_news
%}

{% include modules/sticky_nav.html navigation=page._sticky_nav header="Explore this issue" %}

{% include sections/split_section.html
  id='what-is-food-waste'
  section_background_color='light'
  image_width='33%'
  image_alignment='left'
  image_to_edge=true
  text_to_edge=true
  section_class='py-0'
  item=page.split_section_what_is_food_waste
%}

{% include sections/split_section.html
  id='impacts'
  section_background_color='white'
  image_width='33%'
  image_alignment='right'
  image_to_edge=false
  text_to_edge=false
  section_class='pb-0'
  item=page.split_section_what_is_the_impact
%}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_workenvironment.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <h3 class="editable">Climate and Resources</h3>
        <p class="editable">The Data and insights team uses economics and data to generate actionalble solutions to reduce the amount of food that goes uneaten.</p>
        <h3 class="editable my-5">Food Waste Consumes:</h3>
        <div class="row">
          <div class="col-sm-6 col-lg-4 text-blue mb-4 mb-lg-5">
            <div class="row">
              <div class="col-auto">
                <div class="rounded-circle bg-blue m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col font-weight-bold pl-0">
                <div class="stat-number font-weight-light">21%</div> of all Fresh Water
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-orange mb-4 mb-lg-5">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="rounded-circle bg-orange m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col font-weight-bold pl-0">
                <div class="stat-number font-weight-light">19%</div> of all Fertilizer
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 text-teal mb-4 mb-lg-5">
            <div class="row">
              <div class="col-auto">
                <div class="rounded-circle bg-teal m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col font-weight-bold pl-0">
                <div class="stat-number font-weight-light">18%</div> of all Cropland
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-indigo mb-4 mb-lg-5">
            <div class="row">
              <div class="col-auto">
                <div class="rounded-circle bg-indigo m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col stat font-weight-bold pl-0">
                <div class="stat-number font-weight-light">21%</div> of Landfill Volume
              </div>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-sm-6 col-lg-4 text-recycle mb-4 mb-lg-5">
            <div class="row">
              <div class="col-auto">
                <div class="rounded-circle bg-recycle m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col font-weight-bold pl-0">
                <div class="stat-number font-weight-light">XX%</div> of Something
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-yellow mb-4 mb-lg-5">
            <div class="row">
              <div class="col-auto">
                <div class="rounded-circle bg-yellow m-0" style="width: 5.6875rem;height: 5.6875rem;"></div>
              </div>
              <div class="col font-weight-bold pl-0">
                <div class="stat-number font-weight-light">XX%</div> of Something
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>

<section class="pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_medicalbenefits.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <p class="h3 editable">Food Insecurity</p>
        <p class="editable">One in seven Americans, many of them children, are food insecure and lack reliable access to sufficient, affordable, nutritious food. And because of the impact of COVID-19, the number of people facing food insecurity in 2020 could grow to 54 million, according to Feeding America. Yet, we waste XX times the amount of food it would take to feed all of those people.</p>
        <div class="text-center p-0 p-lg-5">
          <img src="/img/food_waste_challenge/1-in-7-americans-are-insecure.gif" alt="1 in 7 Americans are food insecure" class="w-100">
          <br/><small class="text-danger">(NOTE: this is a gif image. We may want to make it a dynamic svg graphic)</small>
        </div>
      </div>
    </div><!-- END .row -->
  </div>
</section>
<section class="pt-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_economicvalue.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <h3 class="editable">Economy</h3>
        <p class="editable">The financial cost of food waste is greatest for consumers since they pay retail prices for food, while consumer-facing businesses pay lower wholesale rates.</p>
        <div class="text-center p-0 p-lg-5">
          <img src="/img/food_waste_challenge/billion-dollars-wasted.gif" alt="$218 Billion Dollars Wasted" class="w-100">
          <br/><small class="text-danger">(NOTE: this is a gif image. We may want to make it a dynamic svg graphic)</small>
        </div>
    </div><!-- END .row -->
  </div>
</section>

<section id="where-does-food-waste-occur" class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">Where does food waste occur?</h3>
        <p class="editable">Addressable food waste can be found throughout the supply chain, which can be simplified into four segments: farms, food manufacturers, consumer-facing businesses (including distributors, retail grocers, restaurants, foodservice providers, and institutions), and homes (including all types of dwellings).</p>
        <p class="editable lead text-center my-5"><span class='text-serif' style="font-size:1.43em;">85%</span> of food waste occurring downstream at consumer-facing businesses and homes</p>
        <img class="w-100 d-block" src="/img/food_waste_challenge/where-does-food-waste-occur.gif" alt="Where does food waste occur?" />
        <br/>
        <small class='text-danger'>(TODO: Temporary graphic until we can get approved data)</small>
      </div>
    </div>
  </div>
</section>

<section id="which-foods-get-wasted" class="bg-lighter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid mb-3" src="https://via.placeholder.com/615x450" alt="Alt Tag...">
      </div>
      <div class="col-lg-6">
        <h3 class="editable">Which foods get wasted</h3>
        <div class="editable">
          <p>Nearly 80% of food waste comes from perishable foods, which include fruits and vegetables, meats, prepared fresh deli items,seafood, milk and dairy, and some grain products such as bread and bakery items. In contrast, non-perishable foods — pastas, canned goods, and highly processed, shelf-stable products — are generally wasted less because they don’t spoil as easily. Perishables often get discarded because they are inexpensive and quickly go bad. Pound per pound, fruits and vegetables are among the least expensive and fastest spoiling foods, constituting over 40% of total food waste. Conversely, seafood and meats are the two least wasted and most expensive food types.</p>
        </div>
        <a class="btn-link text-blue editable" href="#">Dive Deeper into the Data in the Insights</a>
      </div>
    </div>
  </div>
</section>

<section id="what-causes-food-waste">
  <div class="container">
    <h3 class="editable">What causes food waste?</h3>
    <p class="editable" >The reasons for food waste are numerous and complex across the food value chain. Here are some examples of why it occurs:</p>
    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_producers.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-3 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">Farms</h3>
            <div class="editable my-2">Food loss starts at the production level. Low market prices and high labor costs often make it uneconomical for farmers to harvest all that they produce. Strict cosmetic standards result in insufficient demand for imperfect-looking produce. (i.e. oversized zucchinis or bent carrots). Despite gleaning and farm-to-food-bank efforts to recover this unharvested food, the vast majority is left in the fields to be tilled under.</div>
            <a class="editable mt-2 btn-link mr-3" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10  col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[0].image }}')"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_manufacturing.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable">Manufacturers</h3>
            <div class="editable">
              <p>While current recycling levels are highest among food processors and manufacturers, customer demand for a wide variety of products continues to cause inefficiencies. Each time a production line is changed, it must be emptied and cleaned. Products can require trimming for use in end products, leading to edible parts going unused.</p>
            </div>
            <a class="editable mt-2 btn-link text-blue mr-3" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10  col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[1].image }}')"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_retail.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col pl-md-0">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">Retail Businesses</h3>
            <div class="editable">
              <p>(Grocery Retailers, Restaurants, Institutions & Foodservice): Customers demand a variety and consistency of food availability that strains inventory management and food purchasing. Businesses are reluctant to change stocking practices or product sizes if those practices are intricately tied to their brand identities. Also, high customer standards for freshness lead businesses to dispose of safe, edible food when it is perceived to be past its prime.</p>
            </div>
            <a class="editable btn-link text-blue mr-3" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1" data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[2].image }}')"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="{{ site.placeholder_image }}" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">Homes</h3>
            <div class="editable my-2">The demand for variety and abundance of food creates waste at home. For example, consumers may want a different kind of cuisine each night but lack the knowledge of how to repurpose ingredients and store food properly. As much as 55% of food purchases are unplanned, which leads to over-purchasing and food spoilage. Many families are tempted into bulk purchases of food that they will never consume to get a good deal on per-unit costs.</div>
            <a class="editable mt-2 btn-link block mr-3" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1" data-cms-editor-link="cloudcannon:#_assets[3].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[3].image }}')"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 col-md-auto">
        <img src="/img/icons/food_waste/foodwaste_foodservice.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-md-3 mb-lg-0">
            <h3 class="editable mb-2">Restaurants</h3>
            <div class="editable my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            <a class="editable mt-2 btn-link block mr-3" href="#">Learn More</a>
          </div>
          <div class="col-12 col-sm-10 col-md-9 col-lg-4 ml-lg-auto">
            <div class="bg-image aspect-1x1" data-cms-editor-link="cloudcannon:#_assets[4].image" data-cms-editor-link-style="modal" style="background-image: url('{{ page._assets[4].image }}')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary text-white">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-auto">
        <img src="/img/icons/barriers/barriers.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="" />
      </div>
      <div class="col">
        <h2 class="editable">Barriers To Solutions Implementation</h2>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    {% include sections/accordion.html items=page.barriers_to_solutions_implementation %}
  </div>
</section>

{% include sections/split_section.html
  id='policy-overview'
  section_background_color='white'
  image_width='50%'
  image_alignment='left'
  image_to_edge=true
  text_to_edge=false
  section_class='py-0'
  item=page.split_section_policy_overview
%}

{% include sections/cta_insights_engine.html data=page.cta_insights_engine id='refed-insights-engine' %}
{% include sections/cta.html cta=page.cta %}