---
layout: page
title: Home
hero:
  - title: Advancing data-driven solutions to reduce food loss and waste
    label:
    description_html:
    image: /img/home/Header Images for the ReFED Website 4X! (4).png
    links:
  - title: >-
      Our Roadmap to 2030 is an indispensable guide to focus food waste
      reduction efforts for the next ten years...
    label:
    description_html:
    image: /img/home/homepage_header_image_02.jpg
    links:
      - label:
        alt:
        url: www.insights-engine.com
  - title: >-
      Our new Insights Engine provides solutions and data to take bold action –
      right now.
    label:
    description_html:
    image: /img/home/homepage_header_image_03.jpg
    links:
      - label:
        alt:
        url: 'https://www.refed.com'
  - title: >-
      How COVID-19 has affected food waste – and how the food system has
      responded.
    label:
    description_html:
    image: /img/home/homepage_header_image_04.jpg
    links:
features:
  - title: 'Impacts of Uneaten Food: Environmental'
    featured_image: /img/home/homepage-slider-01.png
    description_html: >-
      <p>Around the world, food loss and waste is responsible for more than
      <strong>8% </strong>of greenhouse gas emissions. In the U.S., uneaten food
      consumes approximately 20% of cropland and fresh water &ndash; and
      it&rsquo;s the number one product entering landfills.</p>
    links:
      - label:
        url: /food-waste/the-challenge
        alt:
  - title: 'Impacts of Uneaten Food: Food Security'
    featured_image: /img/home/homepage-slider-02.png
    description_html: >-
      <p>A huge portion of wasted food could go to help those in need. But the
      number of people lacking reliable access to sufficient, affordable, and
      nutritious food grew to more than 50 million in 2020 due to the COVID-19
      pandemic.</p>
    links:
      - label:
        url: /food-waste/the-challenge
        alt:
  - title: 'Impacts of Uneaten Food: Economic'
    featured_image: /img/home/homepage-slider-03.png
    description_html: >-
      <p>Each year, the country lets food worth nearly $400 billion a year go
      uneaten. While consumers pay a large portion of this, the food industry is
      responsible for <strong>$XXB</strong>, with foodservice businesses like
      restaurants bearing the brunt.</p>
    links:
      - label:
        url: /food-waste/the-challenge
        alt:
funder_logos:
  - image: /img/home/1024px-Deloitte.png
    alt: Deloitte
    url:
  - image: /img/home/claneil_foundation_logo.png
    alt: Claneil Foundation
    url:
  - image: /img/home/crown-logo.png
    alt: Crown Family Philanthropies
    url:
  - image: /img/home/Fink-Family-Foundation-2.jpg
    alt: Fink Family Foundation
    url:
  - image: /img/home/general_mills_logo.png
    alt: General Mills
    url:
  - image: /img/home/Kroger_ZHZW_Foundation_onWhite.png
    alt: Kroger Co Zero Hunder Zero Waste Foundation
    url:
  - image: /img/home/kroger_foundation_logo.png
    alt: Kroger Foundation
    url:
  - image: /img/home/morton_salt_logo.png
    alt: Morton Salt
    url:
  - image: /img/home/Nielsen_logo.png
    alt: Nielsen
    url:
  - image: /img/home/pisces_foundation_logo.png
    alt: Pisces Foundation
    url:
  - image: /img/home/posner_horizontal_charcoal.png
    alt: Posner Foundation
    url:
  - image: /img/home/SP-final-logo.png
    alt: Spring Point
    url:
carousel_testimonial:
  - title: Denise Oserhues
    description_html: >-
      The ReFED team has been an incredible strategic partner in our journey to
      end hunger and waste. ReFED’s insights and guidance helped shape the
      strategy of The Kroger Co. Zero Hunger | Zero Waste Foundation’s
      Innovation Fund and its open call for innovative solutions. Kroger values
      ReFED’s deep knowledge and leadership in food waste reduction, and we’ve
      never been more excited and hopeful that together we can truly change our
      food system.
    cite: The Kroger Co.
  - title: Firstname Lastname
    description_html: >-
      The ReFED team has been an incredible strategic partner in our journey to
      end hunger and waste. ReFED’s insights and guidance helped shape the
      strategy of The Kroger Co. Zero Hunger
    cite: Somecompany
cta_insights_engine:
  label: Our Newest Innovation
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:
  link:
    label: Launch ReFED Insights Engine
    url: 'https://www.insights-engine-fpo.com/'
    alt:
---

<section class="pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="lead editable">
          <p>Each year in the United States, 34.2% of food produced &ndash; 92.8 million tons &ndash; is never eaten. While this has enormous impacts on our environment, food insecurity, the economy, and more, many businesses, jurisdictions, nonprofits, funders, and others are already making a substantial impact to address the challenge. But much more needs to be done to achieve national and international goals to reduce food loss and waste by 50% by the year 2030.</p>
          <p>ReFED is a national nonprofit working to create a sustainable, resilient, and inclusive food system. We estimate that an investment of <strong>$YY</strong> to implement food waste prevention, rescue, and recycling solutions over the next ten years will reduce food waste by <strong>XX</strong> tons, which will deliver <strong>EE</strong> in net economic benefit for the country, avoid <strong>ZZ</strong> tons of GHGs, rescue <strong>AA</strong> meals, create <strong>BB</strong> jobs &ndash; and achieve our 2030 reduction goal.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/carousel.html
  items=page.features
  theme="white"
  id="featuresCarousel"
  reverse="true"
  controls="true"
  indicators="true"
  editor-link="#features"
  button="button"
  aspect="contain"
  image="img"
%}


<section class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="editable">
          We Have Identified Seven Priority Action Areas of food waste reduction solutions
        </h2>
      </div>
      <div class="col-12 col-lg-6 ml-lg-auto">
        <p class="editable">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    {% include components/solution_taxonomy.html %}
  </div>
</section>

{% include components/cta_insights_engine.html
  item=page.cta_insights_engine
  editor-link="#cta_insights_engine"
%}

<section class="bg-dark text-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="text-center editable">
          What Can I Do To Solve Food Waste?
        </h2>
      </div>
    </div>

    {% include components/stakeholder_grid.html %}

    <hr class="border-white" />

    <div class="row mt-5">
      <div class="col-12 col-lg-6">
        <p class="lead editable">
          Find out how to engage with ReFED no matter what field you are in.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="text-lg-right">
          <a href="/engage/ways-to-engage" class="btn btn-lg btn-secondary text-serif editable">Find out more ways to engage</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="news-and-updates" class="bg-lighter p-0">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-lg-8 d-flex align-items-center">
        <div class="py-5 pr-lg-5">
          <h2 class="mb-5 editable">
            News &amp; Updates
          </h2>
          {% include components/carousel.html
            items=site.articles
            layout="card"
            class= "col-md-6"
            theme="lighter"
            id="articlesCarousel"
            interval="false"
            controls="true"
            cards="2"
            editor-link="collections/_articles"
          %}
        </div>
      </div>
      <div class="col-12 col-lg-4 bg-light d-flex align-items-center">
        <div class="py-5 px-lg-5">
          <p class="lead mb-5 editable">
            Find more <a href="/newsroom">news and updates</a> from ReFED, including our <a href="/newsroom">press releases</a> and <a href="/newsroom">newsletters</a>.
          </p>
          <p>
            <!-- TODO: Clean up class selectors here -->
            <button class="newsletter-signup-cta toggle-newsletter-modal btn btn-secondary btn-lg text-serif">
              <span>Subscribe</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto mb-5">
        <div class="text-center editable">
          <h2>Funders</h2>
          <p>Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/ticker.html
          items=page.funder_logos
          editor-link="#funder_logos"
        %}
      </div>
    </div>
  </div>
</section>

<section class="carousel-testimonials-section bg-dark" style="background-image:url(https://picsum.photos/id/155/1000/333);">
  {% include
    components/carousel.html
    items=page.carousel_testimonial
    layout="testimonial"
    theme="transparent"
    id="testimonialsCarousel"
    controls="true"
    indicators="true"
    editor-link="#carousel_testimonial"
  %}
</section>

<section class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2 class="editable">
          Stay Connected with ReFED
        </h2>
        <h4 class="editable">
          Sign up for our newsletter and other email updates
        </h4>
      </div>
      <div class="col-12 col-lg-4">
        <div class="text-lg-right">
          <button class="btn btn-lg btn-secondary text-serif toggle-newsletter-modal newsletter-signup-cta">
            <span>Subscribe</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
