---
layout: page
title: Food Waste
slug: food-waste
hero: 
  image: hero/header-food-waste.jpg
  title: Welcome to <span class="brand">ReFED</span>
  summary: A data-driven guide for businesses, government, funders, and nonprofits to collectively reduce food waste at scale<br><br>Together, we can reduce U.S. food waste by 50% by 2030.
next:
  url: /analysis
  title: Analysis
prev:
  url:
  title:
---
{% include cost_curve.html %}

<section class="flush">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>Unlocking Value Through Food Waste Reduction</h2>
        <p>Today, the United States spends $227 billion a year growing, processing, transporting, and disposing of food that is never eaten.</p>

        <p>ReFED was formed to build a different future, where food waste prevention is recognized as an untapped strategy that can save resources, create jobs, alleviate hunger, conserve water, and reduce greenhouse gas emissions — all while stimulating a new multi-billion dollar market opportunity.</p>

        <p class="hide">Executing ReFED’s Roadmap strategy involves marshaling $240 million of annual catalytic funding to help scale proven solutions, while supporting commonsense policy change and greater adoption of emerging innovations.</p>
      </div>
    </div>
    <div id="video" class="col-xs-12 col-sm-6">
      <div class="content">
        <a href="#" class="button play-video">Play Video <i class="icon-next"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="alternate">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>The multi-billion dollar food waste problem</h2>
        <p>Every year, American consumers, businesses, and farms spends $227 billion a year, or 1.4% of GDP, growing, processing, transporting, and disposing food that is never eaten. That’s 52 million tons of food sent to landfill annually, plus another 10 million tons that is discarded or left unharvested on farms. Meanwhile, one in seven Americans is food insecure.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>Food waste consumes:</h2>
        <ul id="consumption_percentage" class="grid">
          <li>
            <h3>
              <i class="icon-drop"></i>
              21%<br>
              <small>of U.S. water use</small>
            </h3>
          </li>
          <li>
            <h3>
              <i class="icon-cloud"></i>
              19%<br>
              <small>of fertilizer use</small>
            </h3>
          </li>
          <li>
            <h3>
              <i class="icon-tree"></i>
              18%<br>
              <small>of cropland</small>
            </h3>
          </li>
          <li>
            <h3>
              <i class="icon-trash"></i>
              21%<br>
              <small>of landfill volume</small>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>Food wasted by volume</h2>
        <p class="break-70">Waste occurs throughout the supply chain, with nearly 85% occurring downstream at consumer-facing businesses and homes.</p>
        {% include svg/graph-waste-volume.svg %}
      </div>
    </div>
  </div>
</section>

<section class="alternate scrollme">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>Financial Waste</h2>
        <p class="break-70">The financial cost of food waste ends up costing consumers the most due to retail pricing versus wholesale pricing for consumer-facing businesses.</p>
        {% include svg/graph-waste-financial.svg %}
      </div>
    </div>
  </div>
</section>

<section class="hide">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>What happens to food waste today?</h2>
        <p>Current efforts already recover or recycle large amounts of food waste, but more must be done, especially in the retail, foodservice and consumer categories, where over 75% of wasted food goes to landfill or is incinerated.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <h2>We can reduce waste by 50%</h2>
        <h5>20% by 2026</h5>
        <p>ReFED’ analysis of the top prevention, recovery, and recycling solutions shows that 12.5 million tons — over 20% of annual food waste — can be reduced over the next decade in cost-effective and scalable ways.</p>
        <h5>50% by 2030</h5>
        <p>Beyond this near-term 20% roadmap, ReFED has also identified the critical innovations, initiatives, policies, and awareness-building work required to reach the longer-term 50% reduction goal by 2030 as set by the federal government.</p>
        <a href="/solutions" class="button"><span>View Solution Details &nbsp;&gt;</span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="content">
        <img src="{% asset_path 'food-waste/chart-donut-goals.svg' %}" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="alternate">
  <div class="row">
    <div class="col-xs-12">
      <div class="content">
        <h2>If implemented, these solutions could generate:</h2>
        <ul id="returns" class="grid">
          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-economic-value.svg' %}" class="img-responsive">
            <h4>
              $X billion<br>
              <small>of economic value</small>
            </h4>
            <hr>
            <a href="#">View the top financial solutions &nbsp;&gt;</a>
          </li>

          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-meals-saved.svg' %}" class="img-responsive">
            <h4>
              X billion<br>
              <small>meals saved</small>
            </h4>
            <hr>
            <a href="#">View the top meal saving solutions &nbsp;&gt;</a>
          </li>

          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-water-saved.svg' %}" class="img-responsive">
            <h4>
              X gallons<br>
              <small>water saved annually</small>
            </h4>
            <hr>
            <a href="#">View the top water saving solutions &nbsp;&gt;</a>
          </li>

          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-consumer-savings.svg' %}" class="img-responsive">
            <h4>
              $X<br>
              <small>annual consumer savings</small>
            </h4>
            <hr>
            <a href="#">View the top consumer savings solutions &nbsp;&gt;</a>
          </li>

          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-profit-potential.svg' %}" class="img-responsive">
            <h4>
              $X billion<br>
              <small>annual business profit potential</small>
            </h4>
            <hr>
            <a href="#">View the top business profit potential solutions &nbsp;&gt;</a>
          </li>

          <li>
            <img src="{% asset_path '{{ page.slug }}/icon-generate-emissions-reduction.svg' %}" class="img-responsive">
            <h4>
              X million<br>
              <small>tons of GHG emissions reduced annually</small>
            </h4>
            <hr>
            <a href="#">View the top emission reducing solutions &nbsp;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>