---
layout: page
title: Food Waste
slug: food-waste
hero:
nextpage:
  url: /analysis
  title: Analysis
prevpage:
  url:
  title:
---

{% include dialogs/video.html %}

{% include components/charts/chart_cost_curve.html %}

<section id="the-problem" class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content editable">
          <h2>The multi-billion dollar food waste problem</h2>
          <p>Every year, American consumers, businesses, and farms spends $218 billion a year, or 1.3% of GDP, growing, processing, transporting, and disposing food that is never eaten. That&rsquo;s 52 million tons of food sent to landfill annually, plus another 10 million tons that is discarded or left unharvested on farms. Meanwhile, one in seven Americans is food insecure.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2>Food waste consumes:</h2>
          <ul id="consumption_percentage" class="grid">
            <li>
              <h3>
                <i class="icon-drop"></i>
                21%<br />
                <small>of all fresh water</small>
              </h3>
            </li>
            <li>
              <h3>
                <i class="icon-cloud"></i>
                19%<br />
                <small>of all fertilizer</small>
              </h3>
            </li>
            <li>
              <h3>
                <i class="icon-tree"></i>
                18%<br />
                <small>of cropland</small>
              </h3>
            </li>
            <li>
              <h3>
                <i class="icon-trash"></i>
                21%<br />
                <small>of landfill volume</small>
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="waste-by-volume">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>Food wasted by weight - 63 million tons</h2>
          <p class="break-70">Waste occurs throughout the supply chain, with nearly 85% occurring downstream at consumer-facing businesses and homes.</p>
          <div class="hidden-xs">
            {% include svg/graph-waste-volume.svg %}
          </div>
          <div class="visible-xs">
            {% include svg/mobile-waste-volume.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="financial-waste" class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2>Financial Waste - $218 Billion</h2>
          <p class="break-70">The financial cost of food waste is greatest for consumers since they pay retail prices for food, while consumer-facing businesses pay lower wholesale rates.</p>
          <div class="hidden-xs">
            {% include svg/graph-waste-financial.svg %}
          </div>
          <div class="visible-xs">
            {% include svg/mobile-waste-financial.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="refed-goals">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          <h2 class="editable">
            We can reduce waste by 50%
          </h2>
          <h5 class="editable">
            20% in the near term
          </h5>
          <p class="editable">
            ReFED&rsquo;s analysis of the top prevention, recovery, and recycling solutions shows that 13.2 million tons &mdash; over 20% of annual food waste &mdash; can be reduced over the next decade in cost-effective and scalable ways.
          </p>
          <h5 class="editable">
            50% by 2030
          </h5>
          <p class="editable">
            Beyond this near-term 20% roadmap, ReFED has also identified the critical innovations, initiatives, policies, and awareness-building work required to reach the longer-term 50% reduction goal by 2030 as set by the federal government.
          </p>
          <a href="/solutions" class="button"><span>View Solution Details &nbsp;&gt;</span></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content">
          {% include components/charts/chart_reduction_donut_01.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <h2 class="editable">
            About ReFED
          </h2>
          <div class="editable">
            <p>ReFED is a national nonprofit working to working to end food loss and waste across the U.S. food system by advancing data-driven solutions to the problem. ReFED leverages data and insights to highlight supply chain inefficiencies and economic opportunities; mobilizes and connects people to take targeted action; and catalyzes capital to spur innovation and scale high-impact initiatives. Our goal is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.&nbsp;</p>
          </div>
          {% include sections/contributor_logos.html %}
          
        </div>
      </div>
    </div>
  </div>
</section>
