---
layout: default
title: Our Team
hero:
  - title: We are powered by our team's diverse expertise and experience
    subtitle:
    description_html:
    image:
    link:
    link_text:
    buttons:
      - link:
        link_label:
        button_type:
cta:
  description_html: >-
    <p>ReFED's work is made possible with generous support from and in
    partnership
      with our funders.</p>
  link: /our-funders
  link_label: See Who is Funding Our Mission
  colorbar:
    color: '#e65e4a'
    bar_position:
      - left
team_members:
  - dana-gunders
  - alexandria-coari
  - alejandro-enamorado
  - david-brooks
board_of_directors:
  members:
    - name: Nicola Dixon
      featured_image:
      summary_html: >-
        <p>Chair, ReFED Board of Directors</p><p>Executive Director, General
        Mills Foundation</p>
    - name: Eduardo Romero
      featured_image:
      summary_html: >-
        <p>Secretary, ReFED Board of Directors</p><p>President and CEO, Hana
        Group</p>
advisory_council:
  members:
    - name: Firstname Lastname
      featured_image:
      summary_html: '<p>Rolename, Organization Name</p><p>Rolename, Organization Name</p>'
---

{% include modules/hero.html %}
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          ReFED team members come from a wide variety of backgrounds, bringing a diverse blend of expertise and experience in
          food business strategy and sustainability, innovation, finance, data analytics, research, agricultural development,
          and communications.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="staff">
  <a name="staff"></a>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="preheader">Staff</h2>
        <p>ReFED team members come from a wide variety of backgrounds, bringing a diverse blend of expertise and experience in food business strategy and sustainability, innovation, finance, data analytics, research, agricultural development, and communications.</p>
      </div>
    </div>
    {% for object in page.team_members %}
    {% assign team_member = site.team_members | where: 'slug', object | first %}
      <div class="row mb-5">
        <div class="col-lg-4">
          <img src="{{team.image | default: site.placeholder_image}}" class="img-fluid" alt="title" />
        </div>
        <div class="col-lg-7 ml-lg-auto">
          <h3>{{ team_member.name }}</h3>
            <h5 class="text-mid d-inline-block border-top pt-2">{{ team_member.position }}</h5>
          <p>{{ team_member.bio_summary_html }}</p>       
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="board-of-directors bg-primary text-white">
  <a name="board-of-directors"></a>
  <div class="container">
    <div class="row mb-5 pb-5">
      <div class="col-12">
        <div class="editable">
          <h2 class="preheader">Board of Directors</h2>
          <p>ReFED’s strength has long rested in the power of the people who surround, advise, and contribute to our work. ReFED’s
            Board of Directors is comprised of leaders in the business and nonprofit sectors who inform the organization’s
            strategic initiatives, offer technical expertise, and collectively provide a holistic analysis of the challenges and
            opportunities for food waste reduction.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-md-2 staff-2">  
          {% for member in page.board_of_directors.members %}
            <div class="card">
              <div class="card-image">
                <img src="{{person.image | default: site.placeholder_image }}" alt="title" />
              </div>
              <div class="card-body">
                <h3 class="card-title">{{member.name}}</h3>
                <div class="card-text">
                  {{ member.summary_html }}
                </div>               
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advisory-council bg-light">
  <a name="advisory-council"></a>
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-5 mb-2">
          <h2 class="preheader">Advisory Council</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="responsive-card-deck cards-md-3 staff-2">
              <!-- advisory council loop -->
              {% for member in page.advisory_council.members %}
                <div class="card align-items-center">
                  <div class="card-image">
                    <img src="{{ person.image | default: site.placeholder_image }}" class="img-fluid" alt="title" />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{ member.name }}</h3>
                    <div class="card-text">
                      {{ member.summary_html }}
                    </div>               
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- this module is repeated on the Engage.html page -->
<section class="expert-network">
    <a name="expert-network"></a>
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h2 class="preheader editable pb-3">Expert Network</h2>
          <p class="editable">The ReFED Expert Network is a group of more than 50 experts who share their knowledge and time on key projects at ReFED, as well as connect with, teach, and learn from their Expert Network peers. Experts bring perspectives from all parts of the food system and a diverse set of backgrounds. Together, they are influencing and strengthening impactful food waste-reducing work in pursuit of our shared goal: a 50% reduction in food waste by the year 2030.</p>
          <a href="#" class="btn btn-secondary editable mt-4">Become or Nominate a Participant</a>  
        </div>
      </div>
      <div class="row pt-5">
        {% for person in site.data.expert_network %}
          <div class="col-md-6 col-lg-4 mb-3">
            {% if person.name %}<h5 class="mb-0">{{person.name}}</h5>{% endif %}
            <p class="gray">
              {% if person.role %}{{person.role}}{% endif %}{% if person.organization %}, {{person.organization }}{% endif %}
            </p>                              
          </div>
        {% endfor %}
      </div>
    </div>
</section>

{% include modules/cta.html %}