---
layout: default
title: Our Funders
hero:
  - title: >-
      Investing in ReFED is an investment in a sustainable, resilient, and
      inclusive food system.
    subtitle:
    description_html:
    image:
    link:
    link_text:
    buttons:
      - link:
        link_label:
        button_type:
cta:
  description_html: >-
    <p>To learn how you can support our mission, please contact us via
    email.</p>
  link: /contact
  link_label: Contact Us
  colorbar:
    color: '#e65e4a'
    bar_position:
      - left
---

{% include modules/hero.html %}

<section class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <p class="lead editable mb-0">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus alias minima consectetur? Consequuntur perferendis veniam expedita aut nisi qui, reprehenderit velit nobis iste fugiat commodi? Aperiam earum ea modi amet.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-lightest">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 class="preheader editable">Our Funders</h2>
        <div class="editable">
          <p>Collaboration is at the core of everything we do, and we could not accomplish our mission without the generous support, involvement, and enthusiasm of our growing number of funders.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row flex-wrap align-items-center">
          {% for i in (1..20) %}
            {% cycle '<div class="col-3 col-md-2 text-center"><img src="https://via.placeholder.com/250x115/f2f2f2/666666" class="img-fluid" alt="Alt Tag..." /></div>',
              '<div class="col-3 col-md-2 text-center"><img src="https://via.placeholder.com/250x115/f2f2f2/666666" class="img-fluid" alt="Alt Tag..." /></div>',
              '<div class="col-3 col-md-2 text-center"><img src="https://via.placeholder.com/136x115/f2f2f2/666666" class="img-fluid" alt="Alt Tag..." /></div>',
              '<div class="col-3 col-md-2 text-center"><img src="https://via.placeholder.com/136x115/f2f2f2/666666" class="img-fluid" alt="Alt Tag..." /></div>'
            %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include modules/split-carousel.html %}
   
{% include sections/cta.html cta=page.cta %}