---
layout: default
title: Our Work
hero:
wireframesections:
    - id: data-insights
      icon: "https://via.placeholder.com/70x70"
      icon_color: "#008574"
      headline: "Data & Insights"
      copy: The Data and Insights team uses economics and data to generate actionable solutions to reduce the amount of food that goes uneaten.
      buttons:
      - label: Learn More
    - id: capital-innovation
      icon: "https://via.placeholder.com/70x70"
      icon_color: "#5ca958"
      headline: Capital & Innovation
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
      - label: Learn More
    - id: stakeholder-engagement
      icon: "https://via.placeholder.com/70x70"
      icon_color: "#00d1c3"
      headline: Stakeholder Engagement
      copy: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      buttons:
      - label: Learn More
cta: 
  headline: From innovation accelerators to capital campaigns to convening leadership, learn about the impact we've brought to the food system and the work we are doing today.
  label: See our Impact
  link: /our-impact  
  colorbar:
    color: "#e65e4a"
    position: right
---

{% include sections/carousels/carousel_hero.html items=page.hero %}
<section class="page-intro page-intro--our-work">
  <div class="container">
    <div class="editable max-out-text-width" >
      Rethinking food waste through economics and data &mdash; it is in our name and in our DNA. Along with hundreds of food system actors. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="preheader">Our Work Focuses On:</h2>
        <ul class="circle-icon-list circle-icon-list--large-list p-0">
          {% for section in page.wireframesections %}
          <li class="d-lg-flex">
              <a name="{{ section.id }}"></a>
              <div class="circle-icon circle-icon rounded-circle d-flex align-items-center justify-content-center" style="background-color:{{ section.icon_color }}"><img src="{{ section.icon }}"></div>
              <div class="description col">
                  <h2>{{ section.headline }}</h2>
                  <p class="h3">{{ section.copy }}</p>
                  {% for button in section.buttons %}
                    <a href="#" class="text-link">{{ button.label }}</a>
                  {% endfor %}
              </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="covid-19 bg-primary text-white py-0">
  <a name="covid-19"></a>
  <div class="container extend-to-browser-edge">
    <div class="row">   
      <div class="p-5 col-12 col-lg-8">
        <div class="preheader">Global Crisis</div>
        <h2>Covid-19</h2>
        <div class="h3 editable">
        <p>COVID-19 has sent shock waves through our entire food system — from producers to end recipients — resulting in a surge of on-farm food loss, food business closures, labor shortages, and a growing number of food insecure individuals. By leveraging our central role as a convening organization within the food waste space, ReFED launched several funding initiatives, webinar series, and resource guides to inspire collaborations between businesses, innovators, funders, and, service organizations to help them adapt to this new reality.</p>
        </div>
        <a class="btn btn-secondary" href="#">Visit our COVID-19 Microsite</a>      
      </div>
      <div class="p-5 col-12 col-lg-4 stretch-right stretch-image" style="background-color:blue;"><span class='stretched-inner' style="background-image:url(https://picsum.photos/id/134/1000/333)"></div>
    </div>
  </div>
</section>

{% include sections/cta.html cta=page.cta %}
