---
layout: default
title: Our Impact
hero:
  - title: Our Impact
    label:
    description_html:
    image: /img/our_impact/our_impact_header_image.png
    links:
featured_case_studies:
  - crown-family-philanthropies
  - crown-family-philanthropies
  - crown-family-philanthropies
case_studies:
  - crown-family-philanthropies
  - crown-family-philanthropies
  - crown-family-philanthropies
cta_featured_organizations:
  description_html: See how the ReFED efforts have inspired action and efforts in these featured organizations and companies.
  link: '#'
  link_label: See Featured Organizations
  section_background_color: dark
carousel_testimonial:
  - text: >-
      “The ReFED team has been an incredible strategic partner in our journey to
      end hunger and waste. ReFED’s insights and guidance helped shape the
      strategy of The Kroger Co. Zero Hunger | Zero Waste Foundation’s
      Innovation Fund and its open call for innovative solutions. Kroger values
      ReFED’s deep knowledge and leadership in food waste reduction, and we’ve
      never been more excited and hopeful that together we can truly change our
      food system.”
    author: Denise Oserhues
    cite: The Kroger Co.
    image:
cta:
  description_html: To learn how you can support our mission, please contact us via email.
  link: /contact
  link_label: See our impact
  section_background_color: lighter
  colorbar:
    color: '#e65e4a'
    bar_position:
      - right
---

{% include components/hero.html items=page.hero %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lead editable">
          <p>In the U.S. we spend $218 billion a year growing, processing, transporting, and disposing of food that is never eaten. However, one of the key challenges in the field is lack of data both on the problem itself and on the most effective solutions. ReFED’s Data and Insights team uses economics and data to generate actionable solutions to reduce the amount of food that goes uneaten.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-lighter">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h3 class="editable">Theory of Change</h3>
        <div class="lead editable">
          <p>Our vision is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow. Our mission to get there is to end food loss and waste across the food system by advancing data-driven solutions.</p>
        </div>
      </div>
    </div>
    <div class="row theory-of-change ">
      <div class="col-12 col-lg accordion" id="accordion-col-1">
        <h6 class="border-bottom border-primary collapsed" id="heading-1" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
          <span class="editable">Strategies</span>
          <span class="toggle">
            {% include icons/arrow.svg  %}
          </span>
        </h6>
        <div id="collapse-1" class="block-container collapse" aria-labelledby="heading-1" data-parent="#accordion-col-1">
          <div class="block" id="col1-block1">
            <p class="editable"><b>Inspire, Inform and Guide Stakeholders</b> through compelling data, actionable guidance and stategic communications</p>
          </div>
          <div class="block" id="col1-block2">
            <p class="editable"><b>Drive Solutions Adoption</b> through catalyzing capital, collaboration, and innovation</p>
          </div>
          <div class="block" id="col1-block3">
            <p class="editable"><b>Advancing the Field</b> By increasing the knowledge base and setting the course for coordinated efforts</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg accordion" id="accordion-col-2">
        <h6 class="border-bottom border-teal collapsed" id="heading-2" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
          <span class="editable">Activities</span>
          <span class="toggle">
            {% include icons/arrow.svg  %}
          </span>
        </h6>
        <div id="collapse-2" class="block-container collapse" aria-labelledby="heading-2" data-parent="#accordion-col-2">
          <div class="block" id="col2-block1">
            <p class="editable"><b>Actionable Data & Insights</b> Providing food waste data and insights to guide action through the Insights Engine, Roadmap and Progress Reports</p>
          </div>
          <div class="block" id="col2-block2">
            <p class="editable"><b>Stakeholder Engagement</b> Convening stakeholders to share information and resources around challenges and solutions</p>
          </div>
          <div class="block" id="col2-block3">
            <p class="editable"><b>Capital & Innovation</b> Driving capital to solutions and supporting solution providers growth</p>
          </div>
          <div class="block" id="col2-block4">
            <p class="editable"><b>Thought Leadership</b> Promoting big-picture thinking to encourage evolution of the food system</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg accordion" id="accordion-col-3">
        <h6 class="border-bottom border-recycle collapsed" id="heading-3" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
          <span class="editable">Near-term Outcomes</span>
          <span class="toggle">
            {% include icons/arrow.svg  %}
          </span>
        </h6>
        <div id="collapse-3" class="block-container collapse" aria-labelledby="heading-3" data-parent="#accordion-col-3">
          <div class="block" id="col3-block1">
            <p class="editable">A clear pathway towards action</p>
          </div>
          <div class="block" id="col3-block2">
            <p class="editable">More motivated actors</p>
          </div>
          <div class="block" id="col3-block3">
            <p class="editable">A coordinated, efficient movement</p>
          </div>
          <div class="block" id="col3-block4">
            <p class="editable">Increased access to solutions</p>
          </div>
          <div class="block" id="col3-block5">
            <p class="editable">Reduced financial barriers</p>
          </div>
          <div class="block" id="col3-block6">
            <p class="editable">Breakthroughs on key barriers</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg accordion" id="accordion-col-4">
        <h6 class="border-bottom border-secondary collapsed" id="heading-4" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
          <span class="editable">Long-term Outcomes</span>
          <span class="toggle">
            {% include icons/arrow.svg  %}
          </span>
        </h6>
        <div id="collapse-4" class="block-container collapse" aria-labelledby="heading-3" data-parent="#accordion-col-4">
          <div class="block" id="col4-block1">
            <p class="editable">Increased adoption of solutions that reduce food waste and loss</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg accordion" id="accordion-col-5">
        <h6 class="border-bottom border-orange collapsed" id="heading-5" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
          <span class="editable">Impacts</span>
          <span class="toggle">
            {% include icons/arrow.svg  %}
          </span>
        </h6>
        <div id="collapse-5" class="block-container collapse" aria-labelledby="heading-3" data-parent="#accordion-col-5">
          <div class="block" id="col5-block1">
            <p class="editable"><b>Natural resources are conserved and GHG emissions are reduces through clean energy and zero waste commitments</b></p>
          </div>
          <div class="block" id="col5-block2">
            <p class="editable"><b>The food economy is strengthened through access to jobs, increases profits and investment opportunities</b></p>
          </div>
          <div class="block" id="col5-block3">
            <p class="editable"><b>Increased food recovery provides improved access to healthy food across communites in need</b></p>
          </div>
        </div>
      </div>
    </div><!-- END .row .theory-of-change -->
  </div>
</section>

<div class="carousel-refed-dots-only carousel-image-right carousel-split theme-light">
  {% for featured_slug in page.case_studies %}
    {% assign featured = site.case_studies | where: 'slug', featured_slug | first %}
    {% include sections/split_section.html
        item=featured
        section_background_color='primary'
        subtitle='Impact Stories'
        section_background_color='white'
        image_width='50%'
        image_alignment='right'
        image_to_edge=true
        text_to_edge=true
        button_type='text'
        section_class='p-0 mt-5'
    %}
  {% endfor %}
</div>

<!-- This section needs work -->

<section class="list-with-filter">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <div class="bg-placeholder aspect-auto mb-5">
          <div class="bg-fill">
            <h4 class="text-uppercase">Filtering</h4>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
      {% assign thisCollection = site.case_studies %}
      {% assign allCats =  thisCollection | map: 'categories' | join: ','  | split: ','  | group_by: category %}
    {% endcomment %}

    <!-- <div class="row">
      <div class="col-12">
        <div class="btn-group dropdown mb-4 filter-case-studies">
          <label class="preheader mr-3" for="filter">View: </label>
          <button type="button" name="filter" class="dropdown-select preheader dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View:
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-value="all">All</a>
            {% for eachCat in allCats %}
              <a class="dropdown-item" href="#" data-value="{{ eachCat.name | slugify }}">{{ eachCat.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> -->

    {% assign case_studies = '' | split: ',' %}
    {% for object in page.featured_case_studies %}
      {% assign item = site.case_studies | where: 'slug', object | first %}
      {% assign case_studies = case_studies | push: item %}
    {% endfor %}
    {% include sections/carousels/carousel_cards.html items=case_studies %}
  </div>
</section>

{% include sections/cta.html cta=page.cta_featured_organizations id='featured-organizations' %}
{% include sections/carousels/carousel_testimonials.html items=page.carousel_testimonial %}
{% include sections/cta.html cta=page.cta %}
