---
layout: page
title: Test Page

tabs:
- Foo 
- Bar
- Stuff
- Things
activetab: 2

showCarouselControls: true
showCarouselIndicators: true
slides:
- image: https://unsplash.it/837/300?image=0
  headline: This is a slide headline
  copy: Place copy for this slide here.
- image: https://unsplash.it/837/300?image=10
  headline: This is the second slide
  copy: Place copy for this slide here.  
- image: https://unsplash.it/837/300?image=210
  headline: Third slide headline goes here.
  copy: Place copy for this slide here.
activeslide: 1
---
<section class="bg-primary-610">
  <div class="container">
    <div class="row">
      <div class="col-12"><a class="btn btn-primary-420 text-secondary-130">Primary button 420</a></div>
    </div>
  </div>
  
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{{ '/img/logo-signature.png' | prepend: site.url }}" class="img-fluid" alt="Refed Logo" />
        <h1>Test Page</h1>
        <div class="editable">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus tenetur aperiam, nam quas tempora quisquam consequuntur debitis nemo iusto tempore in. Ratione maiores distinctio beatae corrupti excepturi delectus voluptatem modi.</p>
        </div>
      </div>
    </div>




    <div class="jumbotron mt-5 p-4">
      <h3>Test Tabs Component</h3>
      <p>Each tab should be editable in frontmatter. CloudCannon should allow the user to add, edit, remove and re-arrange tabs.</p>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">          
      {% for item in page.tabs %} 
      <li class="nav-item ">
        <a class="nav-link {% if page.activetab == forloop.index0 %}active{% endif %}" data-toggle="tab" href="#panel-{{forloop.index0}}">{{item}}</a>
      </li>
      {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-3">
      {% for item in page.tabs %} 
        <div class="tab-pane container editable fade {% if page.activetab == forloop.index0 %}active show{% endif %}" id="panel-{{forloop.index0}}">
         <p>Auctor urna nunc id cursus metus. Vestibulum morbi blandit cursus risus at ultrices mi. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Nibh sit amet commodo nulla facilisi nullam. Massa tempor nec feugiat nisl pretium fusce id velit. In fermentum posuere urna nec tincidunt. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Nisl purus in mollis nunc sed id semper. A diam sollicitudin tempor id eu nisl nunc. Eget arcu dictum varius duis at consectetur. Etiam tempor orci eu lobortis. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. In nibh mauris cursus mattis molestie. Mauris sit amet massa vitae tortor. Senectus et netus et malesuada. Convallis convallis tellus id interdum. Sit amet cursus sit amet dictum sit amet. Donec ultrices tincidunt arcu non sodales neque. Nibh cras pulvinar mattis nunc sed.</p>
       </div>
      {% endfor %}
    </div>






    <div class="jumbotron mt-5 p-4">
      <h3>Test Carousel Component</h3>
      <p>Each carousel slide should be editable in frontmatter. CloudCannon should allow the user to add, edit, remove and re-arrange slides.</p>
    </div>
    

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      {% if page.showCarouselIndicators %}
      <ol class="carousel-indicators">
        {% for item in page.slides %} 
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index0 }}" {% if page.activeslide == forloop.index0 %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      {% endif %}
      

      <div class="carousel-inner">
        {% for item in page.slides %} 
        <div class="carousel-item {% if page.activeslide == forloop.index0 %}active{% endif %}">
          <img src="https://unsplash.it/837/300?image=210" class="editable d-block w-100" alt="Third slide headline goes here." />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="editable">
              Third slide headline goes here.
            </h5>
            <p class="editable">
              Place copy for this slide here.
            </p>
          </div>
        </div>
        {% endfor %}
      </div>

      
      {% if page.showCarouselControls %}
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      {% endif %}
    </div>



    <div class="jumbotron mt-5 p-4">
      <h3>Test Modal Window Component</h3>
      <p>No Frontmatter adjustments made on this one yet.</p>
    </div>

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary clearfix" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title editable">
              Modal Heading
            </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body editable">
            <p>Modal body..</p>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>




    <div class="jumbotron mt-5 p-4">
      <h3>Test Tooltip Component</h3>
      <p>No Frontmatter adjustments made on this one yet.</p>
    </div>

    <button type="button" class="btn btn-secondary mb-2 editable" data-toggle="tooltip" data-placement="top" title="This is the Tooltip on top">
      Tooltip on top
    </button>
    <button type="button" class="btn btn-secondary mb-2 editable" data-toggle="tooltip" data-placement="right" title="This is the Tooltip on right">
      Tooltip on right
    </button>
    <button type="button" class="btn btn-secondary mb-2 editable" data-toggle="tooltip" data-placement="bottom" title="This is the Tooltip on bottom">
      Tooltip on bottom
    </button>
    <button type="button" class="btn btn-secondary mb-2 editable" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
      Tooltip on left
    </button>




    <div class="jumbotron mt-5 p-4">
      <h3>Test Popover Components</h3>
      <p>No Frontmatter adjustments made on this one yet.</p>
    </div>


    <button type="button" class="btn btn-secondary mb-2" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on top
    </button>
    
    <button type="button" class="btn btn-secondary mb-2" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on right
    </button>
    
    <button type="button" class="btn btn-secondary mb-2" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on bottom
    </button>
    
    <button type="button" class="btn btn-secondary mb-2" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on left
    </button>






  </div>
</section>