---
layout: page
title: Project Settings
palette:
  - label: Grays
    colors:
      - variable: lighter
      - variable: light
      - variable: mid
      - variable: dark
      - variable: darker
  - label: Base Colors
    colors:
      - variable: blue
      - variable: indigo
      - variable: purple
      - variable: pink
      - variable: red
      - variable: orange
      - variable: yellow
      - variable: green
      - variable: teal
      - variable: cyan
  - label: Brand Colors
    colors:
      - variable: primary
      - variable: secondary
      - variable: prevention
      - variable: rescue
      - variable: recycle
  - label: Action Areas
    colors:
      - variable: optimize
        label: Optimize the Harvest [ prevention-600 ]
      - variable: enhance
        label: Enhance Product Distribution
      - variable: refine
        label: Refine Product Management
      - variable: maximize
        label: Maximize Product Utilization
      - variable: reshape
        label: Reshape Consumer Environments
      - variable: strengthen
        label: Strengthen Food Rescue
      - variable: recycle
        label: Recycle Anything Remaining

  - label: Stakeholders
    colors:
      - variable: producers
        label: Producers
      - variable: manufacturing
        label: Manufacturing
      - variable: retail
        label: Retail
      - variable: foodservice
        label: Restaurant & Foodservice
      - variable: policymakers
        label: Policymakers
      - variable: capital
        label: Capital Providers



---
<!-- TYPOGRAPHY -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Typography</p>
        <p class="subheading">Headings</p>
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="info">Base Styles</div>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
          </div>

          <div class="col-12 col-lg-4">
            <div class="info d-block">Adding the <code>.text-sans-serif</code> modifier class</div>
            <div class="text-sans-serif">
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <h5>Heading 5</h5>
              <h6>Heading 6</h6>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="info d-block">Adding the <code>.text-serif</code> modifier class</div>
            <div class="text-serif">
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <h5>Heading 5</h5>
              <h6>Heading 6</h6>
            </div>
          </div>
        </div>
        <p class="subheading mt-5">Text Utilities</p>
        <div class="info">
          <span class="preheader">Please Refactor</span>
          <code>.preheader</code>
        </div>

        <div class="info">
          <span class="text-uppercase">Uppercase Text</span>
          <code>.text-uppercase</code>
        </div>
        <div class="info">
          <span class="text-lowercase">Lowercase Text</span>
          <code>.text-lowercase</code>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- COLOR PALETTE -->
<section id="colorPalette">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Color Palette</p>
        {% for category in page.palette %}
          <p class="subheading">{{ category.label }}</p>
          <div class="row row-cols-1 {% if category.colors.first.label %}row-cols-md-4{% else %}row-cols-md-6{% endif %}">
            {% for color in category.colors %}
              <div class="col my-2">
                <div class="bg-image aspect-2x1 bg-{{ color.variable }}"></div>
                <div class="info py-2">
                  <code>${{ color.variable }}</code>
                  {% if color.label %}
                    <small>{{ color.label }}</small>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- BUTTONS -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Buttons</p>
        <p class="subheading">Default Styles</p>
        <div class="info">
          <button class="btn">Button</button>
          <code>.btn</code>
        </div>
        <div class="info">
          <button class="btn btn-primary">Button</button>
          <code>.btn.btn-primary</code>
        </div>
        <div class="info">
          <button class="btn btn-secondary">Button</button>
          <code>.btn.btn-secondary</code>
        </div>
        <p class="subheading mt-3">Custom Styles</p>
        <div class="info">
          <a class="text-link">Button</a>
          <code>.text-link</code>
        </div>
        <div class="info">
          <a class="card-link">Button</a>
          <code>.card-link</code>
        </div>
        <div class="info">
          <a class="download-link">Button</a>
          <code>.download-link</code>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Settings</p>
        <p class="subheading">General</p>
        <p>
          <strong>Client:</strong> {{ site.client | default: 'incomplete' }}<br />
          <strong>Project Title:</strong> {{ site.title | default: 'incomplete' }}<br />
          <strong>Analytics:</strong> {{ site.analytics.default | default: 'incomplete' }}<br />
          <strong>Permalink Pattern:</strong> {{ site.permalink | default: 'incomplete' }}<br />
          <strong>Plugins:</strong> {{ site.plugins | default: 'incomplete' }}<br />
        </p>

        <p class="subheading">Social Sharing</p>
        <p>
          <strong>Description:</strong><br />
          {{ site.description | default: 'incomplete' }}
        </p>
        <p>
          <strong>Default Share Image:</strong><br />
          <img
            src="{{ site.socialshare.featured_image | default: 'https://via.placeholder.com/1280x630/333333/000000?text=incomplete' }}"
            alt="{{ site.socialshare.featured_image | default: 'incomplete' }}" class="img-fluid">
        </p>
        <p>
          <strong>Twitter:</strong> {{ site.socialshare.twitter.username | default: 'incomplete' }}<br />
          <img
            src="{{ site.socialshare.twitter.image | default: 'https://via.placeholder.com/1280x630/333333/000000?text=incomplete' }}"
            alt="{{ site.socialshare.twitter.image | default: 'incomplete' }}" class="img-fluid">
        </p>
      </div>
    </div>
  </div>
</section>