---
layout: default
title: "ReFED Press"
hero:
  - title: ReFED Press Item Title
    subtitle: Press
    description_html:
    image: /img/home/homepage_header_image_01.jpg
  
cta: 
  description_html: >-
    Find more <a href='/newsroom'>news and updates</a> from the <a href='/newsroom'>ReFED blog</a>, including our <a href='#/press'>press articles</a> and <a href='/archives'>newsletters</a>.
  link: /newsroom
  link_label: View More in the Newsroom
  colorbar:
    color: "#e65e4a"
    bar_position: right

---

{% include modules/subnav_newsroom.html %}

{% include sections/carousels/carousel_hero.html items=page.hero %}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="meta border-bottom border-color-primary d-inline-block mb-4 pb-2">
          NEWS SOURCE | New York, NY (July 15, 2020)
        </div>
        <div class="content">
          <img src="https://via.placeholder.com/1000" alt="" class="w-100 float-right px-0 col col-sm-6 col-md-4 ml-sm-4 ml-sm-5 mb-4 mb-md-5 ">
          <p>Today, ReFED, a national nonprofit organization working to advance solutions to reduce food waste, announced that its Board of Directors has elected Nicola Dixon as the new Board Chair. Dixon, who is the Executive Director of the General Mills Foundation, succeeds ReFED Founder and inaugural Board Chair Jesse Fink, who will continue to serve on the Board of Directors as Chair of the Development Committee. </p>
          <p>ReFED also announced a new Board member – Stacey Greene-Koehnke, Chief Operations Officer for the Atlanta Community Food Bank, whose term began in April. Additionally, ReFED has appointed Steve Swartz, Chief Strategy Officer of The Wonderful Company, as the new Board Treasurer and Eduardo Romero, President and CEO at Hana Group, as the new Board Secretary. Rob Kaplan, Founder and CEO of Circulate Capital, has completed his term as a Founding Board Member and retired from the Board.</p>
          <p>“About 40 percent of food in the United States is wasted somewhere along the supply chain – but it’s a solvable problem with benefits that include food security and food justice, climate change mitigation, environmental resource conservation, and economic opportunities,” said Jesse Fink. “Rescuing food that would have been wasted and getting it to the most vulnerable communities has never been more important. It’s been an honor to serve as ReFED’s Board Chair since its inception in 2015 and to bring more and more people, businesses, funders, nonprofits, and others into ReFED’s ‘Big Tent.’ I’m thrilled to now pass the baton to Nicola, who has been a longtime ReFED supporter and collaborator and whose leadership and knowledge will guide us as we continue to strengthen our mission and impact.” </p>
          <p>Dixon became Executive Director of the General Mills Foundation in April 2019. She joined General Mills, Inc. in 1999, before transitioning to the Foundation as Associate Executive Director in 2012, where she worked to transform General Mills’ philanthropy to strategically align to the company’s greatest opportunities for environmental and social impact: Increasing Community Food Security; Advancing Sustainable Agriculture; and Strengthening Hometown Communities – areas that overlap with ReFED’s goal of reducing food waste in the US and making the best use of the food that is grown. </p>
          <p>“Jesse’s leadership has been instrumental in ReFED’s approach to accelerating food waste solutions,” added Dana Gunders, Executive Director, ReFED. “We are grateful that Jesse will continue to serve on our Board and excited for our new executive committee spearheaded by Nicola. They will both help support ReFED’s work to reduce food waste by 50 percent by 2030, which is more critical than ever in the wake of COVID-19 and its effects on our food system and the vulnerable communities that depend on it.”</p>
        </div>
        <div class="photocredit text-neutral-100">
          (Photo: ReFED Board Chair Nicola Dixon (center) with ReFED’s Lily Herd and ReFED Board Member Yalmaz Siddiqui)
        </div>
      </div>
    </div>
  </div>

</div>
</section>



<section class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>ReFED is a national nonprofit working to end food loss and waste across the food system by advancing data-driven solutions to the problem. ReFED leverages data and insights to highlight supply chain inefficiencies and economic opportunities; mobilizes and connects people to take targeted action; and catalyzes capital to spur innovation and scale high-impact initiatives. ReFED’s goal is a sustainable, resilient, and inclusive food system that optimizes environmental resources, minimizes climate impacts, and makes the best use of the food we grow.</p>
      </div>
    </div>
  </div>
</section>


{% include sections/cta.html cta=page.cta %}