.accordion {
  .accordian-label {
    font-size: 1.4rem;
    color: $rescue-400;
    .toggle {
      width: 1.7rem;
      float: right;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-bottom: rem(13);
      svg {
        display: block;
        max-width: 100%;
        transform: rotate(0deg);
        transform-origin: 50% 65%;
        transition: transform 0.2s linear;
        polygon {
          fill: $white;
        }
        path {
          fill: transparent;
        }
      }
    }
    &.collapsed {
      color: $white;
      &:hover {
        color: $rescue-400;
        .toggle {
          svg {
            polygon {
              fill: transparent;
            }
            path {
              fill: $rescue-400;
            }
          }
        }
      }
      .toggle {
        svg {
          max-width: 100%;
          transform: rotate(180deg);
          polygon {
            fill: transparent;
          }
          path {
            fill: $mid;
          }
        }
      }
    }
  }
  .accordian-content {
  }
}
