.accordion{
    .accordian-label{
        font-size: 1.5625rem;
        color:$primary-400;
        .toggle{
            width: 1.7rem;
            float: right;
            svg{
                max-width:100%;
                transform:rotate(180deg);
                transform-origin: 50% 65%;
                transition:transform 0.2s linear;
                polygon{fill:#FFFFFF;}
                path{fill:transparent;}
            }
        }
        &.collapsed{
            color:$white;
            &:hover{
                color:$primary-400; 
                .toggle{
                    svg{
                        polygon{fill:transparent;}
                        path{fill:$primary-400;}
                    }
                }
            }
            .toggle{
                svg{
                    max-width:100%;
                    transform:rotate(0deg);
                    polygon{fill:transparent;}
                    path{fill:#FFFFFF;}
                }
            }
        }
    }
    .accordian-content{}
}


.accordion-theme-2{
    .accordian-label{
        font-size: 1.5625rem;
        color:$primary-400;
        .toggle{
            width: rem(40);
            height: rem(40);
            background-color:$primary;
            padding: 0.6rem;
            transition:background-color 0.2s linear;
            svg{
                width:100%;
                transform:rotate(180deg);
                transform-origin: 50% 56%;
                transition:transform 0.3s linear;
                polygon{fill:#FFFFFF;}
                path{fill:#FFFFFF;}
            }
        }
        &.collapsed{
            &:hover{          
                .toggle{
                    svg{
                        polygon{fill:$primary;}
                        path{fill:$primary;}
                    }
                }
            }
            .toggle{
                background-color:transparent;
                svg{
                    max-width:100%;
                    transform:rotate(0deg);
                    polygon{fill:$primary;}
                    path{fill:$primary;}
                }
            }
        }
    }
    .accordian-content{}
}