.testimonial{
  &.testimonial-primary   { background-color:$primary; }
  &.testimonial-secondary { background-color:$secondary; }
  &.testimonial-success   { background-color:$success; }
  &.testimonial-info      { background-color:$info; }
  &.testimonial-warning   { background-color:$warning; }
  &.testimonial-danger    { background-color:$danger; }
  &.testimonial-light     { background-color:$light; }
  &.testimonial-mid       { background-color:$mid; }
  &.testimonial-dark      { background-color:$dark; }
  &.testimonial-white      { background-color:$white; }
  &.testimonial-black      { background-color:$black; }

  &.testimonial-primary,
  &.testimonial-secondary,
  &.testimonial-success,
  &.testimonial-info,
  &.testimonial-warning,
  &.testimonial-danger,
  &.testimonial-mid,
  &.testimonial-dark,
  &.testimonial-black{
    color:$white;
  }

  &.reverse > .container > .row{
    flex-direction: row-reverse !important;
  }
  @include media-breakpoint-down(md) {
    &.reverse > .container > .row,
    &.reverse-mobile-only > .container > .row{
        flex-direction: column-reverse !important;
    }
  }
    
  @include media-breakpoint-up(md) {
    &.reverse-desktop-only > .container > .row{
      flex-direction: row-reverse !important;
    }
  }



}