.testimonial{
  &.bg-primary,
  &.bg-secondary,
  &.bg-success,
  &.bg-info,
  &.bg-warning,
  &.bg-danger,
  &.bg-mid,
  &.bg-dark,
  &.bg-black{
    color:$white;
  }

  &.image-right > .container > .row{
    flex-direction: row-reverse !important;
  }
  @include media-breakpoint-down(md) {
    &.image-right > .container > .row,{
        flex-direction: column-reverse !important;
    }
  }
    



}