body.stakeholder-layout {
  .hero {
    .hero-content {
      h1 { font-size: 36px; }
    }
  }
  // Sections
  #stakeholder-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
      text-align: center;
      width: 150px;
      height: 150px;
    }
    a {
      font-size: 13px;
      font-family: $font-family-condensed;
      text-transform: uppercase;
      color: $text-color;
      &:hover {
        background-color: transparent;
      }
    }
    .icon {
      height: 80px;
      width: 80px;
      margin: auto;
    }
  }
  .stakeholder-list {
    small {
      text-transform: capitalize;
    }
  }
  #action-list {
    li {
      height: 50px;
      line-height: 50px;
      padding-left: 80px;
      font-size: 20px;
      text-transform: uppercase;
      background-size: contain;
      background-position: left center;
      background-repeat: no-repeat;
      a {
        color: $text-color;
      }
      &.financing {
        background-image: url("/img/icons/action/financing.svg");
      }
      &.policy {
        background-image: url("/img/icons/action/policy.svg");
      }
      &.innovation {
        background-image: url("/img/icons/action/innovation.svg");
      }
      &.education {
        background-image: url("/img/icons/action/education.svg");
      }

    }
  }
}

@media all and (max-width: $screen-xs-max) {
  body.stakeholders {
    .hero .hero-content {
      h1 {
        font-size: 20px;
      }
    }
    // Sections
    #stakeholder-icons {
      display: none;
    }
    .stakeholder-list {
      svg {
        width: 100px;
      }
    }
    #action-list li {
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      padding-left: 35px;
    }
  }
}
@media all and (max-width: $screen-sm-max) {
  body.stakeholders {

  }
}
@media all and (max-width: $screen-md-max) {
  body.stakeholders {
    
  }
}