.tool-layout, .state-layout, .innovator-layout {
  #pageContent {
    margin-top: 157px;
  }
  &.condensed-header {
    #pageContent {
      margin-top: 120px;
    }
  }
  &.innovator-database-tool {
    #pageContent main {
      padding-top: 110px;
    }
  }
}
.state-policy {
  #pageContent {
    margin-top: 210px;
  }
  &.condensed-header {
    #pageContent {
      margin-top: 217px;
    }
  }
}

@media all and (max-width: $screen-md-max) {
  .tool-layout, .state-layout, .innovator-layout {
    #pageContent {
      // margin-top: 138px;
    }
  }
}


@media all and (max-width: $screen-sm-max) {
  .tool-layout, .state-layout, .innovator-layout {
    #pageContent {
      margin-top: 138px;
    }
    &.innovator-database-tool {
      #pageContent main {
        padding-top: 150px;
      }
    }
  }
}

@media all and (max-width: $screen-xs-max) {
  .tool-layout, .state-layout, .innovator-layout {
    #pageContent {
      margin-top: 120px;
    }
    &.food-waste-policy-finder, &.spotlight-on-date-labeling-regulations {
      #pageContent {
        margin-top: 75px;
      }
    }
    &.innovator-database-tool {
      #pageContent main {
        padding-top: 0;
      }
    }
    &.activeTab_innovatorAnalysis {
      #pageContent main {
        // padding-top: 120px;
      }
    }
  }
}
