<div class="menu">
  <ul>
    <li>
      <a href="/tools/food-waste-policy-finder/about"
         {% if page.url =='/tools/food-waste-policy-finder/about' %}class="active"{% endif %}>
        <span>About</span>
      </a></li>
    <li class="divider"></li>
    <li>
      <a href="/tools/food-waste-policy-finder/state-policy"
         {% if page.url =='/tools/food-waste-policy-finder/state-policy' %}class="active"{% endif %}>
        <span>State Policy</span>
      </a></li>
    <li class="divider"></li>
    <li>
      <a href="/tools/food-waste-policy-finder/federal-policy"
        {% if page.url =='/tools/food-waste-policy-finder/federal-policy' %}class="active"{% endif %}>
        <span>Federal Policy</span>
      </a></li>
  </ul>
  <ul class="drawer">
    <li>
      <a href=""></a>
    </li>
  </ul>
</div>