<section id="levers" class="bg-lighter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="editable global-editor-link">Levers</h2>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-auto">
        <img src="/img/icons/levers/levers_financing.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Financing" />
      </div>
      <div class="col">
        <h3 class="editable global-editor-link">Top Financing Recommendations</h3>
        <div class="row">
          <div class="col-12 col-lg-6">
            {% for lever in page.levers.financing %}
              {% capture editor-link %}#levers.financing[{{ forloop.index0 }}]{% endcapture %}
              {% include_relative _partials/lever.html
                item=lever
                editor-link=editor-link
              %}
            {% endfor %}
          </div>
          <div class="col-12 col-lg-6">
            {% include charts/investment.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-auto">
        <img src="/img/icons/levers/levers_policy.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Policy" />
      </div>
      <div class="col">
        <h3 class="editable global-editor-link">Top Policy Recommendations</h3>
        <div class="row">
          <div class="col-12 ">
            {% for lever in page.levers.policy %}
              {% capture editor-link %}#levers.policy[{{ forloop.index0 }}]{% endcapture %}
              {% include_relative _partials/lever.html
                item=lever
                editor-link=editor-link
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-auto">
        <img src="/img/icons/levers/levers_communication.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Communications" />
      </div>
      <div class="col">
        <h3 class="editable global-editor-link">Top Comms Recommendations</h3>
        <div class="row">
          <div class="col-12 ">
            {% for lever in page.levers.comms %}
              {% capture editor-link %}#levers.comms[{{ forloop.index0 }}]{% endcapture %}
              {% include_relative _partials/lever.html
                item=lever
                editor-link=editor-link
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-auto">
        <img src="/img/icons/levers/levers_innovation.svg" class="img-fluid icon-img-lg mb-3 mr-md-3" alt="Innovation" />
      </div>
      <div class="col">
        <h3 class="editable global-editor-link">Top Innovation Recommendations</h3>
        <div class="row">
          <div class="col-12 ">
            {% for lever in page.levers.innovation %}
              {% capture editor-link %}#levers.innovation[{{ forloop.index0 }}]{% endcapture %}
              {% include_relative _partials/lever.html
                item=lever
                editor-link=editor-link
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>