---
layout: page
title: Data & Insights
meta:
  title:
  description:
  image:
hero:
  - title: Data & Insights
    label: Our Work
    description_html:
    image: /uploads/data--insights-hero.png
    links:
cta_insights_engine:
  label: Powered by the
  title: ReFED Insights Engine
  featured_image: /img/laptop-screen-fpo.jpg
  summary:
  link:
    label: Launch ReFED Insights Engine
    url: 'https://www.insights-engine-fpo.com/'
    alt:
case_studies:
tools_and_guides:
  - title: Food Waste Monitor
    description_html: >-
      <p>A centralized repository of information built with data from more than
      50 public and proprietary datasets and providing granular estimates of how
      much food goes uneaten in the U.S., why it's happening, and where it
      goes.</p>
    featured_image: /uploads/rie-images-1.png
    link: 'https://www.google.com/'
    link_label: Download
  - title: Solutions Database
    description_html: >-
      <p>A stakeholder-specific, comprehensive cost-benefit analysis of 40+ food
      waste reduction solutions based on impact goals, plus detailed fact sheets
      on each.</p>
    featured_image: /uploads/rie-images-2.png
    link: 'https://www.google.com/'
    link_label: Download
  - title: Solution Provider Directory
    description_html: >-
      <p>A vetted list of 700+ nonprofit and for-profit organizations ready to
      help implement food waste reduction initiatives.</p>
    featured_image: /uploads/rie-images-3.png
    link: 'https://www.google.com/'
    link_label: Download
  - title: Impact Calculator
    description_html: >-
      <p>A special resource that quantifies the impact of specific amounts of
      wasted food on the climate, natural resources, lost meals, and the
      economy.</p>
    featured_image: /uploads/rie-images-4.png
    link: 'https://www.google.com/'
    link_label: Download
cta_resources_and_guides:
  title:
  label:
  description_html: >-
    <p>Our resource library provides organizations with extensive guidance and
    action tools to reduce food waste in their supply chain.&nbsp;</p>
  link:
    label: Explore Resources & Guides
    url: /resources-and-guides
    alt:
  theme: dark
  add_divider:
testimonials:
  - title: Sunny Reelhorn-Parr
    description_html: >-
      <p>&ldquo;We recognize that the needs of our communities and nonprofit
      partners shifted dramatically in 2020. We remain focused on eliminating
      the additional strain that COVID-19 has created for families struggling
      with unemployment and food insecurity, and we know that knowledge and
      collaboration are imperative tools on this urgent mission. That&rsquo;s
      why we&rsquo;re incredibly proud to be the anchor funder of ReFED&rsquo;s
      new Insights Engine &mdash; a tool we believe will empower all sectors of
      the food system to take meaningful action to end the disparity between
      hunger and waste in America.&rdquo;</p>
    cite: The Kroger Co. Zero Hunger | Zero Waste Foundation
cta_buttons:
  - link: /our-work
    link_label: Learn about Our Work
  - link: /our-work/capital-and-innovation
    link_label: See Capital & Innovation
  - link: /our-work/stakeholder-engagement
    link_label: See Stakeholder Engagement
_assets:
  - image: /uploads/di-2.png
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="editable">
          Overview
        </h3>
        <div class="lead editable">
          <p>Leveraging Data and Insights to Highlight Supply Chain Inefficiencies and Economic Opportunities</p>
        </div>
        <div class="editable">
          <p>While we know roughly how much food is wasted, the causes, the impacts on the environment and economy and the solutions, one of the key challenges in the field is lack of data both on the problem itself and on the most effective solutions. At ReFED, we continue to set the pace to support measurement and action to reduce food waste in the U.S., by being the definitive source of data and economic analysis, and moving the food system from acting on instinct to insight-driven actions. To further support the food waste sector, ReFED&rsquo;s Data and Insights leverages compelling data and insights to highlight supply chain inefficiencies and economic opportunities.</p>
          <p>Starting with the 2016 Roadmap to Reduce U.S. Food Waste by 20 Percent, ReFED has developed a trusted history of producing first-of-their-kind tools and resources that provide a full-supply-chain picture of U.S. food waste, cost-effective solutions to the problem, credible data and accessible methods to track progress. While that initial report was an extremely successful start, the field is ever evolving and we need the data to catalyze and enable that growth.</p>
          <p>As such, we&rsquo;ve developed the ReFED Insights Engine, an online data center designed to serve as the next generation of data, insights, and guidance on U.S. food waste. This interactive platform combines over 50 public and proprietary datasets, and subject matter expertise from our Expert Network, a group of over 75 food system professionals who span across the private and public sectors.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/cta_insights_engine.html item=page.cta_insights_engine editor-link="#cta_insights_engine" %}

{% include components/carousel.html
  id='caseStudies'
  theme='lighter'
  items=page.case_studies
  layout='split'
  reverse='true'
  aspect='4x3'
  collection='case_studies'
  editor-link='#case_studies'
%}

{% unless page.case_studies.size > 0 %}
  {% include cloudcannon/add.html array='case_studies' %}
{% endunless %}

<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h3 class="editable">
          A New Pathway to Action
        </h3>
        <div class="editable">
          <p>The Insights Engine supports stakeholders across the food system in achieving the 2030 national goal of reducing food waste by 50% by:</p>
          <ul>
            <li>Serving as a centralized, trusted repository of information built with data from more than 50 public and proprietary datasets;</li>
            <li>Providing an extensive cost-benefit analysis of 40+ solutions that can drive measurable impact when implemented;</li>
            <li>Measuring the social and economic impact of specific food waste reduction efforts; and</li>
            <li>Connecting users with innovative solution providers ready to collaborate on food waste reduction initiatives.</li>
          </ul>
          <p>With more granular data, more extensive analysis, more customized views, and the ability to be updated regularly, we see this living breathing data center as an evolution of our original printed Roadmap and enabling more effective decision-making across the food system.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" class="bg-image aspect-4x3 cms-editor-link" style="background-image: url('{{ page._assets[0].image }}');"></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="editable">
          Our Food Waste Tools
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/carousel.html
          items=page.tools_and_guides
          layout="card"
          class="col-md-4"
          theme="white"
          interval="false"
          show-description="true"
          controls="true"
          editor-link="#tools_and_guides"
        %}
      </div>
    </div>
  </div>
</section>

{% include
  components/cta.html
  item=page.cta_resources_and_guides
  theme="dark"
  editor-link="#cta_resources_and_guides"
%}

{% include
  components/carousel.html
  items=page.testimonials
  layout="testimonial"
  theme="transparent"
  id="testimonialsCarousel"
  controls="true"
  indicators="true"
  editor-link="#testimonials"
  interval="false"
%}

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center editable">
          Explore other areas of the ReFED organization
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include sections/cta_buttons.html items=page.cta_buttons editor-link="#cta_buttons" %}
      </div>
    </div>
  </div>
</section>
